admin-left-menu {
  padding-left: 0;
}

.main {
  background-color: white;
}

.card-header-auto {
  height: auto;
}

.card-body-100 {
  padding-left: 0;
  padding-right: 0;
}

.small-icon {
  width: 25px;
  display: inline-block;
}
