<app-admin-left-menu></app-admin-left-menu>

<main class="mt-1 mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center" id="pages404Desc" translate>
              Connection attempts
            </h1>

            @if (userList.length > 0) {
              <table class="table" aria-labelledby="pages404Desc">
                <thead>
                  <tr>
                    <th scope="column" translate>Username</th>
                    <th scope="column" translate>Date</th>
                    <th scope="column" translate>IP</th>
                    <th scope="column"></th>
                  </tr>
                </thead>
                @for (p of userList; track p) {
                  <tr>
                    <td class="text-break">
                      <a [routerLink]="['/admin/profile/' + p.user_id]">
                        {{ p.username }}
                      </a>
                    </td>
                    <td>
                      {{ p.time * 1000 | date: 'dd/MM/YYYY, HH:mm' }}
                    </td>
                    <td>
                      {{ p.ip }}
                    </td>
                    <td>
                      {{ p.useragent }}
                    </td>
                  </tr>
                }
              </table>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-main-private-bottom-menu></app-main-private-bottom-menu>
