<app-army-popup [info]="armyInfo"></app-army-popup>
<app-army-help-popup></app-army-help-popup>
<app-wave-divide-popup [info]="waveUnit"></app-wave-divide-popup>
<app-construction-popup [info]="buildingInfo"></app-construction-popup>
<app-defense-empty-popup></app-defense-empty-popup>
<app-strategies-help-popup></app-strategies-help-popup>

<app-main-left></app-main-left>

<main class="mt-1 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="fw-bold text-center">
              <span translate> Drag and drop units on a wave to add them </span>
              <app-ic-icon
                [icon]="questionCircle"
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#StrategiesHelpPopup"></app-ic-icon>
            </div>
            <div class="d-flex">
              <a
                [routerLink]="['/strategies/attack']"
                class="flex-grow-1 btn"
                [ngClass]="{
                  'btn-danger': type !== 'defense',
                  'btn-outline-danger': type === 'defense'
                }"
                translate
                >Offensive</a
              >
              <a
                [routerLink]="['/strategies/defense']"
                class="flex-grow-1 btn"
                [ngClass]="{
                  'btn-primary': type === 'defense',
                  'btn-outline-primary': type !== 'defense'
                }"
                translate
                >Defensive</a
              >
            </div>

            <!-- Attack -->
            @if (type !== 'defense') {
              <div class="text-center">
                <strong translate>Total:</strong>
                {{
                  waveAttackPower | number: '1.0-0' : this.translate.currentLang
                }}
                <app-ic-icon
                  [icon]="swordIcon"
                  title="{{ 'Attack' | translate }}"></app-ic-icon>
              </div>
              <div
                class="row d-flex"
                cdkDropList
                id="wave-attack-0"
                [cdkDropListData]="user.getArmy()"
                [cdkDropListConnectedTo]="waveAttackDropList"
                (cdkDropListDropped)="onDropAttack($event)">
                @for (army of user.getArmy(); track army) {
                  @if (
                    waveAttackUnit &&
                    army.attack > 0 &&
                    user.getPropertyNb(army.code) >
                      (waveAttackUnit.get(army.code)!
                        ? waveAttackUnit.get(army.code)!
                        : 0)
                  ) {
                    <div
                      class="col-4 col-sm-3 col-md-2 d-flex flex-column align-self-start"
                      role="button"
                      id="{{ army.code }}-0-{{
                        user.getPropertyNb(army.code) -
                          (waveAttackUnit.get(army.code)!
                            ? waveAttackUnit.get(army.code)!
                            : 0)
                      }}"
                      data-bs-toggle="modal"
                      data-bs-target="#ArmyInfo"
                      (click)="selectArmy(army.code)"
                      (keyup.enter)="selectArmy(army.code)"
                      tabindex="0"
                      cdkDrag>
                      <div class="mt-auto m-1-xs m-4-md">
                        <app-ew-icon name="{{ army.code }}"></app-ew-icon>
                      </div>
                      <div class="text-center">
                        <strong translate>{{
                          Tools.getName(
                            army.code,
                            user.getPropertyNb(army.code) -
                              (waveAttackUnit.get(army.code)!
                                ? waveAttackUnit.get(army.code)!
                                : 0)
                          ) | translate
                        }}</strong>
                        (<strong>{{
                          user.getPropertyNb(army.code) -
                            (waveAttackUnit.get(army.code)!
                              ? waveAttackUnit.get(army.code)!
                              : 0)
                        }}</strong
                        >)
                      </div>
                    </div>
                  }
                }
              </div>
              @for (wave of waveAttackList; track wave; let i = $index) {
                @if (i > 0) {
                  <div
                    class="row"
                    cdkDropList
                    id="wave-attack-{{ i }}"
                    [cdkDropListData]="wave"
                    [cdkDropListConnectedTo]="waveAttackDropList"
                    (cdkDropListDropped)="onDropAttack($event)">
                    <h3>{{ 'Wave { value }' | translate: { value: i } }}</h3>
                    <div class="d-flex row">
                      @for (army of user.getArmy(); track army) {
                        @if (getWaveUnit(wave, army.code) > 0) {
                          <div
                            role="button"
                            id="{{ army.code }}-{{ i }}-{{
                              getWaveUnit(wave, army.code)
                            }}"
                            class="col-4 col-sm-3 col-md-2 d-flex flex-column align-self-start"
                            cdkDrag>
                            <div class="mt-auto m-1-xs m-4-md text-center">
                              <app-ew-icon
                                name="{{ army.code }}"
                                role="button"
                                data-bs-toggle="modal"
                                data-bs-target="#ArmyInfo"
                                (click)="selectArmy(army.code)"
                                (keyup.enter)="selectArmy(army.code)"
                                tabindex="0"></app-ew-icon>
                              <div
                                class="d-flex flex-row mt-1"
                                [ngClass]="{ invisible: army.code === 'soul' }">
                                @if (getWaveUnit(wave, army.code) > 1) {
                                  <div
                                    class="flex-grow-1 btn btn-warning"
                                    data-bs-toggle="modal"
                                    data-bs-target="#WaveDivide"
                                    (click)="
                                      setWaveUnit(
                                        army,
                                        getWaveUnit(wave, army.code),
                                        i,
                                        1
                                      )
                                    "
                                    (keyup.enter)="
                                      setWaveUnit(
                                        army,
                                        getWaveUnit(wave, army.code),
                                        i,
                                        1
                                      )
                                    "
                                    tabindex="0">
                                    <app-ic-icon
                                      [icon]="splitIcon"></app-ic-icon>
                                  </div>
                                }
                                <div
                                  (click)="waveAttackDelete(army.code, i)"
                                  (keyup.enter)="waveAttackDelete(army.code, i)"
                                  tabindex="0"
                                  class="flex-grow-1 btn btn-danger"
                                  translate>
                                  <app-ic-icon [icon]="times"></app-ic-icon>
                                </div>
                              </div>
                            </div>
                            <div
                              data-bs-toggle="modal"
                              data-bs-target="#ArmyInfo"
                              class="text-center"
                              (click)="selectArmy(army.code)"
                              (keyup.enter)="selectArmy(army.code)"
                              tabindex="0">
                              <strong translate>{{
                                Tools.getName(
                                  army.code,
                                  getWaveUnit(wave, army.code)
                                )
                              }}</strong>
                              (<strong>{{
                                getWaveUnit(wave, army.code)
                              }}</strong
                              >)
                            </div>
                          </div>
                        }
                      }
                    </div>
                  </div>
                }
              }
              @if (
                waveAttackPower > 0 && waveAttackList.length < waveAttackMax
              ) {
                <div>
                  <h3>
                    {{
                      'Wave { value }'
                        | translate: { value: waveAttackList.length }
                    }}
                  </h3>
                  <div
                    cdkDropList
                    class="text-center"
                    id="wave-attack-{{ waveAttackList.length }}"
                    [cdkDropListData]="emptyWave"
                    [cdkDropListConnectedTo]="waveAttackDropList"
                    (cdkDropListDropped)="onDropAttack($event)">
                    <span translate>
                      Drag and drop units on a wave to add them
                    </span>
                    <app-ic-icon
                      [icon]="questionCircle"
                      role="button"
                      data-bs-toggle="modal"
                      data-bs-target="#StrategiesHelpPopup"></app-ic-icon>
                  </div>
                </div>
              }
              @if (waveAttackPower === 0) {
                <div>
                  <div class="text-center fw-bold" translate>
                    Your army is empty
                  </div>
                  <h3>{{ 'Wave { value }' | translate: { value: 1 } }}</h3>
                  <div
                    cdkDropList
                    class="text-center"
                    id="wave-attack-1"
                    [cdkDropListData]="emptyWave"
                    [cdkDropListConnectedTo]="waveAttackDropList"
                    (cdkDropListDropped)="onDropAttack($event)">
                    <span translate>
                      Drag and drop units on a wave to add them
                    </span>
                    <app-ic-icon
                      [icon]="questionCircle"
                      role="button"
                      data-bs-toggle="modal"
                      data-bs-target="#StrategiesHelpPopup"></app-ic-icon>
                  </div>
                </div>
              }
            }

            <!-- Defense -->
            @if (type === 'defense') {
              <div class="text-center">
                <strong translate>Total:</strong>
                {{
                  waveDefensePower
                    | number: '1.0-0' : this.translate.currentLang
                }}
                <app-ic-icon
                  [icon]="shieldShaded"
                  title="{{ 'Defense' | translate }}"></app-ic-icon>
              </div>
              @if (
                user.getPropertyNb('poseidon_wall') > 0 &&
                user.getPropertyNb('defense_wall') === 0
              ) {
                <div class="text-center">
                  <span translate
                    >The wall of Poseidon protects this city.</span
                  >
                  ({{ wallDefense | number: '' : this.translate.currentLang }}
                  <app-ic-icon
                    [icon]="shieldShaded"
                    title="{{ 'Defense' | translate }}"></app-ic-icon
                  >)
                </div>
              }
              @if (
                user.getPropertyNb('poseidon_wall') === 0 &&
                user.getPropertyNb('defense_wall') > 0
              ) {
                <div class="text-center">
                  <span translate>A wall is protecting this city.</span>
                  ({{
                    defenseWallStrength
                      | number: '' : this.translate.currentLang
                  }}
                  <app-ic-icon
                    [icon]="shieldShaded"
                    title="{{ 'Defense' | translate }}"></app-ic-icon
                  >)
                </div>
              }
              @if (
                user.getPropertyNb('poseidon_wall') > 0 &&
                user.getPropertyNb('defense_wall') > 0
              ) {
                <div class="text-center">
                  <span translate>Many walls are protecting this city.</span>
                  ({{
                    wallDefense + defenseWallStrength
                      | number: '' : this.translate.currentLang
                  }}
                  <app-ic-icon
                    [icon]="shieldShaded"
                    title="{{ 'Defense' | translate }}"></app-ic-icon
                  >)
                </div>
              }
              <div
                class="row d-flex"
                cdkDropList
                id="wave-defense-0"
                [cdkDropListData]="user.getArmy()"
                [cdkDropListConnectedTo]="waveDefenseDropList"
                (cdkDropListDropped)="onDropDefense($event)">
                @for (army of user.getArmy(); track army) {
                  @if (
                    waveDefenseUnit &&
                    army.defense > 0 &&
                    user.getPropertyNb(army.code) >
                      (waveDefenseUnit.get(army.code)!
                        ? waveDefenseUnit.get(army.code)!
                        : 0)
                  ) {
                    <div
                      class="col-4 col-sm-3 col-md-2 d-flex flex-column align-self-start"
                      role="button"
                      id="{{ army.code }}-0-{{
                        user.getPropertyNb(army.code) -
                          (waveDefenseUnit.get(army.code)!
                            ? waveDefenseUnit.get(army.code)!
                            : 0)
                      }}"
                      data-bs-toggle="modal"
                      data-bs-target="#ArmyInfo"
                      (click)="selectArmy(army.code)"
                      (keyup.enter)="selectArmy(army.code)"
                      tabindex="0"
                      cdkDrag>
                      <div class="mt-auto m-1-xs m-4-md">
                        <app-ew-icon name="{{ army.code }}"></app-ew-icon>
                      </div>
                      <div class="text-center">
                        <strong translate>{{
                          Tools.getName(
                            army.code,
                            user.getPropertyNb(army.code) -
                              (waveDefenseUnit.get(army.code)!
                                ? waveDefenseUnit.get(army.code)!
                                : 0)
                          ) | translate
                        }}</strong>
                        (<strong>{{
                          user.getPropertyNb(army.code) -
                            (waveDefenseUnit.get(army.code)!
                              ? waveDefenseUnit.get(army.code)!
                              : 0)
                        }}</strong
                        >)
                      </div>
                    </div>
                  }
                }
                @for (building of user.getBuildings(); track building) {
                  @if (
                    waveDefenseUnit &&
                    building.type === 2 &&
                    user.getPropertyNb(building.code) >
                      (waveDefenseUnit.get(building.code)!
                        ? waveDefenseUnit.get(building.code)!
                        : 0)
                  ) {
                    <div
                      class="col-4 col-sm-3 col-md-2 d-flex flex-column align-self-start"
                      role="button"
                      id="{{ building.code }}-0-{{
                        user.getPropertyNb(building.code) -
                          (waveDefenseUnit.get(building.code)!
                            ? waveDefenseUnit.get(building.code)!
                            : 0)
                      }}"
                      data-bs-toggle="modal"
                      data-bs-target="#BuildingInfo"
                      (click)="selectBuilding(building.code)"
                      (keyup.enter)="selectBuilding(building.code)"
                      tabindex="0"
                      cdkDrag>
                      <div class="mt-auto m-1-xs m-4-md">
                        <app-ew-icon name="{{ building.code }}"></app-ew-icon>
                      </div>
                      <div class="text-center">
                        <strong translate>{{
                          Tools.getName(
                            building.code,
                            user.getPropertyNb(building.code) -
                              (waveDefenseUnit.get(building.code)!
                                ? waveDefenseUnit.get(building.code)!
                                : 0)
                          ) | translate
                        }}</strong>
                        (<strong>{{
                          user.getPropertyNb(building.code) -
                            (waveDefenseUnit.get(building.code)!
                              ? waveDefenseUnit.get(building.code)!
                              : 0)
                        }}</strong
                        >)
                      </div>
                    </div>
                  }
                }
              </div>
              @for (wave of waveDefenseList; track wave; let i = $index) {
                @if (i > 0) {
                  <div
                    class="row"
                    cdkDropList
                    id="wave-defense-{{ i }}"
                    [cdkDropListData]="wave"
                    [cdkDropListConnectedTo]="waveDefenseDropList"
                    (cdkDropListDropped)="onDropDefense($event)">
                    <h3>{{ 'Wave { value }' | translate: { value: i } }}</h3>
                    <div class="d-flex row">
                      @for (army of user.getArmy(); track army) {
                        @if (getWaveUnit(wave, army.code) > 0) {
                          <div
                            role="button"
                            id="{{ army.code }}-{{ i }}-{{
                              getWaveUnit(wave, army.code)
                            }}"
                            class="col-4 col-sm-3 col-md-2 d-flex flex-column align-self-start"
                            cdkDrag>
                            <div class="mt-auto m-1-xs m-4-md text-center">
                              <app-ew-icon
                                name="{{ army.code }}"
                                data-bs-toggle="modal"
                                data-bs-target="#ArmyInfo"
                                (click)="selectArmy(army.code)"></app-ew-icon>
                              <div
                                class="d-flex flex-row mt-1"
                                [ngClass]="{ invisible: army.code === 'soul' }">
                                @if (getWaveUnit(wave, army.code) > 1) {
                                  <div
                                    class="flex-grow-1 btn btn-warning"
                                    data-bs-toggle="modal"
                                    data-bs-target="#WaveDivide"
                                    (click)="
                                      setWaveUnit(
                                        army,
                                        getWaveUnit(wave, army.code),
                                        i,
                                        2
                                      )
                                    "
                                    (keyup.enter)="
                                      setWaveUnit(
                                        army,
                                        getWaveUnit(wave, army.code),
                                        i,
                                        2
                                      )
                                    "
                                    tabindex="0">
                                    <app-ic-icon
                                      [icon]="splitIcon"></app-ic-icon>
                                  </div>
                                }
                                <div
                                  (click)="waveDefenseDelete(army.code, i)"
                                  (keyup.enter)="
                                    waveDefenseDelete(army.code, i)
                                  "
                                  tabindex="0"
                                  class="flex-grow-1 btn btn-danger"
                                  translate>
                                  <app-ic-icon [icon]="times"></app-ic-icon>
                                </div>
                              </div>
                            </div>
                            <div
                              data-bs-toggle="modal"
                              data-bs-target="#ArmyInfo"
                              class="text-center"
                              (click)="selectArmy(army.code)"
                              (keyup.enter)="selectArmy(army.code)"
                              tabindex="0">
                              <strong translate>{{
                                Tools.getName(
                                  army.code,
                                  getWaveUnit(wave, army.code)
                                )
                              }}</strong>
                              (<strong>{{
                                getWaveUnit(wave, army.code)
                              }}</strong
                              >)
                            </div>
                          </div>
                        }
                      }
                      @for (building of user.getBuildings(); track building) {
                        @if (getWaveUnit(wave, building.code) > 0) {
                          <div
                            role="button"
                            id="{{ building.code }}-{{ i }}-{{
                              getWaveUnit(wave, building.code)
                            }}"
                            class="col-4 col-sm-3 col-md-2 d-flex flex-column align-self-start"
                            cdkDrag>
                            <div class="mt-auto m-1-xs m-4-md text-center">
                              <app-ew-icon
                                name="{{ building.code }}"
                                role="button"
                                data-bs-toggle="modal"
                                data-bs-target="#BuildingInfo"
                                (click)="selectBuilding(building.code)"
                                (keyup.enter)="selectBuilding(building.code)"
                                tabindex="0"></app-ew-icon>
                              <div class="d-flex flex-row mt-1">
                                @if (getWaveUnit(wave, building.code) > 1) {
                                  <div
                                    class="flex-grow-1 btn btn-warning"
                                    data-bs-toggle="modal"
                                    data-bs-target="#WaveDivide"
                                    (click)="
                                      setWaveUnit(
                                        building,
                                        getWaveUnit(wave, building.code),
                                        i,
                                        2
                                      )
                                    "
                                    (keyup.enter)="
                                      setWaveUnit(
                                        building,
                                        getWaveUnit(wave, building.code),
                                        i,
                                        2
                                      )
                                    "
                                    tabindex="0">
                                    <app-ic-icon
                                      [icon]="splitIcon"></app-ic-icon>
                                  </div>
                                }
                                <div
                                  (click)="waveDefenseDelete(building.code, i)"
                                  (keyup.enter)="
                                    waveDefenseDelete(building.code, i)
                                  "
                                  tabindex="0"
                                  class="flex-grow-1 btn btn-danger"
                                  translate>
                                  <app-ic-icon [icon]="times"></app-ic-icon>
                                </div>
                              </div>
                            </div>
                            <div
                              data-bs-toggle="modal"
                              data-bs-target="#BuildingInfo"
                              class="text-center"
                              (click)="selectBuilding(building.code)"
                              (keyup.enter)="selectBuilding(building.code)"
                              tabindex="0">
                              <strong translate>{{
                                Tools.getName(
                                  building.code,
                                  getWaveUnit(wave, building.code)
                                )
                              }}</strong>
                              (<strong>{{
                                getWaveUnit(wave, building.code)
                              }}</strong
                              >)
                            </div>
                          </div>
                        }
                      }
                    </div>
                  </div>
                }
              }
              @if (
                waveDefensePower > 0 && waveDefenseList.length < waveDefenseMax
              ) {
                <div>
                  <h3>
                    {{
                      'Wave { value }'
                        | translate: { value: waveDefenseList.length }
                    }}
                  </h3>
                  <div
                    cdkDropList
                    class="text-center"
                    id="wave-defense-{{ waveDefenseList.length }}"
                    [cdkDropListData]="emptyWave"
                    [cdkDropListConnectedTo]="waveDefenseDropList"
                    (cdkDropListDropped)="onDropDefense($event)">
                    <span translate>
                      Drag and drop units on a wave to add them
                    </span>
                    <app-ic-icon
                      [icon]="questionCircle"
                      role="button"
                      data-bs-toggle="modal"
                      data-bs-target="#StrategiesHelpPopup"></app-ic-icon>
                  </div>
                </div>
              }
              @if (waveDefensePower === 0) {
                <div>
                  <div class="text-center fw-bold" translate>
                    Your army is empty
                  </div>
                  <div class="text-center text-danger fw-bold">
                    <span translate>
                      Without defense, your resource losses will be greater in
                      the event of an attack
                    </span>
                    <app-ic-icon
                      [icon]="questionCircle"
                      role="button"
                      data-bs-toggle="modal"
                      data-bs-target="#DefenseEmpty"></app-ic-icon>
                  </div>
                  <h3>{{ 'Wave { value }' | translate: { value: 1 } }}</h3>
                  <div
                    cdkDropList
                    class="text-center"
                    id="wave-defense-1"
                    [cdkDropListData]="emptyWave"
                    [cdkDropListConnectedTo]="waveDefenseDropList"
                    (cdkDropListDropped)="onDropDefense($event)">
                    <span translate>
                      Drag and drop units on a wave to add them
                    </span>
                    <app-ic-icon
                      [icon]="questionCircle"
                      role="button"
                      data-bs-toggle="modal"
                      data-bs-target="#StrategiesHelpPopup"></app-ic-icon>
                  </div>
                </div>
              }
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-main-right></app-main-right>
