<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.ellaswar.ewnextmobile" id="ellaswar" version="1.1.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EllasWar</name>
    <description>
        Desktop/Mobile application for the online game ellaswar.com.
    </description>
    <author email="mighty@ellaswar.com" href="https://ellaswar.eu">
        Ellas War's Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="AndroidXEnabled" value="true" />
        <splash density="land-ldpi" src="res/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="res/android/splash-land-mdpi.png" />
        <splash density="land-hdpi" src="res/android/splash-land-hdpi.png" />
        <splash density="land-xhdpi" src="res/android/splash-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="res/android/splash-land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="res/android/splash-land-xxxhdpi.png" />
        <splash density="ldpi" src="res/android/splash-port-ldpi.png" />
        <splash density="mdpi" src="res/android/splash-port-mdpi.png" />
        <splash density="hdpi" src="res/android/splash-port-hdpi.png" />
        <splash density="xhdpi" src="res/android/splash-port-xhdpi.png" />
        <splash density="xxhdpi" src="res/android/splash-port-xxhdpi.png" />
        <splash density="xxxhdpi" src="res/android/splash-port-xxxhdpi.png" />
        <splash density="port-ldpi" src="res/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/android/splash-port-xxxhdpi.png" />
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
        <icon src="res/electron/icon.png" />
        <icon src="res/electron/icon@2x.png" target="installer" />
    </platform>
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <preference name="Allow3DTouchLinkPreview" value="true" />
        <preference name="AllowBackForwardNavigationGestures" value="false" />
        <preference name="AllowNewWindows" value="true" />
        <preference name="AllowsAirPlayForMediaPlayback" value="true" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="deployment-target" value="12.0" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/ios/Default@2x~universal~anyany.png" />
        <splash src="res/ios/Default@2x~universal~comany.png" />
        <splash src="res/ios/Default@2x~universal~comcom.png" />
        <splash src="res/ios/Default@3x~universal~anyany.png" />
        <splash src="res/ios/Default@3x~universal~anycom.png" />
        <splash src="res/ios/Default@3x~universal~comany.png" />
        <icon height="180" src="res/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/ios/icon-60.png" width="60" />
        <icon height="120" src="res/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/ios/icon-76.png" width="76" />
        <icon height="152" src="res/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/ios/icon-40.png" width="40" />
        <icon height="80" src="res/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/ios/icon.png" width="57" />
        <icon height="114" src="res/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/ios/icon-72.png" width="72" />
        <icon height="144" src="res/ios/icon-72@2x.png" width="144" />
        <icon height="167" src="res/ios/icon-167.png" width="167" />
        <icon height="29" src="res/ios/icon-small.png" width="29" />
        <icon height="58" src="res/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/ios/icon-small@3x.png" width="87" />
        <icon height="50" src="res/ios/icon-50.png" width="50" />
        <icon height="100" src="res/ios/icon-50@2x.png" width="100" />
        <icon height="167" src="res/ios/icon-83.5@2x.png" width="167" />
    </platform>
    <plugin name="cordova-plugin-facebook-connect" spec="~2.3.0">
        <variable name="FACEBOOK_IOS_SDK_VERSION" value="9.3.0" />
    </plugin>
    <variable name="APP_ID" value="173897253017254" />
    <variable name="APP_NAME" value="EllasWar" />
    <preference name="AndroidInsecureFileModeEnabled" value="false" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="WindowsStoreDisplayName" value="Ellas War" />
</widget>
