<app-main-left></app-main-left>

<main class="mt-1 mb-4">
  <div class="container">
    <div class="row">
      <div class="d-flex column-block">
        <div class="column left-column flex-grow-1"></div>
        <div class="card">
          <div class="card-body text-center">
            <h1 translate>Forgot your password</h1>

            <p translate>
              Enter your username or email address and your new password will be
              sent to your email address. It will only be active after
              confirmation.
            </p>
            <br />

            @if (lostpasswordError > 0) {
              <div>
                <div class="fw-bold text-danger">
                  @switch (lostpasswordError) {
                    @case (1) {
                      <div translate>This account does not exist</div>
                    }
                    @case (2) {
                      <div translate>
                        A new password has just been sent to you by email, this
                        one will only be active after validation.
                      </div>
                    }
                    @case (3) {
                      <div translate>This account has no email address</div>
                    }
                    @case (4) {
                      <div translate>Enter your username or email address</div>
                    }
                  }
                </div>
                <br />
              </div>
            }

            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="lostvalue"
                  placeholder="{{ 'Username or email' | translate }}"
                  title="{{ 'Username or email' | translate }}" />
                <span
                  class="input-group-text btn btn-primary"
                  role="button"
                  (click)="lostpassword()"
                  (keyup.enter)="lostpassword()"
                  tabindex="0"
                  translate
                  >Send</span
                >
              </div>
              <br />
            </div>
            <div class="text-center" translate>
              <a [routerLink]="['/login']" translate class="btn btn-primary"
                >Connect</a
              >
            </div>
          </div>
        </div>
        <div class="column right-column flex-grow-1"></div>
      </div>
    </div>
  </div>
</main>

<app-main-right></app-main-right>
