<div class="modal fade" id="ArmySummary" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="armyDesc" class="modal-title" translate>Army</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body container-fluid">
        <table class="table" aria-describedby="armyDesc">
          <thead class="text-center">
            <th scope="col"></th>
            <th scope="col">
              <app-ic-icon
                [icon]="swordIcon"
                title="{{ 'Attack' | translate }}"></app-ic-icon>
            </th>
            <th scope="col" translate>
              <app-ic-icon
                [icon]="shieldShaded"
                title="{{ 'Defense' | translate }}"></app-ic-icon>
            </th>
          </thead>
          <tbody>
            @for (unit of user.getArmy(); track unit) {
              @if (
                user.getPropertyNb(unit.code) > 0 &&
                (unit.attack > 0 || unit.defense > 0)
              ) {
                <tr>
                  <th scope="row">
                    {{
                      Tools.getName(unit.code, user.getPropertyNb(unit.code))
                        | translate
                    }}
                    ({{
                      user.getPropertyNb(unit.code)
                        | number: '' : this.translate.getCurrentLang()
                    }})
                  </th>
                  <td class="text-end">
                    {{
                      user.getPropertyNb(unit.code) * unit.attack
                        | number: '' : this.translate.getCurrentLang()
                    }}
                  </td>
                  <td class="text-end">
                    {{
                      user.getPropertyNb(unit.code) * unit.defense
                        | number: '' : this.translate.getCurrentLang()
                    }}
                  </td>
                </tr>
              }
            }
            @for (building of user.getBuildings(); track building) {
              @if (
                user.getPropertyNb(building.code) > 0 && building.type === 2
              ) {
                <tr>
                  <th scope="row">
                    {{
                      Tools.getName(
                        building.code,
                        user.getPropertyNb(building.code)
                      ) | translate
                    }}
                    ({{ user.getPropertyNb(building.code) }})
                  </th>
                  <td class="text-end">0</td>
                  <td class="text-end">
                    {{
                      user.getPropertyNb(building.code) * building.defense
                        | number: '' : this.translate.getCurrentLang()
                    }}
                  </td>
                </tr>
              }
            }
            @if (user.getPropertyNb('defense_wall') > 0) {
              <tr>
                <th scope="row" translate>Defense wall</th>
                <td class="text-end">0</td>
                <td class="text-end">
                  {{
                    defenseWallStrength
                      | number: '' : this.translate.getCurrentLang()
                  }}
                </td>
              </tr>
            }
            @if (user.getPropertyNb('poseidon_wall') > 0) {
              <tr>
                <th scope="row" translate>Wall of Poseidon</th>
                <td class="text-end">0</td>
                <td class="text-end">
                  {{
                    wallDefense | number: '' : this.translate.getCurrentLang()
                  }}
                </td>
              </tr>
            }
          </tbody>
          @if (nbKind() > 1) {
            <tfoot>
              <tr>
                <td></td>
                <td class="text-end">
                  {{
                    getAttack() | number: '' : this.translate.getCurrentLang()
                  }}
                </td>
                <td class="text-end">
                  {{
                    getDefense() | number: '' : this.translate.getCurrentLang()
                  }}
                </td>
              </tr>
            </tfoot>
          }
        </table>
        <div class="text-end">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            translate>
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
