<span class="modal-title">
  @switch (id) {
    @case (1) {
      <span>
        {{ 10000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="iron" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (2) {
      <span>
        {{ 10000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="wood" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (3) {
      <span>
        {{ 2000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="grapes" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (4) {
      <span>
        {{ 2000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="stone" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (5) {
      <span>
        {{ 2000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="marble" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (6) {
      <span>
        {{ 2000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="wine" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (7) {
      <span>
        {{ 2000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="gold" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (8) {
      <span>
        1
        <app-ew-icon name="favor" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (9) {
      <span>
        80
        <span translate>Spartans</span>
      </span>
    }
    @case (10) {
      <span translate> 200 units of your third temple </span>
    }
    @case (11) {
      <span translate>
        6 hours of withdrawal without taxes in your treasure
      </span>
    }
    @case (12) {
      <span>
        @if (user.getPropertyNb('hermes') === 0) {
          <span translate>
            You are allowed to sell in the Agora today, even if it's
            Wednesday/Saturday/Sunday
          </span>
        }
        @if (user.getPropertyNb('hermes') === 1) {
          <span translate>
            You are allowed to sell in the Agora today, even if it's Sunday
          </span>
        }
      </span>
    }
    @case (13) {
      <span translate> 2 bonus attacks </span>
    }
    @case (14) {
      <span>
        {{ 20000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="drachma" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (15) {
      <span>
        {{ 100000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="iron" class="small-resource ms-1"></app-ew-icon>
        {{ 100000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="wood" class="small-resource ms-1"></app-ew-icon>
        {{ 100000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="food" class="small-resource ms-1"></app-ew-icon>
        {{ 100000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="grapes" class="small-resource ms-1"></app-ew-icon>
        {{ 1000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="stone" class="small-resource ms-1"></app-ew-icon>
        {{ 1000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="marble" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (16) {
      <span>
        {{ 500000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="drachma" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (17) {
      <span>
        {{ 1000000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="drachma" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (18) {
      <span>
        {{ 25000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="iron" class="small-resource ms-1"></app-ew-icon>
        {{ 25000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="wood" class="small-resource ms-1"></app-ew-icon>
        {{ 25000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="food" class="small-resource ms-1"></app-ew-icon>
        {{ 25000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="grapes" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (19) {
      <span>
        {{ 50000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="iron" class="small-resource ms-1"></app-ew-icon>
        {{ 50000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="wood" class="small-resource ms-1"></app-ew-icon>
        {{ 50000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="food" class="small-resource ms-1"></app-ew-icon>
        {{ 50000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="grapes" class="small-resource ms-1"></app-ew-icon>
        {{ 1000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="stone" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (20) {
      <span>
        {{ 5000000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="drachma" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (21) {
      <span>
        {{ 10000000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="drachma" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (22) {
      <span>
        {{ 20000000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="drachma" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (23) {
      <span>
        {{ 10000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="grapes" class="small-resource ms-1"></app-ew-icon>
        {{ 10000 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="marble" class="small-resource ms-1"></app-ew-icon>
        {{ 2500 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="wine" class="small-resource ms-1"></app-ew-icon>
        {{ 2500 | number: '' : this.translate.currentLang }}
        <app-ew-icon name="gold" class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (24) {
      <span class="multiple-divine">
        {{ 4 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(11) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 1 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(9) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 2 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(13) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 5000000 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(14) }}"
          class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (25) {
      <span class="multiple-divine">
        {{ 8 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(11) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 2 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(9) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 4 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(13) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 10000000 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(14) }}"
          class="small-resource ms-1"></app-ew-icon>
      </span>
    }
    @case (26) {
      <span class="multiple-divine">
        {{ 12 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(11) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 3 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(9) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 6 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(13) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 20000000 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(14) }}"
          class="small-resource ms-1"></app-ew-icon>
        {{ 1 | number: '' : this.translate.currentLang
        }}<app-ew-icon
          name="{{ Tools.getDivineBonus(8) }}"
          class="small-resource ms-1"></app-ew-icon>
      </span>
    }
  }
</span>
