<div class="modal fade" id="TempleChangeInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        @if (temple === 0) {
          <h5 translate>Which temple do you want to change?</h5>
        }
        @if (temple === 1) {
          <h5 translate>Replace the Hermes Temple</h5>
        }
        @if (temple === 2) {
          <h5 translate>Replace the Apollo Temple</h5>
        }
        @if (temple === 3) {
          <h5 translate>Replace the Demeter Temple</h5>
        }
        @if (temple === 4) {
          <h5 translate>Replace the Ares Temple</h5>
        }
        @if (temple === 5) {
          <h5 translate>Replace the Athena Temple</h5>
        }
        @if (temple === 6) {
          <h5 translate>Replace the Artemis Temple</h5>
        }
        @if (temple === 7) {
          <h5 translate>Replace the Dionysus Temple</h5>
        }
        @if (temple === 8) {
          <h5 translate>Replace the Hephaestus Temple</h5>
        }
        @if (temple === 9) {
          <h5 translate>Replace the Zeus Temple</h5>
        }
        @if (temple === 10) {
          <h5 translate>Replace the Hades Temple</h5>
        }
        @if (temple === 11) {
          <h5 translate>Replace the Poseidon Temple</h5>
        }
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-header no-padding-left no-padding-right">
        <div class="container">
          <div class="row">
            @if (user.getPropertyNb('hermes') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 1 }"
                (click)="selectTemples(1)"
                title="{{ 'Hermes' | translate }}">
                <app-ew-icon name="hermes"></app-ew-icon>
              </div>
            }
            @if (user.getPropertyNb('apollo') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 2 }"
                (click)="selectTemples(2)"
                title="{{ 'Apollo' | translate }}">
                <app-ew-icon name="apollo"></app-ew-icon>
              </div>
            }
            @if (user.getPropertyNb('demeter') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 3 }"
                (click)="selectTemples(3)"
                title="{{ 'Demeter' | translate }}">
                <app-ew-icon name="demeter"></app-ew-icon>
              </div>
            }

            @if (user.getPropertyNb('ares') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 4 }"
                (click)="selectTemples(4)"
                title="{{ 'Ares' | translate }}">
                <app-ew-icon name="ares"></app-ew-icon>
              </div>
            }
            @if (user.getPropertyNb('athena') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 5 }"
                (click)="selectTemples(5)"
                title="{{ 'Athena' | translate }}">
                <app-ew-icon name="athena"></app-ew-icon>
              </div>
            }

            @if (user.getPropertyNb('artemis') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 6 }"
                (click)="selectTemples(6)"
                title="{{ 'Artemis' | translate }}">
                <app-ew-icon name="artemis"></app-ew-icon>
              </div>
            }
            @if (user.getPropertyNb('dionysus') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 7 }"
                (click)="selectTemples(7)"
                title="{{ 'Dionysus' | translate }}">
                <app-ew-icon name="dionysus"></app-ew-icon>
              </div>
            }
            @if (user.getPropertyNb('hephaestus') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 8 }"
                (click)="selectTemples(8)"
                title="{{ 'Hephaestus' | translate }}">
                <app-ew-icon name="hephaestus"></app-ew-icon>
              </div>
            }

            @if (user.getPropertyNb('zeus') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 9 }"
                (click)="selectTemples(9)"
                title="{{ 'Zeus' | translate }}">
                <app-ew-icon name="zeus"></app-ew-icon>
              </div>
            }
            @if (user.getPropertyNb('hades') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 10 }"
                (click)="selectTemples(10)"
                title="{{ 'Hades' | translate }}">
                <app-ew-icon name="hades"></app-ew-icon>
              </div>
            }
            @if (user.getPropertyNb('poseidon') === 1) {
              <div
                class="col-3 p-2"
                role="button"
                [ngClass]="{ grey: temple > 0 && temple !== 11 }"
                (click)="selectTemples(11)"
                title="{{ 'Poseidon' | translate }}">
                <app-ew-icon name="poseidon"></app-ew-icon>
              </div>
            }
          </div>
        </div>
      </div>

      @if (temple > 0) {
        <div class="modal-body">
          <strong translate>Price</strong><strong translate>:</strong>
          @for (res of getPrice(); track res) {
            <span>
              <span
                [ngClass]="{
                  'text-danger':
                    user.getPropertyNb(res.resource) < res.quantity,
                }">
                {{
                  res.quantity | number: '' : this.translate.getCurrentLang()
                }}
              </span>
              <app-ew-icon
                name="{{ res.resource }}"
                class="small-resource"></app-ew-icon>
            </span>
          }
        </div>
      }

      <div class="modal-body">
        @if (temple > 0) {
          <div class="row text-center text-danger" translate>
            You have to wait 60 days between each modification of the temples of
            the same level
          </div>
        }
        <div>
          @if (temple === 0) {
            <div class="text-center text-danger" translate>
              Click on one of the temples to select it
            </div>
          }
          <!-- Firt temple -->
          @if (temple === 2 || temple === 3) {
            <div>
              <strong translate>Hermes</strong>
              <ul>
                <li translate>
                  In the Agora, when you redeem your batches, you get 97.5%
                  instead of 80%
                </li>
                <li translate>
                  Until the level 6, you can store 50% more Drachmas in your
                  treasure
                </li>
                <li translate>
                  From the level 6, treasure your treasure taxes are reduced by
                  20%
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(1)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }
          @if (temple === 1 || temple === 3) {
            <div>
              <strong translate>Apollo</strong>
              <ul>
                <li translate>Free and safe spying</li>
                <li translate>
                  Your units are 10% more efficient during sanctuaries attacks
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(2)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }
          @if (temple === 1 || temple === 2) {
            <div>
              <strong translate>Demeter</strong>
              <ul>
                <li translate>+30% base food production</li>
                <li translate>+30% base grapes production</li>
                <li translate>
                  The fury can destroy farms and growers and reserves of grapes
                  and food of your opponents.
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(3)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }

          <!-- Second temple -->
          @if (temple === 5) {
            <div>
              <strong translate>Ares</strong>
              <ul>
                <li translate>+15% offensive power</li>
                <li>
                  {{
                    'New unity: { unit }'
                      | translate: { unit: 'Spartan' | translate }
                  }}
                </li>
                <li translate>
                  You are allowed to attack an enemy a second time. Works even
                  in war but the second attack does not count toward the score.
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(4)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }
          @if (temple === 4) {
            <div>
              <strong translate>Athena</strong>
              <ul>
                <li translate>+15% defensive power</li>
                <li translate>-20% infanterie cost</li>
                <li translate>-20% infanterie consumption</li>
                <li translate>
                  Athena temporarily increases the defense of units in your city
                  by 25%.
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(5)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }

          <!-- Third temple -->
          @if (temple === 7 || temple === 8) {
            <div>
              <strong translate>Artemis</strong>
              <ul>
                <li translate>+30% base wood production</li>
                <li>
                  {{
                    'New unity: { unit }'
                      | translate: { unit: 'Amazons' | translate }
                  }}
                </li>
                <li translate>Looting is increased by 5 to 15% for 2 hours.</li>
                <li translate>
                  Your city can not be attacked for 30 min thanks to the immense
                  forest that covers the city.
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(6)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }
          @if (temple === 6 || temple === 8) {
            <div>
              <strong translate>Dionysus</strong>
              <ul>
                <li translate>+30% base wine production</li>
                <li>
                  {{
                    'New unity: { unit }'
                      | translate: { unit: 'Centaurs' | translate }
                  }}
                </li>
                <li translate>
                  Dionysus increases grape production by 60% for 6 hours.
                </li>
                <li translate>
                  Dionysus offers 500 satyrs to help you destroy your enemies.
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(7)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }
          @if (temple === 6 || temple === 7) {
            <div>
              <strong translate>Hephaestus</strong>
              <ul>
                <li translate>+30% base Drachmas production</li>
                <li>
                  {{
                    'New unity: { unit }'
                      | translate: { unit: 'Automatons' | translate }
                  }}
                </li>
                <li translate>
                  Hephaestus improves the defensive power of the automatons by
                  200% for 2 hours.
                </li>
                <li translate>
                  The lava falls on the enemies preventing them from building
                  buildings for 30 min.
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(8)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }

          <!-- Fourth temple -->
          @if (temple <= 10 || temple === 11) {
            <div>
              <strong translate>Zeus</strong>
              <ul>
                <li translate>
                  You will be able to send lightning of Zeus to destroy
                  buildings of your Enemies.
                </li>
                <li>
                  {{
                    'New unity: { unit }'
                      | translate: { unit: 'Myrmidons' | translate }
                  }}
                </li>
                <li translate>You receive 1000 units at random.</li>
                <li translate>
                  Heavy black clouds invade the targeted enemy city which can no
                  longer engage units
                </li>
                <li translate>
                  Infantry units gain 25% attack power for 1 hour.
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(9)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }
          @if (temple === 9 || temple === 11) {
            <div>
              <strong translate>Hades</strong>
              <ul>
                <li translate>+30% base gold production</li>
                <li translate>+30% base iron production</li>
                <li translate>+30% base marble production</li>
                <li translate>+30% base stone production</li>
                <li>
                  {{
                    'New unity: { unit }'
                      | translate: { unit: 'Tormented souls' | translate }
                  }}
                </li>
                <li translate>
                  Hades launches an epidemic on the enemy city causing the
                  immediate death of 5 to 15% of his army.
                </li>
                <li translate>
                  Hades returns 5 to 10% of your dead human and temple units in
                  battle as souls.
                </li>
                <li translate>
                  Hades grants you marble and stone to aid in defeating your
                  enemies.
                </li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(10)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }
          @if (temple === 9 || temple === 10) {
            <div>
              <strong translate>Poseidon</strong>
              <ul>
                <li translate>+30% base water production</li>
                <li translate>-50% cavalry cost</li>
                <li translate>-50% cavalry consumption</li>
                <li translate>+15% cavalry defensive power</li>
                <li translate>You will be able to hire Cyclops</li>
                <li translate>
                  Ability of building Poseidon's wall to defend your city. Its
                  defensive power is increasing with your field.
                </li>
                <li translate>
                  Poseidon rebuilt your wall to protect your city.
                </li>
                <li translate>
                  Poseidon shakes the earth and blocks the resources production
                  of an enemy for 2 hours.
                </li>
                <li translate>The wall gains 20% defensive power for 4h</li>
                <li translate>200 Cyclops join you to resist the invader</li>
              </ul>
              <div class="text-end">
                @if (templeChangeError === 0) {
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-dismiss="modal"
                    (click)="templeChange(11)"
                    translate>
                    Build
                  </button>
                }
              </div>
            </div>
          }
        </div>
      </div>

      @if (templeChangeHistory.length > 0) {
        <div class="modal-body">
          <strong id="historyDesc" translate>History</strong>
          <table
            class="table table-striped table-middle"
            aria-labelledby="historyDesc">
            <thead>
              <tr>
                <th scope="col" translate>Date</th>
                <th scope="col" translate>Old temple</th>
                <th scope="col" translate>New temple</th>
              </tr>
            </thead>
            <tbody>
              @for (temple of templeChangeHistory; track temple) {
                <tr>
                  <td>{{ temple.date * 1000 | date: 'dd/MM, HH:mm' }}</td>
                  <td>
                    <span>
                      @switch (temple.temple_old) {
                        @case (1) {
                          <span translate>Temple of Apollo</span>
                        }
                        @case (2) {
                          <span translate>Temple of Demeter</span>
                        }
                        @case (3) {
                          <span translate>Temple of Hermes</span>
                        }
                        @case (4) {
                          <span translate>Temple of Ares</span>
                        }
                        @case (5) {
                          <span translate>Temple of Athena</span>
                        }
                        @case (6) {
                          <span translate>Temple of Artemis</span>
                        }
                        @case (7) {
                          <span translate>Temple of Dionysus</span>
                        }
                        @case (8) {
                          <span translate>Temple of Hephaestus</span>
                        }
                        @case (9) {
                          <span translate>Temple of Zeus</span>
                        }
                        @case (10) {
                          <span translate>Temple of Hades</span>
                        }
                        @case (11) {
                          <span translate>Temple of Poseidon</span>
                        }
                      }
                    </span>
                  </td>
                  <td>
                    <span>
                      @switch (temple.temple_new) {
                        @case (1) {
                          <span translate>Temple of Apollo</span>
                        }
                        @case (2) {
                          <span translate>Temple of Demeter</span>
                        }
                        @case (3) {
                          <span translate>Temple of Hermes</span>
                        }
                        @case (4) {
                          <span translate>Temple of Ares</span>
                        }
                        @case (5) {
                          <span translate>Temple of Athena</span>
                        }
                        @case (6) {
                          <span translate>Temple of Artemis</span>
                        }
                        @case (7) {
                          <span translate>Temple of Dionysus</span>
                        }
                        @case (8) {
                          <span translate>Temple of Hephaestus</span>
                        }
                        @case (9) {
                          <span translate>Temple of Zeus</span>
                        }
                        @case (10) {
                          <span translate>Temple of Hades</span>
                        }
                        @case (11) {
                          <span translate>Temple of Poseidon</span>
                        }
                      }
                    </span>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          translate>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
