<div class="modal fade" id="Temple3Info" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        @if (temple === 0) {
          <h5 translate>Choose your third temple</h5>
        }
        @if (temple === 6) {
          <h5 translate>Artemis</h5>
        }
        @if (temple === 7) {
          <h5 translate>Dionysus</h5>
        }
        @if (temple === 8) {
          <h5 translate>Hephaestus</h5>
        }
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-header">
        <app-ew-icon
          name="artemis"
          role="button"
          [ngClass]="{ grey: temple > 0 && temple !== 6 }"
          title="{{ 'Build a new temple' | translate }}"
          (click)="setTemple(6)"></app-ew-icon>
        <app-ew-icon
          name="hephaestus"
          role="button"
          [ngClass]="{ grey: temple > 0 && temple !== 8 }"
          title="{{ 'Build a new temple' | translate }}"
          (click)="setTemple(8)"></app-ew-icon>
        <app-ew-icon
          name="dionysus"
          role="button"
          [ngClass]="{ grey: temple > 0 && temple !== 7 }"
          title="{{ 'Build a new temple' | translate }}"
          (click)="setTemple(7)"></app-ew-icon>
      </div>
      <div class="modal-body">
        <strong translate>Price</strong><strong translate>:</strong>

        @for (res of price; track res) {
          <span>
            <span
              [ngClass]="{
                'text-danger': user.getPropertyNb(res.resource) < res.quantity,
              }">
              {{ res.quantity | number: '' : this.translate.currentLang }}
            </span>
            <app-ew-icon
              name="{{ res.resource }}"
              class="small-resource"></app-ew-icon>
          </span>
        }
      </div>
      <div class="modal-body">
        @if (user.getPropertyNb('level') < 8) {
          <div class="alert alert-danger" translate>Available at level 8</div>
        }
        @if (user.getPropertyNb('level') >= 8 && temple === 0) {
          <div class="text-center text-danger" translate>
            Click on one of the temples to select it
          </div>
        }
        @if (temple > 0) {
          <div>
            <strong translate>New powers</strong>
            @if (temple === 6) {
              <ul>
                <li translate>+30% base wood production</li>
                <li>
                  {{
                    'New unity: { unit }'
                      | translate: { unit: 'Amazons' | translate }
                  }}
                </li>
              </ul>
            }
            @if (temple === 7) {
              <ul>
                <li translate>+30% base wine production</li>
                <li>
                  {{
                    'New unity: { unit }'
                      | translate: { unit: 'Centaurs' | translate }
                  }}
                </li>
              </ul>
            }
            @if (temple === 8) {
              <ul>
                <li translate>+30% base Drachmas production</li>
                <li>
                  {{
                    'New unity: { unit }'
                      | translate: { unit: 'Automatons' | translate }
                  }}
                </li>
              </ul>
            }
            <strong translate>With four temples</strong>
            @if (temple === 6) {
              <ul>
                <li translate>Looting is increased by 5 to 15% for 2 hours.</li>
                <li translate>
                  Your city can not be attacked for 30 min thanks to the immense
                  forest that covers the city.
                </li>
              </ul>
            }
            @if (temple === 7) {
              <ul>
                <li translate>
                  Dionysus increases grape production by 60% for 6 hours.
                </li>
                <li translate>
                  Dionysus offers 500 satyrs to help you destroy your enemies.
                </li>
              </ul>
            }
            @if (temple === 8) {
              <ul>
                <li translate>
                  Hephaestus improves the defensive power of the automatons by
                  200% for 2 hours.
                </li>
                <li translate>
                  The lava falls on the enemies preventing them from building
                  buildings for 30 min.
                </li>
              </ul>
            }
          </div>
        }
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          translate>
          Close
        </button>
        @if (temple > 0 && canBuild()) {
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="build()"
            translate>
            Build
          </button>
        }
      </div>
    </div>
  </div>
</div>
