<app-admin-left-menu></app-admin-left-menu>

<main class="mt-1 mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h2 id="chatDesc" class="text-center" translate>Chat</h2>
            <table class="table table-sm" aria-labelledby="chatDesc">
              <tbody>
                @for (p of adminChatList; track p) {
                  <tr>
                    <th scope="row">
                      <a [routerLink]="['/admin/profile/' + p.user_id]">
                        {{ p.username }}
                      </a>
                    </th>
                    <td
                      class="text-break"
                      [ngClass]="{ 'text-danger': p.censured === 1 }">
                      {{ p.msg }}
                    </td>
                    <td>
                      {{ p.time * 1000 | date: 'dd/MM, HH:mm' }}
                    </td>
                    <td class="text-center">
                      <button
                        class="btn"
                        (click)="adminChatCensor(p.id)"
                        [ngClass]="{
                          'btn-danger': p.censured === 1,
                          'btn-primary': p.censured === 0
                        }">
                        @if (p.censured === 0) {
                          <app-ic-icon [icon]="volumeOff"></app-ic-icon>
                        }
                        @if (p.censured === 1) {
                          <app-ic-icon [icon]="volumeMute"></app-ic-icon>
                        }
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-main-private-bottom-menu></app-main-private-bottom-menu>
