<app-main-left></app-main-left>

<main class="mt-1 mb-4">
  <div class="container">
    <div class="row">
      <div class="d-flex column-block">
        <div class="column left-column flex-grow-1"></div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/']" translate>Home</a>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/login']" translate>Connect</a>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/register']" translate>Register</a>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/news']" translate>News</a>
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/discoverthegame']" translate
                  >Discover the game</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/strategy-game']" translate
                  >Set up your strategy</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/free-game']" translate
                  >Ellas War, a free game</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/rankingplayers/1']" translate
                  >Player Ranking</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/rankingalliances/1']" translate
                  >Alliance Ranking</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/honor']" translate>Honor Ranking</a>
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/rankingseabattles/1']" translate
                  >Sea Battles Ranking</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/credits']" translate>Credits</a>
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/team']" translate>Ellas War team</a>
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/teamrecruitment']" translate
                  >Ellas War Staff recruitment</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/community']" translate>Community</a>
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/fewwords']" translate
                  >A few words about Ellas War</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/connectedplayers']" translate
                  >Connected players</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/lostpassword']" translate
                  >Forgot your password</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/partners']" translate>Ellas War Partners</a>
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/tandcs']" translate
                  >Terms and Conditions of use</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/confidentiality']" translate
                  >Privacy policy</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/help']" translate>Help</a>
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/deleteaccount']" translate
                  >Delete your account</a
                >
              </div>

              <div class="col-lg-4 col-sm-6 col-12">
                <a [routerLink]="['/contactus']" translate>Contact us</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column right-column flex-grow-1"></div>
      </div>
    </div>
  </div>
</main>

<app-main-right></app-main-right>
