<app-main-left></app-main-left>

<main class="mt-1 mb-4">
  <div class="container container-sm-lock">
    <div class="row">
      <div class="d-flex column-block">
        <div class="column left-column flex-grow-1"></div>
        <div class="card">
          <div class="card-body">
            <h1 class="text-center" translate>Connect</h1>

            @if (loginError === 1) {
              <div>
                <div
                  class="alert alert-danger text-center"
                  role="alert"
                  translate>
                  Wrong username or password
                </div>
              </div>
            }

            <form
              method="POST"
              action="/login"
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit(loginForm.value)">
              <fieldset>
                <legend class="visually-hidden" translate>
                  Login to the game
                </legend>

                <label class="fw-bold" for="server" translate>Server</label>
                <select
                  class="form-select mb-2"
                  name="server"
                  id="server"
                  formControlName="server"
                  attr.aria-label="{{
                    'Select the server you want to play on' | translate
                  }}"
                  (change)="selectServer()">
                  <option value="fr" translate>French</option>
                  <option value="en" translate>English</option>
                  <option value="dev" translate>
                    Development (International)
                  </option>
                </select>

                <label
                  id="username-label"
                  class="fw-bold"
                  for="username"
                  translate
                  >Username</label
                >
                <input
                  class="form-control mb-2"
                  type="text"
                  id="username"
                  placeholder="{{ 'Login' | translate }}"
                  name="username"
                  formControlName="username"
                  aria-labelledby="username-label"
                  required="required" />

                <label
                  id="password-label"
                  class="fw-bold"
                  for="password"
                  translate
                  >Password</label
                >
                <input
                  class="form-control mb-4"
                  type="password"
                  id="password"
                  placeholder="{{ 'Password' | translate }}"
                  name="password"
                  formControlName="password"
                  aria-labelledby="password-label"
                  required="required" />

                <div class="text-center mb-2">
                  <input type="hidden" formControlName="mobile" name="mobile" />
                  <button
                    class="btn btn-success btn-primary mb-2"
                    type="submit"
                    translate>
                    Connect
                  </button>
                </div>
                <div class="text-center">
                  <a [routerLink]="['/lostpassword']" translate
                    >Forgot your password?</a
                  >
                </div>
              </fieldset>
            </form>
            <br />
            <div class="d-flex">
              <button
                class="btn btn-grey flex-grow-1"
                (click)="user.oauthGoogle()">
                <app-ic-icon [icon]="googleIcon" class="fs-6"></app-ic-icon>
                {{ 'Login with Google' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="column right-column flex-grow-1"></div>
      </div>
    </div>
  </div>
</main>

<app-main-right></app-main-right>
