<app-storeroom-sell-help-popup></app-storeroom-sell-help-popup>
<app-storeroom-history-popup></app-storeroom-history-popup>

<app-main-left></app-main-left>

<main class="mt-1 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-2">
        <div class="card">
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-primary flex-grow-1 design-background"
              href="/agora"
              [routerLink]="['/agora']"
              title="{{ 'Player Ranking' | translate }}"
              translate>
              Agora
            </a>
            <a
              class="btn btn-danger flex-grow-1 design-background"
              href="/storeroom"
              [routerLink]="['/storeroom']"
              title="{{ 'Honor Ranking' | translate }}"
              translate>
              Storeroom
            </a>
            <a
              class="btn btn-primary flex-grow-1 design-background"
              href="/statistics"
              [routerLink]="['/statistics']"
              title="{{ 'Alliance Ranking' | translate }}"
              translate>
              Statistics
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 d-flex">
        <div class="card col-12 mb-2">
          <div class="card-header">
            <span translate> Drop resources to the Storeroom </span>
            <div class="card-header-group card-header-group-right">
              <div
                class="card-header-button"
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#StoreroomSellHelp">
                <app-ic-icon [icon]="questionCircle"></app-ic-icon>
              </div>
            </div>
          </div>
          <div class="card-body text-center">
            @if (
              parseInt(storeroomQuantity) >
              user.getPropertyNb(Tools.getResName(storeroomRess))
            ) {
              <div class="alert alert-danger" translate>
                You don't have enough resources
              </div>
            }
            @if (
              storeroomRate &&
              parseFloat(storeroomRate) < storeroomMin.rate * 0.75
            ) {
              <div class="alert alert-danger">
                {{
                  'The rate is too low, minimum { value } per unit'
                    | translate
                      : {
                          value: parseFloat(
                            (storeroomMin.rate * 0.75).toFixed(9)
                          ),
                        }
                }}
              </div>
            }
            @if (storeroomMin.rate > 0) {
              <div>
                <strong translate>Current rate</strong>
                <strong translate>:</strong>
                {{
                  parseFloat(storeroomMin.rate.toString())
                    | number
                      : '1.0-' +
                          Math.max(
                            3,
                            Tools.nbDigits(
                              parseFloat(storeroomMin.rate.toString())
                            )
                          )
                      : this.translate.getCurrentLang()
                }}
                <app-ew-icon
                  name="drachma"
                  class="small-resource"></app-ew-icon>
              </div>
            }

            @if (storeroomMin.you > 0) {
              <div>
                <strong translate>You</strong><strong translate>:</strong>
                {{
                  storeroomMin.you
                    | number
                      : '1.0-' +
                          Math.max(
                            3,
                            Tools.nbDigits(
                              parseFloat(storeroomMin.you.toString())
                            )
                          )
                      : this.translate.getCurrentLang()
                }}
                <app-ew-icon
                  name="drachma"
                  class="small-resource"></app-ew-icon>
              </div>
            }

            <div class="input-group d-flex flex-row">
              <div class="d-flex flex-column">
                <span class="input-group-text mt-2" id="aria-quantity" translate
                  >Quantity</span
                >

                <span class="input-group-text mt-2" id="aria-rate" translate
                  >Rate</span
                >
              </div>
              <div class="d-flex flex-column flex-grow-1">
                <input
                  type="number"
                  placeholder="0"
                  step="1"
                  [attr.min]="0"
                  class="form-control mt-2"
                  aria-describedby="aria-quantity"
                  attr.aria-label="{{ 'Quantity' | translate }}"
                  [(ngModel)]="storeroomQuantity" />
                <input
                  type="number"
                  placeholder="0"
                  step="0.001"
                  [attr.min]="0"
                  class="form-control mt-2"
                  aria-describedby="aria-rate"
                  attr.aria-label="{{ 'Rate' | translate }}"
                  [(ngModel)]="storeroomRate" />
              </div>
            </div>

            <select
              class="form-select text-center mt-2"
              [(ngModel)]="storeroomRess"
              (change)="setRess()"
              attr.aria-label="{{ 'Select the resource' | translate }}">
              <option value="1" translate>Food</option>
              <option value="2" translate>Water</option>
              <option value="3" translate>Wood</option>
              <option value="4" translate>Iron</option>
              @if (user.getPropertyNb('level') >= user.getLevelRess('stone')) {
                <option value="5" translate>Stone</option>
              }
              @if (user.getPropertyNb('level') >= user.getLevelRess('marble')) {
                <option value="6" translate>Marble</option>
              }
              @if (user.getPropertyNb('level') >= user.getLevelRess('grapes')) {
                <option value="7" translate>Grapes</option>
              }
              @if (user.getPropertyNb('level') >= user.getLevelRess('wine')) {
                <option value="8" translate>Wine</option>
              }
              @if (user.getPropertyNb('level') >= user.getLevelRess('gold')) {
                <option value="9" translate>Gold</option>
              }
              <option value="10" translate>Favor</option>
            </select>
            <br />
            <button class="btn btn-success" (click)="storeroomSell()" translate>
              Depose
            </button>
            <div class="mt-2" translate>
              The lots remain on the Storeroom during 7 days
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 d-flex">
        <div class="card col-12 mb-2">
          <div id="BuyResourcesDesc" class="card-header" translate>
            Buy resources
          </div>
          <div class="card-body">
            @if (getStoreroomList().length === 0) {
              <div class="text-center" translate>
                No resource available on the Storeroom
              </div>
            }
            <div class="table-responsive p-0">
              @if (getStoreroomList().length > 0) {
                <table
                  class="table table-middle"
                  aria-describedby="BuyResourcesDesc">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" translate>Resources</th>
                      <th scope="col" translate>Rate</th>
                      <th scope="col" translate>Quantity</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (trade of getStoreroomList(); track trade) {
                      <tr>
                        @if (
                          ((trade.resource_id === 1 &&
                            user.getPropertyNb('level') >=
                              user.getLevelRess('food')) ||
                            (trade.resource_id === 2 &&
                              user.getPropertyNb('level') >=
                                user.getLevelRess('water')) ||
                            (trade.resource_id === 3 &&
                              user.getPropertyNb('level') >=
                                user.getLevelRess('wood')) ||
                            (trade.resource_id === 4 &&
                              user.getPropertyNb('level') >=
                                user.getLevelRess('iron')) ||
                            (trade.resource_id === 5 &&
                              user.getPropertyNb('level') >=
                                user.getLevelRess('stone')) ||
                            (trade.resource_id === 6 &&
                              user.getPropertyNb('level') >=
                                user.getLevelRess('marble')) ||
                            (trade.resource_id === 7 &&
                              user.getPropertyNb('level') >=
                                user.getLevelRess('grapes')) ||
                            (trade.resource_id === 8 &&
                              user.getPropertyNb('level') >=
                                user.getLevelRess('wine')) ||
                            (trade.resource_id === 9 &&
                              user.getPropertyNb('level') >=
                                user.getLevelRess('gold')) ||
                            (trade.resource_id === 10 &&
                              user.getPropertyNb('level') >=
                                user.getLevelRess('favor'))) &&
                          (trade.remaining > 0 || trade.mremaining > 0)
                        ) {
                          <td>
                            @if (trade.remaining > 0) {
                              <button
                                class="btn btn-primary"
                                title="{{
                                  'Select all the resources' | translate
                                }}"
                                (click)="selectResources(trade)">
                                <app-ic-icon [icon]="plusIcon"></app-ic-icon>
                              </button>
                            }
                          </td>
                          <td class="text-end">
                            @if (trade.remaining > 0) {
                              <span>{{
                                trade.remaining
                                  | number: '' : this.translate.getCurrentLang()
                              }}</span>
                            }
                            @if (trade.remaining === 0) {
                              <span>{{
                                trade.mremaining
                                  | number: '' : this.translate.getCurrentLang()
                              }}</span>
                            }
                            &nbsp;
                            <app-ew-icon
                              name="{{ Tools.getResName(trade.resource_id) }}"
                              class="small-resource"></app-ew-icon>
                          </td>
                          <td>
                            @if (trade.remaining > 0) {
                              <span>{{
                                parseFloat(trade.rate.toString())
                                  | number
                                    : '1.0-' +
                                        Math.max(
                                          3,
                                          Tools.nbDigits(
                                            parseFloat(trade.rate.toString())
                                          )
                                        )
                                    : this.translate.getCurrentLang()
                              }}</span>
                            }
                            @if (trade.remaining === 0) {
                              <span>{{
                                parseFloat(trade.mrate.toString())
                                  | number
                                    : '1.0-' +
                                        Math.max(
                                          3,
                                          Tools.nbDigits(
                                            parseFloat(trade.mrate.toString())
                                          )
                                        )
                                    : this.translate.getCurrentLang()
                              }}</span>
                            }
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              [(ngModel)]="storeroom_ress[trade.resource_id]"
                              [attr.min]="0"
                              [attr.max]="trade.remaining"
                              step="1"
                              placeholder="0"
                              [hidden]="trade.remaining === 0" />
                          </td>
                          <td class="text-center">
                            @if (trade.remaining > 0) {
                              <button
                                class="btn btn-success"
                                (click)="
                                  storeroomBuy(
                                    trade.resource_id,
                                    storeroom_ress[trade.resource_id],
                                    trade.rate
                                  )
                                "
                                title="{{ 'Buy' | translate }}">
                                <app-ic-icon [icon]="bagIcon"></app-ic-icon>
                                <span class="visually-hidden" translate
                                  >Buy</span
                                >
                              </button>
                            }
                          </td>
                        }
                      </tr>
                    }
                  </tbody>
                </table>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex">
        <div class="card col-12 mb-2">
          <div class="card-header" id="MySalesDesc">
            <span translate> Currently for sale</span>
            <div class="card-header-group card-header-group-right">
              <div
                class="card-header-button"
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#StoreroomHistory"
                (click)="storeroomHistory()"
                (keyup.enter)="storeroomHistory()"
                tabindex="0">
                <app-ic-icon [icon]="clockIcon"></app-ic-icon>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive">
            <div class="text-center">
              <span class="fw-bold" translate>Redemption rate:</span>
              @if (user.getPropertyNb('bonus_trade') === 0) {
                <span>
                  {{
                    80 + user.getPropertyNb('hermes') * 17.5
                      | number: '' : this.translate.getCurrentLang()
                  }}%
                </span>
              }
              @if (user.getPropertyNb('bonus_trade') > 0) {
                <span>
                  {{
                    80 +
                      user.getPropertyNb('hermes') * 17.5 +
                      (20 - user.getPropertyNb('hermes') * 17.5) / 2
                      | number: '' : this.translate.getCurrentLang()
                  }}
                </span>
              }
              <br />
              <span class="fw-bold" translate>Return rate:</span>
              @if (user.getPropertyNb('bonus_trade') === 0) {
                <span>
                  {{
                    75 + user.getPropertyNb('hermes') * 17.5
                      | number: '' : this.translate.getCurrentLang()
                  }}%
                </span>
              }
              @if (user.getPropertyNb('bonus_trade') > 0) {
                <span>
                  {{
                    75 +
                      user.getPropertyNb('hermes') * 17.5 +
                      (25 - user.getPropertyNb('hermes') * 17.5) / 2
                      | number: '' : this.translate.getCurrentLang()
                  }}
                </span>
              }
            </div>

            @if (getStoreroomMyList().length === 0) {
              <div class="text-center fw-bold">
                <br />
                <span translate>
                  You currently don't have any batch on sales
                </span>
              </div>
            }

            @if (getStoreroomMyList().length > 0) {
              <table class="table table-middle" aria-describedby="MySalesDesc">
                <thead>
                  <tr>
                    <th scope="col" class="text-center" translate>Resources</th>
                    <th scope="col" class="text-center" translate>Rate</th>
                    <th scope="col" class="text-center" translate>Price</th>
                    <th scope="col" class="text-center" translate>Return</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  @for (
                    trade of getStoreroomMyList();
                    track trade;
                    let id = $index
                  ) {
                    <tr
                      [ngClass]="{
                        'bg-red': trade.mrate < trade.rate && trade.mrate > 0,
                        grey: trade.mrate === trade.rate && trade.rate > 0,
                        'bg-green':
                          (trade.mrate > 0 && trade.mrate > trade.rate) ||
                          (trade.rate > 0 && trade.mrate === 0),
                      }">
                      <td class="text-end">
                        {{
                          trade.remaining
                            | number: '' : this.translate.getCurrentLang()
                        }}
                        <app-ew-icon
                          name="{{ Tools.getResName(trade.resource_id) }}"
                          class="small-resource"></app-ew-icon>
                      </td>
                      <td class="text-end">
                        {{
                          parseFloat(trade.rate.toString())
                            | number
                              : '1.0-' +
                                  Math.max(
                                    3,
                                    Tools.nbDigits(
                                      parseFloat(trade.rate.toString())
                                    )
                                  )
                              : this.translate.getCurrentLang()
                        }}
                      </td>
                      <td class="text-end">
                        {{
                          trade.rate * trade.remaining
                            | number: '' : this.translate.getCurrentLang()
                        }}
                        <app-ew-icon
                          name="drachma"
                          class="small-resource"></app-ew-icon>
                      </td>
                      <td class="text-center">
                        {{ trade.return_time * 1000 | date: 'dd/MM, HH:mm' }}
                      </td>
                      <td class="text-center">
                        <button
                          class="btn btn-warning"
                          (click)="
                            storeroomRedeem(trade.storeroom_id, trade.remaining)
                          "
                          title="{{ 'Recover' | translate }}">
                          <app-ic-icon [icon]="jarIcon"></app-ic-icon>
                          <span class="visually-hidden" translate>Recover</span>
                        </button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-main-right></app-main-right>
