<div class="text-center mb-2">
  @if (name === 'home') {
    <span class="mx-1">
      <app-ic-icon role="button" [icon]="circleDot"></app-ic-icon>
    </span>
  } @else {
    <a href="/discoverthegame" [routerLink]="['/discoverthegame']" class="mx-1">
      <app-ic-icon role="button" [icon]="circleIcon"></app-ic-icon>
    </a>
  }
  @if (name === 'constructions') {
    <span class="mx-1">
      <app-ic-icon role="button" [icon]="circleDot"></app-ic-icon>
    </span>
  } @else {
    <a
      href="/discoverthegame/constructions"
      [routerLink]="['/discoverthegame/constructions']"
      class="mx-1">
      <app-ic-icon role="button" [icon]="circleIcon"></app-ic-icon>
    </a>
  }
  @if (name === 'treasure') {
    <span class="mx-1">
      <app-ic-icon role="button" [icon]="circleDot"></app-ic-icon>
    </span>
  } @else {
    <a
      href="/discoverthegame/treasure"
      [routerLink]="['/discoverthegame/treasure']"
      class="mx-1">
      <app-ic-icon role="button" [icon]="circleIcon"></app-ic-icon>
    </a>
  }
  @if (name === 'temples') {
    <span class="mx-1">
      <app-ic-icon role="button" [icon]="circleDot"></app-ic-icon>
    </span>
  } @else {
    <a
      href="/discoverthegame/temples"
      [routerLink]="['/discoverthegame/temples']"
      class="mx-1">
      <app-ic-icon role="button" [icon]="circleIcon"></app-ic-icon>
    </a>
  }
  @if (name === 'recruitment') {
    <span class="mx-1">
      <app-ic-icon role="button" [icon]="circleDot"></app-ic-icon>
    </span>
  } @else {
    <a
      href="/discoverthegame/recruitment"
      [routerLink]="['/discoverthegame/recruitment']"
      class="mx-1">
      <app-ic-icon role="button" [icon]="circleIcon"></app-ic-icon>
    </a>
  }
  @if (name === 'army') {
    <span class="mx-1">
      <app-ic-icon role="button" [icon]="circleDot"></app-ic-icon>
    </span>
  } @else {
    <a
      href="/discoverthegame/army"
      [routerLink]="['/discoverthegame/army']"
      class="mx-1">
      <app-ic-icon role="button" [icon]="circleIcon"></app-ic-icon>
    </a>
  }
  @if (name === 'attack') {
    <span class="mx-1">
      <app-ic-icon role="button" [icon]="circleDot"></app-ic-icon>
    </span>
  } @else {
    <a
      href="/discoverthegame/attack"
      [routerLink]="['/discoverthegame/attack']"
      class="mx-1">
      <app-ic-icon role="button" [icon]="circleIcon"></app-ic-icon>
    </a>
  }
  @if (name === 'defense') {
    <span class="mx-1">
      <app-ic-icon role="button" [icon]="circleDot"></app-ic-icon>
    </span>
  } @else {
    <a
      href="/discoverthegame/defense"
      [routerLink]="['/discoverthegame/defense']"
      class="mx-1">
      <app-ic-icon role="button" [icon]="circleIcon"></app-ic-icon>
    </a>
  }
  @if (name === 'agora') {
    <span class="mx-1">
      <app-ic-icon role="button" [icon]="circleDot"></app-ic-icon>
    </span>
  } @else {
    <a
      href="/discoverthegame/trade"
      [routerLink]="['/discoverthegame/trade']"
      class="mx-1">
      <app-ic-icon role="button" [icon]="circleIcon"></app-ic-icon>
    </a>
  }
</div>
