<ul class="list-group">
  <li class="list-group-item" translate>Players</li>
  <li class="list-group-item" translate>Send a messages</li>
  <li class="list-group-item" translate>Prayers</li>
  <li class="list-group-item" translate>Resources</li>
  <li class="list-group-item" translate>News</li>
  <li class="list-group-item" translate>Email Switching</li>
  <li class="list-group-item" translate>Pauses</li>
  <li class="list-group-item" translate>Store room</li>
  <li class="list-group-item" translate>Quests</li>
  <li class="list-group-item" translate>Chat</li>
  <li class="list-group-item" translate>Permissions</li>
  <li class="list-group-item" translate>Contact</li>
  <li class="list-group-item" translate>Support</li>
</ul>
