<div class="list-group" role="navigation" attr.aria-label="{{'Administration menu'|translate}}">
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/players']"
      [ngClass]="{'active': active === 'players'}"
      role="button" translate>Players</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/messages']"
      [ngClass]="{'active': active === 'messages'}"
      role="button" translate>Send a message</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/prayers']"
      [ngClass]="{'active': active === 'prayers'}"
      role="button" translate>Prayers</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/resources']"
      [ngClass]="{'active': active === 'resources'}"
      role="button" translate>Resources</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/news']"
      [ngClass]="{'active': active === 'news'}"
      role="button" translate>News</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/emails']"
      [ngClass]="{'active': active === 'emails'}"
      role="button" translate>Email Switching</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/pauses']"
      [ngClass]="{'active': active === 'pauses'}"
      role="button" translate>Pauses</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/storeroom']"
      [ngClass]="{'active': active === 'storeroom'}"
      role="button" translate>Store room</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/quests']"
      [ngClass]="{'active': active === 'quests'}"
      role="button" translate>Quests</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/chat']"
      [ngClass]="{'active': active === 'chat'}"
      role="button" translate>Chat</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/permissions']"
      [ngClass]="{'active': active === 'permissions'}"
      role="button" translate>Permissions</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/actions']"
     [ngClass]="{'active': active === 'action'}" *ngIf="user.getPropertyNb('rank') >= 5" 
     role="button" translate>Actions</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/contact']"
      [ngClass]="{'active': active === 'contact'}"
      role="button" translate>Contact</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/support']"
      [ngClass]="{'active': active === 'support'}"
      role="button" translate>Support</a>
  <a class="list-group-item list-group-item-action" [routerLink]="['/admin/404']"
      [ngClass]="{'active': active == '404'}"
      role="button" translate>404</a>
</div>
