<div [ngSwitch]="user.info.mstatus">
  <app-public-top-bar    *ngSwitchCase="0" active="{{ active }}"></app-public-top-bar>
  <app-connected-top-bar *ngSwitchCase="1" active="{{ active }}"></app-connected-top-bar>
  <app-blocked-top-bar   *ngSwitchCase="3" active="{{ active }}"></app-blocked-top-bar>
  <app-paused-top-bar    *ngSwitchCase="4" active="{{ active }}"></app-paused-top-bar>
</div>

<div *ngIf="displayServerModal" [config]="{ show: true }" (onHidden)="onHidden()"
     bsModal #serverModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>Impossible to join the server</h4>
      </div>
      <div class="modal-body">
        <div translate>
          The server is currently not reachable, possible causes are:
        </div>
        <ul>
          <li translate>The game is down</li>
          <li translate>Your application or web browser needs to be restarted</li>
          <li translate>Your internet connection is down</li>
        </ul>
        
        <div class="text-danger text-center" translate>
          This popup will close automatically when the game will be reachable again.
        </div>
        
        <div class="text-center">
          <br/>
          <button class="btn btn-primary" (click)="refresh()"
                  translate>Refresh</button>
        </div>
      </div>
    </div>
  </div>
</div>
