<div class="modal fade" id="weatherInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" [ngSwitch]="selectedWeather">
        <h5>
          <app-id-to-weather [weather]="user.getConfig().weather"></app-id-to-weather>
          &nbsp;
          <span *ngSwitchCase="'sun'" class="modal-title" translate>Sun</span>
          <span *ngSwitchCase="'rain'" class="modal-title" translate>Rain</span>
          <span *ngSwitchCase="'storm'" class="modal-title" translate>Storm</span>
          <span *ngSwitchCase="'snow'" class="modal-title" translate>Snow</span>
          <span *ngSwitchCase="'heatwave'" class="modal-title" translate>Heatwave</span>
          <span *ngSwitchCase="'wind'" class="modal-title" translate>Wind</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>

      <div class="modal-body text-center">
        <strong translate>Cost:</strong>
        <span *ngFor="let item of getPrice()"
              [ngClass]="{'text-danger': user.getPropertyNb(item.res) < item.nb}">
          {{ item.nb | number:'': this.translate.currentLang }}
          <app-id-to-ress [ress_id]="item.res"></app-id-to-ress>
        </span>
        
        <br/>
        
        <div *ngIf="user.getPropertyNb('active_weather') > 0">
          <br/>
          <span translate>End of immunity</span>
          <span translate>:</span>
          {{user.getPropertyNb('active_weather')*1000| date:'d/M, HH:mm'}}
          (<a class="pointer" translate 
              (click)="weatherDisableCancel()">Cancel</a>)
          <br/>
        </div>
        
        <div *ngIf="canEnable()">
          <br/>
          <button class="btn btn-success" (click)="weatherDisable()"
                  *ngIf="canEnable()" translate>
            Turn off the weather
          </button>
        </div>
      </div>

      <div class="modal-body text-center" [ngSwitch]="selectedWeather">
        <strong translate>Effects</strong>
        <strong translate>:</strong>
        <div *ngSwitchCase="'sun'">
          <ul>
            <li translate>Nothing</li>
          </ul>
        </div>
        <div *ngSwitchCase="'rain'">
          <ul>
            <li translate>+20% food production</li>
            <li translate>+20% grapes production</li>
            <li translate>+20% wood production</li>
          </ul>
        </div>
        <div *ngSwitchCase="'storm'">
          <ul>
            <li translate>-5% to the attack</li>
          </ul>
        </div>
        <div *ngSwitchCase="'snow'">
          <ul>
            <li translate>-20% food production</li>
            <li translate>-20% water production</li>
            <li translate>-20% wood production</li>
            <li translate>-20% iron production</li>
            <li translate>-20% stone production</li>
            <li translate>-20% marble production</li>
            <li translate>-20% grapes production</li>
            <li translate>-20% wine production</li>
            <li translate>-20% gold production</li>
            <li translate>-5% to the defense of the Poseidon Wall</li>
          </ul>
        </div>
        <div *ngSwitchCase="'heatwave'">
          <ul>
            <li translate>+20% wine production</li>
            <li translate>+20% water consumption</li>
            <li translate>+20% wine consumption</li>
          </ul>
        </div>
        <div *ngSwitchCase="'wind'">
          <ul>
            <li translate>-20% wood production</li>
            <li translate>-5% to the defense</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <strong translate>The weather is the will of the gods. It will influence your city, your productions and your consumption. Thanks to it you will be able to win victories impossible but take care, everything can turn against you.</strong>
        
        <br/><br/>
        
        <p translate>If you are afraid that this will have a detrimental effect on your city, you can make an offering to the gods. After this offering your city will no longer suffer the weather for a week.</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#weatherHelp"
                data-bs-dismiss="modal" translate>Weather details</button>
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" translate>Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="weatherHelp" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex flex-row">
        <app-id-to-weather [weather]="'sun'" (click)="selectWeather('sun')"
                       role="button"
                       [ngClass]="{'text-danger': selectedWeather == 'sun'}"></app-id-to-weather>
        <app-id-to-weather [weather]="'rain'" (click)="selectWeather('rain')"
                       role="button"
                       [ngClass]="{'text-danger': selectedWeather == 'rain'}"></app-id-to-weather>
        <app-id-to-weather [weather]="'storm'" (click)="selectWeather('storm')"
                       role="button"
                       [ngClass]="{'text-danger': selectedWeather == 'storm'}"></app-id-to-weather>
        <app-id-to-weather [weather]="'snow'" (click)="selectWeather('snow')"
                       role="button"
                       [ngClass]="{'text-danger': selectedWeather == 'snow'}"></app-id-to-weather>
        <app-id-to-weather [weather]="'heatwave'" (click)="selectWeather('heatwave')"
                       role="button"
                       [ngClass]="{'text-danger': selectedWeather == 'heatwave'}"></app-id-to-weather>
        <app-id-to-weather [weather]="'wind'" (click)="selectWeather('wind')"
                       role="button"
                       [ngClass]="{'text-danger': selectedWeather == 'wind'}"></app-id-to-weather>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      
      <div class="modal-header" [ngSwitch]="selectedWeather">
        <h5 *ngSwitchCase="'sun'" class="modal-title" translate>Sun</h5>
        <h5 *ngSwitchCase="'rain'" class="modal-title" translate>Rain</h5>
        <h5 *ngSwitchCase="'storm'" class="modal-title" translate>Storm</h5>
        <h5 *ngSwitchCase="'snow'" class="modal-title" translate>Snow</h5>
        <h5 *ngSwitchCase="'heatwave'" class="modal-title" translate>Heatwave</h5>
        <h5 *ngSwitchCase="'wind'" class="modal-title" translate>Wind</h5>
      </div>
      
      <div class="modal-body" [ngSwitch]="selectedWeather">
        <div *ngSwitchCase="'sun'">
          <ul>
            <li translate>Nothing</li>
          </ul>
        </div>
        <div *ngSwitchCase="'rain'">
          <ul>
            <li translate>+20% food production</li>
            <li translate>+20% grapes production</li>
            <li translate>+20% wood production</li>
          </ul>
        </div>
        <div *ngSwitchCase="'storm'">
          <ul>
            <li translate>-5% to the attack</li>
          </ul>
        </div>
        <div *ngSwitchCase="'snow'">
          <ul>
            <li translate>-20% food production</li>
            <li translate>-20% water production</li>
            <li translate>-20% wood production</li>
            <li translate>-20% iron production</li>
            <li translate>-20% stone production</li>
            <li translate>-20% marble production</li>
            <li translate>-20% grapes production</li>
            <li translate>-20% wine production</li>
            <li translate>-20% gold production</li>
            <li translate>-5% to the defense of the Poseidon Wall</li>
          </ul>
        </div>
        <div *ngSwitchCase="'heatwave'">
          <ul>
            <li translate>+20% wine production</li>
            <li translate>+20% water consumption</li>
            <li translate>+20% wine consumption</li>
          </ul>
        </div>
        <div *ngSwitchCase="'wind'">
          <ul>
            <li translate>-20% wood production</li>
            <li translate>-5% to the defense</li>
          </ul>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#weatherInfo"
                data-bs-dismiss="modal" translate>Current weather</button>
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" translate>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ambrosiaHelp" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 translate>Ambrosia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <p translate>Ambrosia is a special resource. It is not possible to trade it or loot it.</p>
        <strong translate>To obtain it:</strong>
        <ul>
          <li translate>Build temples</li>
          <li translate>Validate 7 quests and open the chest</li>
          <li translate>Own the Tantalus Sanctuary</li>
        </ul>
        
        <p translate>To use it, visit your temples. Each has one or more powers.</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" translate>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-2 col-md-2 col-sm-0 col-xs-0" id="infoMenu"
     role="contentinfo">
  <div class="card">
    <div class="card-header">
      {{ user.getProperty('username') }} ({{ user.getPropertyNb('level') }})
    </div>
    
    <div class="card-body player-info">
      <strong translate>Field</strong>
      <strong translate>:</strong> {{ user.getPropertyNb('field') | number:'': this.translate.currentLang }}
      <br/>
      <strong translate>Weather</strong>
      <strong translate>:</strong>
      <app-id-to-weather [weather]="user.getConfig().weather"
                     data-bs-toggle="modal" data-bs-target="#weatherInfo"
                     title="{{'Weather information'|translate}}"
                     role="button"></app-id-to-weather>
      <span data-bs-toggle="modal" data-bs-target="#weatherHelp"
            role="button" title="{{'Help'|translate}}" translate>
        <ic-icon [icIcon]="questionCircle"></ic-icon>
      </span>
    </div>
    
    <div class="card-body player-stats">
      <div class="row">
        <a class="col-12 d-flex" [routerLink]="['/rankingplayers']">
          <div class="p-2 icon">
            <ic-icon [icIcon]="swordIcon"></ic-icon>
          </div>
          <div class="p-2 flex-grow-1 text-end">
            {{ user.getPropertyNb('victory') | number:'': this.translate.currentLang}}<br/>
          </div>
        </a>
        <a class="col-6 d-flex" [routerLink]="['/rankingplayers']">
          <div class="p-2 icon">
            <ic-icon [icIcon]="trophy"></ic-icon>
          </div>
          <div class="p-2 flex-grow-1 text-end">
            {{ user.getPropertyNb('xp') | number:'': this.translate.currentLang}}
          </div>
        </a>
        <a class="col-6 d-flex" [routerLink]="['/honnor/'+user.getPropertyNb('level')]">
          <div class="p-2 icon">
            <ic-icon [icIcon]="crown"></ic-icon>
          </div>
          <div class="p-2 flex-grow-1 text-end">
            {{ user.getPropertyNb('honnor') | number:'': this.translate.currentLang}}
          </div>
        </a>
      </div>
    </div>
    
    <div class="card-body no-bottom">
      <div *ngFor="let res of ressList">
        <div *ngIf="user.hasLevelRess(res)" class="d-flex">
          <div class="p-2 bd-highlight"
               [ngClass]="{'icon-increase': user.getProperty('var_ress')[res] > 0,
                          'icon-equal': user.getProperty('var_ress')[res] == 0,
                          'icon-decrease': user.getProperty('var_ress')[res] < 0}">
            <ic-icon *ngIf="user.getProperty('var_ress')[res] > 0"
                     [icIcon]="angleUp"></ic-icon>
            <ic-icon *ngIf="user.getProperty('var_ress')[res] == 0" [icIcon]="equals"></ic-icon>
            <ic-icon *ngIf="user.getProperty('var_ress')[res] < 0" [icIcon]="angleDown"></ic-icon>
          </div>
          <div class="p-2 flex-grow-1 text-end">
            {{ user.getPropertyNb(res) | number:'1.0-0': this.translate.currentLang }}
          </div>
          <div class="p-2 icon">
            <app-id-to-ress [ress_id]="res"></app-id-to-ress>
          </div>
        </div>
      </div>
      <div *ngIf="user.hasLevelRess('ambrosia')" class="d-flex">
        <div class="p-2 icon-increase">
          <ic-icon [icIcon]="angleUp"></ic-icon>
        </div>
        <div class="p-2 bd-highlight">
          <ic-icon data-bs-toggle="modal" data-bs-target="#ambrosiaHelp"
                   data-bs-dismiss="modal" [icIcon]="questionCircle" 
                   title="{{'About Ambrosia'|translate}}"
                   role="button"></ic-icon>
        </div>
        <div class="p-2 flex-grow-1 text-end">
          {{ user.getPropertyNb('ambrosia') | number:'1.0-2': this.translate.currentLang }}
        </div>
        <div class="p-2 icon">
          <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>
        </div>
      </div>
      <div *ngIf="user.hasLevelRess('favor')" class="d-flex">
        <div class="p-2 icon-equal">
          <ic-icon [icIcon]="equals"></ic-icon>
        </div>
        <div class="p-2 bd-highlight">
          <ic-icon [icIcon]="questionCircle" [routerLink]="['/favors']"
                   title="{{'Access to the Favors'|translate}}"
                   role="button"></ic-icon>
        </div>
        <div class="p-2 flex-grow-1 text-end">
          {{ user.getPropertyNb('favor') | number:'1.0-2': this.translate.currentLang }}
        </div>
        <div class="p-2 icon">
          <app-id-to-ress [ress_id]="'favor'"></app-id-to-ress>
        </div>
      </div>
    </div>
    <div class="card-button card-button-primary">
      <a class="btn" [routerLink]="['/details']"
         title="{{'Details of the comsumptions and productions'|translate}}"
         translate>Details</a>
    </div>
  </div>
</div>
