<nav class="navbar navbar-expand-lg navbar-light navbar-menu">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" translate="">Ellas War</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" attr.aria-label="{{'Toggle navigation'|translate}}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/city']"
             [ngClass]="{'active': active == 'city'}"
             translate="">City</a>
        </li>
        <li class="nav-item" *ngIf="this.user.getLevel() > 0">
          <a class="nav-link" [routerLink]="['/attack']"
             [ngClass]="{'active': active == 'attack'}"
             translate="">Attack</a>
        </li>
        <li class="nav-item" 
            *ngIf="user.getLevel() >= 1 || user.getQuest() >= 2">
          <a class="nav-link" [routerLink]="['/messages']"
             [ngClass]="{'active': active == 'messages'}"
             translate="">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/quests']"
             [ngClass]="{'active': active == 'quests'}"
             translate="">Quests</a>
        </li>
        <li class="nav-item" *ngIf="this.user.getLevel() > 0">
          <a class="nav-link" [routerLink]="['/alliance']"
             [ngClass]="{'active': active == 'alliance'}"
             translate="">Alliance</a>
        </li>
        <li class="nav-item" *ngIf="this.user.getLevel() > 0">
          <a class="nav-link" [routerLink]="['/storeroom']"
             [ngClass]="{'active': active == 'storeroom'}"
             translate="">Agora</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/options']"
             [ngClass]="{'active': active == 'options'}"
             translate="">Options</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
