<div class="col-lg-2 col-md-2 col-sm-3 col-xs-0">
  <div class="card">
    <div class="card-header">
      {{ user.getProperty('username') }} ({{ user.getPropertyNb('level') }})
    </div>
    
    <div class="card-body">
      <strong translate>Field</strong>
      <strong translate>:</strong> {{ user.getProperty('field') }}
      <br/>
      <strong translate>Weather</strong>
      <strong translate>:</strong>
    </div>
    
    <div class="card-body">
      <strong translate>Victories</strong>
      <strong translate>:</strong> {{ user.getProperty('victory') }}<br/>
      <strong translate>XP</strong>
      <strong translate>:</strong> {{ user.getProperty('xp') }}<br/>
      <strong translate>Honnor</strong>
      <strong translate>:</strong> {{ user.getProperty('honnor') }}<br/>
    </div>
    
    <div class="card-body">
           Drachmas: {{ user.getPropertyNb('drachma') | number:'': this.translate.currentLang }}
      <br/>Food: {{ user.getPropertyNb('food') | number:'': this.translate.currentLang }}
      <br/>Water: {{ user.getPropertyNb('water') | number:'': this.translate.currentLang }}
      <br/>Wood: {{ user.getPropertyNb('wood') | number:'': this.translate.currentLang }}
      <br/>Iron: {{ user.getPropertyNb('iron') | number:'': this.translate.currentLang }}
      <br/>Stone: {{ user.getPropertyNb('stone') | number:'': this.translate.currentLang }}
      <br/>Marble: {{ user.getPropertyNb('marble') | number:'': this.translate.currentLang }}
      <br/>Grapes: {{ user.getPropertyNb('grapes') | number:'': this.translate.currentLang }}
      <br/>Wine: {{ user.getPropertyNb('wine') | number:'': this.translate.currentLang }}
      <br/>Gold: {{ user.getPropertyNb('gold') | number:'': this.translate.currentLang }}
      <br/>Favors: {{ user.getPropertyNb('favor') | number:'': this.translate.currentLang }}
      <br/>Ambrosia: {{ user.getPropertyNb('ambrosia') | number:'': this.translate.currentLang }}
    </div>
    <div class="card-button card-button-primary">
      <a class="btn" [routerLink]="['/details']"
         translate>Details</a>
    </div>
  </div>
</div>
