<nav class="navbar navbar-expand-md navbar-light navbar-menu">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" translate>Ellas War</a>
    
    <div class="collapse navbar-collapse">
      <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/city']"
             [ngClass]="{'active': active == 'city'}"
             translate>City</a>
        </li>
        <li class="nav-item" *ngIf="this.user.getLevel() > 0 || user.getQuest() >= 8">
          <a class="nav-link" [routerLink]="['/attacks']"
             [ngClass]="{'active': active == 'attacks'}"
             translate>Attacks</a>
        </li>
        <li class="nav-item" 
            *ngIf="user.getLevel() >= 1 || user.getQuest() >= 2">
          <a class="nav-link" [routerLink]="['/messages']"
             [ngClass]="{'active': active == 'messages'}"
             *ngIf="user.getNewMsg() == 0"
             translate>Messages</a>
          <a class="nav-link text-warning" [routerLink]="['/messages']"
             [ngClass]="{'active': active == 'messages'}"
             *ngIf="user.getNewMsg() > 0">
            <span translate>Messages</span>
            ({{user.getNewMsg()}})
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/quests']"
             [ngClass]="{'active': active == 'quests',
                         'text-warning': user.getPropertyNb('quest_validate') > 0 || 
                                         user.getPropertyNb('dquest_validated') ||
                                         user.getPropertyNb('altar_available') > 0 }"
             translate>Quests</a>
        </li>
        <li class="nav-item" *ngIf="this.user.getLevel() > 1">
          <a class="nav-link" [routerLink]="['/diplomacy']"
             [ngClass]="{'active': active == 'diplomacy'}"
             *ngIf="user.getPropertyNb('alliance') == 0"
             translate>Alliance</a>
          <a class="nav-link" [routerLink]="['/alliance']"
             [ngClass]="{'active': active == 'alliance'}"
             *ngIf="user.getPropertyNb('alliance') > 0"
             translate>Alliance</a>
        </li>
        <li class="nav-item" *ngIf="this.user.getLevel() > 0">
          <a class="nav-link" [routerLink]="['/storeroom']"
             [ngClass]="{'active': active == 'storeroom'}"
             translate>Agora</a>
        </li>
        <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
      </ul>
      <ul class="navbar-nav mb-lg-0">
        <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
        <li class="nav-item" *ngIf="user.getPropertyNb('rank') > 1">
          <a class="nav-link" [routerLink]="['/admin/']">
            <ic-icon [icIcon]="greekcolumnIcon"></ic-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/options']"
             [ngClass]="{'active': active == 'options'}">
            <ic-icon [icIcon]="cog"></ic-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/support']"
             [ngClass]="{'active': active == 'support'}">
            <ic-icon [icIcon]="questionCircle"></ic-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="disconnect()">
            <ic-icon [icIcon]="powerOff"></ic-icon>
          </a>
        </li>
        <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
      </ul>
    </div>
    <div class="menu-xs d-flex d-md-none">
      <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
        <a class="nav-link" [routerLink]="['/admin/']" *ngIf="user.getPropertyNb('rank') > 1">
          <ic-icon [icIcon]="greekcolumnIcon"></ic-icon>
        </a>
        <a class="nav-link" [routerLink]="['/options']"
           [ngClass]="{'active': active == 'options'}">
          <ic-icon [icIcon]="cog"></ic-icon>
        </a>
        <a class="nav-link" [routerLink]="['/support']"
           [ngClass]="{'active': active == 'support'}">
          <ic-icon [icIcon]="questionCircle"></ic-icon>
        </a>
        <a class="nav-link" role="button" (click)="disconnect()">
          <ic-icon [icIcon]="powerOff"></ic-icon>
        </a>
      <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
    </div>
  </div>
</nav>
<div class="mosaic"></div>

<div class="modal fade" id="PlayerInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <player-info-popup></player-info-popup>
  </div>
</div>