<nav class="navbar navbar-expand-lg navbar-light navbar-menu">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" translate>Ellas War</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" attr.aria-label="{{'Toggle navigation'|translate}}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/paused']"
             [ngClass]="{'active': active == 'paused'}"
             translate>Home</a>
        </li>
        <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/options']">
            <ic-icon [icIcon]="cog"></ic-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/support']">
            <ic-icon [icIcon]="comments"></ic-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="disconnect()">
            <ic-icon [icIcon]="powerOff"></ic-icon>
          </a>
        </li>
        <img src="assets/img/ornaments/column-mini.png" alt="Pillar">
      </ul>
    </div>
  </div>
</nav>
<div class="mosaic"></div>
