<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ user.getProperty('username') }} ({{ user.getPropertyNb('level') }})
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <strong translate>Field</strong>
    <strong translate>:</strong> {{ user.getPropertyNb('field') | number:'': this.translate.currentLang }}
    <br/>
    <strong translate>Weather</strong>
    <strong translate>:</strong>
    <app-id-to-weather [weather]="user.getConfig().weather"
                   data-bs-toggle="modal" data-bs-target="#weatherInfo"
                   role="button"></app-id-to-weather>
    <span data-bs-toggle="modal" data-bs-target="#weatherHelp"
          role="button" title="{{'Help'|translate}}" translate>
      <app-ic-icon [icon]="questionCircle"></app-ic-icon>
    </span>
  </div>
  
  <div class="modal-body">
    <strong translate>Victories</strong>
    <strong translate>:</strong> {{ user.getPropertyNb('victory') }}<br/>
    
    <a [routerLink]="['/rankingplayers']" data-bs-dismiss="modal">
      <strong translate>XP</strong>
      <strong translate>:</strong> {{ user.getPropertyNb('xp') }}
    </a>
    <br/>
    
    <a [routerLink]="['/honnor/'+user.getPropertyNb('level')]" data-bs-dismiss="modal">
      <strong translate>Honnor</strong>
      <strong translate>:</strong> {{ user.getPropertyNb('honnor') }}
    </a>
    <br/>
  </div>
  
  <div class="modal-body">
    <div *ngFor="let res of ressList">
      <div *ngIf="user.hasLevelRess(res)">
        <app-ic-icon class="text-success" *ngIf="user.getProperty('var_ress')[res] > 0" [icon]="angleUp"></app-ic-icon>
        <span *ngIf="user.getProperty('var_ress')[res] == 0">=</span>
        <app-ic-icon class="text-danger" *ngIf="user.getProperty('var_ress')[res] < 0" [icon]="angleDown"></app-ic-icon>
        {{ user.getPropertyNb(res) | number:'1.0-2': this.translate.currentLang }}
        <app-id-to-ress [ress_id]="res"></app-id-to-ress>
      </div>
    </div>
    <div *ngIf="user.hasLevelRess('ambrosia')">
      <app-ic-icon class="text-success" [icon]="angleUp"></app-ic-icon>
      {{ user.getPropertyNb('ambrosia') | number:'1.0-2': this.translate.currentLang }}
      <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>
      <app-ic-icon data-bs-toggle="modal" data-bs-target="#ambrosiaHelp"
               data-bs-dismiss="modal" [icon]="questionCircle" 
               title="{{'About Ambrosia'|translate}}"
               role="button"></app-ic-icon>
    </div>
    <div *ngIf="user.hasLevelRess('favor')">
      <span>=</span>
      {{ user.getPropertyNb('favor') | number:'1.0-2': this.translate.currentLang }}
      <app-id-to-ress [ress_id]="'favor'"></app-id-to-ress>
      <app-ic-icon [icon]="questionCircle" [routerLink]="['/favors']"
               title="{{'Access to the Favors'|translate}}"
               role="button" data-bs-dismiss="modal"></app-ic-icon>
    </div>
  </div>
  
  <div class="modal-body">
    <div class="card-button card-button-primary">
      <a class="btn" [routerLink]="['/details']" data-bs-dismiss="modal"
         translate>Details</a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
  </div>
</div>
