<app-main-left></app-main-left>

<main class="mt-1 mb-4">
  <div class="container">
    <div class="row">
      <div class="d-flex column-block">
        <div class="column left-column flex-grow-1"></div>
        <div class="card">
          <div class="card-body">
            <div translate>
              We are really sad that you want to leave us. If we can do anything
              to make you stay, don't hesitate to contact us.
            </div>
            <div translate>The process to delete your account is:</div>
            <ul>
              <li translate>Connect to your account</li>
              <li translate>Send us a message using the support page</li>
              <li translate>You will be asked for confirmation</li>
              <li translate>
                The request will be processed as fast as possible
              </li>
            </ul>
          </div>
        </div>
        <div class="column right-column flex-grow-1"></div>
      </div>
    </div>
  </div>
</main>

<app-main-right></app-main-right>
