/** Missions **/
.card-button.card-button-success {
  background-color: #449d44;
  border-color: #398439;
  color: white;
}

/** Progress bar for daily quests **/
.progression-quest-container {
  display: flex;
  width: calc(100% - var(--bs-card-spacer-x));
}

.progression-quest-container>div {
  height: 60px;
  position: relative;
  text-align: center;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  background: rgba(200,200,200,0.4);
  flex: 1;
  vertical-align: middle;
  font-size: 1.2em;
}

.progression-quest-container p{
  margin-top: 16px;
  margin-left: 20px;
}

.progression-quest-container p.quest_final {
  margin-top: 5px;
}

.progression-quest-container>div:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid rgba(250,250,250,0.95);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 0;
}
.progression-quest-container>div:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 10;
  border-left-color: rgba(200,200,200,0.4);
}

.progression-quest-container>div:first-of-type{
  width: 10vw;
}
.progression-quest-container>div:first-of-type:after {
  border-left: 20px solid transparent;
}

.progression-quest-container>div.quest_validated {
  background: #157347;
  color: white;
}
.progression-quest-container>div.quest_validated:before {
    border-left-color: #157347;
}

.progression-quest-container>div.quest_available{
  background: rgba(52, 152, 219,1.0);
  color: white;
  text-shadow: none;
}

.progression-quest-container>div.quest_available:before {
  border-left-color: rgba(52, 152, 219,1.0);
}

.progression-quest-container>div > img {
  height: 45px;
  position: fixed;
  right: 0;
  z-index: 11
}

/** Daily quests **/
.quest-giveup {
  position: absolute;
  text-align: right;
  width: 100%;
}

.quest-giveup > .btn-close {
  opacity: 1;
}
@-moz-document url-prefix() {
  .quest-giveup > .btn-close {
    margin-top: -25px;
    padding-top: 14px;
  }
}
