.row .col-4 {
  padding-right: calc(var(--bs-gutter-x)/ 4);
  padding-left: calc(var(--bs-gutter-x)/ 4);
}

.row .col-4 img {
  width: 100%;
}

.modal-header .btn-star {
  padding: calc(var(--bs-modal-header-padding-y) * .25) calc(var(--bs-modal-header-padding-x) * .5);
  margin: calc(-1 * var(--bs-modal-header-padding-y)) calc(-.5 * var(--bs-modal-header-padding-x)) calc(-.5 * var(--bs-modal-header-padding-y)) auto;
  font-size: 2rem;
}

.modal-header .btn-close {
  margin-left: 8px;
}
