.row {
  margin-top: calc(var(--bs-gutter-x)/ 2);
  margin-bottom: calc(var(--bs-gutter-x)/ 2);
}

.card-header-auto {
  height: auto;
}

.card-body.attack-menu {
  display: flex;
  flex-grow: 1;
}

.card-body.attack-menu button {
  flex: 1;
}

.card-body table {
  margin:auto;
}

.vlow {
  color: #417dea;
}

.low {
  color: #fd9942;
}

.middle {
  color: #ffa03c;
}

.high {
  color: #dc3f3f;
}

.col-md-4 img {
  width: 100%;
}

.done,
.done-war
.done-bonus,
.receive-normal,
.receive-war {
  color: black;
}

.unavailable-normal,
.unavailable-war,
.unavailable-bonus,
.unavailable-receive-normal,
.unavailable-receive-war {
  color: lightgray;
}

.available-war,
.available-normal,
.available-receive-normal,
.available-receive-war {
  color: olive;
}

.available-bonus {
  color: gold;
}

ew-icon {
  display: inline-block;
}

.revert {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
