.col-xl-6 {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.col-xl-6 .card {
  width:100%;
  margin-top: calc(var(--bs-gutter-x)/ 2);
  margin-bottom: calc(var(--bs-gutter-x)/ 2);
  flex:1;
}

.card-body.no-padding {
  padding: 0px;
}

.card-body.no-padding .frame {
  width: 20%;
  float: left;
  position: relative;
}

.card-body.no-padding .frame img {
  width: 100%;
  border: 1px solid;
  cursor: pointer;
}

.card-body.no-padding .frame div {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 2px;
  right: 8px;
  font-weight: 500;
}
