.col-xl-6 {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.col-xl-6 .card {
  width:100%;
  margin-top: calc(var(--bs-gutter-x)/ 2);
  margin-bottom: calc(var(--bs-gutter-x)/ 2);
  flex:1;
}

.card-header [role="button"]  {
  margin-left:5px;
}

.card-body.no-padding {
  padding: 0px;
}

.card-body.no-padding .frame {
  float: left;
  position: relative;
}

.card-body.no-padding .frame img {
  width: 100%;
  border: 1px solid;
  cursor: pointer;
}

.card-body.no-padding .frame div {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 2px;
  right: 8px;
  font-weight: 500;
}

.card-body.no-padding .frame.frame-10 {
  width: 10%;
}
.card-body.no-padding .frame.frame-20 {
  width: 20%;
}

#successBlock img {
  width: calc(100%/6);
  border: 1px solid;
  cursor: pointer;
}

#templesBlock img.disabled {
  opacity: 0.5;
}

.card-body .progress {
  height: 30px;
  margin-bottom: 12px;
  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7) inset;
  color: white;
}

.card-body .progress .progress-text {
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  position: absolute;
  font-weight: bold;
  right: 0;
  left: 0;
}
