.col-xl-6 {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.col-xl-6 .card {
  width:100%;
  margin-top: calc(var(--bs-gutter-x)/ 2);
  flex:1;
}

.card-body.no-padding {
  padding: 0px;
}

.card-body.no-padding .frame {
  float: left;
  position: relative;
}

.card-body.no-padding .frame img {
  width: 100%;
  border: 1px solid;
  cursor: pointer;
}

.card-body.no-padding .frame div {
  position: absolute;
  text-align: right;
  bottom: 1px;
  right: 1px;
  font-weight: 500;
  border: 1px white solid;
  border-radius: 50%;
  background-image: linear-gradient(var(--color-menu-clear), var(--color-menu-dark));
}

@media (max-width: 575px) {
  .card-body.no-padding .frame.frame-db {
    width: 20%;
    padding: 0.8rem;
  }
}

@media (min-width: 576px) {
  .card-body.no-padding .frame.frame-db {
    width: calc(100%/7);
    padding: 0.8rem;
  }
}

.card-body.no-padding .frame.frame-20 {
  width: 20%;
  padding: 0.8rem;
}

#successBlock {
  display: flex;
}

#successBlock app-ew-icon {
  flex: 1;
  padding: 0.8rem;
}

#templesBlock img.disabled {
  opacity: 0.5;
}

.card-body .progress {
  height: 30px;
  margin-bottom: 12px;
  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7) inset;
  color: white;
  text-shadow: none;
}

.card-body .progress .progress-text {
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  position: absolute;
  font-weight: bold;
  right: 0;
  left: 0;
}

.level-quest {
  background-color: #ffc107;
}

.badge {
  text-shadow: none;
}

.badge.badge-mini {
  font-size: .65em;
}

.favoriteStar {
  position: absolute;
  right: 0;
  font-size: 1.5em;
  top: 0;
}

.favoritePlus > app-ic-icon > svg {
  width: 100%;
  height: inherit;
}

#discord-mobile {
  position: absolute;
  right: 0;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
}
