.row {
  margin-top: calc(var(--bs-gutter-x)/ 2);
  margin-bottom: calc(var(--bs-gutter-x)/ 2);
}
.btn {
  color: white;
}

.card-flex {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1
}

.card-flex button {
  flex: 1;
}

.card-body {
  padding: 0.5rem 0.5rem;
}

.card-body.new {
  background-color: var(--color-menu-clear);
}

.mobile-textarea {
  height: 90px;
}

h2 {
  font-size: 1.5rem;
}
