#options-component {
  margin-top: calc(var(--bs-gutter-x)/ 2);
}

#options-component .card-body:first-child {
  border-top: 1px;
  border-style: solid;
}

#options-component .card-body {
  padding: 0px;
}

.col-logo {
  width: 120px;
  padding: 1rem;
}
