.progress {
  height: 30px;
  margin-bottom: 12px;
  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7) inset;
  color: white;
}

.progress .progress-text {
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  position: absolute;
  font-weight: bold;
  right: 0;
  left: 0;
}

.small-icon {
  width: 20px;
  display: inline-block;
}

.quest-title {
  width: 100%;
  text-align: center;
}

.quest-giveup {
  position: absolute;
  right: 0px;
}
