<app-admin-left-menu></app-admin-left-menu>

<main class="mt-1 mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h2 id="historyDesc" class="text-center" translate>History</h2>
            <table class="table table-sm" aria-labelledby="historyDesc">
              <tbody>
                @for (p of adminUserHistoryList; track p) {
                  <tr>
                    <td>
                      @switch (p.type) {
                        @case (1) {
                          Has blocked {{ p.data.player_username }}
                        }
                        @case (2) {
                          Has unblocked {{ p.data.player_username }}
                        }
                        @case (3) {}
                        @case (4) {}
                        @case (5) {}
                        @case (6) {
                          Looked for user {{ p.data.research }}
                        }
                        @case (7) {
                          Looked for storeroom
                        }
                        @case (8) {
                          Looked for agora
                        }
                        @default {
                          {{ p.type }}-{{ p.data | json }}
                        }
                      }
                    </td>
                    <th scope="row">
                      <a [routerLink]="['/admin/profile/' + p.admin]">
                        {{ p.username }}
                      </a>
                    </th>
                    <td>
                      {{
                        p.time * 1000
                          | date
                            : 'EEEE dd MMMM, HH:mm'
                            : ''
                            : user.getConfig().locale
                      }}
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-main-private-bottom-menu></app-main-private-bottom-menu>
