<app-main-left></app-main-left>

<main class="mt-1 mb-4">
  <div class="container">
    <div class="row">
      <div class="d-flex column-block">
        <div class="column left-column flex-grow-1"></div>
        <div class="card">
          <div class="card-body">
            <h1 class="text-center" translate>Partners</h1>

            <br /><br />
            <p
              [innerHTML]="
                'You want a partnership with Ellas War and see your banner displayed on the site'
                  | translate
              "></p>
            <div class="row">
              <div class="col-md-6 col-12 text-center">
                <img
                  src="assets/ban/banmini.png"
                  alt="{{ 'Ellas War' | translate }}"
                  title="{{ 'Ellas War' | translate }}"
                  class="img-fluid"
                  id="banmini" />
                <br />
                <textarea
                  onClick="this.select();"
                  aria-labelledby="banmini"
                  class="form-control">
&lt;a href="{{ user.config.url }}" target="_blank"&gt;&lt;img src="{{
                    user.config.url
                  }}/banmini.png" alt="{{
                    'Ellas War' | translate
                  }}" /&gt;&lt;/a&gt;</textarea
                >
                <br />
              </div>

              <div class="col-md-6 col-12 text-center">
                <img
                  src="assets/ban/banmini2.gif"
                  alt="{{ 'Ellas War' | translate }}"
                  title="{{ 'Ellas War' | translate }}"
                  class="img-fluid"
                  id="banmini2" />
                <br />
                <textarea
                  onClick="this.select();"
                  aria-labelledby="banmini2"
                  class="form-control">
&lt;a href="{{ user.config.url }}" target="_blank"&gt;&lt;img src="{{
                    user.config.url
                  }}/banmini2.gif" alt="{{
                    'Ellas War' | translate
                  }}" /&gt;&lt;/a&gt;</textarea
                >
                <br />
              </div>

              <div class="col-md-6 col-12 text-center">
                <img
                  src="assets/ban/ban.jpg"
                  alt="{{ 'Ellas War' | translate }}"
                  title="{{ 'Ellas War' | translate }}"
                  class="img-fluid"
                  id="ban" />
                <br />
                <textarea
                  onClick="this.select();"
                  aria-labelledby="ban"
                  class="form-control">
&lt;a href="{{ user.config.url }}" target="_blank"&gt;&lt;img src="{{
                    user.config.url
                  }}/ban.jpg" alt="{{
                    'Ellas War' | translate
                  }}" /&gt;&lt;/a&gt;</textarea
                >
                <br />
              </div>

              <div class="col-md-6 col-12 text-center">
                <img
                  src="assets/ban/ban2.gif"
                  alt="{{ 'Ellas War' | translate }}"
                  title="{{ 'Ellas War' | translate }}"
                  class="img-fluid"
                  id="ban2" />
                <br />
                <textarea
                  onClick="this.select();"
                  aria-labelledby="ban2"
                  class="form-control">
&lt;a href="{{ user.config.url }}" target="_blank"&gt;&lt;img src="{{
                    user.config.url
                  }}/ban2.gif" alt="{{
                    'Ellas War' | translate
                  }}" /&gt;&lt;/a&gt;</textarea
                >
                <br />
              </div>

              <div class="col-md-6 col-12 text-center">
                <img
                  src="assets/ban/ban3.gif"
                  alt="{{ 'Ellas War' | translate }}"
                  title="{{ 'Ellas War' | translate }}"
                  class="img-fluid"
                  id="ban3" />
                <br />
                <textarea
                  onClick="this.select();"
                  aria-labelledby="ban3"
                  class="form-control">
&lt;a href="{{ user.config.url }}" target="_blank"&gt;&lt;img src="{{
                    user.config.url
                  }}/ban3.gif" alt="{{
                    'Ellas War' | translate
                  }}" /&gt;&lt;/a&gt;</textarea
                >
                <br />
              </div>

              <div class="col-md-6 col-12 text-center">
                <img
                  src="assets/ban/ban193x135.png"
                  alt="{{ 'Ellas War' | translate }}"
                  title="{{ 'Ellas War' | translate }}"
                  class="img-fluid"
                  id="ban193x135" />
                <br />
                <textarea
                  onClick="this.select();"
                  aria-labelledby="ban193x135"
                  class="form-control">
&lt;a href="{{ user.config.url }}" target="_blank"&gt;&lt;img src="{{
                    user.config.url
                  }}/ban193x135.png" alt="{{
                    'Ellas War' | translate
                  }}" /&gt;&lt;/a&gt;</textarea
                >
                <br />
              </div>
              <br />
            </div>
          </div>
        </div>
        <div class="column right-column flex-grow-1"></div>
      </div>
    </div>
  </div>
</main>

<app-main-right></app-main-right>
