<div
  class="modal fade"
  id="sanctuaryStrengthUpdate"
  tabindex="-1"
  aria-hidden="true">
  @if (info) {
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ info.sanctuaries_name | translate }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          @if (info.sanctuaries_power >= 0) {
            <strong translate>Energy</strong>
            <strong translate>:</strong>
            <span [ngClass]="{ 'text-danger': info.sanctuaries_power === 0 }">
              {{ info.sanctuaries_power }}
            </span>
            <br />
            <strong translate>Strength</strong>
            <strong translate>:</strong>
            <span [ngClass]="{ 'text-danger': info.sanctuaries_power === 0 }">
              {{ Math.min(100, info.sanctuaries_power) }}%
            </span>
            <br />
          }
          <span translate>
            Each day, the sanctuaries lose 5 points of energy. When its energy
            goes below 100, the defense of the units guarding it will decrease.
          </span>
          <br />
          <span translate>
            To recharge them, you need to pay a fee based on the units defending
            it.
          </span>
          @if (info.sanctuaries_power < 125) {
            <div>
              <br />
              <strong translate>Strengthen your sanctuary</strong>
              <br />
              @for (resource of info.price | keyvalue; track resource) {
                <span>
                  @if (Number(resource.value) > 0) {
                    <span
                      [ngClass]="{
                        'text-danger':
                          Number(resource.value) >
                          user.getPropertyNb(resource.key),
                      }">
                      {{
                        Number(resource.value)
                          | number: '' : this.translate.currentLang
                      }}
                      <app-ew-icon
                        name="{{ resource.key }}"
                        class="small-resource"></app-ew-icon>
                    </span>
                  }
                </span>
              }
            </div>
          }
        </div>
        <div class="modal-body text-center text-danger" translate>
          If your account becomes inactive for more than 30 days, the monster
          will rebel and regain its freedom.
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            translate>
            Close
          </button>
          @if (canUpdate()) {
            <button
              type="button"
              class="btn btn-primary"
              (click)="strengthen()"
              translate>
              Strengthen
            </button>
          }
        </div>
      </div>
    </div>
  }
</div>
