<app-admin-left-menu></app-admin-left-menu>

<main class="mt-1 mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6">
                <h2 translate>General</h2>
                <strong translate>Uptime:</strong>
                {{
                  apiInfo.uptime
                    | number: '1.0-0' : this.translate.getCurrentLang()
                }}s
                <br />
                <strong translate>Date</strong><strong translate>:</strong>
                {{
                  apiInfo.timestamp * 1000
                    | date: 'EEEE dd MMMM, HH:mm' : '' : user.getConfig().locale
                }}
                <br />
                <strong translate>Min version:</strong> {{ apiInfo.min }}
                <br />
                <br />

                <h2 translate>Crons</h2>
                <strong translate>Last honor reset</strong
                ><strong translate>:</strong>
                {{
                  adminStats.honor_last_time * 1000
                    | date: 'EEEE dd MMMM, HH:mm' : '' : user.getConfig().locale
                }}
                <br />
                <strong translate>Last diamond reset</strong
                ><strong translate>:</strong>
                {{
                  adminStats.diamond_last_time * 1000
                    | date: 'EEEE dd MMMM, HH:mm' : '' : user.getConfig().locale
                }}
                <br />

                <strong translate>Last daily reset</strong
                ><strong translate>:</strong>
                {{
                  adminStats.daily_last_time * 1000
                    | date: 'EEEE dd MMMM, HH:mm' : '' : user.getConfig().locale
                }}
                <br />
                <strong translate>Last weekly reset</strong
                ><strong translate>:</strong>
                {{
                  adminStats.weekly_last_time * 1000
                    | date: 'EEEE dd MMMM, HH:mm' : '' : user.getConfig().locale
                }}
                <br />
                <br />
              </div>
              @if (user.getPropertyNb('rank') > 1) {
                <div class="col-12 col-md-6">
                  <h2 id="descTools" translate>Tools</h2>
                  <table class="table table-s" aria-describedby="descTools">
                    <tr>
                      <th translate>Duplicate Emails</th>
                      <td>
                        <a
                          [routerLink]="['/admin/duplicateemail']"
                          class="btn btn-primary bg-primary text-light">
                          <app-ic-icon [icon]="eye"></app-ic-icon>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <th translate>Duplicated IP</th>
                      <td>
                        <a
                          [routerLink]="['/admin/duplicateip']"
                          class="btn btn-primary bg-primary text-light">
                          <app-ic-icon [icon]="eye"></app-ic-icon>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <th translate>Suspicious IP</th>
                      <td>
                        <a
                          [routerLink]="['/admin/suspiciousip']"
                          class="btn btn-primary bg-primary text-light">
                          <app-ic-icon [icon]="eye"></app-ic-icon>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <th translate>Connection attempts</th>
                      <td>
                        <a
                          [routerLink]="['/admin/passwordtry']"
                          class="btn btn-primary bg-primary text-light">
                          <app-ic-icon [icon]="eye"></app-ic-icon>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-main-private-bottom-menu></app-main-private-bottom-menu>
