<app-diplomacy-alliance-create-popup></app-diplomacy-alliance-create-popup>
<app-diplomacy-pact-ask-popup
  [info]="allianceProfile"></app-diplomacy-pact-ask-popup>
<app-alliance-pact-manage-popup
  [info]="allianceProfile"></app-alliance-pact-manage-popup>
<app-diplomacy-alliance-join-popup
  [info]="allianceProfile"></app-diplomacy-alliance-join-popup>
<app-diplomacy-war-declare-popup
  [info]="allianceProfile"></app-diplomacy-war-declare-popup>
<app-diplomacy-invasion-help-popup></app-diplomacy-invasion-help-popup>
<app-diplomacy-alliance-help-popup></app-diplomacy-alliance-help-popup>

<app-main-left></app-main-left>

<main class="mt-1 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            @if (
              user.getDatasAlliance() &&
              user.getDatasAlliance().alliance &&
              user.getPropertyNb('alliance') === 0 &&
              user.getPropertyNb('level') >=
                user.getDatasAlliance().alliance.create
            ) {
              <div class="text-center fw-bold text-danger">
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#AllianceCreate"
                  role="button"
                  translate>
                  Create an alliance
                </a>
                <br />
              </div>
            }
            @if (allianceList.length > 0) {
              <div class="text-center">
                <div>
                  <span translate>Need help to find an alliance?</span>
                  <span
                    data-bs-toggle="modal"
                    data-bs-target="#AllianceHelp"
                    role="button"
                    class="ms-1"
                    title="{{ 'Help' | translate }}"
                    translate>
                    <app-ic-icon [icon]="questionCircle"></app-ic-icon>
                  </span>
                </div>
                <span translate>Join us on Discord</span>&nbsp;
                <a
                  href="{{ environment.discord }}"
                  target="_blank"
                  id="discord"
                  rel="external nofollow noopener"
                  class="btn"
                  role="tab">
                  <app-ic-icon [icon]="discordIcon" role="button"></app-ic-icon>
                </a>
              </div>
            }

            @if (allianceWait.alliance_id > 0) {
              <div class="text-center text-danger">
                <br />
                {{
                  'Waiting in the alliance { value }'
                    | translate: { value: allianceWait.alliance_name }
                }}
                <span
                  (click)="allianceWaitCancel()"
                  role="button"
                  (keyup.enter)="allianceWaitCancel()"
                  tabindex="0">
                  (<span translate>Cancel</span>)
                </span>
                <br />
              </div>
            }

            @if (
              user.getDatasAlliance() &&
              user.getPropertyNb('strategist') > 0 &&
              user.getPropertyNb('alliance') > 0 &&
              user.getPropertyNb('nbmembers') <
                user.getDatasAlliance().war.minmembers
            ) {
              <div class="text-center fw-bold text-danger">
                {{
                  'To start wars, your alliance must have at least { value } members.'
                    | translate
                      : { value: user.getDatasAlliance().war.minmembers }
                }}
                <br />
              </div>
            }
            <div class="visually-hidden" id="allianceListDesc" translate>
              List of the alliances
            </div>
            @if (allianceList.length > 0) {
              <table
                class="table table-striped table-middle align-middle"
                aria-labelledby="allianceListDesc">
                <thead>
                  <tr>
                    <th
                      (click)="allianceListOrder('mbs')"
                      scope="col"
                      class="text-center"
                      role="button">
                      <app-ic-icon [icon]="users"></app-ic-icon>
                    </th>
                    <th
                      (click)="allianceListOrder('name')"
                      scope="col"
                      role="button"
                      translate>
                      Name
                    </th>
                    <th
                      (click)="allianceListOrder('chief')"
                      scope="col"
                      role="button"
                      class="d-none d-sm-table-cell"
                      translate>
                      Chief
                    </th>
                    <th
                      (click)="allianceListOrder('victories')"
                      scope="col"
                      role="button"
                      translate>
                      V
                    </th>
                    <th
                      (click)="allianceListOrder('defeats')"
                      scope="col"
                      role="button"
                      translate>
                      D
                    </th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  @for (alli of allianceList; track alli) {
                    <tr>
                      <td class="text-center">
                        <a
                          class="link"
                          [routerLink]="[
                            '/alliancemembers/' + alli.alliance_id,
                          ]">
                          {{ alli.nbmembers }}
                        </a>
                      </td>
                      <td>
                        <a
                          [routerLink]="[
                            '/allianceprofile/' + alli.alliance_id,
                          ]">
                          {{ alli.alliance_name }}
                        </a>
                        @if (alli.alliance_type > 0) {
                          <span
                            data-bs-toggle="modal"
                            data-bs-target="#InvasionHelp"
                            role="button"
                            title="{{ 'Help' | translate }}"
                            translate>
                            <app-ic-icon [icon]="questionCircle"></app-ic-icon>
                          </span>
                        }
                        <div class="d-block d-sm-none">
                          <a [routerLink]="['/profile/' + alli.chief_id]">
                            {{ alli.username }}
                          </a>
                        </div>
                      </td>
                      <td class="d-none d-sm-table-cell">
                        <a [routerLink]="['/profile/' + alli.chief_id]">
                          {{ alli.username }}
                        </a>
                      </td>
                      <td>
                        {{
                          alli.victories
                            | number: '' : this.translate.getCurrentLang()
                        }}
                      </td>
                      <td>
                        {{
                          alli.defeats
                            | number: '' : this.translate.getCurrentLang()
                        }}
                      </td>
                      <td class="text-center">
                        <a
                          class="btn btn-primary"
                          [routerLink]="[
                            '/alliancemembers/' + alli.alliance_id,
                          ]"
                          title="{{ 'Alliance members:' | translate }} {{
                            alli.alliance_name
                          }}">
                          <app-ic-icon [icon]="users"></app-ic-icon>
                          <span class="visually-hidden">
                            {{ 'Alliance members:' | translate }}
                            {{ alli.alliance_name }}
                          </span>
                        </a>
                        <a
                          class="btn btn-info"
                          [routerLink]="[
                            '/allianceprofile/' + alli.alliance_id,
                          ]"
                          title="{{ 'Alliance profile' | translate }}{{
                            ':' | translate
                          }} {{ alli.alliance_name }}">
                          <app-ic-icon [icon]="fileAlt"></app-ic-icon>
                          <span class="visually-hidden">
                            {{ 'Alliance profile' | translate
                            }}{{ ':' | translate }} {{ alli.alliance_name }}
                          </span>
                        </a>
                        @if (user.getPropertyNb('alliance') === 0) {
                          <a
                            class="btn btn-success"
                            title="{{ 'Join the alliance:' | translate }} {{
                              alli.alliance_name
                            }}"
                            data-bs-toggle="modal"
                            data-bs-target="#AllianceJoin"
                            (click)="setAlliance(alli)"
                            (keyup.enter)="setAlliance(alli)"
                            tabindex="0"
                            [ngClass]="{
                              invisible:
                                alli.recruitement_open === 0 ||
                                alli.alliance_type > 0,
                            }">
                            <app-ic-icon [icon]="userPlus"></app-ic-icon>
                            <span class="visually-hidden">
                              {{ 'Join the alliance:' | translate }}
                              {{ alli.alliance_name }}
                            </span>
                          </a>
                        }
                        @if (user.getPropertyNb('strategist') > 0) {
                          <br class="d-lg-none" />
                        }
                        @if (
                          user.getPropertyNb('strategist') > 0 &&
                          user.getPropertyNb('alliance') > 0 &&
                          alli.pact === 0 &&
                          user.getPropertyNb('alliance') !== alli.alliance_id &&
                          alli.alliance_type === 0
                        ) {
                          <a
                            class="btn btn-success"
                            data-bs-toggle="modal"
                            data-bs-target="#AlliancePactAsk"
                            (click)="setAlliance(alli)"
                            (keyup.enter)="setAlliance(alli)"
                            tabindex="0"
                            title="{{
                              'Request a pact to the alliance:' | translate
                            }} {{ alli.alliance_name }}">
                            <app-ic-icon [icon]="flag"></app-ic-icon>
                            <span class="visually-hidden">
                              {{
                                'Request a pact to the alliance:' | translate
                              }}
                              {{ alli.alliance_name }}
                            </span>
                          </a>
                        }
                        @if (
                          user.getPropertyNb('strategist') > 0 &&
                          user.getPropertyNb('alliance') > 0 &&
                          alli.pact === 1
                        ) {
                          <a
                            class="btn btn-info"
                            data-bs-toggle="modal"
                            data-bs-target="#AlliancePactManage"
                            (click)="setAlliance(alli)"
                            (keyup.enter)="setAlliance(alli)"
                            tabindex="0"
                            title="{{
                              'Cancel a pact request with the alliance:'
                                | translate
                            }} {{ alli.alliance_name }}">
                            <app-ic-icon [icon]="flag"></app-ic-icon>
                            <span class="visually-hidden">
                              {{
                                'Cancel a pact request with the alliance:'
                                  | translate
                              }}
                              {{ alli.alliance_name }}
                            </span>
                          </a>
                        }
                        @if (
                          user.getPropertyNb('strategist') > 0 &&
                          user.getPropertyNb('alliance') > 0 &&
                          alli.pact === 2
                        ) {
                          <a
                            class="btn btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#AlliancePactManage"
                            (click)="setAlliance(alli)"
                            (keyup.enter)="setAlliance(alli)"
                            tabindex="0"
                            title="{{
                              'Accept/Refuse a pact request from the alliance:'
                                | translate
                            }} {{ alli.alliance_name }}">
                            <app-ic-icon [icon]="flag"></app-ic-icon>
                            <span class="visually-hidden">
                              {{
                                'Accept/Refuse a pact request from the alliance:'
                                  | translate
                              }}
                              {{ alli.alliance_name }}
                            </span>
                          </a>
                        }
                        @if (
                          user.getPropertyNb('strategist') > 0 &&
                          user.getPropertyNb('alliance') > 0 &&
                          alli.pact === 3 &&
                          user.getPropertyNb('alliance') !== alli.alliance_id
                        ) {
                          <a
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#AlliancePactManage"
                            (click)="setAlliance(alli)"
                            (keyup.enter)="setAlliance(alli)"
                            tabindex="0"
                            title="{{
                              'Break the pact with the alliance:' | translate
                            }} {{ alli.alliance_name }}">
                            <app-ic-icon [icon]="flag"></app-ic-icon>
                            <span class="visually-hidden">
                              {{
                                'Break the pact with the alliance:' | translate
                              }}
                              {{ alli.alliance_name }}
                            </span>
                          </a>
                        }
                        @if (
                          user.getPropertyNb('strategist') > 0 &&
                          (user.getPropertyNb('alliance') ===
                            alli.alliance_id ||
                            alli.alliance_type > 0)
                        ) {
                          <a
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#AlliancePactAsk"
                            (click)="setAlliance(alli)"
                            (keyup.enter)="setAlliance(alli)"
                            tabindex="0">
                            <app-ic-icon [icon]="flag"></app-ic-icon>
                            <span class="visually-hidden">
                              {{ alli.alliance_name }}
                            </span>
                          </a>
                        }
                        @if (
                          user.getPropertyNb('strategist') > 0 &&
                          user.getPropertyNb('alliance') > 0 &&
                          alli.war === 0
                        ) {
                          <a
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#AllianceWarDeclare"
                            (click)="setAlliance(alli)"
                            (keyup.enter)="setAlliance(alli)"
                            tabindex="0"
                            title="{{
                              'Impossible to declare a war to the alliance:'
                                | translate
                            }} {{ alli.alliance_name }}">
                            <app-ic-icon [icon]="swordIcon"></app-ic-icon>
                            <span class="visually-hidden">
                              {{
                                'Impossible to declare a war to the alliance:'
                                  | translate
                              }}
                              {{ alli.alliance_name }}
                            </span>
                          </a>
                        }
                        @if (
                          user.getPropertyNb('strategist') > 0 &&
                          user.getPropertyNb('alliance') > 0 &&
                          alli.war > 0
                        ) {
                          <a
                            class="btn btn-success"
                            data-bs-toggle="modal"
                            data-bs-target="#AllianceWarDeclare"
                            (click)="setAlliance(alli)"
                            (keyup.enter)="setAlliance(alli)"
                            tabindex="0"
                            title="{{
                              'Declare war to the alliance:' | translate
                            }} {{ alli.alliance_name }}">
                            <app-ic-icon [icon]="swordIcon"></app-ic-icon>
                            <span class="visually-hidden">
                              {{ 'Declare war to the alliance:' | translate }}
                              {{ alli.alliance_name }}
                            </span>
                          </a>
                        }
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            }

            @if (allianceList.length === 0) {
              <div class="text-center" translate>
                There is no alliance available currently
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-main-right></app-main-right>
