div.col-lg-2, div.col-md-2, div.col-sm-3 {
  float:right;
  margin-top: 0.75rem;
}

@media (max-width: 575px) {
  div.col-xs-0 {
    display: none;
  }
}

@media (max-width: 767px) {
  div.col-sm-0 {
    display: none;
  }
}

#infoMenu {
  background: url("../../../assets/img/ornaments/column-bot.png") no-repeat bottom left,
              url("../../../assets/img/ornaments/column-top.png") no-repeat top left,
              url("../../../assets/img/ornaments/column-mid.png") repeat-y bottom left;
  padding-left: 43px;
  margin-top: -2px;
  margin-bottom: 66px;
}

#infoMenu .card .card-header {
  border-radius: 0px;
}

#infoMenu .card {
  background: url("../../../assets/img/backgrounds/stone-background.svg");
  background-clip: content-box;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 0px;
  font-size: 0.9em;
}

#infoMenu .card-body {
  background-image: none;
  border-left: 0px;
  border-right: 0px;
  padding: 0;
}

#infoMenu .card-body.player-info {
  padding: 1rem;
}

#infoMenu .card-body.player-stats .row div.col-6,
#infoMenu .card-body.player-stats .row div.col-12 {
  padding-left: 0px;
  padding-right: 0px;
}

#infoMenu .card-body .p-2 {
  padding:0.4rem 0.3rem !important;
}

.card-button.card-button-primary .btn {
  width: 100%;
  font-weight: bold;
}

#weatherHelp .modal-header id-to-weather[role="button"] {
  flex:1;
  text-align: center;
  font-size: 2em;
}

.flex-grow-1 {
  word-break: break-all;
}

.icon {
  background-color: rgba(250, 250, 250, 0.8);
}

.icon-increase {
  background-color: rgb(68, 157, 68);
}

.icon-decrease {
  background-color: rgba(255, 40, 40, 1);
}

.icon-equal {
  background-color: rgba(220, 220, 220, 0.8);
}
