.mosaic {
  position: fixed;
  bottom: 0px;
  z-index: 1000;
}

.chat-text {
  max-width: 800px;
  width: 100%;
  height: 230px;
  background-color: white;
  position: fixed;
  bottom: 66px;
  right: 0px;
  font-size: 0.9em;
  border-width:1px;
  border-style: solid;
  border-right: 0px;
  z-index: 1000;
}

.chat-shortcut {
  font-size: 1.5em;
}

.chat-players {
  overflow-y: scroll;
}

@media (max-width: 575px) {
  .chat-players {
    border-top: solid var(--color-menu-dark) 1px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  .chat-players .chat-player {
    display: inline-block;
    margin: 0px 0.3em;
    line-height: 1;
    text-align: center;
    vertical-align: initial;
  }
  .chat-players .chat-player a {
    padding: 0.35em;
    font-size: .9em;
    white-space: nowrap;
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: inline-block;
  }
  .chat-players .chat-player a.text-danger {
    border-color: rgba(var(--bs-danger-rgb));
  }
}

@media (min-width: 576px) {
  .chat-players {
    height: 191px;
  }
  .chat-players .chat-player {
    width: 100%;
    float: left;
  }
}

@media (min-width:768px) {
  .bottom-button,
  .chat-button-mobile {
    display: none;
  }
}

@media (max-width:767px) {
  .chat-button {
    display: none;
  }
  
  .chat-text {
    bottom: 129px;
  }
  
  .bottom-button {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-image: linear-gradient(var(--color-menu-clear), var(--color-menu-dark));
    padding: 0;
  }
  
  .bottom-button .menu-5 {
    width: calc(100%/5);
    padding: 4px;
  }
  
  .bottom-button .menu-7 {
    width: calc(100%/7);
    padding: 4px;
  }
  
  .bottom-button a.inactive {
    opacity: 0.75;
  }
}

.chat-text .chat-general,
.chat-text .chat-alliance {
  height: inherit;
  padding-top:2px;
}

.chat-text .chat-general .chat-inner,
.chat-text .chat-alliance .chat-inner {
  overflow-y: auto;
  height: 191px;
}

.chat-text .chat-general .chat-inner > div,
.chat-text .chat-alliance .chat-inner > div{
  padding:2px;
  word-break: break-word;
}

.chat-button {
  position: fixed;
  bottom: 24px;
  right: 0px;
  z-index: 1000;
}

.chat-button-mobile {
  color: black;
  font-size: 2.5em;
  position: fixed;
  bottom: 129px;
  right: 0px;
}

.chat-button .btn {
  font-size: 1.2rem;
}

.row {
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}
