div.col-lg-2, div.col-md-2, div.col-sm-3 {
  float:right;
  margin-top: 0.75rem;
}

@media (max-width: 575px) {
  div.col-xs-0 {
    display: none;
  }
}

.card-button.card-button-primary .btn {
  width: 100%;
  font-weight: bold;
}
