#frame-bottom {
  margin: 0;
}

#frame-bottom nav {
  background: #B62F21;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}


@media (max-width: 575px) {
  #frame-bottom nav {
    padding-bottom: 55px;
  }
}
@media (max-width: 767px) {
  #frame-bottom nav {
    padding-bottom: 40px;
  }
}

#frame-bottom nav a {
  color: rgba(253, 247, 221 ,0.8);
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border: 1px solid rgba(253, 247, 221,0.1);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-menu-dark);
  transition: 0.5s;
}
