<app-common-top-bar active="admin"></app-common-top-bar>

<div class="container-fluid">
  <div class="row">
    <app-admin-left-menu active="actions" class="col-lg-2 col-md-3 col-sm-3"></app-admin-left-menu>
  
    <div class="col-lg-10 col-md-9 col-sm-9 col-12 main">
      <div class="container">
        <div class="row text-center">
          <h1 translate>Run an action</h1>
          
          <select class="form-select" [(ngModel)]="adminActions">
            <option value="" translate>Select an action</option>
            <option value="Diamondrun" translate>Run the diamond</option>
            <option value="HonnorRanking" translate>
              Run the Honnor Ranking
            </option>
            <option value="reinitStatsDaily" translate>
              Reinitialize daily stats
            </option>
            <option value="reinitStatsWeekly" translate>
              Reinitialize weekly stats
            </option>
            <option value="adminAutosell" translate>
              Run the autosell
            </option>
            <option value="questDivideAll" translate>
              Distribute the quests
            </option>
            <option value="adminLog" translate>
              Write a log
            </option>
            <option value="cleanMysql" translate>
              Clean the Database
            </option>
          </select>
          
          <div class="btn btn-primary" (click)="run()">
            Run
          </div>
        </div>
        <div class="row">
          <h1 class="text-center" id="adminActionsStoreroomDesc"
              translate>Auto sell</h1>
          
          <table class="table" aria-labelledby="adminActionsStoreroomDesc">
            <thead>
              <tr>
                <th scope="column"></th>
                <th scope="column" translate>Quantity</th>
                <th scope="column" translate>Price</th>
                <th scope="column" translate>Rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" translate>Food</th>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.food.quantity" /></td>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.food.price" /></td>
                <td>{{adminStoreroom.food.price/adminStoreroom.food.quantity}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Water</th>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.water.quantity" /></td>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.water.price" /></td>
                <td>{{adminStoreroom.water.price/adminStoreroom.water.quantity}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Wood</th>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.wood.quantity" /></td>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.wood.price" /></td>
                <td>{{adminStoreroom.wood.price/adminStoreroom.wood.quantity}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Iron</th>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.iron.quantity" /></td>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.iron.price" /></td>
                <td>{{adminStoreroom.iron.price/adminStoreroom.iron.quantity}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Stone</th>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.stone.quantity" /></td>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.stone.price" /></td>
                <td>{{adminStoreroom.stone.price/adminStoreroom.stone.quantity}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Marble</th>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.marble.quantity" /></td>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.marble.price" /></td>
                <td>{{adminStoreroom.marble.price/adminStoreroom.marble.quantity}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Grapes</th>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.grapes.quantity" /></td>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.grapes.price" /></td>
                <td>{{adminStoreroom.grapes.price/adminStoreroom.grapes.quantity}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Wine</th>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.wine.quantity" /></td>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.wine.price" /></td>
                <td>{{adminStoreroom.wine.price/adminStoreroom.wine.quantity}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Gold</th>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.gold.quantity" /></td>
                <td><input class="form-control" type="number" [attr.min]="0"
                           [(ngModel)]="adminStoreroom.gold.price" /></td>
                <td>{{adminStoreroom.gold.price/adminStoreroom.gold.quantity}}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button class="btn btn-success" (click)="storeroomSave()"
                    translate>Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
