<app-common-top-bar active="admin"></app-common-top-bar>

<div class="container-fluid">
  <div class="row">
    <app-admin-left-menu active="permissions" class="col-lg-2 col-md-3 col-sm-3"></app-admin-left-menu>
  
    <div class="col-lg-10 col-md-9 col-sm-9 col-12 main">
      <div class="container">
        <div class="row">
          <h1 class="text-center" id="historyDescription"
              translate>XP calculation</h1>
          <div class="col-6">
            <strong translate>Attacker</strong>
            <input type="number" class="form-control"
                  [ngModel]="player1" />
          </div>
          <div class="col-6">
            <strong translate>Defender</strong>
            <input type="number" class="form-control"
                  [ngModel]="player2" />
          </div>
          <div class="col-12">
            <table class="table" aria-describedby="xpDescription">
              <tr>
                <th scope="row" translate>Victory</th>
                <td>{{ eloDiff(player1 , player2, 1 )}}</td>
                <td>{{ eloDiff(player1, player2, 0 )}}</td>
              </tr>
              <tr>
                <th scope="row" translate>Defeat</th>
                <td>{{ eloDiff(player2, player1, 1 )}}</td>
                <td>{{ eloDiff(player2 , player1, 0 )}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
