<app-common-top-bar active="404"></app-common-top-bar>

<div class="container-fluid">
  <div class="row">
    <app-admin-left-menu active="actions" class="col-lg-2 col-md-3 col-sm-3"></app-admin-left-menu>
  
    <div class="col-lg-10 col-md-9 col-sm-9 col-12 main">
      <h1 class="text-center" id="warsDescription"
          translate>Wars</h1>
      <table class="table" aria-describedby="warsDescription">
        <thead>
          <tr>
            <th scope="col" translate>Alliances</th>
            <th scope="col" translate>Start</th>
            <th scope="col" translate>Gain</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let war of list">
            <th scope="row">
              <span [ngClass]="{'text-danger': war.win_attacking > war.win_defender}">
                {{ war.attacking }} {{ war.win_attacking }}
              </span>
              -
              <span [ngClass]="{'text-danger': war.win_defender > war.win_attacking}">
                {{ war.win_defender }} {{ war.defender }}
              </span>
            </th>
            <td>{{ war.time*1000| date:'dd/MM/yyyy, HH:mm'}}</td>
            <td class="text-end">
              {{ war.gain | number:'': this.translate.currentLang }}
              <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
