<app-common-top-bar active="admin"></app-common-top-bar>

<div class="modal fade" id="AdminPrayersRequest" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Request a prayer for a player</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group" style="width:100%;">
          <span class="input-group-text" id="ask_target" 
                translate>Player</span>
          <input type="text" class="form-control"
                 [(ngModel)]="request.player">
        </div>
        <div class="input-group" style="width:100%;">
          <span class="input-group-text" id="ask_nb"
                translate>Quantity</span>
          <input type="number" step="1" [(ngModel)]="request.quantity"
                 placeholder="0" class="form-control" />
        </div>
        <select name="ask_type" [(ngModel)]="request.type" class="form-control">
          <option value="1">
            {{10000| number:'': this.translate.currentLang}} {{'Iron'|translate}}
          </option>
          <option value="2">
            {{10000| number:'': this.translate.currentLang}} {{'Wood'|translate}}
          </option>
          <option value="3">
            {{2000| number:'': this.translate.currentLang}} {{'Grapes'|translate}}
          </option>
          <option value="4">
            {{2000| number:'': this.translate.currentLang}} {{'Stone'|translate}}
          </option>
          <option value="5">
            {{250| number:'': this.translate.currentLang}} {{'Marble'|translate}}
          </option>
          <option value="6">
            {{2000| number:'': this.translate.currentLang}} {{'Wine'|translate}}
          </option>
          <option value="7">
            {{2000| number:'': this.translate.currentLang}} {{'Gold'|translate}}
          </option>
          <option value="8">
            1 {{'Favors'|translate}}
          </option>
          <option value="9">
            {{80| number:'': this.translate.currentLang}} {{'Spartans'|translate}}
          </option>
          <option value="10" translate>
            200 units of your third temple
          </option>
          <option value="11" translate>
            6 hours of withdrawal without taxes in your treasure
          </option>
          <option value="12" translate>
            A license to sell in the Agora a forbidden day
          </option>
          <option value="13" translate>
            2 bonus attacks
          </option>
          <option value="14">
            {{20000| number:'': this.translate.currentLang}} {{'Drachmas'|translate}}
          </option>
          <option value="18">
            {{25000| number:'': this.translate.currentLang}} 
            {{'Iron'|translate}}/{{'Wood'|translate}}{{'Food'|translate}}{{'Grapes'|translate}} 
          </option>
          <option value="19">
            {{50000| number:'': this.translate.currentLang}} 
            {{'Iron'|translate}}/{{'Wood'|translate}}{{'Food'|translate}}{{'Grapes'|translate}} 
            {{'and'|translate}} 
            {{1000| number:'': this.translate.currentLang}} {{'Stone'|translate}}
          </option>
          <option value="15">
            {{100000| number:'': this.translate.currentLang}} 
            {{'Iron'|translate}}/{{'Wood'|translate}}{{'Food'|translate}}{{'Grapes'|translate}} 
            {{'and'|translate}} 
            {{1000| number:'': this.translate.currentLang}} {{'Stone'|translate}}/{{'Marble'|translate}}
          </option>
          <option value="16">
            {{500000| number:'': this.translate.currentLang}} {{'Drachmas'|translate}}
          </option>
          <option value="17">
            {{1000000| number:'': this.translate.currentLang}} {{'Drachmas'|translate}}
          </option>
          <option value="20">
            {{5000000| number:'': this.translate.currentLang}} {{'Drachmas'|translate}}
          </option>
          <option value="21">
            {{10000000| number:'': this.translate.currentLang}} {{'Drachmas'|translate}}
          </option>
          <option value="22">
            {{20000000| number:'': this.translate.currentLang}} {{'Drachmas'|translate}}
          </option>
          <option value="23">
            {{10000| number:'': this.translate.currentLang}} {{'Grapes'|translate}}/{{'Marble'|translate}} {{2500| number:'': this.translate.currentLang}} {{'Wine'|translate}}/{{'Gold'|translate}}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                translate>Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                (click)="prayersAsk()"
                translate>Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <app-admin-left-menu active="prayers" class="col-lg-2 col-md-3 col-sm-3"></app-admin-left-menu>
  
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 main">
      <div class="container">
        <div class="row">
          <h2 class="text-center" id="prayersDesc">
            <span translate>Prayers</span>
            <span class="btn btn-primary" role="button" 
                  data-bs-toggle="modal" data-bs-target="#AdminPrayersRequest">
              <ic-icon [icon]="plusIcon"></ic-icon>
            </span>
          </h2>
          
          <table class="table table-middle align-middle" aria-describedby="prayersDesc">
            <thead>
              <th scope="col" translate>Date</th>
              <th scope="col" translate>Applicant</th>
              <th scope="col" translate>Beneficiary</th>
              <th scope="col" translate>Type</th>
              <th scope="col" translate>Quantity</th>
              <th scope="col" translate>Status</th>
              <th scope="col" *ngIf="user.getPropertyNb('rank') > 4"></th>
            </thead>
            <tbody>
              <tr *ngFor="let p of adminPrayersList">
                <td>{{p.ask_date*1000| date:'EEEE dd MMMM, HH:mm'}}</td>
                <td>{{p.ask_username}}</td>
                <td>{{p.dest_username}}</td>
                <td [ngSwitch]="p.divinebonus_id">
                  <span *ngSwitchCase="1">
                    {{10000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'iron'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="2">
                    {{10000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'wood'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="3">
                    {{2000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'grapes'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="4">
                    {{2000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'stone'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="5">
                    {{250| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'marble'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="6">
                    {{2000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'wine'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="7">
                    {{2000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'gold'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="8">
                    {{1| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'favor'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="9">
                    {{80| number:'': this.translate.currentLang}} 
                    <span translate>Spartans</span>
                  </span>
                  <span *ngSwitchCase="10" translate>
                    200 units of your third temple
                  </span>
                  <span *ngSwitchCase="11" translate>
                    6 hours of withdrawal without taxes in your treasure
                  </span>
                  <span *ngSwitchCase="12" translate>
                    A license to sell in the Agora a forbidden day
                  </span>
                  <span *ngSwitchCase="13" translate>
                    2 bonus attacks
                  </span>
                  <span *ngSwitchCase="14">
                    {{20000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="15">
                    {{100000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'iron'"></app-id-to-ress>
                    {{100000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'wood'"></app-id-to-ress>
                    {{100000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'food'"></app-id-to-ress>
                    <br/>
                    {{100000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'grapes'"></app-id-to-ress>
                    {{1000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'stone'"></app-id-to-ress>
                    {{1000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'marble'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="16">
                    {{500000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="17">
                    {{1000000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="18">
                    {{25000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'iron'"></app-id-to-ress>
                    {{25000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'wood'"></app-id-to-ress>
                    {{25000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'food'"></app-id-to-ress>
                    {{25000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'grapes'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="19">
                    {{50000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'iron'"></app-id-to-ress>
                    {{50000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'wood'"></app-id-to-ress>
                    {{50000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'food'"></app-id-to-ress>
                    {{50000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'grapes'"></app-id-to-ress>
                    {{1000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'stone'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="20">
                    {{5000000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="21">
                    {{10000000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="22">
                    {{20000000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
                  </span>
                  <span *ngSwitchCase="23">
                    {{10000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'grapes'"></app-id-to-ress>
                    {{10000| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'marble'"></app-id-to-ress>
                    {{2500| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'wine'"></app-id-to-ress>
                    {{2500| number:'': this.translate.currentLang}} 
                    <app-id-to-ress [ress_id]="'gold'"></app-id-to-ress>
                  </span>
                </td>
                <td class="text-center">{{p.ask_nb}}</td>
                <td>
                  <span [ngSwitch]="p.ask_status">
                    <span *ngSwitchCase="1" translate>Waiting</span>
                    <span *ngSwitchCase="2" translate>Validated</span>
                    <span *ngSwitchCase="3" translate>Refused</span>
                    <span *ngSwitchCase="4" translate>Canceled</span>
                  </span>
                </td>
                <td *ngIf="user.getPropertyNb('rank') > 4">
                  <button class="btn btn-success" (click)="prayersValide(p.divinebonus_ask_id, 2)" 
                          title="{{'Validate'|translate}}" *ngIf="p.ask_status == 1"
                          translate>Validate</button>
                  <button class="btn btn-danger" (click)="prayersValide(p.divinebonus_ask_id, 3)"
                          title="{{'Refuse'|translate}}" *ngIf="p.ask_status == 1"
                          translate>Refuse</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
