<app-common-top-bar active="admin"></app-common-top-bar>

<div class="container-fluid">
  <div class="row">
    <app-admin-left-menu active="storeroom" class="col-lg-2 col-md-3 col-sm-3"></app-admin-left-menu>
  
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 main">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="minRate" translate>Minimum rate</label>
              <input name="minRate" placeholder="{{'Minimum rate'|translate}}" 
                     id="minRate" class="form-control" 
                     value="" type="number" [(ngModel)]="minRate">
              
              <label for="maxRate" translate>Maximum rate</label>
              <input name="maxRate" placeholder="{{'Maximum rate'|translate}}" 
                     id="maxRate" class="form-control" 
                     value="" type="number" [(ngModel)]="maxRate">
              
              <label for="begining" translate>Begining</label>
              <input name="date" placeholder="{{'Begining'|translate}}" 
                     id="begining" class="form-control" type="text"
                     [(ngModel)]="begining">
              <input name="still" id="still" value="still" [(ngModel)]="still"
                     class="form-check-input"
                   ng-true-value="1" ng-false-value="0" type="checkbox"> 
              <strong class="form-check-label"
                      translate for="still">Lots still on sale</strong>
              <br>
              <input name="solded" id="solded" value="solded" [(ngModel)]="solded"
                     class="form-check-input"
                   ng-true-value="1" ng-false-value="0" type="checkbox"> 
              <strong class="form-check-label"
                      translate for="solded">Lots solded</strong>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="resource" translate>Research</label>
              <select [(ngModel)]="resource" name="resource" id="resource"
                      class="form-select">
                <option value="" translate>Toutes les ressources</option>
                <option value="food" translate>Food</option>
                <option value="water" translate>Water</option>
                <option value="wood" translate>Wood</option>
                <option value="iron" translate>Iron</option>
                <option value="stone" translate>Stone</option>
                <option value="marble" translate>Marble</option>
                <option value="grapes" translate>Grapes</option>
                <option value="wine" translate>Wine</option>
                <option value="gold" translate>Gold</option>
                <option value="favor" translate>Favor</option>
              </select>
              
              <label for="players" translate>Players</label>
              <input name="player1" placeholder="{{'Player'|translate}}" id="player1" 
                     class="form-control" value="" type="text"
                     [(ngModel)]="player1">
              <input name="player2" placeholder="{{'Player'|translate}}" id="player2" 
                     class="form-control" value="" type="text"
                     [(ngModel)]="player2">
              
              <label for="sort" translate>Sort by</label>
              <select name="sort" id="sort" class="form-select">
                <option value="depositDate" 
                        translate>Deposit date</option>
                <option selected="selected" value="purchaseDate" 
                        translate>Purchase date</option>
              </select>
            </div>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-primary" translate
                    type="submit" (click)="adminStoreroomList(1)">Research</button>
          </div>
          
          <div class="col-md-12">
            <div *ngIf="msgPageNb > 1">
              <br/>
              <div class="input-group">
                <span class="input-group-text" role="button"
                      (click)="adminStoreroomChange(1)">&lt;&lt;</span>
                <span class="input-group-text" role="button"
                      (click)="adminStoreroomChange(currentPage-1)">&lt;</span>
                <select class="form-select" #mySelect
                        (change)="adminStoreroomChange(mySelect.value)"
                        [ngModel]="currentPage" title="{{'Change page'|translate}}">
                  <option *ngFor="let id of range(1, msgPageNb)"
                          value="{{id}}" translate>Page {{id}}</option>
                </select>
                <span class="input-group-text" role="button"
                      (click)="adminStoreroomChange(currentPage+1)">&gt;</span>
                <span class="input-group-text" role="button"
                      (click)="adminStoreroomChange(msgPageNb)">&gt;&gt;</span>
              </div>
            </div>
            
            <table class="table"
                   [attr.aria-label]="['Store room Administration'|translate]">
              <thead>
                <tr>
                  <th scope="col" translate>Seller</th>
                  <th scope="col" translate>Buyer</th>
                  <th scope="col" translate>Seller IP</th>
                  <th scope="col" translate>Buyer IP</th>
                  <th scope="col" translate>Deposit date</th>
                  <th scope="col" translate>Purchase date</th>
                  <th scope="col" translate>Resource</th>
                  <th scope="col" translate>Quantity</th>
                  <th scope="col" translate>Rate</th>
                  <th scope="col" translate>Price</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lot of list">
                  <td>
                    <a href="adminprofile/{{lot.seller_id}}/connections">{{ lot.m1_username }}</a>
                  </td>
                  <td>
                    <a href="adminprofile/{{lot.buyer_id}}/connections">{{ lot.m2_username }}</a>
                  </td>
                  <td>
                    <a href="adminip/{{lot.deposit_ip}}">{{ lot.deposit_ip }}</a>
                  </td>
                  <td>
                    <a href="adminip/{{lot.purchase_ip}}">{{ lot.purchase_ip }}</a>
                  </td>
                  <td>{{ (lot.return_time-3600*24*7)*1000| date:'dd MMMM, HH:mm'}}</td>
                  <td>{{ lot.purchase_date*1000| date:'dd MMMM, HH:mm'}}</td>
                  <td class="text-center">
                    <app-id-to-ress [ress_id]="lot.resource_id"></app-id-to-ress>
                  </td>
                  <td>{{ lot.quantity | number:'': this.translate.currentLang}}</td>
                  <td>{{ lot.rate }}</td>
                  <td>{{ lot.quantity*lot.rate | number:'': this.translate.currentLang}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
