<app-common-top-bar active="admin"></app-common-top-bar>

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6" 
           *ngFor="let level of levelList">
        <table class="table table-striped table-middle align-middle"
               aria-describedby="QuestNew">
          <thead>
            <tr>
              <th scope="col" translate>Goal</th>
              <th scope="col" translate>Reward</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ng-container *ngFor="let quest of adminQuestList[level]">
                  <app-admin-quests-title [quest]="quest"></app-admin-quests-title>
                  ({{ quest.quest_level }}-{{ quest.quest_levelmax }})
                  <br/>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let p of adminQuestReward[level]">
                  {{ p.reward_quantity | number:'': this.translate.currentLang }}
                  <app-ew-icon name="{{p.reward_ress}}" class="small-icon"></app-ew-icon>
                  ({{ p.reward_level }}-{{ p.reward_levelmax }})
                  <br/>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
