<app-common-top-bar active="404"></app-common-top-bar>

<div class="container-fluid">
  <div class="row">
    <app-admin-left-menu active="actions" class="col-lg-2 col-md-3 col-sm-3"></app-admin-left-menu>
  
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 main">
      <h1 class="text-center" id="pages404Desc" translate>404 pages</h1>
      
      <table class="table" *ngIf="pageList.length > 0"
             aria-labelledby="pages404Desc">
        <thead>
          <tr>
            <th scope="column" translate>Page</th>
            <th scope="column" translate>Occurences</th>
          </tr>
        </thead>
        <tr *ngFor="let page of pageList">
          <td class="text-break">{{ page.url }}</td>
          <td class="text-end">{{ page.nb | number:'': this.translate.currentLang }}</td>
        </tr>
      </table>
      
      <div class="text-center fw-bold" *ngIf="pageList.length === 0">
        <br/>
        <div translate>No 404 page saved</div>
      </div>
    </div>
  </div>
</div>
