<app-common-top-bar active="admin"></app-common-top-bar>

<div class="container-fluid">
  <div class="row">
    <app-admin-left-menu active="chat" class="col-lg-2 col-md-3 col-sm-3"></app-admin-left-menu>
  
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 main">
      <div class="container">
        <div class="row">
          <h2 id="chatDesc" class="text-center" translate>Chat</h2>
          <table class="table table-sm" aria-labelledby="chatDesc">
            <tbody>
              <tr *ngFor="let p of adminChatList">
                <th scope="row">
                  <a [routerLink]="['/admin/profile/'+p.user_id]">
                    {{p.username}}
                  </a>
                </th>
                
                <td [ngClass]="{'text-danger': p.censured == '1'}">
                  {{ p.msg }}
                </td>
                
                <td>
                  {{p.time*1000| date:'dd/MM, HH:mm'}}
                </td>
                
                <td class="center">
                  <button class="btn" (click)="adminChatCensor(p.id)"
                          [ngClass]="{'btn-danger': p.censured === 1, 'btn-primary': p.censured === 0}">
                    <ic-icon *ngIf="p.censured === 0" [icon]="volumeOff"></ic-icon>
                    <ic-icon *ngIf="p.censured === 1" [icon]="volumeMute"></ic-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
