<div id="topMosaic"></div>

<main class="mt-1 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-2">
          <div class="card-body">
            <div class="row mt-2 mb-2">
              <div class="col-12 mb-2">
                <h2 class="text-center" translate>
                  Your account is currently paused
                </h2>
                <br />
                <br />
                <p>
                  {{
                    'You can resume play anytime you want { value } hours before the end of your pause. If you want, you
                  can use a favor to resume play, it will allow you to return earlier on the game.'
                      | translate: { value: user.getPropertyNb('exit_hours') }
                  }}
                </p>

                <div class="text-center my-2">
                  <span translate>End the</span>
                  {{
                    user.getPropertyNb('times') * 1000
                      | date: 'dd/MM/yyyy, HH:mm'
                  }}
                </div>
              </div>
              <div class="col-6 text-center d-grid">
                <div
                  class="btn btn-danger p-2"
                  (click)="user.disconnect()"
                  role="button"
                  (keyup.enter)="user.disconnect()"
                  tabindex="0"
                  translate>
                  Disconnect
                </div>
              </div>
              <div class="col-6 text-center d-grid">
                @if (user.getPropertyNb('freereturn') === 1) {
                  <div
                    class="btn btn-primary p-2"
                    (click)="pauseReturn()"
                    role="button"
                    (keyup.enter)="pauseReturn()"
                    tabindex="0"
                    translate>
                    Return to the game
                  </div>
                } @else if (user.getPropertyNb('favor') > 0) {
                  <div
                    class="btn btn-primary p-2"
                    (click)="pauseReturn()"
                    role="button"
                    (keyup.enter)="pauseReturn()"
                    tabindex="0"
                    translate>
                    Return to the game
                  </div>
                } @else {
                  <div
                    class="btn btn-primary no-android no-ios no-electron p-2"
                    [routerLink]="['/getfavors']"
                    role="button"
                    translate>
                    Get a favor and return to the game
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
