<app-common-top-bar active="allianceprofile"></app-common-top-bar>

<div class="modal fade" id="AllianceJoin" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <app-alliance-join-popup [info]="allianceProfile"></app-alliance-join-popup>
  </div>
</div>

<div class="col-sm-12 col-xs-12 main main-full" role="main"
     [ngClass]="{'col-lg-10 col-md-10 ': user.getPropertyNb('mstatus') == 1}">
  <div class="container main-full">
    <div class="row">
      <div class="col-xs-12">
        <div class="card card-column">
          <div class="card-body">
            <h1 class="text-center" id="allianceProfileDesc">
              {{allianceProfile.alliance_name}}
              
              <button class="btn btn-success" 
                      *ngIf="user.getPropertyNb('level') > 0 && user.getPropertyNb('alliance') == 0"
                      data-bs-toggle="modal" data-bs-target="#AllianceJoin"
                      title="{{'Join the alliance:'|translate}} {{allianceProfile.alliance_name}}"
                      [ngClass]="{'btn-invisible': allianceProfile.recruitement_open == 0}">
                <ic-icon [icon]="userPlus"></ic-icon>
                <span class="visually-hidden">
                  {{'Join the alliance:'|translate}} {{allianceProfile.alliance_name}}
                </span>
              </button>
            </h1>
            <br/>
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <img src="/aprofile/{{allianceProfile.alliance_img}}" 
                     *ngIf="allianceProfile.alliance_img != ''"
                     class="img-responsive center-block"
                     alt="{{allianceProfile.alliance_name}}">
              </div>
              <div class="col-sm-6 col-xs-12">
                <table class="table" aria-labelledby="allianceProfileDesc">
                  <tr>
                    <th class="fw-bold" scope="row"
                        translate>Chief:</th>
                    <td>&nbsp;&nbsp;</td>
                    <td [routerLink]="['/profile/'+allianceProfile.chief_id]">
                      <span role="button">
                        {{allianceProfile.username}}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="fw-bold" scope="row"
                        translate>Founder:</th>
                    <td>&nbsp;&nbsp;</td>
                    <td [routerLink]="['/profile/'+allianceProfile.creator_id]">
                      <span role="button">
                        {{allianceProfile.founder}}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="fw-bold" scope="row"
                        translate>Members:</th>
                    <td>&nbsp;&nbsp;</td>
                    <td>
                      <a [routerLink]="['/alliancemembers/'+allianceProfile.alliance_id]"
                         class="link">
                        {{allianceProfile.nbmembers}}
                        (<span translate>Consult</span>)
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th class="fw-bold" scope="row"
                        translate>Victories:</th>
                    <td>&nbsp;&nbsp;</td>
                    <td><span>{{allianceProfile.victories}}</span></td>
                  </tr>
                  <tr>
                    <th class="fw-bold" scope="row"
                        translate>Defeats:</th>
                    <td>&nbsp;&nbsp;</td>
                    <td><span>{{allianceProfile.defeats}}</span></td>
                  </tr>
                </table>
                <br/><br/>
                <div class="text-justify text-prewrap">
                  {{allianceProfile.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-connected-right-menu *ngIf="user.getPropertyNb('mstatus') == 1"></app-connected-right-menu>
<app-common-bottom-bar></app-common-bottom-bar>
