<app-common-top-bar active="alliancemembers"></app-common-top-bar>

<div class="home-bg home-bg-private">
  <div class="main main-top col-12" [ngClass]="{'col-lg-10 col-md-10': user.getPropertyNb('mstatus') === 1}" role="main">
    <div class="container-sm container-flexible main-full">
      <div class="row">
        <div class="col-12">
          <div class="card card-column">
            <div class="card-body">
              <h1 class="text-center"
                  id="allianceProfileDesc">{{allianceProfile.alliance_name}}</h1>
              
              <br/>
              
              <table class="table table-striped table-middle" aria-labelledby="allianceProfileDesc">
                <thead>
                  <tr class="text-center">
                    <th scope="col"></th>
                    <th scope="col" translate>Level</th>
                    <th scope="col" translate>Rank</th>
                    <th scope="col" translate>XP</th>
                    <th scope="col" class="d-none d-md-table-cell" translate>Victories</th>
                    <th scope="col" translate>Field</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of allianceMembers">
                    <td>
                      <a [ngClass]="{'text-danger': p.membre_status === 3 || p.membre_status === 5,
                                    'text-warning': p.membre_status === 4}"
                        [routerLink]="['/profile/'+p.membre_id]">
                        {{p.username}}<span *ngIf="p.membre_status !== 1">*</span>
                      </a>
                    </td>
                    <td class="text-center">{{p.level}}</td>
                    <td>{{p.rank_name}}</td>
                    <td class="text-end">{{p.xp| number:'': this.translate.currentLang}}</td>
                    <td class="text-end d-none d-md-table-cell">
                      {{p.victory| number:'': this.translate.currentLang}}
                    </td>
                    <td class="text-end">{{p.field| number:'': this.translate.currentLang}}</td>
                  </tr>
                </tbody>
              </table>
              
              <div class="text-center fw-bold">
                <a [routerLink]="['/allianceprofile/'+allianceProfile.alliance_id]"
                  translate>Alliance profile</a>
              </div>
              <br/>
              <div *ngIf="legend.paused === 1 || legend.blocked === 1">
                <strong translate>Legend</strong><strong translate>:</strong>
                <div class="text-danger" translate>The member is blocked</div>
                <div class="text-warning" translate>The member is paused</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-connected-right-menu *ngIf="user.getPropertyNb('mstatus') === 1"></app-connected-right-menu>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
