<common-top-bar active="team"></common-top-bar>

<div class="container main-full">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card card-column">
        <div class="card-body">
          <h2 class="text-center" translate>Connection using an external provider</h2>
          <br/>
          

          <div class="fw-bold text-center" [ngSwitch]="provider">
              <div *ngSwitchCase="'facebook'" translate>Connection using Facebook in progress</div>
              <div *ngSwitchCase="'google'" translate>Connection using Google in progress</div>
              <div *ngSwitchDefault>
                <button class="btn btn-primary" (click)="oauthFB()">
                  <ic-icon [icon]="facebookIcon" class="fs-6"></ic-icon>
                  {{'Login with Facebook'|translate}}
                </button>
                <button class="btn btn-grey">
                  <ic-icon [icon]="googleIcon" class="fs-6"></ic-icon>
                  {{'Login with Google'|translate}}
                </button>
                <br/>
                <br/>
              </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
