<app-common-top-bar active="confidentiality"></app-common-top-bar>

<div class="home-bg container-flexible" role="main">
  <div class="container main-full">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="card card-column">
          <div class="card-body">
            <h1 class="text-center" translate>Privacy policy</h1>
              
            <p translate>
              With the development of new communication tools, it is necessary to pay special attention to the protection of privacy. That is why we are committed to respecting the confidentiality of personal information we collect.
            </p>
            
            <h2 class="text-center"
                translate>Collection of Personal Information</h2>
            
            <strong translate>We collect the following information:</strong>
            
            <ul>
              <li translate>Email address</li>
              <li translate>Location</li>
            </ul>
            
            <p translate>The personal information we collect is collected through forms and through the interactivity between you and our website.</p>
            
            <h3 class="text-center" translate>Forms</h3>
            
            <strong translate>Your personal information are collected through forms, namely:</strong>
            
            <ul>
              <li>
                <a [routerLink]="['/contactus']" ui-sref="contactus"
                   translate>Contact form</a>
              </li>
              <li translate>Profile form</li>
              <li translate>Registration Form</li>
            </ul>
            
            <strong translate>We use the information collected for the following purposes:</strong>
            
            <ul>
              <li translate>Contact Emails</li>
              <li translate>Information</li>
            </ul>
            
            <h3 class="text-center" translate>Log files</h3>
            
            <strong translate>We collect certain information through event files. These are mainly the following information:</strong>
            
            <ul>
              <li translate>Connection logs</li>
              <li translate>IP address</li>
              <li translate>Operating System</li>
              <li translate>Version of the game</li>
              <li translate>Web browser's language</li>
            </ul>
            
            <strong translate>The use of such files allows us:</strong>
            
            <ul>
              <li translate>Improving service</li>
              <li translate>Statistics</li>
            </ul>
            
            <h2 class="text-center" translate>Security</h2>
            
            <p>
              <span translate>
                The personal information we collect is kept in a secure environment. People working for us are obliged to respect the confidentiality of your information.
              </span>
              <br/><br/>
              <strong translate>
                To ensure the security of your personal information, we use the following measures:
              </strong>
            </p>
            
            <ul>
              <li translate>Automated backups</li>
              <li translate>Login/Password
              <li translate>TLS protocol</li>
            </ul>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
