<common-top-bar active="credits"></common-top-bar>

<div class="container">
  <div class="card">
    <div class="card-body">
      <strong translate>Backgrounds</strong><strong translate>:</strong>
      <br/>
      <a href="https://www.vecteezy.com/free-vector/">Vectors by Vecteezy</a>
      <br/>
      
      <strong translate>Icons</strong><strong translate>:</strong>
      <br/>
      <a class="fw-bold" href="https://www.flaticon.com/" title="Flaticon">Flaticon Icons</a><strong translate>:</strong>
      <br/>
      <div>
        Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a>
      </div>
      <div>
        Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a>
      </div>
      <div>
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>
      </div>
      <div>
        Icons made by <a href="" title="Good Ware">Good Ware</a>
      </div>
      <div>
      Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a>
      </div>
      <div>
        Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
      </div>
      <div>
        Icons made by <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
