<common-top-bar active="credits"></common-top-bar>

<div class="container">
  <div class="card">
    <div class="card-body">
      <strong translate>Icons</strong><strong translate>:</strong>
      <br/>
      <strong translate>Imported Icons</strong><strong translate>:</strong>
      <br/>
      <div>
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon.com</a>
      </div>
      
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
