<common-top-bar active="credits"></common-top-bar>

<div class="container main-full" role="main">
  <div class="row">
    <div class="card card-column">
      <div class="card-body">
        <h1 class="text-center" translate>Credits</h1>
        <br/>
        <br/>
        <div class="row">
          <div class="col-6">
            <strong translate>Development</strong><strong translate>:</strong>
            <ul>
              <li>
                <a href="https://paranoiaque.fr" target="_blank"
                   rel="noopener">Mighty</a>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <strong translate>Backgrounds</strong><strong translate>:</strong>
            <ul>
              <li>
                <a href="https://www.vecteezy.com/free-vector/" target="_blank"
                   rel="noopener">{{'{ value } by Vecteezy'| translate:{ value: 'Vectors' } }}</a>
              </li>
              <li>
                <a href="https://www.vecteezy.com/free-vector/white-marble" target="_blank"
                   rel="noopener">{{'{ value } by Vecteezy'| translate:{ value: 'White Marble Vectors' } }}</a>
              </li>
              <li>
                <a href="https://www.vecteezy.com/free-vector/black" target="_blank"
                   rel="noopener">{{'{ value } by Vecteezy'| translate:{ value: 'Black Vectors' } }}</a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <a class="fw-bold" href="https://www.flaticon.com/" title="Flaticon">Flaticon Icons</a><strong translate>:</strong>
          </div>
          <div class="col-6">
            {{'Icons made by'|translate}} <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a>
          </div>
          <div class="col-6">
            {{'Icons made by'|translate}} <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a>
          </div>
          <div class="col-6">
            {{'Icons made by'|translate}} <a href="https://www.freepik.com" title="Freepik">Freepik</a>
          </div>
          <div class="col-6">
            {{'Icons made by'|translate}} <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>
          </div>
          <div class="col-6">
            {{'Icons made by'|translate}} <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a>
          </div>
          <div class="col-6">
            {{'Icons made by'|translate}} <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
          </div>
          <div class="col-6">
            {{'Icons made by'|translate}} <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
