<common-top-bar active="fewwords"></common-top-bar>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center" translate>A few words about Ellas War</h1>
          <br/>
          <h2 class="text-center" translate>Ellas War Presentation</h2>
          <p [innerHTML]="'Ellar War is a free strategy game online browser. The action takes place approximately to -500 during the Golden Age of ancient Greece.'|translate"></p>
          
          <h2 class="text-center" translate>Additional services</h2>
          <p [innerHTML]="'In addition to the site, Ellas War also has a Facebook page and a GitHub repository.'|translate"></p>
          
          <p class="text-center">
            <a href="{{ user.config.fb_page }}"
               target="_blank" rel="noopener">
              <ic-icon [icon]="facebookIcon" class="fs-1"></ic-icon>
            </a>
            &nbsp;
            <a href="https://github.com/V-Paranoiaque/Ellas-War/"
               target="_blank" rel="noopener">
              <ic-icon [icon]="githubOctocat" class="fs-1"></ic-icon>
            </a>
          </p>
          
          <h2 class="text-center" translate>The team of the game</h2>
          <p [innerHTML]="'The Ellas War team is constituted by the administrators from members of the game.'|translate"></p>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
