<common-top-bar active="free-game"></common-top-bar>

<div class="container main-full" role="main">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card card-column">
        <div class="card-body">
          <h1 class="text-center" translate>Ellas War, a free game</h1>
          
          <br/>
          
          <h2 class="text-center" translate>Game Financing</h2>
          
          <div translate>The game is free but the team has to finance its needs. Indeed servers and domain names are not free. For this we have set up a favor system, buying a favor will allow you to help the game and get various benefits. For this we use several payment systems like paypal and Mobiyo.</div>
          <div translate>From the beginning, the game has always managed to self-fund. If you want to help us, the best thing you can do is send the game link to your friends. Our best reward is to know that the site you like.</div>
          
          <br/>
          <br/>
          
          <h2 class="text-center" translate>Functioning of the Favors</h2>
          
          <p translate>When purchasing through the payment system, your account is credited with one or more favors. These will allow you to get bonuses in the game. In order not to disadvantage those who do not take favors, these can be exchanged between players. You can also get favors by inviting friends to sign up on Ellas War via sponsorship or by games regularly held on the facebook page.</p>
          
          <br/>
          <p class="text-center">
            <a href="{{ user.config.fb_page }}"
               title="{{'Follow us on our Facebook Page'|translate}}"
               target="_blank" rel="external nofollow noopener">
              <ic-icon [icon]="facebookIcon" class="fs-1"></ic-icon>
            </a>
            &nbsp;
            <a href="https://github.com/V-Paranoiaque/Ellas-War/"
               title="{{'Access to our GitHub repository'|translate}}"
               target="_blank" rel="external nofollow noopener">
              <ic-icon [icon]="githubOctocat" class="fs-1"></ic-icon>
            </a>
          </p>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
