<common-top-bar active="help"></common-top-bar>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-6 offset-lg-1">
      <div class="card">
        <div class="card-header" translate>
          Contact us
        </div>
        <div class="card-body" translate>
          Contact directly Ellas War staff. The Ellas War team will try to answer you as quickly as possible. For more difficult cases, it meets every Tuesday.
        </div>
        <div class="card-footer card-button card-button-success"
             *ngIf="user.getId() > 0" [routerLink]="['/support']"
             role="button" translate>
          Contact us
        </div>
        <a class="card-footer card-button card-button-success"
             *ngIf="user.getId() == 0" [routerLink]="['/contactus']"
             role="button" translate>
          Contact us
        </a>
      </div>
    </div>   
    <div class="col-12 col-lg-4 col-md-6 offset-lg-2">
      <div class="card">
        <div class="card-header" translate>
          Facebook page
        </div>
        <div class="card-body" translate>
          The Ellas War community is found on the Facebook Page. You can find help and communicate with other players.
        </div>
        <a class="card-footer card-button card-button-success"
           target="_blank" rel="noopener"
           role="button" href="{{ user.config.fb_page }}" translate>
          Facebook page
        </a>
      </div>
    </div>   
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
