<app-common-top-bar active="home"></app-common-top-bar>

<div id="home-home" class="home-bg container-flexible">
  <div class="row">
    <div id="social-media-frame" role="region" 
         *ngIf="environment.mobile === 0 && localevars.facebook"
         attr.aria-label="{{'Follow us on our Facebook Page'|translate}}">
      <div class="column"></div>
      <div class="social">
        <a href="{{ localevars.facebook }}" target="_blank"
           rel="external nofollow noopener">
          <app-ic-icon [icon]="facebookIcon" class="fs-6"></app-ic-icon>
          {{'Follow us'|translate}}
        </a>
        <br/>
        <a href="{{ environment.discord }}" target="_blank"
           rel="external nofollow noopener">
          <app-ic-icon [icon]="discordIcon" class="fs-6"></app-ic-icon>
          {{'Join us'|translate}}
        </a>
      </div>
    </div>
    
    <div id="app-store-frame" *ngIf="environment.mobile === 0"
         role="region" attr.aria-label="{{'Links to the App stores'|translate}}">
      <div class="column"></div>
      <div class="apps">
        <a *ngIf="localevars.store.amazon" target="_blank"
           rel="external nofollow noopener"
           href="{{ localevars.store.amazon }}"
           title="{{'Download on Amazon Appstore'|translate}}">
          <img [src]="'assets/i18n/'+translate.currentLang+'/amazon-appstore-badge.png'"
               alt="{{'Download on Amazon Appstore'|translate}}">
        </a>
        <a *ngIf="localevars.store.microsoft" target="_blank"
           rel="external nofollow noopener"
           href="{{ localevars.store.microsoft }}"
           title="{{'Download on the Microsoft Store'|translate}}">
          <img [src]="'assets/i18n/'+translate.currentLang+'/microsoft-appstore-badge.png'"
               alt="{{'Download on the Microsoft Store'|translate}}">
        </a>
        <a *ngIf="localevars.store.snap" target="_blank"
           rel="external nofollow noopener"
           href="{{ localevars.store.snap }}"
           title="{{'Get it from the Snap Store'|translate}}">
          <img [src]="'assets/i18n/'+translate.currentLang+'/snap-store-black.svg'"
               alt="{{'Get it from the Snap Store'|translate}}" />
        </a>
        <a *ngIf="localevars.store.google" target="_blank"
           rel="external nofollow noopener"
           href="{{ localevars.store.google }}"
           title="{{'Download on Google Play'|translate}}">
          <img [src]="'assets/i18n/'+translate.currentLang+'/google-play-badge.png'"
               alt="{{'Download on Google Play'|translate}}">
        </a>
        <a *ngIf="localevars.store.pling" target="_blank"
           rel="external nofollow noopener"
           href="{{ localevars.store.pling }}"
           title="{{'Download on Pling'|translate}}">
          <img [src]="'assets/img/ban/pling.png'"
               alt="{{'Download on Pling'|translate}}">
        </a>
      </div>
    </div>
    
    <div class="main-card" role="main"
         attr.aria-label="{{'Main content of the page'|translate}}">
      <div class="column left-column"></div>
      <div class="card">
        <div class="card-body card-body-zero d-flex">
          <h1 class="btn"
              [ngClass]="{'btn-success': menu === 0,
                          'btn-transparent fw-bold': menu === 1}"
              (click)="setMenu(1)"
              translate>Connect</h1>
          <h1 class="btn"
              [ngClass]="{'btn-transparent fw-bold': menu === 0,
                          'btn-red': menu === 1}"
              (click)="setMenu(0)"
              translate>Register</h1>
        </div>
        <div class="card-body text-center" *ngIf="menu === 0">
          <div [ngSwitch]="rerror" class="text-danger text-center fw-bold" *ngIf="rerror > 0">
            <div *ngSwitchCase="1" translate>
              Please, enter your username
            </div>
            <div *ngSwitchCase="2" translate>
              Please, enter your password
            </div>
            <div *ngSwitchCase="3" translate>
              Enter your email
            </div>
            <div *ngSwitchCase="4" translate>
              Your username must be at least 6 characters.
            </div>
            <div *ngSwitchCase="5" translate>
              Your password must be at least 8 characters.
            </div>
            <div *ngSwitchCase="6" translate>
              Enter your email
            </div>
            <div *ngSwitchCase="7" translate>
              This username is already used
            </div>
            <div *ngSwitchCase="8" translate>
              This email is already used
            </div>
            <br/>
          </div>
          <form method="POST" action="/register" 
                [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
            <fieldset>
              <legend class="visually-hidden" translate>Register on the game</legend>
              
              <label class="fw-bold" for="server-re" translate>Server</label>
              <select class="mb-2 form-select" name="server"
                      id="server-re" formControlName="server"
                      [attr.aria-label]="['Select the server you want to play on'|translate]"
                      (change)="selectServerRegister()">
                <option value="fr" translate>French</option>
                <option value="en" translate>English</option>
                <option value="dev" translate>Development (International)</option>
              </select>
              
              <label id="username-re-label" class="fw-bold" for="username-re"
                     translate>Username</label>
              <input type="text" name="username" placeholder="{{'Username'|translate}}"
                     class="mb-2 form-control" formControlName="username"
                     aria-labelledby="username-re-label" id="username-re" required/>
              
              <label id="email-re-label" class="fw-bold" for="email-re"
                     translate>Email</label>
              <input type="email" name="email" placeholder="{{'Email address'|translate}}"
                     class="mb-2 form-control" formControlName="email"
                     aria-labelledby="email-re-label" id="email-re" required />
              
              <label id="password-re-label" class="fw-bold" for="password-re"
                     translate>Password</label>
              <input type="password" name="password" placeholder="{{'Password'|translate}}"
                     class="mb-4 form-control" formControlName="password"
                     aria-labelledby="password-re-label" id="password-re" required/>
               
              <button class="btn btn-success mb-2" type="submit"
                      translate>Register</button>
            </fieldset>
            <div class="text-center">
              <a [routerLink]="['/lostpassword']"
                 title="{{'Request a new password'|translate}}"
                 [attr.aria-label]="['Forgot your password?'|translate]"
                 translate>Forgot your password?</a>
            </div>
          </form>
        </div>
        <div class="card-body text-center" *ngIf="menu === 1">
          <form method="POST" action="/login" 
                [formGroup]="loginForm" (ngSubmit)="onSubmitConnect(loginForm.value)">
            <fieldset>
              <legend class="visually-hidden" translate>Login to the game</legend>
              
              <label class="fw-bold" for="server-re" translate>Server</label>
              <select class="mb-2 form-select" name="server"
                      id="server-re" formControlName="server"
                      [attr.aria-label]="['Select the server you want to play on'|translate]"
                      (change)="selectServerLogin()">
                <option value="fr" translate>French</option>
                <option value="en" translate>English</option>
                <option value="dev" translate>Development (International)</option>
              </select>
              
              <label id="username-label" class="fw-bold" for="username"
                     translate>Username</label>
              <input class="form-control mb-2" type="text" id="username"
                     placeholder="{{'Login'|translate}}" name="username" 
                     formControlName="username" aria-labelledby="username-label"
                     required="required" />
              
              <label id="password-label" class="fw-bold" for="password"
                     translate>Password</label>
              <input class="form-control mb-4" type="password" id="password"
                     placeholder="{{'Password'|translate}}" name="password" 
                     formControlName="password" aria-labelledby="password-label"
                     required="required" />
              
              <div class="text-center mb-2">
                <input type="hidden" formControlName="mobile" name="mobile" />
                <button class="btn btn-success btn-primary mb-2" type="submit" 
                        translate>Connect</button>
              </div>
            </fieldset>
            <div class="text-center">
              <a [routerLink]="['/lostpassword']"
                 title="{{'Request a new password'|translate}}"
                 [attr.aria-label]="['Forgot your password?'|translate]"
                 translate>Forgot your password?</a>
            </div>
          </form>
        </div>
        <div id="social-buttons" class="card-body card-body-zero">
          <div class="row">
            <div class="col-6 half-right d-none">
              <button class="btn btn-primary" (click)="user.oauthFB()">
                <app-ic-icon [icon]="facebookIcon" class="fs-6"></app-ic-icon>
                {{'Login with Facebook'|translate}}
              </button>
            </div>
            <div class="col-12 text-center">
              <button class="btn btn-grey" (click)="user.oauthGoogle()">
                <app-ic-icon [icon]="googleIcon" class="fs-6"></app-ic-icon>
                {{'Login with Google'|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="column right-column"></div>
    </div>
  </div>
  <div class="row" role="navigation"
       [attr.aria-label]="['Discover the Game'|translate]">
    <div class="card">
      <div class="card-body card-body-zero d-flex">
        <a class="btn btn-red btn-lg flex-fill"
           [routerLink]="['/discoverthegame']"
           translate>Discover the Game</a>
      </div>
    </div>
  </div>
</div>

<div id="home-discover">
  <div class="container">
    <div class="card card-column">
      <div class="card-body">
        <div class="row">
          <div class="col-12" id="img-heracles-hydra" role="navigation"
               [attr.aria-label]="['Links to discover the game'|translate]">
            <div class="row">
              <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
                <a [routerLink]="['/discoverthegame/temples']"
                   class="btn-link" translate>
                  Adorate →
                </a>
              </div>
              <div class="col-12 col-md-3 card-body-zero">
                <div class="card">
                  <div class="card-body">
                    <p [innerHTML]="'Venerate the gods by'|translate"></p>
                  </div>
                </div>
              </div>
              
              <div class="col-12 col-md-6 card-body-zero d-flex flex-column align-items-center justify-content-center">
                <a [routerLink]="['/discoverthegame/attack']"
                   class="btn-link" translate>
                  Ellas War, fighting for glory! →
                </a>
              </div>
              
              <div class="col-12 col-md-3 card-body-zero">
                <div class="card">
                  <div class="card-body">
                    <p [innerHTML]="'Do stocks through your purse or spend any to improve'|translate"></p>
                  </div>
                </div>
              </div>
              
              <div class="col-12 col-md-3 d-flex align-items-center justify-content-center">
                <a [routerLink]="['/discoverthegame/army']"
                   class="btn-link" translate>
                  Fight →
                </a>
              </div>
              
              <div class="col-12 col-md-6 card-body-zero d-flex">
                <div class="card">
                  <div class="card-body d-flex align-items-center ">
                    <p [innerHTML]="'Explore Ancient Greece on Ellas-War. Start the development of'|translate"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--  News -->
          <div class="col-12">
            <div class="row" role="region"
                 attr.aria-label="{{'Links to the game news'|translate}}">
              <div *ngFor="let news of newsList; let i = index"
                   class="col-md-3 col-6 card-news order-3 card-body-zero d-flex"
                   [ngClass]="{'d-none d-md-flex': i >= 2}">
                <div class="card card-{{i}}">
                  <div class="card-body">
                    <a href="{{news.link}}" target="_blank"
                       rel="external nofollow noopener">
                      <h3>{{news.title}}</h3>
                      <p class="text-center">{{news.news_date*1000| date:'dd/MM/yyyy'}}</p>
                      <span class="text-center fs-1">→</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--  Links -->
          <div class="col-6 d-flex order-4 card-body-zero" role="region"
               attr.aria-label="{{'Link to the Facebook Page'|translate}}">
            <a class="btn btn-primary btn-lg fs-3 p-2 flex-grow-1"
               href="{{ localevars.facebook }}" target="_blank"
               rel="external nofollow noopener">
              <app-ic-icon [icon]="facebookIcon" class="fs-2"></app-ic-icon>
              {{'Facebook page'|translate}}
            </a>
          </div>
          
          <div class="col-6 d-flex order-5 d-flex card-body-zero" role="navigation"
               [attr.aria-label]="['Contact the Ellas War Team'|translate]">
            <a class="btn btn-success btn-lg fs-3 d-flex align-items-center justify-content-center"
               [attr.aria-label]="['Contact us'|translate]" title="{{'Contact us'|translate}}"
               [routerLink]="['/contactus']">
              <span translate>Contact us</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
