<app-common-top-bar active="register"></app-common-top-bar>

<div class="home-bg container-flexible">
  <div class="container text-center main-full" role="main">
    <div class="row">
      <div class="card card-column">
        <div class="card-body">
          <h1 id="honnorDesc" translate>Honnor ranking</h1>
          <p>
            <span translate>Every week, the player with the most honor earns a reward.</span>&nbsp;<span 
                  translate>The honor is reset every Sunday morning at midnight.</span>
            <span *ngIf="id > 0">
              <br/>
              <span>{{'Reward for the level { value }:'|translate: { value: id } }}</span>&nbsp;<span 
                    class="fw-bold">{{user.getDatas().honnor.rewards[id]}}&nbsp;<app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress></span>
            </span>
          </p>
          
          <nav [attr.aria-label]="['Select a level to display its honnor ranking'|translate]">
            <button class="btn btn-primary d-inline d-sm-none"
                    role="button" [ngClass]="{'active': id === 0}"
                    [routerLink]="['/honnor']" translate>
              Global ranking
            </button>
            <ul class="pagination justify-content-center">
              <li class="page-item d-none d-sm-block" [ngClass]="{'active': id == 0}">
                <a class="page-link" [routerLink]="['/honnor']">#</a>
              </li>
              <li *ngFor="let j of levels; let i = index" class="page-item"
                  [ngClass]="{'active': id === (i+1)}">
                <a class="page-link" [routerLink]="['/honnor/'+(i+1)]"
                   rel="nofollow">{{ i + 1 }}</a>
              </li>
            </ul>
          </nav>

          <div *ngIf="list.length === 0"
               class="text-center" translate>This ranking is empty</div>
          
          <table class="table table-striped table-middle" aria-describedby="honnorDesc"
                 *ngIf="list.length > 0">
            <thead>
              <tr>
                <th scope="col" translate>Player</th>
                <th scope="col" translate *ngIf="id === 10">XP</th>
                <th scope="col" class="d-none d-sm-table-cell" translate>Field</th>
                <th scope="col" class="d-none d-sm-table-cell" translate>Victories</th>
                <th scope="col" translate>Honnor</th>
            </thead>
            <tbody>
              <tr *ngFor="let p of list">
                <td class="text-start">
                  <a [routerLink]="['/profile/'+p.membre_id]">
                    {{p.username}}
                  </a>
                </td>
                <td *ngIf="id === 10">{{p.xp}}</td>
                <td class="d-none d-sm-table-cell">{{p.field | number:'': this.translate.currentLang}}</td>
                <td class="d-none d-sm-table-cell">{{p.victory | number:'': this.translate.currentLang}}</td>
                <td>{{p.honnor | number:'': this.translate.currentLang}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
