<common-top-bar active="lostpassword"></common-top-bar>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card">
        <div class="card-body text-center">
          <h1 translate>Forgot your password</h1>
          
          <p translate>Enter your username or email address and your new password will be sent to your email address. It will only be active after confirmation.</p>
          <br/>
          
          <div *ngIf="lostpasswordError > 0">
            <div class="fw-bold text-danger" [ngSwitch]="lostpasswordError">
                <div *ngSwitchCase="1" translate>This account does not exist</div>
                <div *ngSwitchCase="2" translate>A new password has just been sent to you by email, this one will only be active after validation.</div>
                <div *ngSwitchCase="3" translate>This account has no email address</div>
                <div *ngSwitchCase="4" translate>Enter your username or email address</div>
            </div>
            
            <br/>
          </div>
          
          <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="lostvalue" 
                     placeholder="{{'Username or email'|translate}}"/>
              <span class="input-group-text btn btn-primary" role="button"
                    (click)="lostpassword()" translate>Send</span>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
