<common-top-bar active="news"></common-top-bar>

<h1 class="text-center" id="newsTitle" translate="">News</h1>

<div class="container">
  <div class="row">
    <div class="text-center fw-bold" translate=""
         *ngIf="getNews().length == 0">
      <br/>
      There is no news published for the moment
    </div>
    
    <table class="table table-responsive" aria-describedby="newsTitle"
           *ngIf="getNews().length > 0">
      <thead>
        <tr>
          <th scope="col" translate="">Title</th>
          <th scope="col" translate="">Author</th>
          <th scope="col" translate="">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of getNews()">
          <td>
            <a href="{{ n.link }}" target="_blank">{{ n.title}}</a>
          </td>
          <td>{{ n.author}}</td>
          <td>{{ n.news_date * 1000 | date:'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-bottom-bar></app-bottom-bar>
