<common-top-bar active="news"></common-top-bar>

<div class="container main-full" role="main">
  <div class="row">
    <div class="col-12">
      <div class="card card-column">
        <div class="card-body">
          <h1 class="text-center" id="newsTitle" translate>News</h1>
          
          <div *ngIf="getNews().length == 0" class="text-center fw-bold" translate>
            <br/>
            There is no news published for the moment
          </div>
          
          <table class="table table-responsive" aria-describedby="newsTitle"
                 *ngIf="getNews().length > 0">
            <thead>
              <tr>
                <th scope="col" translate>Title</th>
                <th scope="col" translate>Author</th>
                <th scope="col" translate>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of getNews()">
                <td>
                  <a href="{{ n.link }}" target="_blank"
                     rel="external nofollow">{{ n.title}}</a>
                </td>
                <td>{{ n.author}}</td>
                <td>{{ n.news_date * 1000 | date:'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
