<common-top-bar active="partners"></common-top-bar>

<div class="container main-full">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card card-column">
        <div class="card-body">
          <h1 class="text-center" translate>Partners</h1>
          
          <br/><br/>
          <p [innerHTML]="'You want a partnership with Ellas War and see your banner displayed on the site'|translate"></p>
          <div class="row">
            <div class="col-md-6 col-12 text-center">
              <img src="assets/img/ban/banmini.png" alt="{{'Ellas War'|translate}}" 
                   title="{{'Ellas War'|translate}}" class="img-responsive">
              <br/>
              <textarea onClick="this.select();"
                        class="form-control">&lt;a href="{{user.config.url}}" target="_blank"&gt;&lt;img src="{{user.config.url}}/banmini.png" alt="{{'Ellas War'|translate}}" /&gt;&lt;/a&gt;</textarea>
              <br/>
            </div>
            
            <div class="col-md-6 col-12 text-center">
              <img src="assets/img/ban/banmini2.gif" alt="{{'Ellas War'|translate}}" 
                   title="{{'Ellas War'|translate}}" class="img-responsive">
              <br/>
              <textarea onClick="this.select();"
                        class="form-control">&lt;a href="{{user.config.url}}" target="_blank"&gt;&lt;img src="{{user.config.url}}/banmini2.gif" alt="{{'Ellas War'|translate}}" /&gt;&lt;/a&gt;</textarea>
              <br/>
            </div>
            
            <div class="col-md-6 col-12 text-center">
              <img src="assets/img/ban/ban.jpg" alt="{{'Ellas War'|translate}}" 
                   title="{{'Ellas War'|translate}}"  class="img-responsive">
              <br/>
              <textarea onClick="this.select();"
                        class="form-control">&lt;a href="{{user.config.url}}" target="_blank"&gt;&lt;img src="{{user.config.url}}/ban.jpg" alt="{{'Ellas War'|translate}}" /&gt;&lt;/a&gt;</textarea>
              <br/>
            </div>
            
            <div class="col-md-6 col-12 text-center">
              <img src="assets/img/ban/ban2.gif" alt="{{'Ellas War'|translate}}" 
                   title="{{'Ellas War'|translate}}" class="img-responsive">
              <br/>
              <textarea onClick="this.select();"
                        class="form-control">&lt;a href="{{user.config.url}}" target="_blank"&gt;&lt;img src="{{user.config.url}}/ban2.gif" alt="{{'Ellas War'|translate}}" /&gt;&lt;/a&gt;</textarea>
              <br/>
            </div>
            
            <div class="col-md-6 col-12 text-center">
              <img src="assets/img/ban/ban3.gif" alt="{{'Ellas War'|translate}}" 
                   title="{{'Ellas War'|translate}}" class="img-responsive">
              <br/>
              <textarea onClick="this.select();"
                        class="form-control">&lt;a href="{{user.config.url}}" target="_blank"&gt;&lt;img src="{{user.config.url}}/ban3.gif" alt="{{'Ellas War'|translate}}" /&gt;&lt;/a&gt;</textarea>
              <br/>
            </div>
            
            <div class="col-md-6 col-12 text-center">
              <img src="assets/img/ban/ban193x135.png" alt="{{'Ellas War'|translate}}" 
                   title="{{'Ellas War'|translate}}" class="img-responsive">
              <br/>
              <textarea onClick="this.select();"
                        class="form-control">&lt;a href="{{user.config.url}}" target="_blank"&gt;&lt;img src="{{user.config.url}}/ban193x135.png" alt="{{'Ellas War'|translate}}" /&gt;&lt;/a&gt;</textarea>
              <br/>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
