<app-common-top-bar active="permalink"></app-common-top-bar>

<div class="home-bg container-flexible" role="main">
  <div class="container main-full">
    <div class="row">
      <div class="card card-column col-12">
        <div class="card-body">
          <h2 class="text-center">
            <app-messages-title [msg]="getCurrentMsg()"></app-messages-title>
          </h2>
          <div *ngFor="let msg of getCurrentMsg().msg"  class="text-center">
            <app-messages-content [msg]="msg" [full]="getCurrentMsg()"></app-messages-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
