<app-common-top-bar active="profile"></app-common-top-bar>

<div class="modal fade" id="MsgNew" tabindex="-1" aria-hidden="true">
  <app-messages-popup></app-messages-popup>
</div>

<div class="modal fade" id="AccountInformation" tabindex="-1" aria-hidden="true">
  <app-options-account-information-popup></app-options-account-information-popup>
</div>

<div class="container main-full" role="main">
  <div class="row">
    <div class="card card-column col-12">
      <div class="card-body text-center" *ngIf="!profile.username">
        <br/>
        <span translate>This account does not exist</span>
        <br/>
        <br/>
      </div>
      <div class="card-body" *ngIf="profile.username">
        <h1 class="text-center">
          {{ profile.username }}
          
          <button class="btn btn-success"
                  *ngIf="user.getId() === profile.membre_id"
                  data-bs-toggle="modal" data-bs-target="#AccountInformation"
                  title="{{'Change account information'| translate}}">
            <ic-icon [icon]="userCircle"></ic-icon>
          </button>
          <button class="btn btn-primary"
                  *ngIf="user.getPropertyNb('mstatus') === 1"
                  data-bs-toggle="modal" data-bs-target="#MsgNew"
                  title="{{'Write a new message'| translate}}">
            <ic-icon [icon]="brushIcon"></ic-icon>
          </button>
          <a [routerLink]="['/admin/profile/'+profile.membre_id]"
             *ngIf="user.getPropertyNb('rank') > 1"
             class="btn btn-danger">
            <ic-icon [icon]="userShield"></ic-icon>
          </a>
        </h1>
        <br/>
        <br/>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-6 col-12">
            <img src="{{ user.getConfig().url }}/pprofile/{{profile.membre_img}}" class="img-fluid center-block"
                 alt="{{profile.username}}" *ngIf="profile.membre_img">
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <strong translate>Level</strong><strong translate>:</strong>
            {{profile.level}}
            <br/>
            
            <strong translate>XP</strong><strong translate>:</strong>
            {{profile.xp| number:'': this.translate.currentLang}}
            <br/>
            
            <strong translate>Victories</strong><strong translate>:</strong>
            {{profile.victory| number:'': this.translate.currentLang}}
            <br/>
            
            <strong translate>Field</strong><strong translate>:</strong>
            {{profile.field| number:'': this.translate.currentLang}}
            <br/>
            
            <strong translate>Feats of Strength</strong><strong translate>:</strong>
            {{profile.featsofstrength| number:'': this.translate.currentLang}}
            <br/>
            
            <div *ngIf="profile.alliance > 0">
              <strong>{{'Alliance'|translate}}{{':'|translate}}</strong> 
              <a [routerLink]="['/allianceprofile/'+profile.alliance]">{{profile.alliance_name}}</a>
              <div *ngIf="profile.rank_name !== ''">
                <strong translate>Rank</strong><strong translate>:</strong> {{profile.rank_name}}
              </div>
            </div>
            
            <div *ngIf="profile.location !== ''">
              <strong translate>Location</strong><strong translate>:</strong>
              {{profile.location}}
            </div>
            <div *ngIf="profile.inscription > 0">
              <strong translate>Register date</strong><strong translate>:</strong>
              {{profile.inscription*1000| date:'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="col-8 col-12">
            <br/><br/>
            
            <div class="text-justify text-prewrap">{{profile.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
