<app-common-top-bar active="rankingplayers"></app-common-top-bar>

<div class="modal fade" id="RankingplayersHelpPopup" tabindex="-1" aria-hidden="true">
  <app-rankingplayers-help-popup></app-rankingplayers-help-popup>
</div>

<div class="home-bg container-flexible" role="main">
  <div class="container main-full">
    <div class="row">
      <div class="card card-column">
        <div class="card-body">
          <h1 class="text-center" id="rankingDesc">
            <span translate>Player Ranking</span>
            <app-ic-icon  role="button" [icon]="questionCircle" class="fs-3"
                          data-bs-toggle="modal" data-bs-target="#RankingplayersHelpPopup"></app-ic-icon>
          </h1>
          <table class="table table-striped table-middle align-middle"
                 aria-labelledby="rankingDesc" role="grid">
            <thead>
              <tr class="text-center">
                <th scope="col"></th>
                <th scope="col" (click)="rankingChooseOrder('player')">
                  <span role="button" translate>Player</span>
                  <app-ic-icon role="button" [icon]="sortUP"
                           title="{{'Current order'|translate}}"
                           *ngIf="rankingOrder === 'player'"></app-ic-icon>
                </th>
                <th scope="col" (click)="rankingChooseOrder('level')" class="d-none d-sm-table-cell">
                  <span role="button" translate>Level</span>
                  <app-ic-icon role="button" [icon]="sortUP"
                           title="{{'Current order'|translate}}"
                           *ngIf="rankingOrder === 'level'"></app-ic-icon>
                </th>
                <th scope="col" (click)="rankingChooseOrder('xp')">
                  <span role="button" translate>XP</span>
                  <app-ic-icon role="button" [icon]="sortUP"
                           title="{{'Current order'|translate}}"
                           *ngIf="rankingOrder === 'xp'"></app-ic-icon>
                </th>
                <th scope="col" (click)="rankingChooseOrder('victory')">
                  <span role="button" translate>Victories</span>
                  <app-ic-icon role="button" [icon]="sortUP"
                           title="{{'Current order'|translate}}"
                           *ngIf="rankingOrder === 'victory'"></app-ic-icon>
                </th>
                <th scope="col" (click)="rankingChooseOrder('field')"
                    class="d-none d-sm-table-cell">
                  <span role="button" translate>Field</span>
                  <app-ic-icon role="button" [icon]="sortUP"
                           title="{{'Current order'|translate}}"
                           *ngIf="rankingOrder === 'field'"></app-ic-icon>
                </th>
                <th scope="col" (click)="rankingChooseOrder('honnor')"
                    class="d-none d-sm-table-cell">
                  <span role="button" translate>Honnor</span>
                  <app-ic-icon role="button" [icon]="sortUP"
                           title="{{'Current order'|translate}}"
                           *ngIf="rankingOrder === 'honnor'"></app-ic-icon>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of rankingList">
                <td>
                    {{p.ranking}}
                </td>
                <td>
                  <a [routerLink]="['/profile/'+p.membre_id]">
                    {{p.username}}
                  </a>
                </td>
                <td class="d-none d-sm-table-cell text-center">{{p.level}}</td>
                <td class="text-end">{{p.xp| number:'': this.translate.currentLang}}</td>
                <td class="text-end">{{p.victory| number:'': this.translate.currentLang}}</td>
                <td class="d-none d-sm-table-cell text-end">{{p.field| number:'': this.translate.currentLang}}</td>
                <td class="d-none d-sm-table-cell text-end">{{p.honnor| number:'': this.translate.currentLang}}</td>
              </tr>
            </tbody>
          </table>
        
          <div *ngIf="rankingMax > 1">
            <br/>
            <div class="input-group">
              <span class="input-group-text" role="button"
                    (click)="rankingPageChange(1)">&lt;&lt;</span>
              <span class="input-group-text" role="button"
                    (click)="rankingPageChange(rankingPage-1)">&lt;</span>
              <select class="form-select" #mySelect
                      (change)="rankingPageChange(parseInt(mySelect.value))"
                      [ngModel]="rankingPage" title="{{'Change page'|translate}}">
                <option *ngFor="let id of Tools.range(1, rankingMax)"
                        value="{{id}}" translate>Page {{id}}</option>
              </select>
              <span class="input-group-text" role="button"
                    (click)="rankingPageChange(rankingPage+1)">&gt;</span>
              <span class="input-group-text" role="button"
                    (click)="rankingPageChange(rankingMax)">&gt;&gt;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-common-bottom-bar></app-common-bottom-bar>
