<common-top-bar active="register"></common-top-bar>

<div class="container text-center">
  <form method="POST" action="/register" 
        [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <input type="text" name="username" placeholder="Username"
           class="form-control" formControlName="username" required/>
    <input type="email" name="email" placeholder="Email"
           class="form-control" formControlName="email" required />
    <input type="password" name="password" placeholder="Password"
           class="form-control" formControlName="password" required/>
    <br/>
    <button class="btn btn-success" type="submit" translate>Connect</button>
  </form>
</div>

<common-bottom-bar></common-bottom-bar>
