<common-top-bar active="sitemap"></common-top-bar>

<div class="text-center">
  <h1 translate>Site map</h1>
</div>

<br/>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a [routerLink]="['/']"
         translate>Home</a>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a [routerLink]="['/news']"
         translate>News</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a [routerLink]="['/discoverthegame']"
         translate>Discover the game</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="strategy-game" ui-sref="strategy-game" 
         translate>Set up your strategy</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="free-game" ui-sref="free-game" 
         translate>Ellas War, a free game</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="/rankingplayers/1" 
         ui-sref="rankingplayers({ page: 1, order: 'level' })" 
         translate>Player Ranking</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="/rankingalliances" ui-sref="rankingalliances" 
         translate>Alliance Ranking</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="honnor" ui-sref="honnor" 
         translate>Honnor ranking</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a [routerLink]="['/credits']"
         translate>Credits</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="team" ui-sref="team" 
         translate>Ellas War team</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="teamrecruitment" ui-sref="teamrecruitment" 
         translate>Ellas War Staff recruitment</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="community" ui-sref="community" 
         translate>Community</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="fewwords" ui-sref="fewwords" 
         translate>A few words about Ellas War</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="connectedplayers" ui-sref="connectedplayers" 
         translate>Connected players</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="lostpassword" ui-sref="lostpassword" 
         translate>Forgot your password</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="teamspeak" ui-sref="teamspeak" 
         translate>Teamspeak Server</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="partners" ui-sref="partners" 
         translate>Ellas War Partners</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="tandcs" ui-sref="tandcs" 
         translate>Terms and Conditions of use</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="confidentiality" ui-sref="confidentiality" 
         translate>Privacy policy</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="help" ui-sref="help" 
         translate>Help</a>
    </div>
    
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <a href="contactus" ui-sref="contactus" 
         translate>Contact us</a>
    </div>
  </div>
</div>

<app-bottom-bar></app-bottom-bar>
