<common-top-bar active="sitemap"></common-top-bar>

<div class="container main-full">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/']"
               translate>Home</a>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/news']"
               translate>News</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/discoverthegame']"
               translate>Discover the game</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/strategy-game']" 
               translate>Set up your strategy</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/free-game']" 
               translate>Ellas War, a free game</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/rankingplayers']"
               translate>Player Ranking</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/rankingalliances']" 
               translate>Alliance Ranking</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/honnor']" 
               translate>Honnor ranking</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/credits']"
               translate>Credits</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/team']" 
               translate>Ellas War team</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/teamrecruitment']" 
               translate>Ellas War Staff recruitment</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/community']" 
               translate>Community</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/fewwords']" 
               translate>A few words about Ellas War</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/connectedplayers']" 
               translate>Connected players</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/lostpassword']" 
               translate>Forgot your password</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/partners']" 
               translate>Ellas War Partners</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/tandcs']" 
               translate>Terms and Conditions of use</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/confidentiality']"
               translate>Privacy policy</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/help']" 
               translate>Help</a>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <a [routerLink]="['/contactus']"
               translate>Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
