<common-top-bar active="tandcs"></common-top-bar>

<div class="container main-full">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card card-column">
        <div class="card-body">
          <h1 class="text-center" translate>Terms and Conditions of use</h1>
            
          <br/><br/>
          
          <strong>1 <span translate>Application domain</span></strong>
          <br/>
          1.1. <span [innerHTML]="'The following conditions regulate the use of Ellas War and all services related to the website edited by'|translate"></span>
          <br/>
          1.2. <span translate>These terms of use may be updated without notice.</span>
          <br/>
          1.3. <span translate>The ‪Ellas War Services are solely intended for the entertainment purposes of consumers. It is prohibited to use them for the purpose of making a gainful profit. Exceptions to this require the express, prior written consent of ‪Ellas War.</span>
          <br/>
          1.4. <span translate>The user is responsible for the up-to-dateness and suitability of the software and hardware used by him, particularly for the purpose of using any new releases or other updates of the ‪Ellas War Services.</span>
          <br/>
          1.5. <span translate>In addition to the conditions of use, apply the playing rules in effect on the different game servers and services of Ellas War.</span>
          
          <br/><br/>
          
          <strong>2 <span translate>Conclusion of contract</span></strong><br/>
          2.1. <span translate>In order to use the Ellas War Services the user must be registered.</span>
          <br/>
          2.2. <span translate>Users must be individual natural persons (groups, families, life partners etc. not permitted). Registration must be completed personally. Registration via third parties is not permitted.</span>
          <br/>
          2.3. <span translate>During the registration process the user is required to enter certain data such as a player name and an email address registered in his name. The user has no entitlement to be assigned a particular player name. The player name may not infringe any third-party rights or any relevant legal regulations nor may it offend public decency. The user is expressly responsible in this respect. It is likewise not permitted to use an email or internet address as a player name. The information provided by the user when registering must be fully truthful and complete. The user is obliged to continually update the information provided when registering.</span>
          <br/>
          2.4. <span translate>The user account is not transferable without the express approval of Ellas War of staff.</span>
          <br/>
          2.5. <span translate>The user may register only once per server. If blocked off for use banishment hole, the player can recreate an account.</span>
          
          <br/><br/>
          
          <strong>3 <span translate>User's general obligations</span></strong>
          <br/>
          3.1. <span translate>The user is obliged to update their personal data in case of change.</span>
          <br/>
          3.2. <span translate>The user is obliged to keep his log-in data secret at all times. In particular the user is obliged to only use his log-in data within the ‪Ellas War Services and to protect it from unauthorized third-party access.</span>
          <br/>
          3.3. <span translate>In the event that the user has any reason to suspect that a third party has or could have gained unauthorized use of this data, he must promptly inform ‪Ellas War and change his data or arrange for it to be changed by ‪Ellas War. If in doubt, Ellas War team reserves the right to block any account without notice.</span>
          <br/>
          3.4. <span translate>The user shall in no case allowed to log into the account of another player unless specific authorization.</span>
          <br/>
          3.5. <span translate>Any Content posted on the site Ellas War is the property of the Ellas War team. The reuse of these items can be made without notice.</span>
          <br/>
          3.6. <span translate>The user is duty bound to desist from anything that could jeopardize or interfere with the ‪Ellas War Services and he may not access data which he is not entitled to access.</span>
          <br/>
          3.7. <span translate>Each use of the pages of Ellas War website for commercial purposes, including advertising, require prior express written consent of the Ellas War team.</span>
          <br/>
          3.8. <span [innerHTML]="'Using Ellas War and any related services, through services ensuring anonymity in order to eliminate real user IP address'|translate"></span>
          
          <br/><br/>
          
          <strong>4 <span translate>Special conditions for the use of the online games</span></strong>
          <br/>
          4.1. <span translate>An user can owning only one account. The use of several user accounts is not allowed. Such multi-user accounts can be deleted or blocked at any time without notice.</span>
          <br/>
          4.2. <span translate>The user is prohibited from manipulating the online game in any way. The user is not entitled, in particular, to employ any measures, mechanisms or software that could interfere with the functionality or the course of the game. The user is prohibited from any actions which could result in an unreasonable or excessive load on the technical capacities. The user is not permitted to block, overwrite or modify the content generated by ‪Ellas War or to otherwise interfere with the online game.</span>
          <br/>
          <br/>
          <strong>5 <span translate>Special conditions for the use of communications facilities</span></strong><br/>
          5.1. <span translate>The user alone bears the responsibility of content and contributions added by him and undertakes to do in any case personally responsible for claims by third parties against Ellas War. Ellas War does not expressly made his content inserted by users. The user, however, grants Ellas War sustainable, irrevocable and non-exclusive use of content and contributions inserted by him. In addition, each user has the right to denounce the presumed illegal content. Ellas War then react promptly denounced and content will be edited if necessary or deleted.</span><br/>
          5.2. <span translate>The user is prohibited from publishing or disseminating content within the ‪Ellas War Services, if this</span><br/>
            <ol type="a">
              <li translate>violates the applicable law or is unethical;</li>
              <li translate>infringes trademarks, patents, copyright, other industrial property rights, business secrets or other third-party rights;</li>
              <li translate>is obscene, racist, glorifies violence, is pornographic or liable to corrupt the young or otherwise endanger or impair the development of children and young people;</li>
              <li translate>is insulting, harassing, libelous in character or is otherwise prejudicial to an individual's rights of personality;</li>
              <li translate>contains chain letters or pyramid schemes;</li>
              <li translate>creates the false impression of being provided by or supported by ‪Ellas War;</li>
              <li translate>contains the personal data of third parties who have not consented to its inclusion;</li>
              <li translate>is commercial in character, particularly having an advertising effect.</li>
            </ol>
          5.3. <span translate>All users of communication possibilities made available to undertake to retain an acceptable verbal mode. Denigrating and demeaning attacks against individuals are not allowed. The language used must be the official language of the current site.</span><br/>
          5.4. <span translate>Regardless of other rights under these terms of use, Ellas War team reserves the right to ban a user without notice.</span><br/>
          5.5. <span translate>Ellas War will not be liable for damages resulting from a breach of the obligations to the user.</span><br/><br/>
          
          <strong>6 <span translate>Remuneration of Use</span></strong><br/>
          6.1. <span translate>To the extent that it was not expressly provided otherwise, the use of Ellas War and other service <a href="free-game" ui-sref="free-game">is free</a>.</span>
          <br/>
          6.2. <span translate>The user may, however, acquire a fee, certain advantages on Ellas War.</span>
          <br/>
          6.3. <span translate>If a minor user wants to use a paid service, it will ensure that the financial means to him were given for the payment of the accessory entitlement to compensation by his legal representative for this purpose, or to make a free use.</span>
          <br/>
          6.4. <span translate>The user guarantees that all information provided by him under a payment process is complete and true.</span>
          <br/>
          6.5. <span translate>The payment options vary according to each online game, respectively, of the country of the participant and technically feasible payment options. Ellas War reserves the right to modify at any time the payment terms. The consequences of these Payment may be changed without notice.</span>
          
          <br/><br/>
          
          <strong>7 <span translate>Disclaimer</span></strong><br/>
          7.1. <span translate>The user will be directly and personally responsible for the violation of rights of third parties being responsible for the antagonism towards them. The user undertakes to indemnify Ellas War of all losses resulting from breach of its obligations under these terms of use. User is obliged to be personally responsible for all claims which could invoke other users or third parties against Ellas War, due to the violation of their rights as a result of the contents inserted by the user or due to violation of other obligations. The user shall bear the necessary expenses incurred by Ellas War in defense of its rights, including legal expenses and attorney fees. This provision does not apply if the infringement is not attributable to the user.</span>
          <br/>
          7.2 <span translate>In the event of data loss, Ellas War is committed to making the necessary to restore service and compensate the players in virtual money.</span>
          <br/>
          7.3. <span translate>Applies the law in force in France and in the Union Europeene.</span>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
