<common-top-bar active="team"></common-top-bar>

<div class="container main-full">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card card-column">
        <div class="card-body">
          <h2 class="text-center" translate>Ellas War team</h2>
          <br/>
          <p [innerHTML]="'If you think you have the qualities required to'|translate"></p>
          <div class="text-center" itemscope>
            <strong translate>Administrator</strong><strong translate>:</strong> 
            <span itemprop="name">Mighty</span>
            <br/>
            <strong translate>High priest</strong><strong translate>:</strong> Topgun
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
