<common-top-bar active="teamrecruitment"></common-top-bar>

<div class="container main-full" role="main">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card card-column">
        <div class="card-body">
          <h1 class="text-center" translate>Ellas War Staff recruitment</h1>
          
          <br/>
          
          <div [innerHTML]="'Ellas War is rapidly evolving'|translate"></div>
          
          <br/>
          <p class="text-center">
            <a href="{{ user.config.fb_page }}"
               title="{{'Follow us on our Facebook Page'|translate}}"
               target="_blank" rel="external nofollow noopener">
              <ic-icon [icon]="facebookIcon" class="fs-1"></ic-icon>
            </a>
            &nbsp;
            <a href="https://github.com/V-Paranoiaque/Ellas-War/"
               title="{{'Access to our GitHub repository'|translate}}"
               target="_blank" rel="external nofollow noopener">
              <ic-icon [icon]="githubOctocat" class="fs-1"></ic-icon>
            </a>
          </p>
          <br/>
          
          <div translate>
            We are also looking for people with technical or artistic skills. The tasks are many and all people of goodwill are appreciated.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<common-bottom-bar></common-bottom-bar>
