<div class="col-12 main-full" role="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-column">
          <div class="card-body">
            <div [ngSwitch]="unsubscribeResult.error">
              <div *ngSwitchCase="1" translate>
                This account does not exist
              </div>
              <div *ngSwitchCase="2" translate>
                This account has already been unsubscribed from the game
              </div>
              <div *ngSwitchCase="3" translate>
                The validation code is invalid
              </div>
              <div *ngSwitchCase="4">
                <div translate>If you confirm your unsubscription, your account will be blocked soon.</div>
                <br/>
                <button class="btn btn-success" (click)="unsubscribeConfirm()"
                        translate>Confirm</button>
                <br/><br/>
              </div>
              <div *ngSwitchCase="5" translate>
                Your request to unsubscribe has been taken into account, your account will soon be deactivated.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
