<app-messages-popup></app-messages-popup>

<app-main-left></app-main-left>

<div class="modal fade" id="MsgSetRead" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Set all messages as read</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          translate>
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="setAllRead()"
          data-bs-dismiss="modal"
          translate>
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteMultipleMsg" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Delete all the selected messages</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          translate>
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="messageDeleteMultiple()"
          translate>
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteMsg" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Delete the selected messages</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          translate>
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="messageDelete()"
          translate>
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="MessageReport" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" translate>Report the message</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          @if (reported === 0) {
            <span translate>
              Are you sure that you want to signal this message?</span
            >
          } @else {
            <span class="text-danger" translate
              >The message has been reported, we will check it shortly</span
            >
          }
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            translate>
            Close
          </button>
          @if (reported === 0) {
            <button
              type="button"
              class="btn btn-primary"
              (click)="report()"
              translate>
              Confirm
            </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<main class="mb-4">
  <div class="container">
    <div class="row mt-1">
      <div class="col-xl-6 mb-sm-2 mb-xl-0">
        <div class="card mb-2">
          <div class="d-flex justify-content-center">
            <button
              class="btn btn-primary d-inline d-lg-none flex-grow-1 design-background"
              (click)="messageLoad(dummyMsg)"
              data-bs-toggle="modal"
              data-bs-target="#MsgNew"
              title="{{ 'Write a new message' | translate }}">
              <app-ic-icon [icon]="brushIcon"></app-ic-icon>
            </button>
            <button
              class="btn btn-primary d-none d-lg-inline flex-grow-1 design-background"
              (click)="messageLoad(dummyMsg)"
              title="{{ 'Write a new message' | translate }}">
              <app-ic-icon [icon]="brushIcon"></app-ic-icon>
            </button>
            @if (user.getNewMsg() > 0) {
              <button
                class="btn btn-primary flex-grow-1 design-background"
                (click)="switchMessageMode()"
                title="{{ 'Display only the new messages' | translate }}">
                <app-ic-icon [icon]="envelopeFill"></app-ic-icon>
              </button>
            }
            <button
              class="btn btn-primary flex-grow-1 design-background"
              data-bs-toggle="modal"
              title="{{ 'Set all messages as read' | translate }}"
              data-bs-target="#MsgSetRead">
              <app-ic-icon [icon]="envelopeSlashFill"></app-ic-icon>
            </button>
            <button
              class="btn btn-primary flex-grow-1 design-background"
              (click)="switchDeleteMode()"
              title="{{ 'Switch to delete mode' | translate }}">
              <app-ic-icon [icon]="trashIcon"></app-ic-icon>
            </button>
            <button
              [ngClass]="{ 'd-none': getDeleteMode() === 0 }"
              title="{{ 'Delete all the selected messages' | translate }}"
              class="btn btn-primary flex-grow-1 design-background"
              data-bs-toggle="modal"
              data-bs-target="#DeleteMultipleMsg">
              <app-ic-icon [icon]="trash2Icon"></app-ic-icon>
            </button>
          </div>
        </div>
        <div class="card">
          <div
            class="card-body"
            [ngClass]="{ 'no-bottom': getMsgPageNb() > 1 }">
            @if (msgSent > 0) {
              <div class="alert alert-success d-lg-none" translate>
                Message sent
              </div>
            }
            @if (getMsgList().length === 0) {
              <div class="text-center mt-2 mb-2" translate>
                Your message box is empty
              </div>
            }
            @if (categoryList.length > 1) {
              <div class="input-group mb-2">
                @if (msgPrivateNb > 0) {
                  <button
                    class="input-group-text btn btn-warning"
                    (click)="selectPlayerMessages()"
                    tabindex="0"
                    (keyup.enter)="selectPlayerMessages()"
                    title="{{
                      'Display only the new private messages' | translate
                    }}">
                    <app-ic-icon [icon]="envelopeFill"></app-ic-icon>
                  </button>
                }
                <select
                  class="form-select"
                  (change)="setPage(1)"
                  [(ngModel)]="currentCategory">
                  <option value="0" translate>All the messages</option>
                  @if (categoryList.includes(2)) {
                    <option value="2" translate>Private messages</option>
                  }
                  @if (categoryList.includes(3)) {
                    <option value="3" translate>Alliance</option>
                  }
                  @if (categoryList.includes(4)) {
                    <option value="4" translate>Attacks</option>
                  }
                  @if (categoryList.includes(1)) {
                    <option value="1" translate>Spying</option>
                  }
                  @if (categoryList.includes(5)) {
                    <option value="5" translate>Weather incidents</option>
                  }
                  @if (categoryList.includes(6)) {
                    <option value="6" translate>Agora</option>
                  }
                  @if (categoryList.includes(7)) {
                    <option value="7" translate>Sanctuaries</option>
                  }
                  @if (categoryList.includes(8)) {
                    <option value="8" translate>Game messages</option>
                  }
                  @if (categoryList.includes(9)) {
                    <option value="9" translate>Others</option>
                  }
                </select>
              </div>
            }
            @for (msg of getMsgList(); track msg) {
              <div
                class="d-flex bd-highlight"
                [ngClass]="{
                  selected: msg.msg_id === getCurrentMsg().msg_id,
                  new: msg.msg_read === 0,
                }"
                role="button"
                (click)="messageLoad(msg)"
                (keyup.enter)="messageLoad(msg)"
                tabindex="0">
                @if (getDeleteMode() === 1) {
                  <div class="p-2 bd-highlight border-top d-flex">
                    <input
                      type="checkbox"
                      [checked]="msg.isChecked"
                      [(ngModel)]="msg.isChecked" />
                  </div>
                }
                <div class="p-2 flex-grow-1 bd-highlight border-top">
                  <app-messages-title [msg]="msg"></app-messages-title>
                  <div class="fw-lighter">
                    {{ msg.last_date | date: 'dd/MM/yyyy, HH:mm' }}
                  </div>
                </div>
                <div class="p-2 bd-highlight border-top">
                  @for (u of msg.mb_list; track u) {
                    <div>
                      @if (msg.msg_type === 0) {
                        <a [routerLink]="['/profile', u.id]">{{
                          u.username
                        }}</a>
                      }
                      @if (msg.msg_type > 0) {
                        <i>{{ u.username }}</i>
                      }
                    </div>
                  }
                </div>
              </div>
            }
          </div>
        </div>

        @if (getMsgPageNb() > 1) {
          <div class="input-group">
            <span
              class="input-group-text"
              role="button"
              (click)="setPage(1)"
              (keyup.enter)="setPage(1)"
              tabindex="0"
              >&lt;&lt;</span
            >
            <span
              class="input-group-text"
              role="button"
              (click)="setPage(currentPage, -1)"
              (keyup.enter)="setPage(currentPage, -1)"
              tabindex="0"
              >&lt;</span
            >
            <select
              class="form-select"
              (change)="pageLoad($event)"
              [(ngModel)]="currentPage">
              @for (
                item of [].constructor(getMsgPageNb());
                track item;
                let i = $index
              ) {
                <option value="{{ i + 1 }}" translate>Page {{ i + 1 }}</option>
              }
            </select>
            <span
              class="input-group-text"
              role="button"
              (click)="setPage(currentPage, 1)"
              (keyup.enter)="setPage(currentPage, 1)"
              tabindex="0"
              >&gt;</span
            >
            <span
              class="input-group-text"
              role="button"
              (click)="setPage(getMsgPageNb())"
              (keyup.enter)="setPage(getMsgPageNb())"
              tabindex="0"
              >&gt;&gt;</span
            >
          </div>
        }
      </div>

      @if (getCurrentMsg().msg_id > 0) {
        <div class="col-xl-6 text-center">
          <div class="card card-normal card-msg" id="msgBlock">
            <div class="card-body">
              <h2>
                <app-messages-title
                  [msg]="getCurrentMsg()"></app-messages-title>
                &nbsp;
                <button class="btn btn-primary" (click)="shareMsg()">
                  <app-ic-icon [icon]="share"></app-ic-icon>
                </button>
                @if (user.getPropertyNb('mstatus') > 0) {
                  <button
                    class="btn btn-warning text-white"
                    data-bs-toggle="modal"
                    data-bs-target="#MessageReport"
                    title="{{ 'Report the message' | translate }}">
                    <app-ic-icon [icon]="triangleExclamation"></app-ic-icon>
                  </button>
                }
                <button
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#DeleteMsg">
                  <app-ic-icon [icon]="trashIcon"></app-ic-icon>
                </button>
              </h2>
            </div>
            @if (getCurrentMsg().msg_shared === 1) {
              <div class="card-body text-center">
                @if (linkSaved === 1) {
                  <div class="wg-bold text-danger" translate>
                    Link saved to clipboard
                  </div>
                }
                <strong translate>Share link:</strong>
                {{ getCurrentMsg().url }}/permalink/{{ getCurrentMsg().msg_id }}
                <span
                  class="badge bg-primary"
                  role="button"
                  (click)="copyLink()"
                  [cbContent]="
                    getCurrentMsg().url + '/permalink/' + getCurrentMsg().msg_id
                  "
                  (keyup.enter)="copyLink()"
                  tabindex="0"
                  ngxClipboard>
                  <app-ic-icon [icon]="clipboardCheck"></app-ic-icon>
                </span>
              </div>
            }
            @if (getCurrentMsg().msg_type === 0) {
              <div class="card-body">
                <div class="input-group">
                  <textarea
                    class="form-control"
                    placeholder="{{ 'Message' | translate }}"
                    [(ngModel)]="answerText"></textarea>
                  <span
                    class="input-group-addon btn btn-primary"
                    (click)="answer()"
                    (keyup.enter)="answer()"
                    tabindex="0"
                    translate
                    >Send</span
                  >
                </div>
              </div>
            }
            @for (msg of getCurrentMsg().msg; track msg) {
              <div class="card-body">
                <app-messages-content
                  [msg]="msg"
                  [full]="getCurrentMsg()"></app-messages-content>
              </div>
            }
          </div>
        </div>
      }

      @if (getCurrentMsg().msg_id === 0) {
        <div class="col-xl-6 text-center d-none d-lg-flex flex-grow-1">
          <div class="card card-normal d-flex flex-grow-1">
            <div class="card-body d-flex flex-column">
              @if (msgSent > 0) {
                <div class="alert alert-success" translate>Message sent</div>
              }
              @if (getDestList().length > 0) {
                <div class="mb-2">
                  @for (user of getDestList(); track user) {
                    <span class="badge bg-primary">
                      {{ user.username }}
                      <app-ic-icon
                        [icon]="xIcon"
                        role="button"
                        (click)="removeDest(user.id)"></app-ic-icon>
                    </span>
                  }
                </div>
              }
              <div class="input-group mb-2">
                <span class="input-group-text" translate>To: </span>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Player"
                  placeholder="{{ 'Player' | translate }}"
                  [(ngModel)]="msgToUser"
                  (keydown.enter)="addDestGUi(msgToUser)" />
                <span
                  class="input-group-text text-center"
                  role="button"
                  (click)="addDestGUi(msgToUser)"
                  (keyup.enter)="addDestGUi(msgToUser)"
                  tabindex="0">
                  <app-ic-icon [icon]="plusIcon"></app-ic-icon>
                </span>
              </div>
              @if (addDestError > 0) {
                <div class="alert alert-danger" translate>
                  This player doesn't exist
                </div>
              }
              @if (addDestError === 0 && noDestError > 0) {
                <div class="alert alert-danger" translate>
                  You must add a recipient
                </div>
              }
              @if (textError === 1) {
                <div class="alert alert-danger" translate>
                  Your message or its title is empty
                </div>
              }
              <input
                type="text"
                class="form-control"
                placeholder="{{ 'Title' | translate }}"
                [(ngModel)]="msgTitle" />
              <div class="input-group d-flex flex-grow-1 mt-2">
                <textarea
                  class="form-control"
                  placeholder="{{ 'Message' | translate }}"
                  [(ngModel)]="msgText"></textarea>
                <span
                  class="input-group-addon btn btn-primary d-flex align-items-center"
                  role="button"
                  (click)="send()"
                  (keyup.enter)="send()"
                  tabindex="0">
                  <span translate>Send</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</main>

<app-main-right></app-main-right>
