a {
  text-decoration: none;
}
a.no-padding {
  padding: 0;
}

.text-justify {
  text-align: justify;
}

.invisible {
  opacity: 0;
}

.main {
  float: left;
  padding-bottom: 40px;
}

@media (max-width: 575px) {
  .main {
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .main {
    padding-bottom: 80px;
  }
}

.main-full.container .card {
  margin-top: calc(var(--bs-gutter-x)/ 2);
  margin-bottom: calc(var(--bs-gutter-x)/ 2);
}

/*** Cards **/
.card-header, .card-button, .card-footer {
  text-align: center;
  padding: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset;
}

.card-header, .card-footer {
  font-weight: bold;
  height: 30px;
}

.card-header-flexible {
  height: auto;
}
