a {
  text-decoration: none;
}

.invisible {
  opacity: 0;
}

.main {
  float: left;
  padding-bottom: 40px;
}

/*** Cards **/
.card-header, .card-button, .card-footer {
  font-weight: bold;
  text-align: center;
  padding: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset;
}

.card-header, .card-footer {
  height: 30px;
}
