a {
  text-decoration: none;
}
a.no-padding {
  padding: 0;
}

.text-justify {
  text-align: justify;
}

.invisible {
  opacity: 0;
}

.text-prewrap  {
  white-space: pre-wrap;
}

.main {
  float: left;
  padding-bottom: 40px;
}

.main-top .container .row,
.card.main-top {
  margin-top: calc(var(--bs-gutter-x)/ 2);
}

@media (max-width: 575px) {
  .main {
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .main {
    padding-bottom: 120px;
  }
}
.main-full {
  min-height: calc(100vh - 162px);
}
.main-full.container .card {
  margin-top: calc(var(--bs-gutter-x)/ 2);
  margin-bottom: calc(var(--bs-gutter-x)/ 2);
}

/*** Public ***/
.home-bg {
  background-image: url("./assets/img/backgrounds/poseidon.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 12px;
}

/*** Cards **/
.card {
  border-width: 0px;
}

.card-body {
  border: 1px solid rgba(0,0,0,.125);
  border-top: 0px;
}

.card.card-normal {
  border: 1px solid rgba(0,0,0,.125);
}

.card.card-normal .card-body {
  border-width: 0px;
}

.card .no-bottom {
  border-bottom: 0px;
}

.card-header, .card-button, .card-footer {
  text-align: center;
  padding: 4px;
}

.card-header, .card-footer {
  font-weight: bold;
  height: 30px;
}

.card-header-flexible {
  height: auto;
}

.card-header .card-header-group {
  top: 0px;
  right: 0px;
  position: absolute;
  float: left;
}

.card-header .card-header-group .card-header-button {
  padding: 0px 3px;
  float:left;
  height: 30px;
  width: 30px;
  margin: 0px;
  font-size: 1.1em;
  color: white;
  background-color: var(--color-menu-dark);
}

.card-header .card-header-group .card-header-button:hover {
  background-color: var(--color-menu-clear);
}

.card.card-column {
  background-clip: content-box;
  background-color: white;
  border-width: 0px;
  padding-top: 8px;
}

.card.card-column .card-body {
  border-width: 0px;
}

@media (min-width: 768px) {
  .card.card-column > .card-body {
    background: url("./assets/img/ornaments/column-bot.png") no-repeat bottom right,
                url("./assets/img/ornaments/column-top.png") no-repeat top right,
                url("./assets/img/ornaments/column-mid.png") repeat-y bottom right,
                url("./assets/img/ornaments/column-bot.png") no-repeat bottom left,
                url("./assets/img/ornaments/column-top.png") no-repeat top left,
                url("./assets/img/ornaments/column-mid.png") repeat-y bottom left;
    min-height: 100px;
    margin: -16px -43px;
    padding: 31px 55px;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
