<app-main-left></app-main-left>

<main class="mt-1 mb-4">
  <div class="container">
    <div class="row">
      <div class="d-flex column-block">
        <div class="column left-column flex-grow-1"></div>
        <div class="card">
          <div class="card-body">
            <h2 class="text-center" translate>Ellas War team</h2>
            <br />
            <p
              [innerHTML]="
                'If you think you have the qualities required to' | translate
              "></p>
            <div class="text-center" itemscope>
              <strong translate>Administrator</strong
              ><strong translate>:</strong>
              <span itemprop="name">Mighty</span>
              <br />
              <strong translate>High priest</strong
              ><strong translate>:</strong> Topgun
              <br />
            </div>
          </div>
        </div>
        <div class="column right-column flex-grow-1"></div>
      </div>
    </div>
  </div>
</main>

<app-main-right></app-main-right>
