/* To save the colots */
.color1 {color: #4d2347;}
.color2 {color: #74335f;}
.color3 {color: #ad4b81;}
.color4 {color: #fd6dac;}
.color5 {color: #ff99de;}

:root {
  --color-menu-dark: #ff99de;
  --color-menu-clear: #fd6dac;
  --color-menu-text: white;
  --color-menu-text-active: white;
  --color-menu-text-hover: grey;
}

.mosaic {
  background-image: url('../img/styles/pink/mosaic.png');
  width: 100%;
  height: 24px;
}

body {
  background: linear-gradient(135deg, #fd6dac 1.2em, rgba(232, 58, 37, 0) 1.2em) 0 4em, linear-gradient(-135deg, #fd6dac 1.2em, rgba(232, 58, 37, 0) 1.2em) 0 4em, radial-gradient(circle at 7.16em 7.4em, #fd6dac 1.02em, rgba(232, 58, 37, 0) 1.044em) 0 -4em, radial-gradient(circle at 0.84em 7.4em, #fd6dac 1.02em, rgba(232, 58, 37, 0) 1.044em) 0 -4em, linear-gradient(135deg, #ff99de 1.2em, rgba(152, 204, 150, 0) 1.2em) 4em 0, linear-gradient(-135deg, #ff99de 1.2em, rgba(152, 204, 150, 0) 1.2em) 4em 0, radial-gradient(circle at 7.16em 7.4em, #ff99de 1.02em, rgba(152, 204, 150, 0) 1.044em) 4em 0, radial-gradient(circle at 0.84em 7.4em, #ff99de 1.02em, rgba(152, 204, 150, 0) 1.044em) 4em 0;
  background-size: 8em 8em;
  background-color: #4d2347;
  background-repeat: repeat;
}

a {
  color: black;
}

.card-header, .card-footer {
  background-color: #ff99de;
}

.card-header:first-letter,
.card-footer:first-letter {
  color: white;
}

.navbar-light a.navbar-brand {
  color: white;
}

.btn-primary, 
.card-button-primary {
    color: #fff;
    background-color: #74335f;
    border-color: #ad4b81;
}

.btn-primary:hover,
.card-button-primary:hover {
  background-color: #ad4b81;
  border-color: #4d2347;
}

.card-button-primary a,
.card-button-primary a:hover {
  color: white;
}

.card-body.selected {
  background-color: #ff99de;
}
