/*** Generic ***/
.btn-transparent {
  background-color: transparent;
  border-color: transparent;
}

.btn-red {
  background-image: linear-gradient(var(--color-menu-clear), var(--color-menu-dark));
  color: white;
  border-width: 0px;
}

a.btn-link {
  color: #dcd1b1;
  height: 60px;
  border-radius: 1px;
  border: 1px solid #dcd1b1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s;
  display:flex;
  padding: 0px 10px;
  background-color: rgba(0,0,0,0.5);
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: none;
}

a.btn-link:hover {
  margin-left: 30px;
  color: lightgrey;
}

.col-6 button {
  width:100%;
  padding: .250rem .5rem;
}

.col-6.half-right {
  padding-top: calc(var(--bs-gutter-x)/ 2);
  padding-right: calc(var(--bs-gutter-x)/ 4);
  padding-left: calc(var(--bs-gutter-x)/2);
}

.col-6.half-left {
  padding-top: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 4);
  padding-right: calc(var(--bs-gutter-x)/2);
}

.half-middle {
  padding-left: calc(var(--bs-gutter-x)/ 4);
  padding-right: calc(var(--bs-gutter-x)/ 4);
}

.card-body-zero {
  padding: 0;
}

.d-flex button,
.d-flex h1 {
  flex: 1;
}

p a,
form a {
  color: #dc3545;
}

p a:hover,
form a:hover {
  color: black;
}

h3 {
  font-size: 1.5rem;
}

.column {
  width: 64px;
  flex: 1;
  z-index: 1000;
}

#home-home .btn-lg,
#home-discover .btn-lg {
  width: 100%;
  height:100%;
  flex: 1;
}

@media (max-width: 767px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/*** Top right social button ***/
#social-media-frame {
  position: absolute;
  right: 0;
  width: auto;
  font-size: 0.9em;
  display: flex;
  padding: 0;
  z-index: 1300;
}

#social-media-frame .column {
  background: url("../../../assets/img/ornaments/column-bot.png") no-repeat bottom,
              url("../../../assets/img/ornaments/column-mid.png") repeat-y bottom;
}

#social-media-frame .social,
#app-store-frame .apps {
  background-color: white;
  padding: 5px;
  margin-bottom: 15px;
  margin-left: -15px;
  z-index: 900;
  opacity: 0.9;
}

/*** Links to the app store **/
#app-store-frame {
  position: absolute;
  right: 0;
  top: 100px;
  width: auto;
  font-size: 0.9em;
  display: flex;
  padding: 0;
  z-index: 1300;
}

@media (max-width: 575px) {
  #app-store-frame {
    display: none;
  }
}

#app-store-frame .column {
  background: url("../../../assets/img/ornaments/column-bot.png") no-repeat bottom,
              url("../../../assets/img/ornaments/column-top.png") no-repeat top,
              url("../../../assets/img/ornaments/column-mid.png") repeat-y bottom;
}

#app-store-frame .apps {
  margin-top: 15px;
  max-width: 150px;
  padding: 0;
  background-color: transparent;
}

#app-store-frame .apps img {
  width: 100%;
}

#app-store-frame .apps a.disabled {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-store-frame .apps a.disabled img {
  filter: brightness(25%);
}

#app-store-frame .apps a.disabled span {
  position: absolute;
  z-index: 600;
  color: #D8CEB1;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  flex: 1;
}

/*** Main frame ***/
.main-card {
  display: flex;
  margin-top: 40px;
}

@media (max-width: 575px) {
  .main-card .column {
    display: none;
  }
}
.main-card .column.left-column {
  background: url("../../../assets/img/ornaments/column-bot.png") no-repeat bottom right,
              url("../../../assets/img/ornaments/column-top.png") no-repeat top right,
              url("../../../assets/img/ornaments/column-mid.png") repeat-y bottom right;
  margin-right: -15px;
}

.main-card .column.right-column {
  background: url("../../../assets/img/ornaments/column-bot.png") no-repeat bottom left,
              url("../../../assets/img/ornaments/column-top.png") no-repeat top left,
              url("../../../assets/img/ornaments/column-mid.png") repeat-y bottom left;
  margin-left: -15px;
}

.main-card .card {
  z-index: 900;
  opacity: 0.9;
}
.main-card .card .card-body {
  border-width: 0px;
}

#home-home {
  position: relative;
  min-height: calc(100vh - 64px);
}

#home-home .row {
  margin-left: 0px;
  margin-right: 0px;
}

#home-home .card {
  border: 0;
  width: 100%;
  max-width: 420px;
  margin: 16px auto;
  padding: 0;
  border-radius: 0;
}

#social-buttons {
  padding-bottom: 10px;
}

#social-buttons .col-6 {
  display: flex;
}

#social-buttons .btn {
  font-size: 0.7em;
  flex: 1;
}

/*** Discover frame ***/

@media (min-width: 768px) {
  #home-discover .row {
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
  }
}

#home-discover {
  padding-bottom: 8px;
}

#home-discover .card {
  flex: 1;
  opacity: 0.9;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
}

#home-discover .card .card {
  background-color: white;
}

#home-discover .card.card-column > .card-body {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}

#home-discover a.btn-link {
  margin-top: 1em;
  margin-bottom: 1em;
}

#home-discover button {
  line-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#home-discover #img-heracles-hydra {
  background-image: url("../../../assets/img/backgrounds/heracles-hydra.svg") ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 0px;
}

/*** News ***/
.card-news a {
  color: #dcd1b1;
  width: 100%;
  height: 100%;
}

.card-news a:hover {
  color: black;
}

.card-news .card {
  border-width: 0px;
  text-align: center;
  flex: 1;
}

.card-news .card .card-body {
  background-image: none;
}

#home-discover .card .card-0 {
  background-color: #B62F21;
  background-image: none;
  text-shadow: none;
}
#home-discover .card .card-1 {
  background-color: #BF5140;
  background-image: none;
  text-shadow: none;
}
#home-discover .card .card-2 {
  background-color: #FB6050;
  background-image: none;
  text-shadow: none;
}
#home-discover .card .card-3 {
  background-color: #F57764;
  background-image: none;
  text-shadow: none;
}
