name: Workflow Linux Arm64

on:
  workflow_call:
    inputs:
      electron:
        required: true
        type: string
      node:
        required: true
        type: string

jobs:
  #arm64 Arch
  package-arm64:
    name: "Build arm64 packages"
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node }}
      
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build
      
      - name: Cache www directory
        uses: actions/cache@v4
        with:
          path: ~/work/Ellas-War/Ellas-War/www
          key: www-${{ github.run_id }}
      
      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v2
      
      - name: Install dependencies
        run: |
          sudo npm install -g cordova
          npm install
          uname -a
          lsmod | egrep 'loop|squashfs' || true
          sudo modprobe loop || echo "modprobe loop failed"
          sudo modprobe squashfs || echo "modprobe squashfs failed"
          ls -l /dev/loop* || true
          sudo SNAPD_DEBUG=1 SNAP_DEBUG=1 snap install gtk-common-themes --channel=latest/stable || true
      
      - name: Build packages
        run: |
          sudo cordova platform add electron@^${{ inputs.electron }}
          cp res/electron/build-pipeline-linux-arm64.json build.json
          sudo cordova build electron --no-telemetry --release
        env:
          GH_TOKEN: '${{ secrets.GH_TOKEN }}'
          SNAPCRAFT_BUILD_ENVIRONMENT: host
          SNAPCRAFT_STORE_CREDENTIALS: '${{ secrets.SNAPCRAFT_TOKEN }}'
          USE_SYSTEM_FPM: true
