<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">
      <span translate>Request resources:</span>&nbsp;
      <id-to-ress [ress_id]="info.resource"></id-to-ress>
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="text-center fw-bold">
      <span translate>Stocks:</span> 
      {{ profile['stock_'+info.resource] | number:'1.0-0': this.translate.currentLang }}
    </div>

    <div class="input-group">
      <input type="number" class="form-control" min="0"
             [(ngModel)]="info.quantity">
      <span class="input-group-text btn btn-primary" 
            (click)="askRess()" translate>Request</span>
    </div>
  </div>
  <div class="modal-body"
       *ngIf="myAllianceAskList.length > 0">
    <div class="text-center fw-bold" translate>Waiting requests</div>
    
    <div class="alert alert-danger text-center"
         *ngIf="myAllianceAskAcceptError == 1" translate>
      You don't have the permissions to accept this request
    </div>
    <div class="alert alert-danger center"
         *ngIf="myAllianceAskAcceptError == 2" translate>
      Your alliance doesn't have enough resources
    </div>
    
    <table class="table table-striped table-middle">
      <tbody>
        <tr *ngFor="let req of myAllianceAskList">
          <td class="text-end">
            {{req.quantity | number:'1.0-0': this.translate.currentLang }}
            <id-to-ress [ress_id]="req.resource_id"></id-to-ress>
          </td>
          <td>
            <a [routerLink]="['/profile/'+req.membre_id]"
               data-bs-dismiss="modal">{{req.username}}</a>
          </td>
          <td class="text-center" *ngIf="user.getPropertyNb('treasurer') > 0">
            <button class="btn btn-success"
                    (click)="myAllianceAskAccept(req.alliance_ask_id)"
                    title="{{'Accept the request'|translate}}">
              <ic-icon [icon]="check"></ic-icon>
              <span class="visually-hidden">
                {{'Accept the request'|translate}}
              </span>
            </button>
            
            <button class="btn btn-danger"
                    (click)="myAllianceAskRefuse(req.alliance_ask_id)"
                    title="{{'Refuse the request'|translate}}">
              <ic-icon [icon]="times"></ic-icon>
              <span class="visually-hidden">
                {{'Refuse the request'|translate}}
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body"
       *ngIf="myAllianceAskMy.length > 0">
    <div class="text-center fw-bold" translate>Your requests</div>
    
    <table class="table table-striped table-middle align-middle">
      <tbody>
        <tr *ngFor="let req of myAllianceAskMy">
          <td class="text-end">
            {{req.quantity | number:'1.0-0': this.translate.currentLang }}
            <id-to-ress [ress_id]="req.resource_id"></id-to-ress>
          </td>
          <td class="text-center">
            <button class="btn btn-danger"
                    (click)="myAllianceAskCancel(req.alliance_ask_id)"
                    title="{{'Cancel the request'|translate}}">
              <ic-icon [icon]="times"></ic-icon>
              <span class="visually-hidden">
                {{'Cancel the request'|translate}}
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
  </div>
</div>
