<span [ngSwitch]="msg.type">
  <span *ngSwitchCase="1">
    <strong>{{msg.title.attacker}}:</strong> {{msg.content.attacker}}
    <br/>
    <strong>{{msg.title.defender}}:</strong> {{msg.content.defender}}
    <br/>
    <br/>
    <strong translate>Reward:</strong> {{msg.content.benefits| number:'': this.translate.currentLang}}
    <id-to-ress [ress_id]="'drachma'"></id-to-ress>
  </span>
  <span *ngSwitchCase="2" translate>
    <strong>{{msg.title.attacker}}:</strong> {{msg.content.attacker}}
    <br/>
    <strong>{{msg.title.defender}}:</strong> {{msg.content.defender}}
    <br/>
    <br/>
    <strong translate>Reward:</strong> {{msg.content.benefits/10| number:'': this.translate.currentLang}} 
    <id-to-ress [ress_id]="'drachma'"></id-to-ress>
  </span>
  <span *ngSwitchCase="3">
    {{'{ value } has requested a pact to the alliance { name }.' | translate: { value: msg.content.username, name: msg.content.dst_name } }}
  </span>
  <span *ngSwitchCase="4">
    {{'{ value } of { name } has requested a pact to your alliance.' | translate: { value: msg.content.username, name: msg.content.ask_name } }}
  </span>
  <span *ngSwitchCase="5">
   {{'{ value } has declared war to the alliance { name }.' | translate: { value: msg.content.player_name, name: msg.content.defender_name } }}
  </span>
  <span *ngSwitchCase="6">
   {{'{ value } of the alliance { name } has declared war to your alliance.' | translate: { value: msg.content.player_name, name: msg.content.attacking_name } }}
  </span>
  <span *ngSwitchCase="7">
    <span *ngIf="user.getPropertyNb('alliance') == msg.title.refuse && msg.title.ask_id != msg.title.refuse">
      {{'{ value } of your alliance has refused a pact with the alliance { name }.'| translate: { value: msg.content.username, name: msg.title.ask_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') == msg.title.refuse && msg.title.ask_id == msg.title.refuse">
      {{'{ value } of your alliance canceled a pact request with the alliance { name }.'| translate: { value: msg.content.username, name: msg.title.ask_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != msg.title.refuse && msg.title.ask_id == msg.title.refuse">
      {{'{ value } of the alliance { name } has refused a pact with your alliance.'| translate: { value: msg.content.username, name: msg.title.dst_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != msg.title.refuse && msg.title.ask_id != msg.title.refuse">
      {{'{ value } of the alliance { name } has canceled a pact request with your alliance.'| translate: { value: msg.content.username, name: msg.title.dst_name} }}
    </span>
  </span>
  <span *ngSwitchCase="8">
    <span *ngIf="user.getPropertyNb('alliance') == msg.title.refuse">
      {{'{ value } of your alliance accepted a pact with the alliance { name }.'| translate: { value: msg.content.username, name: msg.title.ask_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != msg.title.refuse">
      {{'{ value } of the alliance { name } has accepted a pact with your alliance.'| translate: { value: msg.content.username, name: msg.title.dst_name} }}
    </span>
  </span>
  <span *ngSwitchCase="9">
    <span *ngIf="user.getPropertyNb('alliance') == msg.title.destroy">
    {{'{ value } of your alliance destroyed a pact with the alliance { name }.'| translate: { value: msg.content.username, name: msg.title.ask_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != msg.title.destroy">
    {{'{ value } of the alliance { name } has destroyed a pact with your alliance.'| translate: { value: msg.content.username, name: msg.title.dst_name} }}
    </span>
  </span>
  <span *ngSwitchCase="10">
    {{'{ value } has accepted { name } in your alliance.' | translate: { value: msg.content.member, name: msg.content.player } }}
  </span>
  <span *ngSwitchCase="11">
    {{'{ value } has refused { name } in your alliance.' | translate: { value: msg.content.member, name: msg.content.player } }}
  </span>
  <span *ngSwitchCase="12">
    {{'{ value } has ejected { name } from your alliance.' | translate: { value: msg.content.member, name: msg.content.player } }}
  </span>
  <span *ngSwitchCase="13">
   {{'{ value } has left your alliance.' | translate: { value: msg.content.member } }}
  </span>
  <span *ngSwitchDefault>{{msg.content}}</span>
</span>
