<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ user.getProperty('alliance_name') }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" 
              aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row text-center">
        <img src="{{ user.getConfig().url }}/aprofile/{{ imageProfile }}" *ngIf="imageProfile !== ''"
             class="img-fluid center-block" alt="{{'Profile picture'| translate}}">
      </div>
      <div class="row text-center">
        <span translate>Send a picture</span>
        <input type="file" accept="image/*" (change)="uploadImage($event)"
               [(ngModel)]="image" />
      </div>
      
      <div *ngIf="errorProfileSave == 1"
           class="text-center fw-bold text-danger" translate>
        Information saved
      </div>
      <br/>
      <strong for="description" translate>Description</strong>
      <textarea class="form-control" placeholder="{{'Alliance\'s description'|translate}}"
                [(ngModel)]="allianceProfile.description" ></textarea>
      <br/>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"
              data-bs-dismiss="modal" translate>Close</button>
      <button type="button" class="btn btn-primary" (click)="profileSave()" 
              translate>Save</button>
    </div>
  </div>
</div>
