<div class="modal-content">
  <div class="modal-header">
    <h5 id="taxesDesc" class="modal-title" translate>
      Taxes management
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body container-fluid">
    <strong translate>Minimum level</strong>
    <strong *ngIf="user.getPropertyNb('treasurer') == 0"
            translate>:</strong>
    <span *ngIf="user.getPropertyNb('treasurer') == 0">{{ myAllianceProfile.fee_min }}</span>
    <br/>
    <input class="form-control" type="number" placeholder="0"
           [attr.min]="1" [attr.max]="10" *ngIf="user.getPropertyNb('treasurer') > 0"
           [(ngModel)]="level_min">
    <br/>
    
    <table class="table table-striped table-middle"
           aria-describedby="taxesDesc">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" translate>Quantity</th>
          <th scope="col" *ngIf="user.getPropertyNb('treasurer') > 0"
              translate>Max</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of ressList" class="align-middle">
          <td class="text-center">
            <app-id-to-ress [ress_id]="res"></app-id-to-ress>
          </td>
          <td *ngIf="user.getPropertyNb('treasurer') > 0">
            <input class="form-control" type="number" step="1" [attr.min]="0"
                   [(ngModel)]="taxes[res]">
          </td>
          <td *ngIf="user.getPropertyNb('treasurer') == 0" class="text-end">
            {{taxes[res] | number:'1.0-2': this.translate.currentLang }}
          </td>
          <td *ngIf="user.getPropertyNb('treasurer') > 0" class="text-end">
            {{getMax(res) | number:'1.0-2': this.translate.currentLang }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
    <button type="button" class="btn btn-primary"
            *ngIf="user.getPropertyNb('treasurer') > 0"
            (click)="saveTaxes()"
            data-bs-dismiss="modal" translate>Save</button>
  </div>
</div>
