<span [ngSwitch]="type">
  <span *ngSwitchCase="1" translate>Victory of your alliance</span>
  <span *ngSwitchCase="2" translate>Defeat of your alliance</span>
  <span *ngSwitchCase="3">{{'Request of pact to the alliance { value }' | translate: { value: title.dst_name } }}</span>
  <span *ngSwitchCase="4">{{'Request of pact from the alliance { value }' | translate: { value: title.ask_name } }}</span>
  <span *ngSwitchCase="5">{{'Declaration of war to the alliance { value }'| translate: { value: title.defender_name } }}</span>
  <span *ngSwitchCase="6">{{'Declaration of war from the alliance { value }'| translate: { value: title.attacking_name } }}</span>
  <span *ngSwitchCase="7">
    <span *ngIf="user.getPropertyNb('alliance') == title.refuse && title.ask_id != title.refuse">
      {{'Your alliance has refused a pact with the alliance { value }' | translate: { value: title.ask_name } }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') == title.refuse && title.ask_id == title.refuse">
      {{'Your alliance canceled a pact request with the alliance { value }' | translate: { value: title.ask_name } }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != title.refuse && title.ask_id == title.refuse">
      {{'The alliance { value } has refused a pact with your alliance' | translate: { value: title.dst_name } }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != title.refuse && title.ask_id != title.refuse">
      {{'The alliance { value } has canceled a pact with your alliance' | translate: { value: title.dst_name } }}
    </span>
  </span>
  <span *ngSwitchCase="8">
    <span *ngIf="user.getPropertyNb('alliance') == title.refuse">
      {{'Your alliance accepted a pact request from the alliance { value }'| translate: { value: title.ask_name } }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != title.refuse">
      {{'The alliance { value } has accepted a pact with your alliance'| translate: { value: title.dst_name } }}
    </span>
  </span>
  <span *ngSwitchCase="9">
    <span *ngIf="user.getPropertyNb('alliance') == title.destroy">
      {{'Your alliance destroyed a pact with the alliance { value }'| translate: { value: title.ask_name } }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != title.destroy">
      {{'The alliance { value } has destroyed the pact with your alliance.'| translate: { value: title.ask_name } }}
    </span>
  </span>
  <span *ngSwitchCase="10">{{'New member:  { value }'| translate: { value: title.member } }}</span>
  <span *ngSwitchCase="11">{{'Refused member:  { value }'| translate: { value: title.member } }}</span>
  <span *ngSwitchCase="12">{{'Ejected member:  { value }'| translate: { value: title.member } }}</span>
  <span *ngSwitchCase="13">{{'{ value } has left'| translate: { value: title.member } }}</span>
  <span *ngSwitchCase="14">{{'New chief: { value }'| translate: { value: title.chief_new } }}</span>
  <span *ngSwitchCase="15" translate>A war got canceled</span>
  <span *ngSwitchCase="16" translate>Victory of your alliance</span>
  <span *ngSwitchCase="17" translate>Defeat of your alliance</span>
  <span *ngSwitchDefault>{{title}}</span>
</span>
