<span [ngSwitch]="msg.type">
  <span *ngSwitchCase="1">
    <strong>{{msg.title.attacker}}</strong><strong translate>:</strong> {{msg.content.attacker}}
    <br/>
    <strong>{{msg.title.defender}}</strong><strong translate>:</strong> {{msg.content.defender}}
    <br/>
    <br/>
    <strong translate>Reward:</strong> {{msg.content.benefits| number:'': this.translate.currentLang}}
    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
  </span>
  <span *ngSwitchCase="2" translate>
    <strong>{{msg.title.attacker}}</strong><strong translate>:</strong> {{msg.content.attacker}}
    <br/>
    <strong>{{msg.title.defender}}</strong><strong translate>:</strong> {{msg.content.defender}}
    <br/>
    <br/>
    <strong translate>Reward:</strong> {{msg.content.benefits| number:'': this.translate.currentLang}} 
    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
  </span>
  <span *ngSwitchCase="3">
    {{'{ value } has requested a pact to the alliance { name }.' | translate: { value: msg.content.username, name: msg.content.dst_name } }}
  </span>
  <span *ngSwitchCase="4">
    {{'{ value } of { name } has requested a pact to your alliance.' | translate: { value: msg.content.username, name: msg.content.ask_name } }}
  </span>
  <span *ngSwitchCase="5">
   {{'{ value } has declared war to the alliance { name }.' | translate: { value: msg.content.player_name, name: msg.content.defender_name } }}
  </span>
  <span *ngSwitchCase="6">
   {{'{ value } of the alliance { name } has declared war to your alliance.' | translate: { value: msg.content.player_name, name: msg.content.attacking_name } }}
  </span>
  <span *ngSwitchCase="7">
    <span *ngIf="user.getPropertyNb('alliance') == msg.title.refuse && msg.title.ask_id != msg.title.refuse">
      {{'{ value } of your alliance has refused a pact with the alliance { name }.'| translate: { value: msg.content.username, name: msg.title.ask_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') == msg.title.refuse && msg.title.ask_id == msg.title.refuse">
      {{'{ value } of your alliance canceled a pact request with the alliance { name }.'| translate: { value: msg.content.username, name: msg.title.ask_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != msg.title.refuse && msg.title.ask_id == msg.title.refuse">
      {{'{ value } of the alliance { name } has refused a pact with your alliance.'| translate: { value: msg.content.username, name: msg.title.dst_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != msg.title.refuse && msg.title.ask_id != msg.title.refuse">
      {{'{ value } of the alliance { name } has canceled a pact request with your alliance.'| translate: { value: msg.content.username, name: msg.title.dst_name} }}
    </span>
  </span>
  <span *ngSwitchCase="8">
    <span *ngIf="user.getPropertyNb('alliance') == msg.title.refuse">
      {{'{ value } of your alliance accepted a pact with the alliance { name }.'| translate: { value: msg.content.username, name: msg.title.ask_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != msg.title.refuse">
      {{'{ value } of the alliance { name } has accepted a pact with your alliance.'| translate: { value: msg.content.username, name: msg.title.dst_name} }}
    </span>
  </span>
  <span *ngSwitchCase="9">
    <span *ngIf="user.getPropertyNb('alliance') == msg.title.destroy">
    {{'{ value } of your alliance destroyed a pact with the alliance { name }.'| translate: { value: msg.content.username, name: msg.title.ask_name} }}
    </span>
    <span *ngIf="user.getPropertyNb('alliance') != msg.title.destroy">
    {{'{ value } of the alliance { name } has destroyed a pact with your alliance.'| translate: { value: msg.content.username, name: msg.title.dst_name} }}
    </span>
  </span>
  <span *ngSwitchCase="10">
    {{'{ value } has accepted { name } in your alliance.' | translate: { value: msg.content.member, name: msg.content.player } }}
  </span>
  <span *ngSwitchCase="11">
    {{'{ value } has refused { name } in your alliance.' | translate: { value: msg.content.member, name: msg.content.player } }}
  </span>
  <span *ngSwitchCase="12">
    {{'{ value } has ejected { name } from your alliance.' | translate: { value: msg.content.member, name: msg.content.player } }}
  </span>
  <span *ngSwitchCase="13">
   {{'{ value } has left your alliance.' | translate: { value: msg.content.member } }}
  </span>
  <span *ngSwitchCase="14">
   {{'{ old } is not leading your alliance anymore, { new } is now the new chief.' | translate: { old: msg.content.chief_old, new: msg.content.chief_new } }}
  </span>
  <span *ngSwitchCase="15">
    {{'The war between { name1 } and { name2 } has been canceled, no winner has been announced.' | translate: { name1: msg.content.name1, name2: msg.content.name2 } }}
    
    <div *ngIf="msg.content.benefits">
      <strong translate>Reward:</strong> {{msg.content.benefits| number:'': this.translate.currentLang}}
      <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
    </div>
  </span>
  <span *ngSwitchCase="16">
    <div translate>The war has been long, but your alliance has won.</div>
    <strong>{{msg.content.nameWinner}}</strong><strong translate>:</strong> {{msg.content.vicWinner}}
    <br/>
    <strong>{{msg.content.nameLooser}}</strong><strong translate>:</strong> {{msg.content.vicLooser}}
    <br/>
    <br/>
    <strong translate>Reward:</strong> {{msg.content.benefits| number:'': this.translate.currentLang}}
    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
  </span>
  <span *ngSwitchCase="17" translate>
    <div translate>The battle was long, unfortunately your alliance lost the war.</div>
    <strong>{{msg.content.nameWinner}}</strong><strong translate>:</strong> {{msg.content.vicWinner}}
    <br/>
    <strong>{{msg.content.nameLooser}}</strong><strong translate>:</strong> {{msg.content.vicLooser}}
    <br/>
    <br/>
    <strong translate>Reward:</strong> {{msg.content.benefits| number:'': this.translate.currentLang}}
    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
  </span>
  
  <span *ngSwitchDefault>{{msg.content}}</span>
</span>
