<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" translate>Emergency exit</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body container-fluid"
       *ngIf="user.getPropertyNb('emergency_exit') == 0">
    <div class="text-center fw-bold" translate>
      Are you sure to want to active the emergency exit?
    </div>
    <br/>
    <div translate>
      In 10 days you will automatically leave your alliance, you will be able to cancel the exit during the next 24 hours.
    </div>
  </div>
  <div class="modal-body container-fluid"
       *ngIf="user.getPropertyNb('emergency_exit') > 0">
    <div class="text-center text-danger fw-bold"
         translate>Are you sure to want to cancel the emergency exit?</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
    <button type="button" class="btn btn-primary"
            *ngIf="user.getPropertyNb('emergency_exit') == 0"
            (click)="myAllianceEmergencyExit()"
            data-bs-dismiss="modal" translate>Confirm</button>
    <button type="button" class="btn btn-primary"
            *ngIf="user.getPropertyNb('emergency_exit') > 0"
            (click)="myAllianceEmergencyExitCancel()"
            data-bs-dismiss="modal" translate>Confirm</button>
  </div>
</div>
