<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">
      {{ info.alliance_name }}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body container-fluid text-center fw-bold"
       *ngIf="user.getPropertyNb('alliance') == info.alliance_id"
       translate>
    You can't request a pact to your own alliance
  </div>
  <div class="modal-body container-fluid"
       *ngIf="user.getPropertyNb('alliance') != info.alliance_id">
    
    <div class="fw-bold text-danger text-center"
         *ngIf="myAllianceProfile && myAllianceProfile['stock_drachma'] < 750000"
         translate>
      Your alliance doesn't have enought drachmas to request a pact
    </div>
    
    <strong translate>Request a pact to the alliance:</strong>&nbsp;{{info.alliance_name}}
    <br/>
    <strong translate>Price</strong><strong translate>:</strong>
    {{750000 | number:'': this.translate.currentLang }}
    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
    <br/>
    <br/>
    <div translate>
      If the other alliance refuses the pact request, you will get 500'000 Drachmas back.
    </div>
  </div>
  <div class="modal-body" translate>
    A pact preserves the cities in both alliances from mutual attacks. A war can also be stoped by signing a pact.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
    <button type="button" class="btn btn-success"
            *ngIf="pactPossible()" (click)="pactAsk()"
            data-bs-dismiss="modal" translate>Confirm</button>
  </div>
</div>
