<div class="modal-content">
  <div class="modal-header">
    <h5 id="armyDesc" class="modal-title" translate>Army</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body container-fluid">
    <table class="table" aria-describedby="armyDesc">
      <thead class="text-center">
        <th scope="col"></th>
        <th scope="col">
          <ic-icon [icon]="swordIcon" title="{{'Attack'|translate}}"></ic-icon>
        </th>
        <th scope="col" translate>
          <ic-icon [icon]="shieldShaded" title="{{'Defense'|translate}}"></ic-icon>
        </th>
      </thead>
      <tbody>
        <ng-container *ngFor="let unit of user.getArmy()">
          <tr *ngIf="user.getPropertyNb(unit.code) > 0 && (unit.attack > 0 || unit.defense > 0)">
            <th scope="row">
              {{ unit.name | translate }} 
              ({{user.getPropertyNb(unit.code) | number:'': this.translate.currentLang }})
            </th>
            <td class="text-end">
              {{ user.getPropertyNb(unit.code)*unit.attack | number:'': this.translate.currentLang }}
            </td>
            <td class="text-end">
              {{ user.getPropertyNb(unit.code)*unit.defense | number:'': this.translate.currentLang }}
            </td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let building of user.getBuildings()">
          <tr *ngIf="user.getPropertyNb(building.code) > 0 && building.type == 2">
            <th scope="row">{{ building.name | translate }} ({{user.getPropertyNb(building.code)}})</th>
            <td class="text-end">0</td>
            <td class="text-end">
              {{ user.getPropertyNb(building.code)*building.defense | number:'': this.translate.currentLang }}
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td class="text-end">{{ getAttack() | number:'': this.translate.currentLang}}</td>
          <td class="text-end">{{ getDefense() | number:'': this.translate.currentLang}}</td>
        </tr>
      </tfoot>
    </table>
    <div class="text-end">
      <button type="button" class="btn btn-secondary"
              data-bs-dismiss="modal" translate>Close</button>
    </div>
  </div>
</div>
