<div class="modal-content">
  <div class="modal-header">
    <h5 id="armyDesc" class="modal-title" translate>Army</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body container-fluid">
    <p class="fw-bold" id="tablesUnits-label"
       translate>Select a type of unit to see better its strengths and weaknesses.</p>
    
    <div class="text-center mb-2">
      <strong translate>Bonus</strong>
      <strong translate>:</strong>
      50%
    </div>
    
    <table class="table table-striped" aria-labelledby="tablesUnits-label">
      <thead>
        <tr>
          <th scope="col" translate>Attacker</th>
          <th scope="col" translate>Units</th>
          <th scope="col" translate>Efficient against</th>
      </thead>
      <tbody>
        <tr *ngFor="let i of groupList">
          <th scope="row">
            <app-ic-icon title="{{'Infantryman'|translate}}"
                     [icon]="footPrint" role="button"
                     (click)="selectGroup(i)"
                     [ngClass]="{'text-danger': selectedGroup == i}"
                     *ngIf="i%2 == 1"
                     class="flex-fill"></app-ic-icon>
            <app-ic-icon title="{{'Cavalry unit'|translate}}"
                     [icon]="horseIcon" role="button"
                     (click)="selectGroup(i)"
                     [ngClass]="{'text-danger': selectedGroup == i}"
                     *ngIf="i%2 == 0"
                     class="flex-fill"></app-ic-icon>
            
            <app-ic-icon title="{{'Mythological creature'|translate}}"
                     [icon]="animalDog20Filled" role="button"
                     (click)="selectGroup(i)"
                     [ngClass]="{'text-danger': selectedGroup == i}"
                     *ngIf="i>=5"
                     class="flex-fill"></app-ic-icon>
            <app-ic-icon title="{{'Human unit'|translate}}"
                     [icon]="manSharp" role="button"
                     (click)="selectGroup(i)"
                     [ngClass]="{'text-danger': selectedGroup == i}"
                     *ngIf="i<=4"
                     class="flex-fill"></app-ic-icon>
            
            <app-ic-icon title="{{'Melee unit'|translate}}"
                     [icon]="sword" role="button"
                     (click)="selectGroup(i)"
                     [ngClass]="{'text-danger': selectedGroup == i}"
                     *ngIf="(i == 1 || i == 2 || i == 5 || i == 6)"
                     class="flex-fill"></app-ic-icon>
            <app-ic-icon title="{{'Remote unit'|translate}}"
                     [icon]="bowAndArrow" role="button"
                     (click)="selectGroup(i)"
                     [ngClass]="{'text-danger': selectedGroup == i}"
                     *ngIf="(i == 3 || i == 4 || i == 7 || i == 8)"
                     class="flex-fill"></app-ic-icon>
          </th>
          <td>
            <ng-container *ngFor="let army of user.getArmy()">
              <span *ngIf="i == army.type">{{ Tools.getName(army.code) |translate}}<br/></span>
            </ng-container>
          </td>
          <td>
            <span *ngFor="let j of getGroupBonus(i)">
              <app-ic-icon title="{{'Infantryman'|translate}}"
                       [icon]="footPrint" role="button"
                       (click)="selectGroup(j)"
                       [ngClass]="{'text-danger': selectedGroup == j}"
                       *ngIf="j%2 == 1"
                       class="flex-fill"></app-ic-icon>
              <app-ic-icon title="{{'Cavalry unit'|translate}}"
                       (click)="selectGroup(j)"
                       [ngClass]="{'text-danger': selectedGroup == j}"
                       [icon]="horseIcon" role="button"
                       *ngIf="j%2 == 0"
                       class="flex-fill"></app-ic-icon>
              
              <app-ic-icon title="{{'Mythological creature'|translate}}"
                       [icon]="animalDog20Filled" role="button"
                       (click)="selectGroup(j)"
                       [ngClass]="{'text-danger': selectedGroup == j}"
                       *ngIf="j>=5"
                       class="flex-fill"></app-ic-icon>
              <app-ic-icon title="{{'Human unit'|translate}}"
                       [icon]="manSharp" role="button"
                       (click)="selectGroup(j)"
                       [ngClass]="{'text-danger': selectedGroup == j}"
                       *ngIf="j<=4"
                       class="flex-fill"></app-ic-icon>
              
              <app-ic-icon title="{{'Melee unit'|translate}}"
                       [icon]="sword" role="button"
                       (click)="selectGroup(j)"
                       [ngClass]="{'text-danger': selectedGroup == j}"
                       *ngIf="(j == 1 || j == 2 || j == 5 || j == 6)"
                       class="flex-fill"></app-ic-icon>
              <app-ic-icon title="{{'Remote unit'|translate}}"
                       [icon]="bowAndArrow" role="button"
                       (click)="selectGroup(j)"
                       [ngClass]="{'text-danger': selectedGroup == j}"
                       *ngIf="(j == 3 || j == 4 || j == 7 || j == 8)"
                       class="flex-fill"></app-ic-icon>
              <br/>
            </span>
            <br/>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-end">
      <button type="button" class="btn btn-secondary"
              data-bs-dismiss="modal" translate>Close</button>
    </div>
  </div>
</div>
