<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ info.name | translate }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body container-fluid">
    <div class="row">
      <div class="col-4 offset-4">
        <img src="assets/img/army/{{info?.code}}.png"
             title="{{ info?.name | translate }}" 
             alt="{{info?.name | translate }}" />
      </div>
      
      <div class="col-12 text-center fw-bold text-danger">
        <div *ngIf="rEngageNb == 1" translate>Unit engaged</div>
        <div *ngIf="rEngageNb > 1" translate>Units engaged</div>
        <div *ngIf="rLiberateNb == 1" translate>Unit liberated</div>
        <div *ngIf="rLiberateNb > 1" translate>Units liberated</div>
        <div *ngIf="engageNb > rEngagePossible" translate>
          You can't engage as much of this unit
        </div>
        <div *ngIf="info.temple && info.temple.artemis && user.getPropertyNb('artemis') == 0"
             translate>
          You must have the temple of Artemis to engage this unit.
        </div>
        <div *ngIf="info.temple && info.temple.hephaestus && user.getPropertyNb('hephaestus') == 0"
             translate>
          You must have the temple of Hephaestus to engage this unit.
        </div>
        <div *ngIf="info.temple && info.temple.dionysus && user.getPropertyNb('dionysus') == 0"
             translate>
          You must have the temple of Dionysus to engage this unit.
        </div>
        
        <div translate
             *ngIf="info.temple && info.temple.ares && user.getPropertyNb('ares') == 0">
          You must have the temple of Ares to engage this unit.
        </div>
        
        <div translate
             *ngIf="info.temple && info.temple.zeus && user.getPropertyNb('zeus') == 0">
          You must have the temple of Zeus to engage this unit.
        </div>
        
        <div translate
             *ngIf="info.temple && info.temple.hades && user.getPropertyNb('hades') == 0">
          You must have the temple of Hades to engage this unit.
        </div>
        
        <div *ngIf="info.power && info.power == 'gaia_defender' && user.getPropertyNb('gaia_defender') == 0"
             translate>
          You must have the power of Gaia's defense to engage this unit.
        </div>
        
        <div *ngIf="info.power && info.power == 'divine_units' && user.getPropertyNb('divine_units') < info.power_level"
             translate>
          You must have the power of the Divine units level {{ info.power_level }} to engage this unit.
        </div>
        
        <div *ngIf="error == 1" translate>
          You need to enter the number of units you would like to engage or liberate
        </div>
        <div *ngIf="info.camp_level && info.camp_level > user.getPropertyNb('camp_level') " translate>
          You need to update your military camp to engage this unity
        </div>
        
        
        <div *ngIf="user.getPropertyNb('lord_lightning') > 0" class="text-danger text-center">
          <span translate>
            Heavy black clouds invaded your city, you can no longer engage units
          </span>
          <br/>
          <span translate>End:</span> {{user.getPropertyNb('lord_lightning')*1000| date:'dd/MM, HH:mm'}}
        </div>
        
        <div *ngIf="missingResource().length > 0">
          <span translate>Missing resources:</span>
          <span *ngFor="let res of missingResource()">
            <id-to-ress [ress_id]="res"></id-to-ress>
          </span>
        </div>
        
        <span *ngIf="!hasHosting()"
              class="bold red" translate>
          You don't have enough empty homes
        </span>
        
        <span *ngIf="((info.condition) && (
                        ((info.condition.ranking) && user.getPropertyNb('ranking') > info.condition.ranking)))"
              translate>
          Only the first XP ranking can engage this unit
        </span>
      </div>
      
      <div class="col-6">
        <div *ngIf="info.cost">
          <strong translate>Commitment</strong>
          <strong translate>:</strong>
          <br/>
          <span *ngFor="let resource of info.cost | keyvalue">
            {{ resource.value ? resource.value : 0 | number:'': this.translate.currentLang }}
            <id-to-ress [ress_id]="resource.key"></id-to-ress>
          </span>
        </div>
        
        <div *ngIf="info.cost">
          <strong translate>Liberation</strong>
          <strong translate>:</strong>
          <br/>
          <span *ngFor="let resource of info.resale | keyvalue">
            {{ resource.value ? resource.value : 0 | number:'': this.translate.currentLang }}
            <id-to-ress [ress_id]="resource.key"></id-to-ress>
          </span>
        </div>
        
        <div *ngIf="info.consumption && info.consumption.length > 0">
          <strong translate>Consumption</strong>
          <strong translate>:</strong>
          <br/>
          <span *ngFor="let resource of info.consumption | keyvalue">
            {{ resource.value ? resource.value : 0 | number:'': this.translate.currentLang }}
            <id-to-ress [ress_id]="resource.key"></id-to-ress>
          </span>
        </div>
        
      </div>
      
      <div class="col-6">
        <div>
          <strong translate>Currently</strong>
          <strong translate>:</strong>
          <span role="button" (click)="setLiberate()">
            {{ user.getPropertyNb(info.code) | number:'': this.translate.currentLang }}
          </span>
          <span *ngIf="info.nbmax" role="button" (click)="setEngage(info.nbmax)">
            / {{ info.nbmax | number:'': this.translate.currentLang }}
          </span>
        </div>
        
        <div *ngIf="rEngagePossible > 0" role="button" (click)="setEngage(rEngagePossible)">
          <strong>{{"Max possible"|translate}}{{":"|translate}}</strong>
          {{ rEngagePossible | number:'': this.translate.currentLang }}
        </div>
        
        <div class="input-group"
             *ngIf="user.getLevel() >= info.lvlmini && user.getPropertyNb('lord_lightning') == 0">
          <input type="number" placeholder="0" min="0" step="1"
                 [(ngModel)]="engageNb" class="form-control"
                 (keydown.enter)="armyEngage()">
          <span class="input-group-addon btn btn-primary"
                (click)="armyEngage()" translate>Engage</span>
        </div>
        
        <div class="input-group"
             *ngIf="user.getPropertyNb('level') >= info.lvlmini || 
                    user.getPropertyNb('quest') == 9 || 
                    (user.getPropertyNb('level') > 0 && user.getPropertyNb(info.code) > 0)">
          <input type="number" placeholder="0" min="0" step="1"
                 [(ngModel)]="liberatenb" class="form-control"
                 (keydown.enter)="armyLiberate()">
          <span class="input-group-addon btn btn-danger"
                (click)="armyLiberate()" translate>Liberate</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <div *ngIf="info.code == 'spartan'" translate>
      The Spartans are warriors without fear or pity. It is a race of fierce and ascetic warriors, capable of sacrificing themselves by patriotism to save your city. Their strength will increase proportionally to your level.
    </div>
    <div *ngIf="info.code == 'volunteer'" translate>
      The volunteer is a free citizen or a metic. Since he is not a soldier, he hardly touches his momentary commitment in your army. Nevertheless, it has a low pay and its strength is just as much.
    </div>
    <div *ngIf="info.code == 'silver_man'" translate>
      The Silvermen are one of the five races created by the Gods, personification of the disorder, they do not appreciate war, but remain nevertheless fighters. Punished by Zeus because they did not honor the divine pantheon, they were condemned to join mortals.
    </div>
    <div *ngIf="info.code == 'peltast'" translate>
      This light infantry, as opposed to the heavy infantry composed of hoplites, consists of soldiers carrying a light wicker shields and armed with javelins and a sword. The peltaste is sometimes covered with goatskin or sheep skin, sometimes even polished bronze.
    </div>
    <div *ngIf="info.code == 'slinger'" translate>
      The sling is a weapon used to forcefully throw a stone or a heavy object onto a target. It generally consists of two ropes fixed to a piece of leather to which one places the projectile. The whole is rotated over the head and when the speed is sufficient, a lanyard is released; Under the effect of the centrifugal force, the projectile leaves towards the target.
    </div>
    <div *ngIf="info.code == 'shortbow'" translate>
      The short bow archer marks your entry into the world of jet weapons. However, the size of its bow makes it a poor offensive unit.
    </div>
    <div *ngIf="info.code == 'longbow'" translate>
      The long bow archer is the basis of your remote infantry. Quick, versatile, it can act on all terrains to defend your city or conquer that of a rival.
    </div>
    <div *ngIf="info.code == 'hippeis'" translate>
      The Hippeis is a knight with heavy armor, former glory of the Greek army, they lost their prestige with the rise of the hoplites but do everything to regain it.
    </div>
    <div *ngIf="info.code == 'mountedarchery'" translate>
      The archer on horseback keeps the advantage of the infantry at a distance while having those of your cavalry.
    </div>
    <div *ngIf="info.code == 'hoplite'" translate>
      The hoplites constitute the heavy infantry of the ancient Greek cities, made up of citizens who could not support a horse but who had the means to equip themselves with armor and provide for their families when They were in campaign.
    </div>
    <div *ngIf="info.code == 'mountedhoplite'" translate>
      Having shown its superiority in the infantry, the hoplite returns to the mounted units, this versatile unit will make the happiness of your cavalry.
    </div>
    <div *ngIf="info.code == 'elitehoplite'" translate>
      It is the elite of your Hoplites but their pay is just as much. They will be very useful to you during the long battles but as it is an elite, it has the right to luxurious accommodation.
    </div>
    <div *ngIf="info.code == 'amazon'" translate>
      The Amazons were a race of warrior women who were descended from Ares, god of war and Harmony nymph. Living without a man, they had some relations with neighboring countries, but only kept the female children, boys were returned to their father or killed. They manipulated the arc, as we burned their right breast to facilitate this, hence their name of an Amazon in Greek meaning "without breast". This manipulation of the arc also returns to the worship of the Goddess of the hunt, Artemis.
    </div>
    <div *ngIf="info.code == 'automaton'" translate>
      The automata are humanoids made of bronze. They were forged and assembled by the great Hephaestus himself to ensure the defense of your city.
    </div>
    <div *ngIf="info.code == 'centaur'" translate>
      Centaurs are creatures half-man half-horse, they would be born from the union of Ixion and Hera. They are usually represented as human beings from the head to the waist, while the lower part of the body is that of a horse. The Centaurs are characterized by their savagery and violence; they are said addicted to drunkenness and lust, and often represents the procession of worshipers of Dionysus, the god of wine.
    </div>
    <div *ngIf="info.code == 'myrmidon'" translate>
      During the reign of Aeacus, grandfather of Achilles, Hera, wife of Zeus (Zeus loved Aegina, the young virgin who had given his name to the island) pushed by jealousy spread an epidemic that destroyed the people of The island. Desperate, Eaque implored Zeus, who transformed a colony of ants into human beings to repopulate the city. That is why the inhabitants were called Myrmidons, from the Greek word myrmêkes "ant." They participated in the Trojan War under the command of the hero Achilles.
    </div>
    <div *ngIf="info.code == 'soul'" translate>
      They are the spirits of the heroes who have fought under your orders or against you. Hades brought them out of the underworld and sent them to serve you.
    </div>
    <div *ngIf="info.code == 'satyr'" translate>
      Earthly divinity, companion of Dionysus, represented with a human body, horns and lower limbs of goat, famous for its libidinous behavior.
    </div>
    <div *ngIf="info.code == 'cyclops'" translate>
      Cyclops are giants with only one eye in the middle of the forehead, they are forces of nature that nothing scares. Armed with only a simple stick they rip his opponents and demoralize the enemy.
    </div>
    <div *ngIf="info.code == 'creature'" translate>
      Tartarus is a prison located in the Underworld, protected by a triple rampart of brass around which flows the Phlegethon, and closed by an iron gate manufactured by Poseidon. Those who have sinned during their lifetime (especially towards the gods) are condemned to suffer eternal punishment. However, these creatures escaped and put themselves at your service to satisfy your ambitions whatever they are in the name of your superiority over other mortals.
    </div>
    <div *ngIf="info.code == 'lion'" translate>
      The lion is a formidable opponent with steel skin and sharpened claws. It attacks more often with a yell as he burst eardrums anyone dares to attack. It can also shake the ground by hitting it hard with his leather coat.
    </div>
    <div *ngIf="info.code == 'gaia'" translate>
      Gaia the goddess of nature will help you organize your defenses, causing terrible damage to your enemies.
    </div>
    <div *ngIf="info.code == 'griffin'" translate>
      The griffin has the body of an eagle grafted on the back of a lion and equipped with horse ears. In spite of their imposing body they can fly and thanks to their attacks in piquet to make terrible ravages in your enemies.
    </div>
    <div *ngIf="info.code == 'manticore'" translate>
      The manticore is a terrible man eater who devours his prey in full to leave nothing. It has the features of a lion with a human face, with three rows of teeth and a scorpion tail.
    </div>
    <div *ngIf="info.code == 'lampad'" translate>
      The lampades are the chtonian nymphs of the underworld. They accompany the goddess Hecate. They have light torches designed to guide men or to deceive them ...
    </div>
    <div *ngIf="info.code == 'harpy'" translate>
      Those are the divinities of devastation and divine vengeance. Faster than the wind, invulnerable, cackling, they devour everything in their path, leaving only their excrement. They have a winged bird's body and a woman's head.
    </div>
    <div *ngIf="info.code == 'hecatoncheir'" translate>
      Son of Uranus and Gaia, they each have a 100 arms and 50 heads that spit fire. those are the brothers of the Titans and Cyclops. They are recognized by all for their unequaled strength.
    </div>
    <div *ngIf="info.code == 'spy'" translate>
      Collect information about your enemies before sending your troops to battle. But beware, your spies can get caught and even denounce you.
    </div>
  </div>
</div>
