 <div *ngIf="info.xp_attack > 0 || info.xp_defense > 0" class="row">
  <div class="col-6 text-center"
       *ngIf="info.winer == 1 || info.winer == 2">
    <strong translate>You</strong><strong translate>:</strong> 
    <span *ngIf="info.xp_attack > 0">+</span>{{info.xp_attack| number:'1.0-0': this.translate.currentLang}} 
    <span translate>XP</span>
  </div>
  <div class="col-6 text-center"
       *ngIf="info.winer == 1 || info.winer == 2">
    <strong translate>Your opponent</strong><strong translate>:</strong> 
    <span *ngIf="info.xp_defense > 0">+</span>{{info.xp_defense| number:'1.0-0': this.translate.currentLang}} 
    <span translate>XP</span>
  </div>
  <div class="col-6 text-center"
       *ngIf="info.winer == 3 || info.winer == 4">
    <strong translate>You</strong><strong translate>:</strong>
    <span *ngIf="info.xp_defense > 0">+</span>{{info.xp_defense| number:'1.0-0': this.translate.currentLang}} 
    <span translate>XP</span>
  </div>
  <div class="col-6 text-center"
       *ngIf="info.winer == 3 || info.winer == 4">
    <strong translate>Your opponent</strong><strong translate>:</strong>
    <span *ngIf="info.xp_attack > 0">+</span>{{info.xp_attack| number:'1.0-0': this.translate.currentLang}} 
    <span translate>XP</span>
  </div>
  <div class="clearfix"><br/></div>
</div>

<div *ngIf="getSentUnits().length > 0 && user.info.datas.army">
  <strong translate>Army sent</strong>
  <div *ngFor="let unit of getSentUnits()">
      {{unit.nb| number:'': this.translate.currentLang}}
      <span *ngIf="user.info.datas.army[unit.code]">
        {{user.info.datas.army[unit.code].names|translate}} 
      </span>
      <span *ngIf="user.info.datas.building[unit.code]">
        {{user.info.datas.building[unit.code].names|translate}} 
      </span>
  </div>
  <div class="clearfix"><br/></div>
</div>

<div class="row">
  <div *ngIf="info.lost_wall >= 1 && !(info.lost_wall_poseidon)" translate>
    The wall protecting the city has been destroyed
  </div>
  <div *ngIf="info.lost_wall == 0 && info.lost_wall_poseidon" translate>
    The wall of Poseidon protecting the city has been destroyed
  </div>
  <div *ngIf="info.lost_wall >= 1 && info.lost_wall_poseidon" translate>
    The walls protecting the city have been destroyed
  </div>
  
  <div *ngIf="getAttackLost().length > 0 && user.info.datas.army"  class="col-6">
    <strong translate>Attacker losses</strong>
    <div *ngFor="let unit of getAttackLost()">
      {{unit.nb| number:'': this.translate.currentLang}} 
      {{user.info.datas.army[unit.code].names|translate}} 
    </div>
    <div class="clearfix"><br/></div>
  </div>
  
  <div *ngIf="getDefenseLost().length > 0 && user.info.datas.army"  class="col-6">
    <strong translate>Defender losses</strong>
    <div *ngFor="let unit of getDefenseLost()">
      {{unit.nb| number:'': this.translate.currentLang}} 
      {{ (user.info.datas.army[unit.code]) ? (user.info.datas.army[unit.code].names | translate) : (user.info.datas.building[unit.code].names |translate) }} 
    </div>
    <div class="clearfix"><br/></div>
  </div>
</div>

<div class="col-table text-center" *ngIf="info.lost_ress && Object.keys(info.lost_ress).length > 0">
  <strong id="LostResDesc" translate>Lost resources</strong>
  <table class="table" aria-describedby="LostResDesc">
    <tr *ngFor="let ress of resources">
      <td *ngIf="info.lost_ress[ress] > 0"
          class="col-6 text-end">
        {{info.lost_ress[ress]| number:'1.0-0': this.translate.currentLang}}
      </td>
      <th scope="row"
          *ngIf="info.lost_ress[ress] > 0"
          class="col-6 text-start">
        <app-id-to-ress [ress_id]=ress></app-id-to-ress>
      </th>
    </tr>
  </table>
</div>

<div class="col-table text-center" *ngIf="getLostStoreroom().length > 0">
  <strong id="LostResStoreDesc" translate>Stolen on the agora</strong>
  <table class="table" aria-describedby="LostResStoreDesc">
    <tr *ngFor="let res of getLostStoreroom()">
      <td class="col-6 text-end">
        {{ res.quantity | number:'1.0-0': this.translate.currentLang}}
      </td>
      <th scope="row" class="col-6 text-start">
        <app-id-to-ress [ress_id]=res.res_id></app-id-to-ress>
      </th>
    </tr>
  </table>
</div>

<div class="col-table text-center" *ngIf="getLostBuildings().length > 0">
  <strong id="LostBuildingDesc" translate>Lost buildings</strong>
  <table class="table" aria-describedby="LostBuildingDesc">
    <tr *ngFor="let building of getLostBuildings()">
      <td class="col-6 text-end">{{building.nb| number:'': this.translate.currentLang}}</td>
      <th scope="row" class="col-6 text-start" *ngIf="building.nb == 1">{{user.info.datas.building[building.code].name|translate}}</th>
      <th scope="row" class="col-6 text-start" *ngIf="building.nb > 1">{{user.info.datas.building[building.code].names|translate}}</th>
    </tr>
  </table>
</div>

<div class="text-center" *ngIf="info.hades_saving > 0">
  <br/>
  <strong translate>Souls saved</strong>
  <strong translate>:</strong>
  {{info.hades_saving| number:'': this.translate.currentLang}}
</div>

<div class="col-table text-center" *ngIf="getSaved().length > 0 && user.info.datas.army">
  <strong translate>Units saved</strong>
  <div *ngFor="let unit of getSaved()">
    {{unit.nb| number:'': this.translate.currentLang}} 
    {{ (user.info.datas.army[unit.code]) ? (user.info.datas.army[unit.code].names | translate) : (user.info.datas.building[unit.code].names |translate) }} 
  </div>
  <div class="clearfix"><br/></div>
</div>

<div class="col-table text-center" *ngIf="hasCorruptedRes()">
  <strong id="CorruptedResDesc" translate>Corrupted resources</strong>
  <table class="table"  aria-describedby="CorruptedResDesc">
    <tr *ngFor="let ress of resources">
      <td *ngIf="info.sanctuary2[ress] > 0">{{info.sanctuary2[ress]| number:'1.0-0': this.translate.currentLang}}</td>
      <th scope="row" *ngIf="info.sanctuary2[ress] > 0"><app-id-to-ress [ress_id]=ress></app-id-to-ress></th>
    </tr>
  </table>
</div>
