<div class="text-center">
  <strong translate>Owner</strong>
  <strong translate>:</strong>
  <a [routerLink]="['/profile/'+diamondInfo.membre_id]">
    {{diamondInfo.username}}
  </a>
  <br/>
  
  <div *ngIf="diamondInfo.alliance > 0">
    <strong translate>Alliance</strong>
    <strong translate>:</strong>
    {{diamondInfo.alliance_name}}
  </div>
  
  <strong translate>Field</strong>
  <strong translate>:</strong>
  {{diamondInfo.field| number:'': this.translate.currentLang}}
  <br/>
  
  <strong translate>Victories</strong>
  <strong translate>:</strong>
  {{diamondInfo.victory| number:'': this.translate.currentLang}}
  <br/>
</div>

<div class="text-center" *ngIf="diamondInfo.membre_id != user.getPropertyNb('id') && user.getLevel() >= 10">
  <span *ngIf="diamondInfo.possible_field == 1">
    <button class="btn btn-info"
            (click)="spy(diamondInfo.membre_id)"
            title="{{'Send a spy to the city:'|translate}} {{diamondInfo.username}}">
      <ic-icon [icon]="fistRaised"></ic-icon>
      <span class="visually-hidden">
        {{'Send a spy to the city:'|translate}} {{diamondInfo.username}}
      </span>
    </button>
    
    <button class="btn btn-info"
            *ngIf="user.getPropertyNb('apollo') == 1" 
            (click)="observe(diamondInfo.membre_id)"
            title="{{'Observe the city:'|translate}} {{diamondInfo.username}}">
      <ic-icon [icon]="eyeIcon"></ic-icon>
      <span class="visually-hidden">
        {{'Observe the city:'|translate}} {{diamondInfo.username}}
      </span>
    </button>
  </span>
  
  <button class="btn btn-success"
          *ngIf="diamondInfo.attack_allowed > 0" 
          (click)="prepareAttack(diamondInfo.membre_id)" 
          title="{{'Attack the city:'|translate}} {{diamondInfo.username}}">
    <ic-icon [icon]="swordIcon"></ic-icon>
    <span class="visually-hidden">
      {{'Attack the city:'|translate}} {{diamondInfo.username}}
    </span>
  </button>
  <button class="btn btn-danger"
          *ngIf="diamondInfo.attack_allowed == 0"
          title="{{'Impossible to attack the city:'|translate}} {{diamondInfo.username}}">
    <ic-icon [icon]="swordIcon"></ic-icon>
    <span class="visually-hidden">
      {{'Impossible to attack the city:'|translate}} {{diamondInfo.username}}
    </span>
  </button>
</div>

<div class="row">
  <div class="col-6">
    <table class="table table-striped table-middle" aria-describedby="PlayerDesc">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <span id="PlayerDesc" translate>Player</span>
          </th>
          <th scope="col">
          </th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of diamondRankingPlayers">
        <td class="text-center">
            {{p.ranking}}
        </td>
        <td>
          <a [routerLink]="['/profile/'+p.membre_id]">
            {{p.username}}
          </a>
        </td>
        <td>
          <span *ngIf="p.days > 0">
            {{p.days}}
            <span translate>d</span>, 
          </span>
          <span *ngIf="p.hours > 0">
            {{p.hours}}
            <span translate>h</span>,
          </span>
          <span *ngIf="p.minutes > 0">
            {{p.minutes}}
            <span translate>m</span>
            <span *ngIf="p.seconds > 0">&nbsp;</span>
            <span translate *ngIf="p.seconds > 0">and</span>
          </span>
          <span *ngIf="p.seconds > 0">
            {{p.days}}
            <span translate>s</span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <div class="col-6">
    <table class="table table-striped table-middle"  aria-describedby="AllianceDesc">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <span id="AllianceDesc" translate>Alliance</span>
          </th>
          <th scope="col">
          </th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of diamondRankingAlliance">
        <td class="text-center">
            {{p.ranking}}
        </td>
        <td>
          <a [routerLink]="['/allianceprofile/'+p.alliance]">
            {{p.alliance_name}}
          </a>
          <span *ngIf="p.alliance == 0" translate>None</span>
        </td>
        <td>
          <span *ngIf="p.days > 0">
            {{p.days}}
            <span translate>d</span>, 
          </span>
          <span *ngIf="p.hours > 0">
            {{p.hours}}
            <span translate>h</span>,
          </span>
          <span *ngIf="p.minutes > 0">
            {{p.minutes}}
            <span translate>m</span>
            <span *ngIf="p.seconds > 0">&nbsp;</span>
            <span translate *ngIf="p.seconds > 0">and</span>
          </span>
          <span *ngIf="p.seconds > 0">
            {{p.days}}
            <span translate>s</span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-xs-12 text-center bold" translate>
  Each week, the player and the alliance has kept the longer diamond win 2'500'000 Drachmas. If 4 to 9 players got it, the reward goes to 5'000'000, and to 10'000'000 if 10 or more got it.
</div>
