<common-top-bar active="attacks"></common-top-bar>

<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 main">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <table class="table">
          <tr *ngFor="let player of getAttackList()">
            <td>
              {{ player.username }}
              <span *ngIf="user.getLevel() > 0">({{ player.level }})</span>
              
              <ic-icon [icon]="gemIcon"
                       *ngIf="player.diamond_begin > 0"></ic-icon>
              
              <span *ngIf="player.alliance > 0">
                {{ player.alliance_name }}
              </span>
            </td>
            <td>
              {{player.victory | number:'': this.translate.currentLang}}
            </td>
            <td *ngIf="user.getDatas() && user.getDatas().attack && 
                       user.getLevel() >= user.getDatas().attack.level_xp_min">
              {{player.xp | number:'': this.translate.currentLang}}
            </td>
            <td>
              {{ player.field | number:'': this.translate.currentLang}}
            </td>
          <td>
            
            <ic-icon [icon]="fistRaised"
                     *ngIf="user.getPropertyNb('apollo') == 0"></ic-icon>
            <ic-icon [icon]="eyeIcon"
                     *ngIf="user.getPropertyNb('apollo') == 1"></ic-icon>
            <ic-icon [icon]="fireIcon"
                     *ngIf="user.getPropertyNb('demeter') == 1"></ic-icon>
            <ic-icon [icon]="boltIcon"
                     *ngIf="user.getPropertyNb('zeus') == 1"></ic-icon>
            
            
            <button class="btn btn-outline-primary"
                    (click)="prepareAttack(player.membre_id)">
              <ic-icon [icon]="swordIcon"></ic-icon>
            </button>
          </td>
          </tr>
        </table>
      </div>
      <div class="col-xl-6">
        <div *ngIf="targetProfile">
          <h2>{{ targetProfile?.username }}</h2>
          
            <button class="btn btn-primary"
                    (click)="launchAttack(targetProfile.membre_id)">
              <ic-icon [icon]="swordIcon"></ic-icon>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<connected-right-menu></connected-right-menu>
<app-bottom-bar></app-bottom-bar>
