<common-top-bar active="city"></common-top-bar>

<div class="modal fade" id="ArmyInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <army-popup [info]="armyInfo"></army-popup>
  </div>
</div>
<div class="modal fade" id="BuildingInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <construction-popup [info]="buildingInfo"></construction-popup>
  </div>
</div>
<div class="modal fade" id="TreasureInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <treasure-popup></treasure-popup>
  </div>
</div>

<div class="modal fade" id="DivineBonusInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <divinebonus-info-popup [divineBonus]="divinBonusSelected">
    </divinebonus-info-popup>
  </div>
</div>
<div class="modal fade" id="DivineBonusList" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <divinebonus-list-popup [divineBonus]="divinBonusListSelected">
    </divinebonus-list-popup>
  </div>
</div>
<div class="modal fade" id="DivineBonusHelp" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <divinebonus-help-popup></divinebonus-help-popup>
  </div>
</div>

<div class="modal fade" id="SuccessInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <success-info-popup [successType]="success"></success-info-popup>
  </div>
</div>

<div class="modal fade" id="Temple1Info" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <temple1-popup></temple1-popup>
  </div>
</div>
<div class="modal fade" id="Temple2Info" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <temple2-popup></temple2-popup>
  </div>
</div>
<div class="modal fade" id="Temple3Info" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <temple3-popup></temple3-popup>
  </div>
</div>
<div class="modal fade" id="Temple4Info" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <temple4-popup></temple4-popup>
  </div>
</div>
<div class="modal fade" id="TempleInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <temple-info-popup [temple]="templeSelected"></temple-info-popup>
  </div>
</div>


<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 main">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header" translate>
            General
          </div>
          <div class="card-body">
            <div *ngIf="user.getLevel() < 10">
              <a [routerLink]="['/quests']">
                <strong translate>Quests</strong><strong translate>:</strong> 
                {{ user.getQuest() }}/{{ user.getQuestMax() }}
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="user.getLevel() >= 1 || user.getQuest() >= 7"
           class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <span translate>Divine Bonus</span>
            
            <span data-bs-toggle="modal" data-bs-target="#DivineBonusList"
                  role="button" *ngIf="divineBonus.length > 0"
                  class="text-warning" (click)="divineBonusReset()">
              <ic-icon [icIcon]="cloud"></ic-icon>
            </span>
            <span data-bs-toggle="modal" data-bs-target="#DivineBonusHelp"
                   role="button" translate>
              <ic-icon [icIcon]="questionCircle"></ic-icon>
            </span>
          </div>
          <div class="card-body no-padding text-center" *ngIf="divineBonus.length == 0">
            <br/>
            <strong translate>Ongoing streak:</strong>
            {{ user.getPropertyNb('nbdays') }} <span translate>Day(s)</span>
            <div>
              {{ 'Next goal: { value } Days' | translate: { value: user.getGoalDays() | number:'': this.translate.currentLang } }}
            </div>
          </div>
          <div class="card-body no-padding" *ngIf="divineBonus.length > 0">
            <div *ngFor="let bonus of divineBonus"
                 class="frame frame-10"
                 data-bs-toggle="modal" data-bs-target="#DivineBonusInfo"
                 (click)="selectDivinBonus(bonus)">
              <img src="assets/img/divinebonus/base.png" alt="test"/>
              <div>{{ bonus.nb }}</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-6"
           *ngIf="user.getLevel() >= 1 || user.getPropertyNb('spartan') > 0">
        <div class="card">
          <div class="card-header" translate>
            Army
          </div>
          <div class="card-body no-padding">
            <div *ngFor="let army of user.getArmy()"
                 class="frame frame-20"
                 data-bs-toggle="modal" data-bs-target="#ArmyInfo"
                 (click)="selectArmy(army.code)">
              <img src="assets/img/army/{{army.code}}.png"
                   title="{{ army.name | translate }}" 
                   alt="{{army.name | translate }}" />
              <div>{{ user.getPropertyNb(army.code) | number:'': this.translate.currentLang }}</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <span translate>Buildings</span>
            - All - Military - Prod - 
          </div>
          <div class="card-body no-padding">
            <div class="frame frame-20"
                 data-bs-toggle="modal" data-bs-target="#TreasureInfo"
                 *ngIf="user.getLevel() >= 1 || user.getQuest() >= 11">
              <img src="assets/img/buildings/treasure.png"
                   title="{{ 'Treasure' | translate }}" 
                   alt="{{ 'Treasure' | translate }}" />
            </div>
            
            <div *ngFor="let building of user.getBuildings()"
                 class="frame frame-20"
                 data-bs-toggle="modal" data-bs-target="#BuildingInfo"
                 (click)="selectBuilding(building.code)">
              <img src="assets/img/buildings/{{building.code}}.png"
                   title="{{ building.name | translate }}" 
                   alt="{{building.name | translate }}" />
              <div>{{ user.getPropertyNb(building.code) | number:'': this.translate.currentLang }}</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-6"
           *ngIf="user.getLevel() >= 3 || (user.getLevel() == 2 && user.getQuest() >= 11)">
        <div class="card">
          <div class="card-header">
            Temples
          </div>
          <div class="card-body no-padding" id="templesBlock">
            <!-- Temple informations -->
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('hermes') == 1"
                 (click)="selectTemples(1)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Hermes' | translate}}" 
                   title="{{'Hermes' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('apollo') == 1"
                 (click)="selectTemples(2)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Apollo' | translate}}" 
                   title="{{'Apollo' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('demeter') == 1"
                 (click)="selectTemples(3)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Demeter' | translate}}" 
                   title="{{'Demeter' | translate}}" />
            </div>
            
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('ares') == 1"
                 (click)="selectTemples(4)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Ares' | translate}}" 
                   title="{{'Ares' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('athena') == 1"
                 (click)="selectTemples(5)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Athena' | translate}}" 
                   title="{{'Athena' | translate}}" />
            </div>
            
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('artemis') == 1"
                 (click)="selectTemples(6)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Artemis' | translate}}" 
                   title="{{'Artemis' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('dionysus') == 1"
                 (click)="selectTemples(7)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Dionysus' | translate}}" 
                   title="{{'Dionysus' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('hephaestus') == 1"
                 (click)="selectTemples(8)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Hephaestus' | translate}}" 
                   title="{{'Hephaestus' | translate}}" />
            </div>
            
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('zeus') == 1"
                 (click)="selectTemples(9)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Zeus' | translate}}" 
                   title="{{'Zeus' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('hades') == 1"
                 (click)="selectTemples(10)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Hades' | translate}}" 
                   title="{{'Hades' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.getPropertyNb('poseidon') == 1"
                 (click)="selectTemples(11)"
                 data-bs-toggle="modal" data-bs-target="#TempleInfo">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'Poseidon' | translate}}" 
                   title="{{'Poseidon' | translate}}" />
            </div>
            
            <!-- Frames to build temples -->
            <div class="frame frame-20"
                 *ngIf="user.buildTemple1Allowed() == 0"
                 data-bs-toggle="modal" data-bs-target="#Temple1Info">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'No temple' | translate}}" 
                   title="{{'Build a new temple' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.buildTemple2Allowed() == 0"
                 data-bs-toggle="modal" data-bs-target="#Temple2Info">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'No temple' | translate}}" 
                   title="{{'Build a new temple' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.buildTemple3Allowed() == 0"
                 data-bs-toggle="modal" data-bs-target="#Temple3Info">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'No temple' | translate}}" 
                   title="{{'Build a new temple' | translate}}" />
            </div>
            <div class="frame frame-20"
                 *ngIf="user.buildTemple4Allowed() == 0"
                 data-bs-toggle="modal" data-bs-target="#Temple4Info">
              <img src="assets/img/temples/temple-no.png"
                   alt="{{'No temple' | translate}}" 
                   title="{{'Build a new temple' | translate}}" />
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-6" *ngIf="user.getLevel() >= 1">
        <div class="card">
          <div class="card-header" translate>
            Success
          </div>
          <div class="card-body no-padding" id="successBlock">
            <img src="assets/img/success.png"
                 title="{{'General' | translate }}"
                 alt="{{'General' | translate }}"
                 (click)="selectSuccess(1)"
                 data-bs-toggle="modal" data-bs-target="#SuccessInfo"/>
            <img src="assets/img/success.png"
                 title="{{'Constructions' | translate }}"
                 alt="{{'Constructions' | translate }}"
                 (click)="selectSuccess(2)"
                 data-bs-toggle="modal" data-bs-target="#SuccessInfo"/>
            <img src="assets/img/success.png"
                 title="{{'Alliance' | translate }}"
                 alt="{{'Alliance' | translate }}"
                 (click)="selectSuccess(3)"
                 data-bs-toggle="modal" data-bs-target="#SuccessInfo"/>
            <img src="assets/img/success.png"
                 title="{{'Attacks' | translate }}"
                 alt="{{'Attacks' | translate }}"
                 (click)="selectSuccess(5)"
                 data-bs-toggle="modal" data-bs-target="#SuccessInfo"/>
            <img src="assets/img/success.png"
                 title="{{'Mythology' | translate }}"
                 alt="{{'Mythology' | translate }}"
                 (click)="selectSuccess(6)"
                 data-bs-toggle="modal" data-bs-target="#SuccessInfo"/>
            <img src="assets/img/success.png"
                 title="{{'Feats of Strength' | translate }}"
                 alt="{{'Feats of Strength' | translate }}"
                 (click)="selectSuccess(7)"
                 data-bs-toggle="modal" data-bs-target="#SuccessInfo"/>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>

<connected-right-menu></connected-right-menu>
<app-bottom-bar></app-bottom-bar>
