<common-top-bar active="city"></common-top-bar>

<div class="modal fade" id="ArmyInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <army-popup [info]="armyInfo"></army-popup>
  </div>
</div>
<div class="modal fade" id="BuildingInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <construction-popup [info]="buildingInfo"></construction-popup>
  </div>
</div>
<div class="modal fade" id="TreasureInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <treasure-popup></treasure-popup>
  </div>
</div>

<div class="modal fade" id="DivineBonusInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <divinebonus-info-popup [divineBonus]="divinBonusSelected">
    </divinebonus-info-popup>
  </div>
</div>
<div class="modal fade" id="DivineBonusList" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <divinebonus-list-popup></divinebonus-list-popup>
  </div>
</div>

<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 main">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="card" translate>
          <div class="card-header" translate>
            Quests
          </div>
          <div class="card-body">
            <div *ngIf="user.getLevel() < 10">
              <a [routerLink]="['/quests']">
                <strong translate>Missions</strong><strong translate>:</strong> 
                {{ user.getQuest() }}/{{ user.getQuestMax() }}
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="user.getLevel() >= 1 || user.getQuest() >= 8"
           class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <span translate>Divine Bonus</span> - 
            <span data-bs-toggle="modal"
                  data-bs-target="#DivineBonusList">All</span>
             - H
             <span translate>Help</span>
          </div>
          <div class="card-body no-padding">
            <div *ngFor="let bonus of divineBonus"
                 class="frame frame-10"
                 data-bs-toggle="modal" data-bs-target="#DivineBonusInfo"
                 (click)="selectDivinBonus(bonus)">
              <img src="assets/img/divinebonus/base.png" alt="test"/>
              <div>{{ bonus.nb }}</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-6" *ngIf="user.getLevel() >= 3">
        <div class="card">
          <div class="card-header">
            Temples
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div>
      
      <div class="col-xl-6"
           *ngIf="user.getLevel() >= 1 || user.getPropertyNb('spartan') > 0">
        <div class="card">
          <div class="card-header" translate>
            Army
          </div>
          <div class="card-body no-padding">
            <div *ngFor="let army of user.getArmy()"
                 class="frame frame-20"
                 data-bs-toggle="modal" data-bs-target="#ArmyInfo"
                 (click)="selectArmy(army.code)">
              <img src="assets/img/army/{{army.code}}.png"
                   title="{{ army.name | translate }}" 
                   alt="{{army.name | translate }}" />
              <div>{{ user.getPropertyNb(army.code) | number:'': this.translate.currentLang }}</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <span translate>Buildings</span>
            - All - Military - Prod - 
          </div>
          <div class="card-body no-padding">
            <div class="frame frame-20"
                 data-bs-toggle="modal" data-bs-target="#TreasureInfo"
                 *ngIf="user.getLevel() >= 1 || user.getQuest() >= 12">
              <img src="assets/img/buildings/treasure.png"
                   title="{{ 'Treasure' | translate }}" 
                   alt="{{ 'Treasure' | translate }}" />
            </div>
            
            <div *ngFor="let building of user.getBuildings()"
                 class="frame frame-20"
                 data-bs-toggle="modal" data-bs-target="#BuildingInfo"
                 (click)="selectBuilding(building.code)">
              <img src="assets/img/buildings/{{building.code}}.png"
                   title="{{ building.name | translate }}" 
                   alt="{{building.name | translate }}" />
              <div>{{ user.getPropertyNb(building.code) | number:'': this.translate.currentLang }}</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xl-6" *ngIf="user.getLevel() >= 1">
        <div class="card">
          <div class="card-header" translate>
            Success
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div>
      </div>
  </div>
</div>

<connected-right-menu></connected-right-menu>
<app-bottom-bar></app-bottom-bar>
