<div class="modal-content">
  <div class="modal-header">
    <h5 id="buildingDesc" class="modal-title" translate>Buildings</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body container-fluid">
    <div class="text-center fw-bold">
      {{'Production field:'|translate}}
      {{getProdField()| number:'': this.translate.currentLang }}/{{user.getDatas().maxField| number:'': this.translate.currentLang }}
    </div>
    <br/>
    <table class="table" aria-describedby="buildingDesc">
      <thead class="text-center">
        <th scope="col"></th>
        <th scope="col" translate>Field</th>
        <th scope="col" translate>Total</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let building of user.getBuildings()">
          <tr>
            <th scope="row">{{ building.name | translate }} ({{user.getPropertyNb(building.code)}})</th>
            <td class="text-end">
              {{ building.field | number:'': this.translate.currentLang }}
            </td>
            <td class="text-end">
              {{ user.getPropertyNb(building.code)*building.field | number:'': this.translate.currentLang }}
            </td>
          </tr>
        </ng-container>
        
        <tr *ngIf="user.getPropertyNb('defense_wall') > 0">
          <th scope="row">
            {{'Defense wall'|translate}} ({{user.getPropertyNb('defense_wall')}})
          </th>
          <td class="text-end">
            0
          </td>
          <td class="text-end">
            0
          </td>
        </tr>
        <tr *ngIf="user.getPropertyNb('poseidon_wall') > 0">
          <th scope="row" translate>
            Wall of Poseidon
          </th>
          <td class="text-end">
            0
          </td>
          <td class="text-end">
            0
          </td>
        </tr>
        
        <tr *ngIf="user.getPropertyNb('hermes') == 1">
         <th scope="row" translate>Hermes</th>
         <td class="text-end">{{getTempleField().temple1.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple1.field| number:'': this.translate.currentLang}}</td>
        </tr>
        <tr *ngIf="user.getPropertyNb('apollo') == 1">
         <th scope="row" translate>Apollo</th>
         <td class="text-end">{{getTempleField().temple1.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple1.field| number:'': this.translate.currentLang}}</td>
        </tr>
        <tr *ngIf="user.getPropertyNb('demeter') == 1">
         <th scope="row" translate>Demeter</th>
         <td class="text-end">{{getTempleField().temple1.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple1.field| number:'': this.translate.currentLang}}</td>
        </tr>
        
        <tr *ngIf="user.getPropertyNb('ares') == 1">
         <th scope="row" translate>Ares</th>
         <td class="text-end">{{getTempleField().temple2.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple2.field| number:'': this.translate.currentLang}}</td>
        </tr>
        <tr *ngIf="user.getPropertyNb('athena') == 1">
         <th scope="row" translate>Athena</th>
         <td class="text-end">{{getTempleField().temple2.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple2.field| number:'': this.translate.currentLang}}</td>
        </tr>
        
        <tr *ngIf="user.getPropertyNb('artemis') == 1">
         <th scope="row" translate>Artemis</th>
         <td class="text-end">{{getTempleField().temple3.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple3.field| number:'': this.translate.currentLang}}</td>
        </tr>
        <tr *ngIf="user.getPropertyNb('dionysus') == 1">
         <th scope="row" translate>Dionysus</th>
         <td class="text-end">{{getTempleField().temple3.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple3.field| number:'': this.translate.currentLang}}</td>
        </tr>
        <tr *ngIf="user.getPropertyNb('hephaestus') == 1">
         <th scope="row" translate>Hephaestus</th>
         <td class="text-end">{{getTempleField().temple3.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple3.field| number:'': this.translate.currentLang}}</td>
        </tr>
        
        <tr *ngIf="user.getPropertyNb('zeus') == 1">
         <th scope="row" translate>Zeus</th>
         <td class="text-end">{{getTempleField().temple4.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple4.field| number:'': this.translate.currentLang}}</td>
        </tr>
        <tr *ngIf="user.getPropertyNb('hades') == 1">
         <th scope="row" translate>Hades</th>
         <td class="text-end">{{getTempleField().temple4.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple4.field| number:'': this.translate.currentLang}}</td>
        </tr>
        <tr *ngIf="user.getPropertyNb('poseidon') == 1">
         <th scope="row" translate>Poseidon</th>
         <td class="text-end">{{getTempleField().temple4.field| number:'': this.translate.currentLang}}</td>
         <td class="text-end">{{getTempleField().temple4.field| number:'': this.translate.currentLang}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td class="text-end">{{ getField() | number:'': this.translate.currentLang}}</td>
        </tr>
      </tfoot>
    </table>
    <div class="text-end">
      <button type="button" class="btn btn-secondary"
              data-bs-dismiss="modal" translate>Close</button>
    </div>
  </div>
</div>
