<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ info.name | translate }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body container-fluid">
    <div class="row">
      <div class="col-4 offset-4">
        <img src="assets/img/buildings/{{info?.code}}.png"
             title="{{ info?.name | translate }}" 
             alt="{{info?.name | translate }}" />
      </div>
      
      <div class="col-12 text-center fw-bold text-danger">
        <div *ngIf="missingResource().length > 0">
          <span translate>Missing resources:</span>&nbsp;
          <span *ngFor="let res of missingResource()">
            <id-to-ress [ress_id]="res"></id-to-ress>
          </span>
        </div>
        <span *ngIf="(info.placen && 
                       (user.getPropertyNb('placen')-user.getPropertyNb('placenactu')-(destructNb * info.placen) < 0)) ||
                       (info.placep && 
                       (user.getPropertyNb('placep')-user.getPropertyNb('placepactu')-(destructNb * info.placep) < 0)) ||
                       (info.placec && 
                       (user.getPropertyNb('placec')-user.getPropertyNb('placecactu')-(destructNb * info.placec) < 0))"
              class="bold red" translate>
          You can not destroy a home who is used
        </span>
        
        <div *ngIf="info.nbmax && buildNb > 0 && (buildNb+user.getPropertyNb(info.code)) > info.nbmax">
          {{'You can\'t have more than { value } buildings of this type'| translate: { value: info.nbmax } }}
        </div>
        <div *ngIf="rBuildNb == -1 && !(info.nbmax && buildNb > 0 && (buildNb+user.getPropertyNb(info.code)) > info.nbmax)">
          {{'Your production field can\'t be over { value }'| translate: { value: user.getDatas().maxField } }}
        </div>
        <div *ngIf="rBuildNb == 1" translate>
          Building built
        </div>
        <div *ngIf="rBuildNb > 1" translate>
          Buildings built
        </div>
        <div *ngIf="rDestructNb == 1" translate>
          Building destructed
        </div>
        <div *ngIf="rDestructNb > 1" translate>
          Buildings destructed
        </div>
        <div *ngIf="errorBuilding == 1" translate>
          You need to enter the number of buildings you would like to construct or destruct
        </div>
      </div>
      
      <div *ngIf="user.getPropertyNb('volcano') > 0" class="col-12 text-danger text-center">
        <span translate>The lava falls on your city preventing you from building buildings for 20 min</span>
        <br/>
        <span translate>End:</span> {{user.getPropertyNb('volcano')*1000| date:'dd/MM, HH:mm'}}
      </div>
      
      <div class="col-6">
        <div *ngIf="info.cost">
          <strong translate>Construction cost</strong>
          <strong translate>:</strong>
          <br/>
          <span *ngFor="let resource of info.cost | keyvalue">
            {{ resource.value }}
            <id-to-ress [ress_id]="resource.key"></id-to-ress>
          </span>
        </div>
        
        <div *ngIf="info.cost">
          <strong translate>Recovered resources</strong>
          <strong translate>:</strong>
          <br/>
          <span *ngFor="let resource of info.destruct | keyvalue">
            {{ resource.value }}
            <id-to-ress [ress_id]="resource.key"></id-to-ress>
          </span>
        </div>
        
        <div *ngIf="info.production">
          <strong translate>Production</strong><strong translate>:</strong>
          <br/>
          <span *ngFor="let i of getProduction()">
            {{ i.nb | number:'': this.translate.currentLang }}
            <id-to-ress [ress_id]="i.code"></id-to-ress>
          </span>
        </div>
        
        <div *ngIf="info.consumption">
          <strong translate>Consumption</strong>
          <strong translate>:</strong>
          <br/>
          <span *ngFor="let i of getConsumption()">
            {{ i.nb | number:'': this.translate.currentLang }}
            <id-to-ress [ress_id]="i.code"></id-to-ress>
          </span>
        </div>
        
        <div *ngIf="info?.placen">
          <strong>{{"Spots:"|translate}}</strong>
          {{ info?.placen }} {{"Normales"|translate}}
        </div>
        <div *ngIf="info?.placel">
          <strong>{{"Spots:"|translate}}</strong>
          {{ info?.placel }} {{"Luxurious"|translate}}
        </div>
        <div *ngIf="info?.placec">
          <strong>{{"Spots:"|translate}}</strong>
          {{ info?.placec }} {{"Underground"|translate}}
        </div>
      </div>
      
      <div class="col-6">
        <div>
          <strong translate>Currently</strong>
          <strong translate>:</strong>
          <span role="button" (click)="setDestruct()">
            {{ user.getPropertyNb(info.code) | number:'': this.translate.currentLang }}
          </span>
          <span *ngIf="info.nbmax" (click)="setBuild(info.nbmax)">
            / {{ info.nbmax | number:'': this.translate.currentLang }}
          </span>
        </div>
        
        <div *ngIf="info.code == 'militarycamp' && user.getPropertyNb('camp_level') > 0">
          <strong translate>Level</strong>
          <strong translate>:</strong>
          {{ user.getPropertyNb('camp_level') }}
        </div>
        
        <div *ngIf="rBuildPossible > 0" role="button" 
             (click)="setBuild(rBuildPossible)">
          <strong>{{"Max possible"|translate}}{{":"}}</strong>
          {{ rBuildPossible | number:'': this.translate.currentLang }}
        </div>
        
        <div>
          <strong translate>Field</strong>
          <strong translate>:</strong>
          {{ info?.field | number:'': this.translate.currentLang }}
        </div>
        
        <div class="input-group"
             *ngIf="(info.nbmax == 0 || user.getPropertyNb(info.code) < info.nbmax) && user.getPropertyNb('volcano') == 0">
          <input type="number" placeholder="0" min="0" step="1"
                 [(ngModel)]="buildNb" class="form-control"
                 (keydown.enter)="buildingBuild()">
          <span class="input-group-addon btn btn-primary"
                (click)="buildingBuild()" translate>Build</span>
        </div>
        
        <div class="input-group"
             [hidden]="user.getPropertyNb(info.code) == 0 || (info.nbmin && user.getPropertyNb(info.code) <= info.nbmin)">
          <input type="number" placeholder="0" min="0" step="1"
                 [(ngModel)]="destructNb" class="form-control"
                 (keydown.enter)="buildingDestruct()">
          <span class="input-group-addon btn btn-danger"
                (click)="buildingDestruct()" translate>Destruct</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-footer"
       *ngIf="info.code == 'militarycamp' && user.getPropertyNb('level') >= 3 && user.getPropertyNb('camp_level') == 1">
    <div class="col-12" translate>Update to recruit archers</div>
    <strong translate>Cost:</strong><br/>
    <span *ngFor="let resource of user.info.datas.building.archerschool.cost | keyvalue">
      {{ resource.value ? resource.value : 0 | number:'': this.translate.currentLang }}
      <id-to-ress [ress_id]="resource.key"></id-to-ress>
    </span>
    <br/>
    <button class="btn btn-success" (click)="updateCamp()" translate>
      Update
    </button>
  </div>
  <div class="modal-footer"
       *ngIf="info.code == 'militarycamp' && user.getPropertyNb('level') >= 6 && user.getPropertyNb('camp_level') == 2">
    <div translate>Update to recruit cavalry</div>
    <strong translate>Cost:</strong><br/>
    <span *ngFor="let resource of user.info.datas.building.cavalryschool.cost | keyvalue">
      {{ resource.value ? resource.value : 0 | number:'': this.translate.currentLang }}
      <id-to-ress [ress_id]="resource.key"></id-to-ress>
    </span>
    <br/>
    <button class="btn btn-success" (click)="updateCamp()" translate>
      Update
    </button>
  </div>
  <div class="modal-footer"
       *ngIf="info.code == 'militarycamp' && user.getPropertyNb('level') >= 9 && user.getPropertyNb('camp_level') == 3">
    <div translate>Update to recruit elit units</div>
    <strong translate>Cost:</strong><br/>
    <span *ngFor="let resource of user.info.datas.building.academy.cost | keyvalue">
      {{ resource.value ? resource.value : 0 | number:'': this.translate.currentLang }}
      <id-to-ress [ress_id]="resource.key"></id-to-ress>
    </span>
    <br/>
    <button class="btn btn-success" (click)="updateCamp()" translate>
      Update
    </button>
  </div>
  
  <div class="modal-footer">
    <div *ngIf="info.code == 'ironmine'" translate>
      This mine will produce iron for use by your craftsmen or your army.
    </div>
    <div *ngIf="info.code == 'mint'" translate>
      The mints are very important, they will allow you to beat your currency to pay your troops, erect buildings and trade.
    </div>
    <div *ngIf="info.code == 'sawmill'" translate>
      The sawmill will produce wood for your archers and your buildings.
    </div>
    <div *ngIf="info.code == 'watchtower'" translate>
      The watchtower is a modest wooden tower with a few units, its low strength and limited range make it a very poor defense.
    </div>
    <div *ngIf="info.code == 'well'" translate>
      The wells will allow you to irrigate your crops and quench the thirst of your population.
    </div>
    <div *ngIf="info.code == 'farm'" translate>
      The farms produce food for your soldiers and for export.
    </div>
    <div *ngIf="info.code == 'growers'" translate>
      The growers produces grapes to allow your presses to produce wine, for your soldiers or for export.
    </div>
    <div *ngIf="info.code == 'winery'" translate>
      The winery will press your grape to make a juice and then ferment it in amphorae. This wine will serve to water your troops and export.
    </div>
    <div *ngIf="info.code == 'goldmine'" translate>
      The gold extracted from the mines, you used to pay your elite troops and honor the gods.
    </div>
    <div *ngIf="info.code == 'quarry'" translate>
      The quarry will produce stone and marble for building your temples and some of your buildings. It will spread your men on different productions to maximize your returns.
    </div>
    <div *ngIf="info.code == 'denofspies'" translate>
      Spies are mysterious characters and eager for wealth. By engaging in this place you will take risks to your city, but it does not have to take risks to become the most powerful Greek cities?
    </div>
    <div *ngIf="info.code == 'militarycamp'" translate>
      The military camp will train your army, you can update it to be able to engage better unities.
    </div>
    <div *ngIf="info.code == 'archerschool'" translate>
      The Archers School will train your infantry and cavalry from a distance.
    </div>
    <div *ngIf="info.code == 'cavalryschool'" translate>
      The cavalry school will train your mounted units, these units although expensive, are superior to the basic infantry.
    </div>
    <div *ngIf="info.code == 'academy'" translate>
      Military complement the military camp or the Cavalry School, the academy will train the elite of your army.
    </div>
    <div *ngIf="info.code == 'hut'" translate>
      Your huts will allow you to house the base of your army.
    </div>
    <div *ngIf="info.code == 'habitation'" translate>
      This is where live the base of your army, the advantage compared to the huts is that in a home you can put the equivalent of 4 huts while having a lower field.
    </div>
    <div *ngIf="info.code == 'palace'" translate>
      This is where your elite units will stay away from the dirt and noise of the city.
    </div>
    <div *ngIf="info.code == 'cursedcave'" translate>
      In the caverns are buried the most powerful creatures, created by the gods themselves. The caverns can house only a few of these creatures, most of whom prefer to live in small groups.
    </div>
    <div *ngIf="info.code == 'observationtower'" translate>
      The observation tower will be your first tower built in hard, despite its effectiveness is limited but it can repel armies of small sizes by itself.
    </div>
    <div *ngIf="info.code == 'towerofduty'" translate>
      This imposing stone and marble tower will be one of your best defensive weapons, in return for its enormous cost, its effectiveness is no longer to be demonstrated.
    </div>
    <div *ngIf="info.code == 'mirrortower'" translate>
      This imposing gold and marble tower will be one of your best defensive weapons. In return for its enormous cost, its effectiveness is well established.
    </div>
  </div>
</div>
