<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" translate>Since your last connection</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body container-fluid">
    <span *ngIf="info.bonus_id > 0">
      <strong translate>Divine bonus received:</strong> 
      <id-to-divinebonus [id]="info.bonus_id"></id-to-divinebonus>
      <br/>
    </span>
    <strong translate>New messages:</strong> {{ info.msg }} 
    <a *ngIf="info.msg" [routerLink]="['/messages']"  data-bs-dismiss="modal" >
      (<span translate>Read</span>)
    </a>
    <br/><strong translate>Attacks received:</strong> {{ info.attack }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
  </div>
</div>
