<div class="modal fade" id="detailsHelp" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 translate>Legend</h5>
      </div>
      <div class="modal-body">
        <div translate>You don't have enough resources to maintain your production.</div>
        <div translate>The productions in yellow are degraded and those in red stopped.</div>
        <div translate>Check your resources to restore your production, it is probably currently at zero.</div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" translate>Close</button>
      </div>
    </div>
  </div>
</div>

<app-common-top-bar active="details"></app-common-top-bar>

<div class="col-lg-10 col-md-10 col-12 main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-block d-sm-none d-flex">
          <button class="btn btn-info p-2 flex-fill" (click)="setMenuMode(0)"
                  translate>Production</button>
          <button class="btn btn-danger p-2 flex-fill" (click)="setMenuMode(1)"
                  translate>Consumption</button>
          <button class="btn btn-primary p-2 flex-fill" (click)="setMenuMode(2)"
                  translate>Evolution</button>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="visually-hidden" id="detailsDesc"
                 translate>Details of the comsumptions and productions</div>
            <table class="table align-middle" aria-labelledby="detailsDesc">
              <thead class="text-center">
                <tr>
                  <th scope="col" [ngClass]="{'d-none d-sm-table-cell': menuMode != 0}">
                    <span translate>Production</span>/<span translate>Day</span>
                  </th>
                  <th scope="col" [ngClass]="{'d-none d-sm-table-cell': menuMode != 1}">
                    <span translate>Consumption</span>/<span translate>Day</span>
                  </th>
                  <th scope="col" [ngClass]="{'d-none d-sm-table-cell': menuMode != 2}">
                    <span translate>Evolution</span>/<span translate>Day</span>
                  </th>
                </tr>
              </thead>
              <tbody>
              
                <tr *ngFor="let ress of nbvariation | keyvalue">
                  <td [ngClass]="{'d-none d-sm-table-cell': menuMode != 0}">
                    <span *ngFor="let building of user.getBuildings()">
                      <span *ngIf="user.getPropertyNb(building.code) > 0 && getRess(building.production, ress.key) > 0">
                        +{{ getRess(building.production, ress.key) * user.getPropertyNb(building.code) | number:'': this.translate.currentLang }} 
                        <app-id-to-ress [ress_id]="ress.key"></app-id-to-ress>
                        {{building.name|translate}}
                        <a [routerLink]="['/mints']"
                           title="{{'Production of drachmas by number of mints'|translate}}"
                           *ngIf="building.code === 'mint'">
                          <ic-icon [icIcon]="questionCircle"></ic-icon>
                        </a>
                        <br/>
                      </span>
                    </span>
                  </td>
                  <td [ngClass]="{'d-none d-sm-table-cell': menuMode != 1}">
                    <span *ngFor="let building of user.getBuildings()">
                      <span *ngIf="user.getPropertyNb(building.code) > 0 && getRess(building.consumption, ress.key) > 0">
                        -{{ getRess(building.consumption, ress.key) * user.getPropertyNb(building.code) | number:'': this.translate.currentLang }} 
                        <app-id-to-ress [ress_id]="ress.key"></app-id-to-ress>
                        {{building.name|translate}}<br/>
                      </span>
                    </span>
                    <span *ngFor="let unit of user.getArmy()">
                      <span *ngIf="user.getPropertyNb(unit.code) > 0 && getRess(unit.consumption, ress.key) > 0">
                        -{{ getRess(unit.consumption, ress.key) * user.getPropertyNb(unit.code) | number:'': this.translate.currentLang }} 
                        <app-id-to-ress [ress_id]="ress.key"></app-id-to-ress>
                        {{unit.name|translate}}<br/>
                      </span>
                    </span>
                    <span *ngIf="user.getTaxes(ress.key) > 0">
                      -{{user.getTaxes(ress.key) | number:'': this.translate.currentLang }} 
                      <app-id-to-ress [ress_id]="ress.key"></app-id-to-ress>
                      {{'Alliance\'s taxes'|translate}}
                    </span>
                  </td>
                  <td [ngClass]="{'text-danger': user.getPropertyNb(ress.key) == 0 && getVariation(ress.key) < 0,
                                  'text-warning': getVariation(ress.key) >= 0 && getVariation(ress.key) > (user.getVarRess(ress.key)*3600*24+0.000001),
                                  'd-none d-sm-table-cell': menuMode != 2}">
                    <span *ngIf="user.getVarRess(ress.key) > 0">+</span>{{user.getVarRess(ress.key)*3600*24| number:'': this.translate.currentLang }}
                    <app-id-to-ress [ress_id]="ress.key"></app-id-to-ress>
                    <span *ngIf="user.getPropertyNb(ress.key) == 0 && getVariation(ress.key) < 0 || getVariation(ress.key) >= 0 && getVariation(ress.key) > (user.getVarRess(ress.key)*3600*24+0.000001)"
                          data-bs-toggle="modal" data-bs-target="#detailsHelp"
                          role="button" title="{{'Help'|translate}}" translate>
                      <ic-icon [icIcon]="questionCircle"></ic-icon>
                    </span>
                  </td>
                </tr>
                <tr *ngIf="user.getLevel() >= user.getLevelRess('ambrosia')">
                  <td [ngClass]="{'d-none d-sm-table-cell': menuMode != 0}">
                    <div *ngIf="user.getPropertyNb('apollo')  == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Apollo</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('demeter') == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Demeter</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('hermes') == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Hermes</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('ares') == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Ares</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('athena') == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Athena</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('artemis')  == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Artemis</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('dionysus') == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Dionysus</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('hephaestus') == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Hephaestus</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('hades')  == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Hades</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('poseidon') == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Poseidon</span>
                    </div>
                    <div *ngIf="user.getPropertyNb('zeus') == 1">
                      + 4 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Temple of Zeus</span>
                    </div>
                    <div *ngIf="user.getSanctuary(3) > 0">
                      + 24 <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>&nbsp;<span translate>Tantalus</span>
                    </div>
                  </td>
                  <td [ngClass]="{'d-none d-sm-table-cell': menuMode != 1}">
                  
                  </td>
                  <td *ngIf="user.getSanctuary(3) == 0" [ngClass]="{'d-none d-sm-table-cell': menuMode != 2}">
                    +{{4*(
                     user.getPropertyNb('hermes')+user.getPropertyNb('apollo')+user.getPropertyNb('demeter')+user.getPropertyNb('ares')+user.getPropertyNb('athena')+user.getPropertyNb('artemis')+user.getPropertyNb('dionysus')+user.getPropertyNb('hephaestus')+user.getPropertyNb('zeus')+user.getPropertyNb('hades')+user.getPropertyNb('poseidon')) }}
      
                    <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>
                  </td>
                  <td *ngIf="user.getSanctuary(3) > 0" [ngClass]="{'d-none d-sm-table-cell': menuMode != 2}">
                    +{{4*(6+
                     user.getPropertyNb('hermes')+user.getPropertyNb('apollo')+user.getPropertyNb('demeter')+user.getPropertyNb('ares')+user.getPropertyNb('athena')+user.getPropertyNb('artemis')+user.getPropertyNb('dionysus')+user.getPropertyNb('hephaestus')+user.getPropertyNb('zeus')+user.getPropertyNb('hades')+user.getPropertyNb('poseidon')) }}
      
                    <app-id-to-ress [ress_id]="'ambrosia'"></app-id-to-ress>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-connected-right-menu></app-connected-right-menu>
<app-common-bottom-bar></app-common-bottom-bar>
