<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">
      <id-to-divinebonus [id]="divineBonus.bonus_id"></id-to-divinebonus>
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body">
    
    <div class="alert alert-danger" role="alert"
         *ngIf="divineBonus.error > 0" translate>
      Divine Bonus validated
    </div>
    
    <span translate>Currently</span>
    <span translate>:</span> {{ divineBonus.nb | number:'': this.translate.currentLang }}
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
    <button type="button" class="btn btn-primary"
            *ngIf="divineBonus.nb > 0"
            (click)="divineBonusUse()"
            translate>Use the Divine Bonus</button>
  </div>
</div>
