<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" translate>
      Divine Bonus
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div translate>The Divine Bonus are awarded when you sign in on the game and reward your loyalty. You can also earn through the activities offered on the facebook page. A bonus with similar effects to see its effect favors accumulate than the favor.</div>
    <br/>
    <div class="text-center">
      <div>
        <strong translate>Ongoing streak:</strong>
        {{ user.getPropertyNb('nbdays') }} <span translate>Day(s)</span>
      </div>
      <div>{{ 'Next goal: { value } Days, possible bonus:' | translate: { value: user.getGoalDays() | number:'': this.translate.currentLang } }}</div>
      
      <div [ngSwitch]="user.getGoalDaysNb()">
        <ul *ngSwitchCase="3">
          <li>
            {{ 10000 | number:'': this.translate.currentLang }}
            <app-id-to-ress [ress_id]="'iron'"></app-id-to-ress>
          </li>
          <li>
            {{ 10000 | number:'': this.translate.currentLang }}
            <app-id-to-ress [ress_id]="'wood'"></app-id-to-ress>
          </li>
          <li *ngIf="user.getProperty('datas').length > 0 && user.getLevel() >= user.getProperty('datas').ress_lvl.grapes">
            {{ 2000 | number:'': this.translate.currentLang }}
            <app-id-to-ress [ress_id]="'grapes'"></app-id-to-ress>
          </li>
        </ul>
        <ul *ngSwitchCase="7">
          <li *ngIf="user.getProperty('datas').length > 0 && user.getLevel() < user.getProperty('datas').ress_lvl.stone">
            {{ 10000 | number:'': this.translate.currentLang }} 
            <app-id-to-ress [ress_id]="'iron'"></app-id-to-ress>
          </li>
          <li *ngIf="user.getProperty('datas').length > 0 && user.getLevel() < user.getProperty('datas').ress_lvl.stone">
            {{ 10000 | number:'': this.translate.currentLang }} 
            <app-id-to-ress [ress_id]="'wood'"></app-id-to-ress>
          </li>
          <li *ngIf="user.getProperty('datas').length > 0 && user.getLevel() < user.getProperty('datas').ress_lvl.stone">
            {{ 2000 | number:'': this.translate.currentLang }} 
            <app-id-to-ress [ress_id]="'grapes'"></app-id-to-ress>
          </li>
          <li *ngIf="user.getProperty('datas').length > 0 && user.getLevel() >= user.getProperty('datas').ress_lvl.stone">
            {{ 2000 | number:'': this.translate.currentLang }} 
            <app-id-to-ress [ress_id]="'stone'"></app-id-to-ress>
          </li>
          <li *ngIf="user.getProperty('datas').length > 0 && user.getLevel() >= user.getProperty('datas').ress_lvl.marble">
            {{ 250 | number:'': this.translate.currentLang }} 
            <app-id-to-ress [ress_id]="'marble'"></app-id-to-ress>
          </li>
        </ul>
        <ul *ngSwitchCase="14">
          <li *ngIf="user.getLevel() < 9">
            {{80}} 
            <span translate>Spartans</span>
          </li>
          <li *ngIf="user.getLevel() >= 9" translate>
            200 units of your third temple
          </li>
        </ul>
        <ul *ngSwitchCase="30">
          <li translate>
            6 hours of withdrawal without taxes in your treasure
          </li>
          <li translate>
            2 bonus attacks
          </li>
        </ul>
        <ul *ngSwitchCase="50">
          <li>
            {{1}} <app-id-to-ress [ress_id]="'favor'"></app-id-to-ress>
            <app-id-to-ress [ress_id]="10"></app-id-to-ress>
          </li>
        </ul>
        <ul *ngSwitchCase="70">
          <li translate>
            6 hours of withdrawal without taxes in your treasure
          </li>
          <li translate>
            2 bonus attacks
          </li>
        </ul>
        <ul *ngSwitchCase="99">
          <li>
            {{1}} <app-id-to-ress [ress_id]="'favor'"></app-id-to-ress>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#DivineBonusList"
            data-bs-dismiss="modal" translate>Divine Bonus list</button>
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
  </div>
</div>
