<div *ngIf="info.lost_ress.food == 0 && info.lost_ress.grapes == 0 && info.lost_build.farm == 0 && info.lost_build.growers == 0" class="text-center" translate>
  No loss in the city
</div>
<div *ngIf="info.lost_ress.food > 0 || info.lost_ress.grapes > 0 || info.lost_build.farm > 0 || info.lost_build.growers > 0"
     class="text-center">
  <strong id="FuryLossesDesc" translate>Losses</strong>
  <table class="table" aria-describedby="FuryLossesDesc">
    <tr>
      <tr *ngIf="info.lost_ress.food > 0">
      <td class="text-end">
        {{info.lost_ress.food| number:'': this.translate.currentLang}}
      </td>
      <th scope="row" class="text-start">
        <app-id-to-ress [ress_id]="'food'"></app-id-to-ress>
      </th>
    </tr>
    <tr *ngIf="info.lost_ress.grapes > 0">
      <td class="text-end">
        {{info.lost_ress.grapes| number:'': this.translate.currentLang}}
      </td>
      <th scope="row" class="text-start">
        <app-id-to-ress [ress_id]="'grapes'"></app-id-to-ress>
      </th>
    </tr>
    <tr *ngIf="info.lost_build.farm > 0">
      <td class="text-end">
        {{info.lost_build.farm| number:'': this.translate.currentLang}}
      </td>
      <th scope="row" class="text-start">
        {{ user.getName('farm', info.lost_build.farm) |translate}}
      </th>
    </tr>
    <tr *ngIf="info.lost_build.growers > 0">
      <td class="text-end">
        {{info.lost_build.growers| number:'': this.translate.currentLang}}
      </td>
      <th scope="row" class="text-start">
        {{ user.getName('growers', info.lost_build.growers) |translate}}
      </th>
    </tr>
  </table>
</div>
