<common-top-bar active="messages"></common-top-bar>

<div class="modal fade" id="MsgSetRead" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Set all messages as read</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" 
                data-bs-dismiss="modal" translate>Close</button>
        <button type="button" class="btn btn-primary"
                (click)="setAllRead()"
                data-bs-dismiss="modal" translate>Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteMultipleMsg" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>
          Delete all the selected messages
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" 
                data-bs-dismiss="modal" translate>Close</button>
        <button type="button" class="btn btn-primary" 
                data-bs-dismiss="modal" (click)="messageDeleteMultiple()"
                translate>Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteMsg" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>
          Delete the selected messages
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" 
                data-bs-dismiss="modal" translate>Close</button>
        <button type="button" class="btn btn-primary" 
                data-bs-dismiss="modal" (click)="messageDelete()"
                translate>Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 main">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-flex text-center">
            <button class="btn btn-primary" (click)="messageLoad(0)">
              <ic-icon [icon]="brushIcon"></ic-icon>
            </button>
            <button class="btn btn-info" data-bs-toggle="modal" 
                    data-bs-target="#MsgSetRead">
              <ic-icon [icon]="envelopeFill"></ic-icon>
            </button>
            <button class="btn btn-warning" (click)="switchDeleteMode()">
              <ic-icon [icon]="trashIcon"></ic-icon>
            </button>
            <button [ngClass]="{'d-none': getDeleteMode() == 0}"
                    class="btn btn-danger" data-bs-toggle="modal" 
                    data-bs-target="#DeleteMultipleMsg">
                <ic-icon [icon]="trash2Icon"></ic-icon>
              </button>
          </div>
          <div *ngFor="let msg of getMsgList()" class="d-flex bd-highlight card-body"
               [ngClass]="{'selected': msg.msg_id == getCurrentMsg().id, 'new': msg.msg_read == 0}"
               role="button" (click)="messageLoad(msg)">
            <div class="p-2 bd-highlight border-top" *ngIf="getDeleteMode() == 1">
              <input type="checkbox" [checked]="msg.isChecked" 
                     [(ngModel)]="msg.isChecked" />
            </div>
            <div class="p-2 flex-grow-1 bd-highlight border-top">
              <messages-title [msg]="msg"></messages-title>
              <div class="fw-lighter">
                {{ msg.last_date | date:'dd/MM/yyyy, HH:mm' }}
              </div>
            </div>
            <div class="p-2 bd-highlight border-top">
              <div *ngFor="let u of msg.mb_list">
                <a [routerLink]="['/profile', u.id]">{{u.username}}</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="input-group" *ngIf="getMsgPageNb() > 1">
          <span class="input-group-text" role="button" (click)="setPage(1)">&lt;&lt;</span>
          <span class="input-group-text" role="button" (click)="setPage(currentPage, -1)">&lt;</span>
          <select class="form-control" (change)="pageLoad($event)" [(ngModel)]="currentPage">
            <option *ngFor="let item of [].constructor(getMsgPageNb()); let i = index"
                    value="{{ i +1 }}" translate>Page {{ i +1 }}</option>
          </select>
          <span class="input-group-text" role="button" (click)="setPage(currentPage, 1)">&gt;</span>
          <span class="input-group-text" role="button" (click)="setPage(getMsgPageNb())">&gt;&gt;</span>
        </div>
      </div>
      
      <div class="col-xl-6 text-center" *ngIf="getCurrentMsg().id > 0">
        <div class="card">
          <div class="card-body">
            <h2>
              <messages-title [msg]="getCurrentMsg()"></messages-title>
              &nbsp;
              <button class="btn btn-warning" (click)="shareMsg()">
                <ic-icon [icon]="share"></ic-icon>
              </button>
              &nbsp;
              <button class="btn btn-danger" data-bs-toggle="modal"
                      data-bs-target="#DeleteMsg">
                <ic-icon [icon]="trashIcon"></ic-icon>
              </button>
            </h2>
          </div>
          <div *ngIf="getCurrentMsg().msg_shared == 1" class="card-body text-center">
            <strong translate>Share link:</strong>
            {{ getCurrentMsg().url }}/message/{{ getCurrentMsg().id }}
            <span class="badge bg-primary">
              <ic-icon [cbContent]="getCurrentMsg().url+'/message/'+getCurrentMsg().id"
                    name="clipboard-check" role="button" ngxClipboard></ic-icon>
            </span>
          </div>
          
          <div *ngIf="getCurrentMsg().msg_type == 0">
            <div class="card-body">
              <div class="input-group">
                <textarea class="form-control" placeholder="{{'Message'|translate}}"
                          [(ngModel)]="answerText"></textarea>
                <span class="input-group-addon btn btn-primary"
                      (click)="answer()" translate>Send</span>
              </div>
            </div>
            <div *ngFor="let msg of getCurrentMsg().msg" class="card-body">
              {{ msg.content }}
              <div class="text-end fw-lighter">
                <strong translate>{{ 'By { value }' | translate: { value: msg.username } }}</strong>, {{ msg.time | date:'dd/MM/yyyy, HH:mm' }}
              </div>
            </div>
          </div>
          
          <div *ngIf="getCurrentMsg().msg_type > 0">
            TODO
          </div>
        </div>
      </div>
      
      <div class="col-xl-6 text-center" *ngIf="getCurrentMsg().id == 0">
        <div class="alert alert-success" *ngIf="msgSent > 0" translate>
          Message sent
        </div>
        <div class="card">
          <div class="card-body">
            <span class="badge bg-primary" *ngFor="let user of getDestList()">
              {{ user.username }}
              <ic-icon [icon]="xIcon" role="button" (click)="removeDest(user.id)"></ic-icon>
            </span>
            
            <div class="input-group">
              <span class="input-group-text" translate>To: </span>
              <input type="text" class="form-control" aria-label="Player" 
                     placeholder="{{'Player'|translate}}" [(ngModel)]="msgToUser"
                     (keydown.enter)="addDest(msgToUser)" >
              <span class="input-group-text text-center" role="button" 
                    (click)="addDest(msgToUser)">
                <ic-icon [icon]="plusIcon"></ic-icon>
              </span>
            </div>
            <div *ngIf="addDestError > 0" class="alert alert-danger"
                 translate>This player doesn't exist</div>
          </div>
          <div class="card-body">
            <input type="text" class="form-control" 
                   placeholder="{{'Title'|translate}}" [(ngModel)]="msgTitle" />
            <br/>
            <div class="input-group">
              <textarea class="form-control" placeholder="{{'Message'|translate}}"
                        [(ngModel)]="msgText"></textarea>
              <span class="input-group-addon btn btn-primary" 
                    role="button" (click)="send()" translate>Send</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<connected-right-menu></connected-right-menu>
<app-bottom-bar></app-bottom-bar>
