<div [ngSwitch]="msg.content_type">
  <span *ngSwitchCase="0">
    <div class="text-prewrap">{{ msg.content }}</div>
    <div class="text-end fw-lighter">
      <strong>{{ 'By { value }' | translate: { value: msg.username } }}</strong>, {{ msg.time | date:'dd/MM/yyyy, HH:mm' }}
    </div>
  </span>
  <span *ngSwitchCase="1"><app-attacks-message [info]="msg.content"></app-attacks-message></span>
  <span *ngSwitchCase="2">
    <br/><br/>
    <span translate class="fw-bold">Jackpot:</span>
    {{msg.content.drachma| number:'': this.translate.currentLang}}
    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
  </span>
  <span *ngSwitchCase="3"><app-fury-message [info]="msg.content"></app-fury-message></span>
  <span *ngSwitchCase="4">{{'Attempted espionage from { value }' | translate: { value: full.title.username } }}</span>
  <span *ngSwitchCase="5">{{'Espionage from { value }' | translate: { value: full.title.username} }}</span>
  <span *ngSwitchCase="6">
      {{'{ value } has triggered the hostilities.' | translate: { value: msg.content.player_name} }}
      <br/>
      {{'The alliances { value } and { name } will go to war in 24, stand ready!' | translate: { value: msg.content.attacking_name, name: msg.content.defender_name} }}
  </span>
  <span *ngSwitchCase="7">
      {{'{ value } has triggered the hostilities.' | translate: { value: msg.content.player_name } }}
      <br/>
      {{'The alliances { value } and { name } will go to war in 24, stand ready!' | translate: { value: msg.content.attacking_name, name: msg.content.defender_name } }}
  </span>
  <span *ngSwitchCase="8"><app-lost-message [info]="msg.content"></app-lost-message></span>
  <span *ngSwitchCase="9">
    <div translate>Hello and welcome on Ellas War</div>
    <br/>
    <div translate>You have joined the hostile lands of Ellas War. You will find help symboles to guide you on the game. Drachmas are the sinews of war, honnor the Gods and don't forget to protect your city.</div>
    <div translate>Join the Ellas War's Facebook Page. You'll find advice and answers to your questions.</div>
    <div translate>In case of problems you can also ask for help on the contact page.</div>
    <br/>
    <div translate>Have a good game</div>
    <br/>
    <span translate>The Ellas War's team</span>
  </span>
  <span *ngSwitchCase="10"><app-lost-message [info]="msg.content"></app-lost-message></span>
  <span *ngSwitchCase="11">
    {{msg.content.qtt| number:'': this.translate.currentLang}}
    <app-id-to-ress [ress_id]="msg.content.ress"></app-id-to-ress>
    <span translate>for</span>
    {{msg.content.price| number:'': this.translate.currentLang}}
    
    <div *ngIf="msg.content.buyer_id && msg.content.buyer_id > 0">
      <span translate>Buyer</span>
      <span translate>:</span>
      {{msg.content.buyer}}
    </div>
  </span>
  <span *ngSwitchCase="12">
    {{'{ value } has accepted your request for:' | translate: { value: msg.content.user } }}
    {{msg.content.qtt| number:'': this.translate.currentLang}}
    <app-id-to-ress [ress_id]="msg.content.ress"></app-id-to-ress>
  </span>
  <span *ngSwitchCase="13">
    <div  translate>You win the Honnor challenge!</div>
    <br/>
    <span translate>Reward:</span>
    {{msg.content.reward| number:'': this.translate.currentLang}}
    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
  </span>
  <span *ngSwitchCase="14">
    <h2 id="Message14Desc">{{msg.content.username}}</h2>
    
    <div class="col-table">
    <table class="table" aria-describedby="Message14Desc">
      <tr *ngIf="msg.content.alliance > 0">
        <th scope="row" translate>Alliance</th>
        <td class="text-end">{{msg.content.alliance_name}}&nbsp;</td>
      </tr>
      <tr *ngIf="msg.content.alliance > 0">
        <th scope="row" translate>Rank</th>
        <td class="text-end">{{msg.content.rank_name}}&nbsp;</td>
      </tr>
      <tr>
        <th scope="row" translate>Level</th>
        <td class="text-end">{{msg.content.level}}&nbsp;</td>
      </tr>
      <tr>
        <th scope="row" translate>Field</th>
        <td class="text-end">{{msg.content.field| number:'': this.translate.currentLang}}</td>
      </tr>
      <tr>
        <th scope="row" translate>Victories</th>
        <td class="text-end">{{msg.content.victory| number:'': this.translate.currentLang}}</td>
      </tr>
      <tr>
        <th scope="row" translate>Defeats</th>
        <td class="text-end">{{msg.content.defeat| number:'': this.translate.currentLang}}</td>
      </tr>
      <tr>
        <th scope="row" translate>XP</th>
        <td class="text-end">{{msg.content.xp| number:'': this.translate.currentLang}}</td>
      </tr>
    </table>
    </div>
    <br/>
    
    <div *ngIf="msg.content.poseidon_wall && msg.content.poseidon_wall == 1 && (!msg.content.defense_wall || msg.content.defense_wall == 0)"
         translate>
      The wall of Poseidon protects this city.
    </div>
    <div *ngIf="msg.content.defense_wall && msg.content.defense_wall >= 1 && (!msg.content.poseidon_wall || msg.content.poseidon_wall == 0)"
         translate>
      A wall is protecting this city.
    </div>
    <div *ngIf="msg.content.defense_wall && msg.content.defense_wall >= 1 && msg.content.poseidon_wall && msg.content.poseidon_wall == 1"
         translate>
      Many walls are protecting this city.
    </div>
    
    <span [ngSwitch]="msg.content.error">
      <span *ngSwitchCase="1" translate>Your espionage team was caught and executed in a public place.</span>
      <span *ngSwitchCase="2">
        <span translate>Information reached your city but unfortunately your spy team was caught, tortured until they denounce you and executed in a public place.</span>
        <br/><br/>
        <strong translate>Unities</strong><strong translate>:</strong> {{msg.content.unitiesNb| number:'': this.translate.currentLang}}
        <br/>
        <strong translate>Towers</strong><strong translate>:</strong> {{msg.content.defenseNb| number:'': this.translate.currentLang}}
      </span>
      <span *ngSwitchCase="3">
        <strong translate>Unities</strong><strong translate>:</strong> {{msg.content.unitiesNb| number:'': this.translate.currentLang}}
        <br/>
        <strong translate>Towers</strong><strong translate>:</strong> {{msg.content.defenseNb| number:'': this.translate.currentLang}}
      </span>
      <span *ngSwitchCase="4" translate>You do not have spies.</span>
    </span>
  
    <br/>
    
    <div *ngIf="msg.content.buildings && msg.content.buildings.length > 0">
      <strong translate>Buildings</strong><strong translate>:</strong>
      <div *ngFor="let build of msg.content.buildings">
        {{user.info.datas.building[build].name|translate}}
      </div>
    </div>
    
    <div *ngIf="msg.content.unities && msg.content.unities.length > 0">
      <strong translate>Unities</strong><strong translate>:</strong>
      <div *ngFor="let unit of msg.content.unities">
        {{user.info.datas.army[unit].name|translate}}
      </div>
      <br/>
    </div>
  </span>
  <span *ngSwitchCase="15">
    <span translate>Hello</span>,<br/><br/>
    <span translate>We inform you that a member of the staff has sent you a message via the contact page.</span>
    <br/><br/>
    <a [routerLink]="['/support/'+msg.content.id]"
       translate>
      Read the message
    </a>
  </span>
  <span *ngSwitchCase="16"><app-sanctuary-message [info]="msg.content"></app-sanctuary-message></span>
  <span *ngSwitchCase="17">
    <h3 translate>Result</h3>
    <strong>{{full.title.attacker}}</strong><strong translate>:</strong> 
    {{msg.content.attacker}}
    <br/>
    <strong>{{full.title.defender}}</strong><strong translate>:</strong> 
    {{msg.content.defender}}
    <br/>
    <br/>
    <div *ngIf="msg.content.benefits">
      <strong translate>Reward:</strong> {{msg.content.benefits| number:'': this.translate.currentLang}}
      <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
    </div>
  </span>
  <span *ngSwitchCase="18">
    <h3 translate>Result</h3>
    <strong>{{full.title.attacker}}</strong><strong translate>:</strong> 
    {{msg.content.attacker}}
    <br/>
    <strong>{{full.title.defender}}</strong><strong translate>:</strong> 
    {{msg.content.defender}}
    <br/>
    <br/>
    <strong translate>Reward:</strong> {{msg.content.benefits/10| number:'': this.translate.currentLang}}
    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
  </span>
  <span *ngSwitchCase="19"><app-lost-message [info]="msg.content"></app-lost-message></span>
  <span *ngSwitchCase="20">{{'Attempted espionage of your sanctuary from { value }' | translate: { value: full.title.username } }}</span>
  <span *ngSwitchCase="21">{{'Espionage of your sanctuary from { value }' | translate: { value: full.title.username } }}</span>
  <span *ngSwitchCase="22">
    <h2>{{ msg.content.sanctuaries_name | translate}}</h2>
    
    <span [ngSwitch]="msg.content.error">
      <span *ngSwitchCase="1" translate>Your espionage team was caught and executed in a public place.</span>
      <span *ngSwitchCase="2">
        <span translate>Information reached your city but unfortunately your spy team was caught, tortured until they denounce you and executed in a public place.</span>
        <br/><br/>
        <strong translate>Unities</strong><strong translate>:</strong> {{msg.content.unitiesNb| number:'': this.translate.currentLang}}
        <div *ngIf="msg.content.unities && msg.content.unities.length > 0">
          <br/>
          <div *ngFor="let unit of msg.content.unities">
            {{user.info.datas.army[unit].name|translate}}
          </div>
          <br/>
        </div>
      </span>
      <span *ngSwitchCase="3">
        <strong translate>Unities</strong><strong translate>:</strong> {{msg.content.unitiesNb| number:'': this.translate.currentLang}}
        <div *ngIf="msg.content.unities && msg.content.unities.length > 0">
          <br/>
          <div *ngFor="let unit of msg.content.unities">
            {{user.info.datas.army[unit].name|translate}}
          </div>
          <br/>
        </div>
      </span>
      <span *ngSwitchCase="4" translate>You do not have spies.</span>
    </span>
  </span>
  <span *ngSwitchCase="23">
    {{'You win { value } Drachmas' | translate: { value: msg.content.reward| number:'': this.translate.currentLang} }}
  </span>
  <span *ngSwitchCase="24">
    {{'Your alliance win { value } Drachmas' | translate: { value: msg.content.reward| number:'': this.translate.currentLang} }}
  </span>
  <span *ngSwitchCase="25">{{'{ value } has destroyed the pact between { name1 } and { name2 }' | translate: { value: msg.content.username, name1: msg.content.dst_name, name2: msg.content.ask_name } }}.
  </span>
  <span *ngSwitchCase="26">{{'{ value } has destroyed the pact between { name1 } and { name2 }' | translate: { value: msg.content.username, name1: msg.content.dst_name, name2: msg.content.ask_name } }}.
  </span>
  <span *ngSwitchCase="27">{{'{ value } from the alliance { name } has requested a pact to your alliance.' | translate: { value: msg.content.username, name: msg.content.ask_name } }}</span>
  <span *ngSwitchDefault>TODO {{ msg.msg_type }}</span>
</div>

<div *ngIf="msg.content_type > 0" class="text-end fw-lighter">
  {{ msg.time | date:'dd/MM/yyyy, HH:mm' }}
</div>