<app-common-top-bar active="mints"></app-common-top-bar>

<div class="col-lg-10 col-md-10 col-sm-12 col-12 main main-top" role="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-center fw-bold mb-4" translate>
                Production of drachmas by number of mints
              </div>
              <ng-container *ngFor="let prod of list;index as i">
                <div *ngIf="i > 0" class="col-lg-3 col-6 d-flex"
                     [ngClass]="{'text-danger': i === user.getPropertyNb('mint')}">
                  <div>{{ i }}</div>
                  <div class="flex-grow-1 text-end">
                    {{ prod | number:'1.0-0': this.translate.currentLang }}&nbsp;
                    <app-id-to-ress [ress_id]="'drachma'"></app-id-to-ress>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-connected-right-menu></app-connected-right-menu>
<app-common-bottom-bar></app-common-bottom-bar>
