<common-top-bar active="options"></common-top-bar>

<div class="modal fade" id="GameSettings" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Change game settings</h5>
      </div>
      <div class="modal-body">
        <div class="form-check form-switch">
          <input id="gameSound" class="form-check-input" 
                 type="checkbox" 
                 (change)="soundModify()" [checked]="sound" >
          <label class="form-check-label"
                 for="gameSound" translate>Sound</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" translate>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ChangeUsername" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Change your username</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="getRenameError() > 0">
          <div [ngSwitch]="getRenameError()">
            <div *ngSwitchCase="1" translate>
              Your username must be at least 6 characters.
            </div>
            <div *ngSwitchCase="2" translate>
              This username is already used
            </div>
            <div *ngSwitchCase="3" translate>
              Username modified successfully
            </div>
            <div *ngSwitchCase="4" translate>
              You don't have enough favors
            </div>
          </div>
        </div>
        <div translate>At each change the cost is increased, 
                          it is reset every 6 months.</div>
        <div>
          <strong translate>Cost:</strong> {{ getAccountRenameCost() | number:'': this.translate.currentLang }} <id-to-ress [ress_id]="10"></id-to-ress>
        </div>
        
        <div *ngIf="user.getLevel() == 0"
             translate>From level 1 starting cost passes to one Favor</div>
        
        <div>
          <input type="text" class="form-control"  [(ngModel)]="newusername" 
                 placeholder="{{'New username'|translate}}" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                translate>Close</button>
        <button type="button" class="btn btn-primary" (click)="accountRename()" 
                translate>Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ChangeEmail" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Change your email</h5>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger center"
             *ngIf="emailError == 1" translate>
          Your email is empty or invalid
        </div>
        
        <strong for="oldemail" translate>Old email</strong>
        <input type="text" class="form-control" disabled=""
               value="{{ user.getProperty('email') }}" 
               placeholder="{{'Old email'|translate}}" id="oldemail">
        <strong for="newemail" translate>New email</strong> 
        <input type="email" class="form-control" [(ngModel)]="newEmail"
               placeholder="{{'New email'|translate}}" id="newemail">
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"
                (click)="accountEmail()"
                translate>Change your email</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ResetAccount" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Reinitialize your account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger" translate>
        Warning, in case of confirmation your account will be reset definitively. This action can not be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                translate>Close</button>
        <button type="button" class="btn btn-primary" (click)="reset()" 
                translate>Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 main">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body" translate>
            TODO
          </div>
          <div class="card-footer" data-bs-toggle="modal" 
               data-bs-target="#GameSettings" translate>
            Change game settings
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body" *ngIf="getAccountRenameCost() == 0" translate>
            Choose a new Username for your account. While you stay level 0, 
            your first modification is free!
          </div>
          <div class="card-body" *ngIf="getAccountRenameCost() == 1" translate>
           {{'Choose a new Username for your account. It will cost you 1 favor.'}}
          </div>
          <div class="card-body" *ngIf="getAccountRenameCost() > 1">
           {{'Choose a new Username for your account. It will cost you { value } 
              favor(s).' | translate: { value: getAccountRenameCost() } }}
          </div>
          <div class="card-footer" data-bs-toggle="modal" 
               data-bs-target="#ChangeUsername" translate>
            Change your username
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body" translate>
            Modify your email connected to your account.
          </div>
          <div class="card-footer" data-bs-toggle="modal" 
               data-bs-target="#ChangeEmail" translate>
            Change your email
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body" translate>
            Reset your account and start a new adventure.
          </div>
          <div class="card-footer" data-bs-toggle="modal" 
               data-bs-target="#ResetAccount" translate>
            Reinitialize your account
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<connected-right-menu></connected-right-menu>
<app-bottom-bar></app-bottom-bar>
