<app-common-top-bar active="options"></app-common-top-bar>

<div class="modal fade" id="AccountInformation" tabindex="-1" aria-hidden="true">
  <app-options-account-information-popup></app-options-account-information-popup>
</div>

<div class="modal fade" id="SponsoringInformation" tabindex="-1" aria-hidden="true">
  <app-options-sponsoring-information-popup></app-options-sponsoring-information-popup>
</div>

<div class="modal fade" id="GameSettings" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Change game settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3" *ngIf="user.getPropertyNb('rank') >= 5">
          <select class="form-select" (change)="styleChange($event)" 
                  [(ngModel)]="currentStyle">
            <option value="default" translate>Default Style</option>
            <option value="red" translate>Red Style</option>
            <option value="pink" translate>Pink Style</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="fw-bold" for="language" translate>Language</label>
          <select class="form-select" (change)="languageChange($event)" 
                  [(ngModel)]="currentLanguage">
            <option value="fr" translate>French</option>
            <option value="en" translate>English</option>
          </select>
        </div>
        <div class="mb-3">
          <div class="form-check form-switch">
            <input id="gameSound" class="form-check-input" 
                   type="checkbox" [(ngModel)]="sound"
                   (change)="soundModify()" [checked]="sound" >
            <label class="form-check-label"
                   for="gameSound" translate>Sound</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" translate>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AccountPause" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Pause your account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p translate>
          When you pause your account, you become unassailable for a fixed term but in return your resources and those of your alliance will not increase during this period.
        </p>
        <ul>
          <li [ngClass]="{'text-danger': user.getPropertyNb('id') === user.getPropertyNb('chief')}"
              translate>The leader of an alliance cannot pause.</li>
          <li translate>You need to wait 11 hours after your last attack to use the pause feature.</li>
        </ul>
      </div>
      <div class="modal-body text-center text-danger"
           *ngIf="pauseAllowed === 0" translate>
        Your are not allowed to put your account in pause.
      </div>
      <div class="modal-body text-center" *ngIf="pauseAllowed === 1">
        <strong translate>Between 4 and 100 days including</strong>
        <input type="number" [attr.min]="4" [attr.max]="100"
               class="form-control" [(ngModel)]="pauseNb" />
        <button class="btn btn-warning" (click)="accountPause()"
                translate>Put your account in pause</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" translate>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ChangeUsername" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Change your username</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="getRenameError() > 0">
          <div [ngSwitch]="getRenameError()">
            <div *ngSwitchCase="1" translate>
              Your username must be at least 6 characters.
            </div>
            <div *ngSwitchCase="2" translate>
              This username is already used
            </div>
            <div *ngSwitchCase="3" translate>
              Username modified successfully
            </div>
            <div *ngSwitchCase="4" translate>
              You don't have enough favors
            </div>
          </div>
        </div>
        <div translate>At each change the cost is increased, 
                          it is reset every 6 months.</div>
        <div>
          <strong translate>Cost:</strong> {{ getAccountRenameCost() | number:'': this.translate.currentLang }} <app-id-to-ress [ress_id]="10"></app-id-to-ress>
        </div>
        
        <div *ngIf="user.getLevel() === 0"
             translate>From level 1 starting cost passes to one Favor</div>
        
        <div>
          <input type="text" class="form-control"  [(ngModel)]="newusername" 
                 placeholder="{{'New username'|translate}}" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                translate>Close</button>
        <button type="button" class="btn btn-primary" (click)="accountRename()" 
                translate>Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ChangeEmail" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Change your email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger center"
             *ngIf="emailError === 1" translate>
          Your email is empty or invalid
        </div>
        
        <strong for="oldemail" translate>Old email</strong>
        <input type="text" class="form-control" disabled=""
               value="{{ user.getProperty('email') }}" 
               placeholder="{{'Old email'|translate}}" id="oldemail">
        <strong for="newemail" translate>New email</strong> 
        <input type="email" class="form-control" [(ngModel)]="newEmail"
               placeholder="{{'New email'|translate}}" id="newemail">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" translate>Close</button>
        <button class="btn btn-primary"
                (click)="accountEmail()"
                translate>Change your email</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ChangePassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Change your password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-body" translate>
        After setting your new password, you will be disconnected from the game.
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="getPasswordError() > 0">
          <div [ngSwitch]="getPasswordError()">
            <div *ngSwitchCase="1" translate>
              Both passwords are different
            </div>
            <div *ngSwitchCase="2" translate>
              Your password must be at least 8 characters.
            </div>
            <div *ngSwitchCase="3" translate>
              Bad password
            </div>
            <div *ngSwitchCase="4" translate>
              Password changed successfully
            </div>
          </div>
        </div>
        
        <div *ngIf="accountPasswordPossible === 1">
          <strong for="oldpassword" translate>Old password</strong>
          <input type="password" class="form-control" [(ngModel)]="oldPassword"
                 placeholder="{{'Old password'|translate}}" id="oldpassword">
        </div>
        <strong for="newpassword" translate>New password</strong> 
        <input type="password" class="form-control" [(ngModel)]="newPassword"
               placeholder="{{'New password'|translate}}" id="newpassword">
        <strong for="confirm" translate>Confirmation</strong> 
        <input type="password" class="form-control" [(ngModel)]="confirm"
               placeholder="{{'Confirmation'|translate}}" id="confirm">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal" translate>Close</button>
        <button class="btn btn-primary"
                (click)="accountPassword()"
                translate>Change your password</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ResetAccount" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>Reinitialize your account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
                aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger" translate>
        Warning, in case of confirmation your account will be reset 
        definitively. This action can not be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                translate>Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                (click)="reset()" translate>Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="home-bg home-bg-private">
  <div class="col-lg-10 col-md-10 col-sm-12 col-12 main" role="main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card" id="options-component">
            <div class="card-body d-flex">
              <div class="col-logo d-flex align-items-center">
                <app-ic-icon [icon]="userCircle"
                        width="100%" height="100%"></app-ic-icon>
              </div>
              <div class="flex-grow-1 d-flex flex-column">
                <div class="flex-grow-1">
                  <strong translate>Account</strong>
                  <p translate>
                    Upload an avatar and add information about your self.
                  </p>
                </div>
                <div class="btn btn-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#AccountInformation"
                    role="button">
                  <div class="flex-grow-1" translate>
                    Change account information
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card-body d-flex">
              <div class="col-logo d-flex align-items-center">
                <app-ic-icon [icon]="crown"
                              width="100%" height="100%"></app-ic-icon>
              </div>
              <div class="flex-grow-1 d-flex flex-column">
                <div class="flex-grow-1">
                  <strong translate>Sponsorship</strong>
                  <p *ngIf="user.getPropertyNb('sponsor') === 0 && user.getLevel() < 5" translate>
                    Until the level 4 you can pick a sponsor, it will both give you a bonus when you reach the level 5. This player is also able to send you Drachmas to help your city.
                  </p>
                  <p *ngIf="user.getPropertyNb('sponsor') > 0 || user.getLevel() >= 5" translate>
                    Share your sponsoring link, when the new player will reach the level 1 or 5 you will get a bonus. Help to the players that you have sponsored and send them Drachmas.
                  </p>
                </div>
                <div class="btn btn-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#SponsoringInformation"
                    role="button">
                  <div class="flex-grow-1" translate>
                    Sponsorship
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body d-flex">
              <div class="col-logo d-flex align-items-center">
                <app-ic-icon [icon]="cog"
                        width="100%" height="100%"></app-ic-icon>
              </div>
              <div class="flex-grow-1 d-flex flex-column">
                <div class="flex-grow-1">
                  <strong translate>Parameters</strong>
                  <p translate>
                    Switch the language of the game and enable/disable the notifications.
                  </p>
                </div>
                <div class="btn btn-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#GameSettings"
                    role="button">
                  <div class="flex-grow-1" translate>
                    Change game settings
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card-body d-flex">
              <div class="col-logo d-flex align-items-center">
                <app-ic-icon [icon]="history"
                        width="100%" height="100%"></app-ic-icon>
              </div>
              <div class="flex-grow-1 d-flex flex-column">
                <div class="flex-grow-1">
                  <strong translate>Pause</strong>
                  <p translate>
                    Pause your account and come back later on Ellas War.
                  </p>
                </div>
                <div class="btn btn-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#AccountPause"
                    role="button">
                  <div class="flex-grow-1" translate>
                    Pause your account
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card-body d-flex">
              <div class="col-logo d-flex align-items-center">
                <app-ic-icon [icon]="idBadge"
                        width="100%" height="100%"></app-ic-icon>
              </div>
              <div class="flex-grow-1 d-flex flex-column">
                <div class="flex-grow-1">
                  <strong translate>Username</strong>
                  <p *ngIf="getAccountRenameCost() === 0" translate>
                    Choose a new Username for your account. While you stay level 0, 
                    your first modification is free!
                  </p>
                  <p *ngIf="getAccountRenameCost() === 1" translate>
                  Choose a new Username for your account. It will cost you 1 favor.
                  </p>
                  <p *ngIf="getAccountRenameCost() > 1">
                  {{'Choose a new Username for your account. It will cost you { value } 
                      favor(s).' | translate: { value: getAccountRenameCost() } }}
                  </p>
                </div>
                <div class="btn btn-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#ChangeUsername"
                    role="button">
                  <div class="flex-grow-1" translate>
                    Change your username
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card-body d-flex">
              <div class="col-logo d-flex align-items-center">
                <app-ic-icon [icon]="email"
                        width="100%" height="100%"></app-ic-icon>
              </div>
              <div class="flex-grow-1 d-flex flex-column">
                <div class="flex-grow-1">
                  <strong translate>Email</strong>
                  <p translate>
                    Modify your email connected to your account.
                  </p>
                </div>
                <div class="btn btn-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#ChangeEmail"
                    role="button">
                  <div class="flex-grow-1" translate>
                    Change your email
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card-body d-flex">
              <div class="col-logo d-flex align-items-center">
                <app-ic-icon [icon]="key"
                        width="100%" height="100%"></app-ic-icon>
              </div>
              <div class="flex-grow-1 d-flex flex-column">
                <div class="flex-grow-1">
                  <strong translate>Password</strong>
                  <p translate>
                    Modify your password.
                  </p>
                </div>
                <div class="btn btn-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#ChangePassword"
                    role="button">
                  <div class="flex-grow-1" translate>
                    Change your password
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card-body d-flex">
              <div class="col-logo d-flex align-items-center">
                <app-ic-icon [icon]="redo"
                        width="100%" height="100%"></app-ic-icon>
              </div>
              <div class="flex-grow-1 d-flex flex-column">
                <div class="flex-grow-1">
                  <strong translate>Reset</strong>
                  <p translate>
                    Reset your account and start a new adventure.
                  </p>
                </div>
                <div class="btn btn-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#ResetAccount"
                    role="button">
                  <div class="flex-grow-1" translate>
                    Reinitialize your account
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-connected-right-menu></app-connected-right-menu>
</div>
<app-common-bottom-bar></app-common-bottom-bar>
