<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" translate>Sponsorship</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" 
              aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="text-center" *ngSwitch="sponsorError">
        <div *ngSwitchCase="1" class="alert alert-danger" translate>You can't choose a sponsor anymore</div>
        <div *ngSwitchCase="2" class="alert alert-danger" translate>This player doesn't exist</div>
        <div *ngSwitchCase="3" class="alert alert-danger" translate>Your sponsor must be level 5 minimum</div>
        <div *ngSwitchCase="4" class="alert alert-success" translate>Sponsor choosed</div>
      </div>

      <div class="mb-3" *ngIf="user.getPropertyNb('sponsor') === 0 && user.getLevel() < 5">
        <strong translate>Choose a sponsor</strong><strong translate>:</strong>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Player"
                 [(ngModel)]="sponsorNew" placeholder="{{'Player'|translate}}">
          <span class="input-group-text btn btn-success" (click)="sponsorChoose()" translate>
            Choose
          </span>
        </div>
      </div>
      <div class="mb-3" *ngIf="user.getPropertyNb('sponsor') > 0">
        <strong translate>Your sponsor:</strong>
        <a [routerLink]="['/profile/'+user.getPropertyNb('sponsor')]">
          {{ sponsorUsername }}
        </a>
      </div>

      <div class="mb-3">
        <div class="wg-bold text-danger"
            *ngIf="linkSaved === 1"
            translate>Link saved to clipboard</div>
        <strong translate>Sponsorship link:</strong>
        <br/>
        {{user.config.url}}/register/{{ user.getId() }}
        <span class="badge bg-primary" role="button" (click)="copyLink()"
              [cbContent]="user.config.url+'/permalink/'+user.getId()"
              ngxClipboard>
          <app-ic-icon [icon]="clipboardCheck" ></app-ic-icon>
        </span>
      </div>

      <div class="text-center" *ngIf="sponsorList.length > 0">
        <br/>
        <a [routerLink]="['/sponsorship']"
            data-bs-dismiss="modal" translate>Players that you have sponsored</a>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"
              data-bs-dismiss="modal" translate>Close</button>
    </div>
  </div>
</div>
