<strong translate="">Missions</strong><strong translate="">:</strong> {{ user.getQuest() }}/{{ user.getQuestMax() }}

<span [ngSwitch]="user.getLevel()">
  <span *ngSwitchCase="0" [ngSwitch]="user.getQuest()">
    <span *ngSwitchCase="1">
      <p translate="">If you wish to change your username, you can go into the <strong>Options</strong> menu at the top, then <strong>"Username"</strong>. The first change is free as long as you level 0.</p>
      <a class="btn" [routerLink]="['/options']" translate="">
        Change your username &gt;&gt;
      </a>
    </span>
    <span *ngSwitchCase="2">
      <p translate="">Did you show it? You have a new message.</p> 
      <p translate="">Read it and you will be able to go to the next mission.</p>
      <strong translate="">Reward:</strong> 
      5000 <id-to-ress [ress_id]="'drachma'"></id-to-ress>
      10000 <id-to-ress [ress_id]="'food'"></id-to-ress>
      <a *ngIf="user.getQuestValidate() == 0" class="btn" 
         [routerLink]="['/messages']" translate>
        Access to the messages &gt;&gt;
      </a>
    </span>
    <span *ngSwitchCase="3">
      <p translate="">Mints produce Drachmas. Through them you can construct buildings and raise armies.</p>
      <p translate="">Build a total of 4 mints.</p>
      <strong translate="">Reward:</strong>
      5000 <id-to-ress [ress_id]="'drachma'"></id-to-ress>
      5000 <id-to-ress [ress_id]="'water'"></id-to-ress>
      <a *ngIf="user.getQuestValidate() == 0" class="btn" 
         [routerLink]="['/city']" translate>
        Access to the buildings &gt;&gt;
      </a>
    </span>
    
    <span *ngSwitchCase="4">
      <p translate="">Iron mines produce Iron. It's will help you to produce Drachmas and arm your city.</p>
      <p>{{'Build a total of { value } iron mines.'| translate: { value: 4} }}</p>
      <strong translate="">Reward:</strong>
      4000 <id-to-ress [ress_id]="'drachma'"></id-to-ress>
      2000 <id-to-ress [ress_id]="'wood'"></id-to-ress>
      <a *ngIf="user.getQuestValidate() == 0" class="btn" 
         [routerLink]="['/city']" translate>
        Access to the buildings &gt;&gt;
      </a>
    </span>
    
    <span *ngSwitchCase="5">
      <p translate="">Water is used by your buildings and your army.</p>
      <p translate="">Build a total of 10 wells.</p>
      <strong translate="">Reward:</strong>
      5000 <id-to-ress [ress_id]="'drachma'"></id-to-ress>
      <a *ngIf="user.getQuestValidate() == 0" class="btn" 
         [routerLink]="['/city']" translate>
        Access to the buildings &gt;&gt;
      </a>
    </span>
    
    <span *ngSwitchCase="6">
      <p translate="">To build your buildings you'll need wood. Build a total of 6 mills to cover your future wood needs.</p>
      <strong translate="">Reward:</strong>
      8000 <id-to-ress [ress_id]="'drachma'"></id-to-ress>
      5000 <id-to-ress [ress_id]="'wood'"></id-to-ress>
      <a *ngIf="user.getQuestValidate() == 0" class="btn" 
         [routerLink]="['/city']" translate>
        Access to the buildings &gt;&gt;
      </a>
    </span>
    
    <span *ngSwitchCase="7">
      <p translate="">You will need more Iron for your city.</p> 
      <p>{{'Build a total of { value } iron mines.'| translate: { value: 10} }}</p>
      <strong translate="">Reward:</strong>
      10000 <id-to-ress [ress_id]="'drachma'"></id-to-ress>
      10000 <id-to-ress [ress_id]="'wood'"></id-to-ress>
      <a *ngIf="user.getQuestValidate() == 0" class="btn" 
         [routerLink]="['/city']" translate>
        Access to the buildings &gt;&gt;
      </a>
    </span>
    
    <span *ngSwitchCase="8">
      <p translate="">The Divine Bonus bring you temporary benefits. You can win them by being active on the game or participating in the activities offered on the facebook page.</p>
      <p translate="">Go to City and validate a Divine Bonus to get spartans.</p>
      <strong translate="">Reward:</strong> 
      10000 <id-to-ress [ress_id]="'drachma'"></id-to-ress>
      10000 <id-to-ress [ress_id]="'wood'"></id-to-ress>
      <a *ngIf="user.getQuestValidate() == 0" class="btn" 
         [routerLink]="['/city']" translate>
        Access to the divins bonus &gt;&gt;
      </a>
    </span>
    
    <span *ngSwitchCase="9">
      <p translate="">I offered to you my terrible Spartans, go to the attack page and engage the fight against our common enemy, the Persian city of Hagmatana.</p>
      <strong translate="">Reward:</strong>
      4000 <id-to-ress [ress_id]="'drachma'"></id-to-ress>
      10000 <id-to-ress [ress_id]="'wood'"></id-to-ress>
      
      <a *ngIf="user.getQuestValidate() == 0" class="btn" 
         [routerLink]="['/attack']" translate>
        Access to the attacks &gt;&gt;
      </a>
    </span>
    
    <span *ngSwitchCase="10">
      <p translate="">Go to City, and liberate the Spartans. You can again engage them if you build the temple of Ares, level 6.</p>
      <strong translate="">Reward:</strong>
      20000 <id-to-ress [ress_id]="'drachma'"></id-to-ress>
      20000 <id-to-ress [ress_id]="'wood'"></id-to-ress>
      <a *ngIf="user.getQuestValidate() == 0" class="btn" 
         [routerLink]="['/city']" translate>
        Access to the army &gt;&gt;
      </a>
    </span>
  </span>
</span>

<div *ngIf="user.getQuestValidate() == 1">
  <button class="btn" (click)="questValidate()" translate="">Validate</button>
</div>
