<common-top-bar active="quests"></common-top-bar>

<div class="modal fade" id="QuestsInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <quests-info-popup></quests-info-popup>
  </div>
</div>

<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main">
  <div class="container">
    <div class="row">
      <div [ngClass]="{'col-xl-6 col-xs-12': user.getLevel() > 0, 'col-xs-12': user.getLevel() == 0}">
        <quests-missions *ngIf="user.getLevel() < 10"></quests-missions>
        <quests-altar *ngIf="user.getLevel() == 10"
                      title="{{'Gaia\'s defense'| translate}}"
                      code="gaia_defender" id="1"
                      [condition]="altarConditionGaia"></quests-altar>
        <quests-altar *ngIf="user.getLevel() == 10"
                      title="{{'Hospitality of Hestia'| translate}}"
                      code="hestia" id="2"
                      [condition]="altarConditionHestia"></quests-altar>
        <quests-altar *ngIf="user.getLevel() == 10"
                      title="{{'Dream of Prometheus'| translate}}"
                      code="prometheus" id="3"
                      [condition]="altarConditionPrometheus"></quests-altar>
        <quests-altar *ngIf="user.getLevel() == 10"
                      title="{{'Divine units'| translate}}"
                      code="divine_units" id="4"
                      [condition]="altarConditionDivineunits"></quests-altar>
      </div>
      <div class="col-xl-6" *ngIf="user.getLevel() > 0">
        <div class="card">
          <div class="card-header" translate>
            Quest progress
          </div>
          <div class="card-body">
            <div class="containBar">
               <div class="progression-quest-container">
                 <div [ngClass]="{'quest_validated': user.getPropertyNb('quest_step') >= 1,
                                  'quest_available': user.getPropertyNb('quest_step') == 0 && user.getPropertyNb('quest_today') == 0}">
                   <p>1</p>
                 </div>
                 <div [ngClass]="{'quest_validated': user.getPropertyNb('quest_step') >= 2,
                                  'quest_available': user.getPropertyNb('quest_step') == 1 && user.getPropertyNb('quest_today') == 0}">
                   <p>2</p>
                 </div>
                 <div [ngClass]="{'quest_validated': user.getPropertyNb('quest_step') >= 3,
                                  'quest_available': user.getPropertyNb('quest_step') == 2 && user.getPropertyNb('quest_today') == 0}">
                   <p>3</p>
                 </div>
                 <div [ngClass]="{'quest_validated': user.getPropertyNb('quest_step') >= 4,
                                  'quest_available': user.getPropertyNb('quest_step') == 3 && user.getPropertyNb('quest_today') == 0}">
                   <p>4</p>
                 </div>
                 <div [ngClass]="{'quest_validated': user.getPropertyNb('quest_step') >= 5,
                                  'quest_available': user.getPropertyNb('quest_step') == 4 && user.getPropertyNb('quest_today') == 0}">
                   <p>5</p>
                 </div>
                 <div [ngClass]="{'quest_validated': user.getPropertyNb('quest_step') >= 6,
                                  'quest_available': user.getPropertyNb('quest_step') == 5 && user.getPropertyNb('quest_today') == 0}">
                   <p>6</p>
                 </div>
                 <div [ngClass]="{'quest_validated': user.getPropertyNb('quest_step') >= 7,
                                  'quest_available': user.getPropertyNb('quest_step') == 6 && user.getPropertyNb('quest_today') == 0}">
                   <p class="quest_final">
                     <ic-icon class="fs-2" [icIcon]="treasureChest"
                              data-bs-toggle="modal" data-bs-target="#QuestsInfo"
                              role="button"></ic-icon>
                   </p>
                 </div>
               </div>
            </div>
          </div>
          <div class="card-bottom card-button"
               data-bs-toggle="modal" data-bs-target="#QuestsInfo"
               *ngIf="user.getPropertyNb('quest_step') >= 7">
            Validate
          </div>
        </div>
        <div *ngFor="let quest of getMyQuestList()" class="card">
          <div [ngSwitch]="quest.quest_type">
            <quests-daily *ngSwitchCase="1"
                          subject="{{'Strenuous attacker'|translate}}"
                          description="{{ 'Win { value } victories' | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="attacks"></quests-daily>
            
            <quests-daily *ngSwitchCase="2"
                          subject="{{'Worshiper of the Gods'|translate}}"
                          description="{{ 'Use { value } Divine powers' | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="divine"></quests-daily>
            
            <quests-daily *ngSwitchCase="3"
                          subject="{{'Precision launcher'|translate}}"
                          description="{{ 'Win { value } times in the javelin game' | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="city"></quests-daily>
            
            <quests-daily *ngSwitchCase="4"
                          subject="{{'Faithful of the Gods'|translate}}"
                          description="{{ 'Use { value } Divine bonus' | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="city"></quests-daily>
            
            <quests-daily *ngSwitchCase="5"
                          subject="{{'Builder'|translate}}"
                          description="{{ 'Construct { value } buildings' | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="city"></quests-daily>
            
            <quests-daily *ngSwitchCase="6"
                          subject="{{'Recruiter'|translate}}"
                          description="{{ 'Engage { value } Units' | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="city"></quests-daily>
            
            <quests-daily *ngSwitchCase="7"
                          subject="{{'Monster Hunter'|translate}}"
                          description="{{ quest.quest_goal == 1 ?
                                          ('Attack 1 sanctuary'  | translate) : 
                                          ('Attack { value } sanctuaries'  | translate: { value: quest.quest_goal }) }}"
                          [quest]="quest"
                          link="sanctuaries"></quests-daily>
            
            <quests-daily *ngSwitchCase="8"
                          subject="{{'Monster killer'|translate}}"
                          description="{{ quest.quest_goal == 1 ?
                                          ('Conquest 1 sanctuary'|translate) : 
                                          ('Conquest { value } sanctuaries'  | translate: { value: quest.quest_goal }) }}"
                          [quest]="quest"
                          link="sanctuaries"></quests-daily>
            
            <quests-daily *ngSwitchCase="9"
                          subject="{{'Monster killer'|translate}}"
                          description="{{ quest.quest_goal == 1 ?
                                          ('Win 1 war'|translate) : 
                                          ('Win { value } wars'  | translate: { value: quest.quest_goal }) }}"
                          [quest]="quest"
                          link="attacks"></quests-daily>
            
            <quests-daily *ngSwitchCase="10"
                          subject="{{'Honorary Warrior'|translate}}"
                          description="{{ quest.quest_goal == 1 ?
                                          ('Win the Honnor challenge'|translate) : 
                                          ('Win the Honnor challenge { value } times'  | translate: { value: quest.quest_goal }) }}"
                          [quest]="quest"
                          link="attacks"></quests-daily>
            
            <quests-daily *ngSwitchCase="11"
                          subject="{{'Diamond thief'|translate}}"
                          description="{{ quest.quest_goal == 1 ?
                                          ('Take the Diamond'|translate) : 
                                          ('Take the Diamond { value } times'  | translate: { value: quest.quest_goal }) }}"
                          [quest]="quest"
                          link="attacks"></quests-daily>
            
            <quests-daily *ngSwitchCase="12"
                          subject="{{'Diamond Keeper'|translate}}"
                          description="{{ quest.quest_goal == 1 ?
                                          ('Win the Diamond challenge'|translate) : 
                                          ('Win the Diamond challenge { value } times'  | translate: { value: quest.quest_goal }) }}"
                          [quest]="quest"
                          link="attacks"></quests-daily>
            
            <quests-daily *ngSwitchCase="13"
                          subject="{{'Future millionaire'|translate}}"
                          description="{{ 'Buy { value } lotto tickets'  | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="lotto"></quests-daily>
            
            <quests-daily *ngSwitchCase="14"
                          subject="{{'Food of the Gods'|translate}}"
                          description="{{ 'Spend { value } Ambrosia' | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="city"></quests-daily>
            
            <quests-daily *ngSwitchCase="15"
                          subject="{{'Tickler'|translate}}"
                          description="{{ 'Scratch { value } tickets' | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="tickets"></quests-daily>
            
            <quests-daily *ngSwitchCase="16"
                          subject="{{'Scraper winner'|translate}}"
                          description="{{ 'Scratch { value } winning tickets' | translate: { value: quest.quest_goal } }}"
                          [quest]="quest"
                          link="tickets"></quests-daily>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<connected-right-menu></connected-right-menu>
<common-bottom-bar></common-bottom-bar>
