<strong translate>Army sent</strong>
<div *ngFor="let unit of getSentUnits()" class="col-xs-12">
    {{unit.nb| number:'': this.translate.currentLang}} 
    {{user.info.datas.army[unit.code].names|translate}} 
</div>

<div class="clearfix"><br/></div>

<div class="row">
  <div *ngIf="getAttackLost().length > 0" class="col-6">
    <strong translate>Attacker losses</strong>
    <div *ngFor="let unit of getAttackLost()">
      {{unit.nb| number:'': this.translate.currentLang}} 
      {{user.info.datas.army[unit.code].names|translate}} 
    </div>
    <div class="clearfix"><br/></div>
  </div>
  
  <div *ngIf="getDefenseLost().length > 0" class="col-6">
    <strong translate>Defender losses</strong>
    <div *ngFor="let unit of getDefenseLost()">
      {{unit.nb| number:'': this.translate.currentLang}} 
      {{user.info.datas.army[unit.code].names|translate}} 
    </div>
    <div class="clearfix"><br/></div>
  </div>
</div>

<div *ngIf="getSanctuaryLost().length > 0" class="col-12">
  <strong>{{'Losses again { value }' | translate: {value: info.sanctuaries_name|translate} }}</strong>
  <div *ngFor="let unit of getSanctuaryLost()">
    {{unit.nb| number:'': this.translate.currentLang}} 
    {{user.info.datas.army[unit.code].names|translate}} 
  </div>
  <div class="clearfix"><br/></div>
</div>
