<common-top-bar active="storeroom"></common-top-bar>

<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 main">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card col-12">
          <div class="card-header" translate>
            Drop resources to the Agora
          </div>
          <div class="card-body text-center">
            <span *ngIf="storeroomMin.rate > 0">
              <span translate>Current rate</span>
              <span translate>:</span> {{ storeroomMin.rate| number:'': this.translate.currentLang}}
              <id-to-ress [ress_id]="'drachma'"></id-to-ress>
              <span *ngIf="storeroomMin.you > 0">-</span>
            </span>
            
            <span *ngIf="storeroomMin.you > 0">
              <span translate>You</span><span translate>:</span> {{ storeroomMin.you| number:'': this.translate.currentLang}}
              <id-to-ress [ress_id]="'drachma'"></id-to-ress>
            </span>
            
            <div>
              <div class="input-group">
                <span class="input-group-text"
                      id="name-quantity" translate>Quantity</span>
                <input type="number" placeholder="0" step="1" min="0"
                       class="form-control"
                       [(ngModel)]="storeroomQuantity">
              </div>
              <div class="input-group tinybloc">
                <span class="input-group-text"
                      id="name-rate" translate>Rate</span>
                <input type="number" placeholder="0" step="0.001" min="0"
                       class="form-control" [(ngModel)]="storeroomRate">
              </div>
              <select class="form-control" [(ngModel)]="storeroomRess">
                <option value="1" translate>Food</option>
                <option value="2" translate>Water</option>
                <option value="3" translate>Wood</option>
                <option value="4" translate>Iron</option>
                <option *ngIf="user.getLevel() >= user.getLevelRess('stone')"
                        value="5" translate>Stone</option>
                <option *ngIf="user.getLevel() >= user.getLevelRess('marble')"
                        value="6" translate>Marble</option>
                <option *ngIf="user.getLevel() >= user.getLevelRess('grapes')"
                        value="7" translate>Grapes</option>
                <option *ngIf="user.getLevel() >= user.getLevelRess('wine')"
                        value="8" translate>Wine</option>
                <option *ngIf="user.getLevel() >= user.getLevelRess('gold')"
                        value="9" translate>Gold</option>
                <option value="10" translate>Favor</option>
              </select>
              <br />
              <button class="btn btn-success" (click)="storeroomSell()"
                      translate>Depose</button>
              <br />
              <br />
              <div translate>The lots remain on the market during 7 days</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card col-12">
          <div id="BuyResourcesDesc" class="card-header" translate>
            Buy resources
          </div>
          <div class="card-body">
            <table class="table table-middle" aria-describedby="BuyResourcesDesc">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" translate>Resources</th>
                  <th scope="col" translate>Rate</th>
                  <th scope="col" translate>Quantity</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let trade of getStoreroomList();">
                  <ng-container *ngIf="(((trade.resource_id == 1 && user.getLevel() >= user.getLevelRess('food')) ||
                                        (trade.resource_id == 2 && user.getLevel() >= user.getLevelRess('water')) ||
                                        (trade.resource_id == 3 && user.getLevel() >= user.getLevelRess('wood')) ||
                                        (trade.resource_id == 4 && user.getLevel() >= user.getLevelRess('iron')) ||
                                        (trade.resource_id == 5 && user.getLevel() >= user.getLevelRess('stone')) ||
                                        (trade.resource_id == 6 && user.getLevel() >= user.getLevelRess('marble')) ||
                                        (trade.resource_id == 7 && user.getLevel() >= user.getLevelRess('grapes')) ||
                                        (trade.resource_id == 8 && user.getLevel() >= user.getLevelRess('wine')) ||
                                        (trade.resource_id == 9 && user.getLevel() >= user.getLevelRess('gold')) ||
                                        (trade.resource_id ==10 && user.getLevel() >= user.getLevelRess('favor'))) &&
                                        (trade.remaining > 0 || trade.mremaining > 0))">
                    <td>
                      <button class="btn btn-primary" *ngIf="trade.remaining > 0"
                              (click)=selectResources(trade)>
                        <ic-icon title="{{'Select all the resources'|translate}}"
                                 [icon]="plusIcon"></ic-icon>
                      </button>
                    </td>
                    <td class="text-end">
                      <span *ngIf="trade.remaining > 0">{{trade.remaining | number:'': this.translate.currentLang }}</span>
                      <span *ngIf="trade.remaining == 0">{{trade.mremaining | number:'': this.translate.currentLang }}</span>
                      &nbsp;
                      <id-to-ress [ress_id]="trade.resource_id"></id-to-ress>
                    </td>
                    <td>
                      <span *ngIf="trade.remaining > 0">{{trade.rate | number:'': this.translate.currentLang }}</span>
                      <span *ngIf="trade.remaining == 0">{{trade.mrate | number:'': this.translate.currentLang }}</span>
                    </td>
                    <td>
                      <input type="number" class="form-control"
                             [(ngModel)]="storeroom_ress[trade.resource_id]" min="0"
                             max="trade.remaining" placeholder="0" step="1" 
                             [hidden]="trade.remaining == 0" />
                    </td>
                    <td class="center">
                      <button class="btn btn-success"
                              (click)="storeroomBuy(trade.resource_id, storeroom_ress[trade.resource_id], trade.rate)"
                              title="{{'Buy'|translate}}" *ngIf="trade.remaining > 0">
                        <ic-icon [icon]="bagIcon"></ic-icon>
                        <span class="visually-hidden" translate>Buy</span>
                      </button>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card col-12">
          <div class="card-header" id="MySalesDesc" translate>
            Currently for sale
          </div>
          <div class="card-body">
            <div class="fw-bold text-center">
              <span class="bold" translate>Redemption rate:</span>
              <span *ngIf="user.getPropertyNb('bonus_trade') == 0">
                {{(80+user.getPropertyNb('hermes')*17.5)| number:'': this.translate.currentLang}}%
              </span>
              <span *ngIf="user.getPropertyNb('bonus_trade') > 0">
                {{(80+user.getPropertyNb('hermes')*17.5)+((20-user.getPropertyNb('hermes')*17.5)/2)| number:'': this.translate.currentLang}}
              </span>
              <br/>
              <span class="bold" translate>Return rate:</span>
              <span *ngIf="user.getPropertyNb('bonus_trade') == 0">
                {{(75+user.getPropertyNb('hermes')*17.5)| number:'': this.translate.currentLang}}%
              </span>
              <span *ngIf="user.getPropertyNb('bonus_trade') > 0">
                {{(75+user.getPropertyNb('hermes')*17.5)+((25-user.getPropertyNb('hermes')*17.5)/2)| number:'': this.translate.currentLang}}
              </span>
            </div>
            
            <div class="text-center fw-bold"
                 *ngIf="getStoreroomMyList().length == 0">
              <br/>
              <span translate>
                You currently don't have any batch on sales
              </span>
            </div>
            
            <table class="table table-middle" aria-describedby="MySalesDesc"
                   *ngIf="getStoreroomMyList().length > 0">
              <thead>
                <tr>
                  <th scope="col" translate>Resources</th>
                  <th scope="col" translate>Rate</th>
                  <th scope="col" translate>Price</th>
                  <th scope="col" translate>Return</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let trade of getStoreroomMyList();let id=index;"
                   [ngClass]="{'bg-red': trade.mrate < trade.rate && trade.mrate > 0,
                               'grey': trade.mrate == trade.rate && trade.rate > 0,
                               'bg-green': (trade.mrate > 0 && trade.mrate > trade.rate) || (trade.rate > 0 && trade.mrate == 0)}">
                  <td>
                    {{trade.remaining| number:'': this.translate.currentLang}}
                    <id-to-ress [ress_id]=trade.resource_id></id-to-ress>
                  </td>
                  <td>{{trade.rate | number:'': this.translate.currentLang }}</td>
                  <td>
                    {{trade.rate*trade.remaining | number:'': this.translate.currentLang }}
                    <id-to-ress [ress_id]="'drachma'"></id-to-ress>
                  </td>
                  <td class="center">{{trade.return_time*1000| date:'dd/MM, HH:mm'}}</td>
                  <td class="center">
                    <button class="btn btn-warning"
                      (click)="storeroomRedeem(trade.storeroom_id, trade.remaining)"
                      title="{{'Recover'|translate}}">
                      <ic-icon [icon]="jarIcon"></ic-icon>
                      <span class="visually-hidden" translate>Recover</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card col-12">
          <div class="card-header" id="titleLastWeek" translate>
            Last week
          </div>
          <div class="card-body">
            <table class="table table-middle" aria-describedby="titleLastWeek">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" translate>Average rate</th>
                  <th scope="col" translate>Deposits</th>
                  <th scope="col" translate>Sales</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let batch of getStoreroomStats();let id=index;">
                  <ng-container *ngIf="id > 0 && (batch.rate > 0 || batch.quantity > 0 || batch.solded > 0)">
                    <td><id-to-ress [ress_id]="id"></id-to-ress></td>
                    <td>{{batch.rate | number:'': this.translate.currentLang }}</td>
                    <td>{{batch.quantity | number:'': this.translate.currentLang }}</td>
                    <td>{{batch.solded | number:'': this.translate.currentLang }}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<connected-right-menu></connected-right-menu>
<common-bottom-bar></common-bottom-bar>
