<common-top-bar active="strategies"></common-top-bar>

<div class="modal fade" id="ArmyInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <army-popup [info]="armyInfo"></army-popup>
  </div>
</div>
<div class="modal fade" id="BuildingInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <construction-popup [info]="buildingInfo"></construction-popup>
  </div>
</div>

<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main main-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-body">
            <div class="fw-bold text-center" translate>
              Drag and drop units on a wave to add them
            </div>
            <div class="d-flex">
              <a [routerLink]="['/strategies/attack']" class="flex-grow-1 btn"
                   [ngClass]="{'btn-danger': type != 'defense',
                               'btn-outline-danger': type == 'defense'}" translate>Offensive</a>
              <a [routerLink]="['/strategies/defense']" class="flex-grow-1 btn"
                   [ngClass]="{'btn-primary': type == 'defense',
                               'btn-outline-primary': type != 'defense'}" translate>Defensive</a>
            </div>
            
            <!-- Attack -->
            <ng-container *ngIf="type != 'defense'">
              <div class="text-center">
                <strong translate>Total:</strong>
                {{ waveAttackPower | number:'1.0-0': this.translate.currentLang}}
                <ic-icon [icon]="swordIcon" title="{{'Attack'|translate}}"></ic-icon>
              </div>
              <div class="row d-flex"
                   cdkDropList
                   id="wave-attack-0"
                   [cdkDropListData]="user.getArmy()"
                   [cdkDropListConnectedTo]="waveAttackDropList"
                   (cdkDropListDropped)="onDropAttack($event)">
                <ng-container *ngFor="let army of user.getArmy()">
                  <div *ngIf="waveAttackUnit && army.attack > 0 &&
                              (user.getPropertyNb(army.code) > (waveAttackUnit[army.code] ? waveAttackUnit[army.code] : 0))"
                       class="col-3 col-md-2 d-flex flex-column" role="button"
                       id="{{army.code}}-0-{{user.getPropertyNb(army.code) - (waveAttackUnit[army.code] ? waveAttackUnit[army.code] : 0)}}"
                       data-bs-toggle="modal" data-bs-target="#ArmyInfo"
                       (click)="selectArmy(army.code)"
                       cdkDrag>
                    <div>
                      <strong translate>{{ army.name }}</strong>
                      (<strong>{{user.getPropertyNb(army.code) - (waveAttackUnit[army.code] ? waveAttackUnit[army.code] : 0)}}</strong>)
                    </div>
                    <div class="mt-auto m-1-xs m-4-md">
                      <ew-icon name="{{ army.code }}"></ew-icon>
                    </div>
                  </div>
                </ng-container>
              </div>
              <ng-container *ngFor="let wave of waveAttackList; index as i">
                <div *ngIf="i > 0" class="row"
                     cdkDropList
                     id="wave-attack-{{i}}"
                     [cdkDropListData]="wave"
                     [cdkDropListConnectedTo]="waveAttackDropList"
                     (cdkDropListDropped)="onDropAttack($event)">
                  <h3>{{'Wave { value }'| translate: { value: i } }}</h3>
                  <div class="d-flex row">
                    <ng-container *ngFor="let army of user.getArmy()">
                      <div *ngIf="wave[army.code] > 0" role="button"
                           class="col-3 col-md-2 d-flex flex-column"
                           data-bs-toggle="modal" data-bs-target="#ArmyInfo"
                           (click)="selectArmy(army.code)" cdkDrag>
                        <div>
                          <strong translate>{{ army.name }}</strong>
                          (<strong>{{ wave[army.code] }}</strong>)
                        </div>
                        <div class="mt-auto m-1-xs m-4-md text-center">
                          <ew-icon name="{{ army.code }}"></ew-icon>
                          <button [ngClass]="{'d-none': army.code == 'soul'}"
                                  class="btn btn-danger mt-1"
                                  (click)="waveAttackDelete(army.code, i)"
                                  translate>Remove</button>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <div *ngIf="waveAttackList.length < waveAttackMax">
                <h3>{{'Wave { value }'| translate: { value: waveAttackList.length } }}</h3>
                <div cdkDropList class="text-center"
                     id="wave-attack-{{waveAttackList.length}}"
                     [cdkDropListData]="['']"
                     [cdkDropListConnectedTo]="waveAttackDropList"
                     (cdkDropListDropped)="onDropAttack($event)" translate>
                  Drag and drop units on a wave to add them
                </div>
              </div>
            </ng-container>
            
            <!-- Defense -->
            <ng-container *ngIf="type == 'defense'">
              <div class="text-center">
                <strong translate>Total:</strong>
                {{ waveDefensePower | number:'1.0-0': this.translate.currentLang}}
                <ic-icon [icon]="shieldShaded" title="{{'Defense'|translate}}"></ic-icon>
              </div>
              <div class="row d-flex"
                   cdkDropList
                   id="wave-defense-0"
                   [cdkDropListData]="user.getArmy()"
                   [cdkDropListConnectedTo]="waveDefenseDropList"
                   (cdkDropListDropped)="onDropDefense($event)">
                <ng-container *ngFor="let army of user.getArmy()">
                  <div *ngIf="waveDefenseUnit && army.defense > 0 &&
                              (user.getPropertyNb(army.code) > (waveDefenseUnit[army.code] ? waveDefenseUnit[army.code] : 0))"
                       class="col-3 col-md-2 d-flex flex-column" role="button"
                       id="{{army.code}}-0-{{user.getPropertyNb(army.code) - (waveDefenseUnit[army.code] ? waveDefenseUnit[army.code] : 0)}}"
                       data-bs-toggle="modal" data-bs-target="#ArmyInfo"
                       (click)="selectArmy(army.code)"
                       cdkDrag>
                    <div>
                      <strong translate>{{ army.name }}</strong>
                      (<strong>{{user.getPropertyNb(army.code) - (waveDefenseUnit[army.code] ? waveDefenseUnit[army.code] : 0)}}</strong>)
                    </div>
                    <div class="mt-auto m-1-xs m-4-md">
                      <ew-icon name="{{ army.code }}"></ew-icon>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngFor="let building of user.getBuildings()">
                  <div *ngIf="waveDefenseUnit && building.type == 2 &&
                              (user.getPropertyNb(building.code) > (waveDefenseUnit[building.code] ? waveDefenseUnit[building.code] : 0))"
                       class="col-3 col-md-2 d-flex flex-column" role="button"
                       id="{{building.code}}-0-{{user.getPropertyNb(building.code) - (waveDefenseUnit[building.code] ? waveDefenseUnit[building.code] : 0)}}"
                       data-bs-toggle="modal" data-bs-target="#BuildingInfo"
                       (click)="selectBuilding(building.code)"
                       cdkDrag>
                    <div>
                      <strong translate>{{ building.name }}</strong>
                      (<strong>{{user.getPropertyNb(building.code) - (waveDefenseUnit[building.code] ? waveDefenseUnit[building.code] : 0)}}</strong>)
                    </div>
                    <div class="mt-auto m-1-xs m-4-md">
                      <ew-icon name="{{ building.code }}"></ew-icon>
                    </div>
                  </div>
                </ng-container>
              </div>
              <ng-container *ngFor="let wave of waveDefenseList; index as i">
                <div *ngIf="i > 0" class="row"
                     cdkDropList
                     id="wave-defense-{{i}}"
                     [cdkDropListData]="wave"
                     [cdkDropListConnectedTo]="waveDefenseDropList"
                     (cdkDropListDropped)="onDropDefense($event)">
                  <h3>{{'Wave { value }'| translate: { value: i } }}</h3>
                  <div class="d-flex row">
                    <ng-container *ngFor="let army of user.getArmy()">
                      <div *ngIf="wave[army.code] > 0" role="button"
                           class="col-3 col-md-2 d-flex flex-column"
                           data-bs-toggle="modal" data-bs-target="#ArmyInfo"
                           (click)="selectArmy(army.code)" cdkDrag>
                        <div>
                          <strong translate>{{ army.name }}</strong>
                          (<strong>{{ wave[army.code] }}</strong>)
                        </div>
                        <div class="mt-auto m-1-xs m-4-md text-center">
                          <ew-icon name="{{ army.code }}"></ew-icon>
                          <button [ngClass]="{'d-none': army.code == 'soul'}"
                                  class="btn btn-danger mt-1"
                                  (click)="waveDefenseDelete(army.code, i)"
                                  translate>Remove</button>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngFor="let building of user.getBuildings()">
                      <div *ngIf="wave[building.code] > 0" role="button"
                           class="col-3 col-md-2 d-flex flex-column"
                           data-bs-toggle="modal" data-bs-target="#BuildingInfo"
                           (click)="selectBuilding(building.code)" cdkDrag>
                        <div>
                          <strong translate>{{ building.name }}</strong>
                          (<strong>{{ wave[building.code] }}</strong>)
                        </div>
                        <div class="mt-auto m-1-xs m-4-md text-center">
                          <ew-icon name="{{ building.code }}"></ew-icon>
                          <button class="btn btn-danger mt-1"
                                  (click)="waveDefenseDelete(building.code, i)"
                                  translate>Remove</button>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <div *ngIf="waveDefenseList.length < waveDefenseMax">
                <h3>{{'Wave { value }'| translate: { value: waveDefenseList.length } }}</h3>
                <div cdkDropList class="text-center"
                     id="wave-defense-{{waveDefenseList.length}}"
                     [cdkDropListData]="['']"
                     [cdkDropListConnectedTo]="waveDefenseDropList"
                     (cdkDropListDropped)="onDropDefense($event)" translate>
                  Drag and drop units on a wave to add them
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<connected-right-menu></connected-right-menu>
<common-bottom-bar></common-bottom-bar>
