<div class="modal-content">
  <div class="modal-header">
    <h5 *ngIf="temple.id == 1" translate>Hermes</h5>
    <h5 *ngIf="temple.id == 2" translate>Apollo</h5>
    <h5 *ngIf="temple.id == 3" translate>Demeter</h5>
    <h5 *ngIf="temple.id == 4" translate>Ares</h5>
    <h5 *ngIf="temple.id == 5" translate>Athena</h5>
    <h5 *ngIf="temple.id == 6" translate>Artemis</h5>
    <h5 *ngIf="temple.id == 7" translate>Hephaestus</h5>
    <h5 *ngIf="temple.id == 8" translate>Dionysus</h5>
    <h5 *ngIf="temple.id == 9" translate>Zeus</h5>
    <h5 *ngIf="temple.id == 10" translate>Hades</h5>
    <h5 *ngIf="temple.id == 11" translate>Poseidon</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  
  <div class="modal-body" *ngIf="temple.id == 1">
    <p translate>
      In the Agora, when you redeem your batches, you get 97.5% instead of 80%
    </p>
  </div>
  <div class="modal-body" *ngIf="temple.id == 2">
    <p translate>
      You can spy on your enemies with the oracle of the Apollo's temple.
    </p>
  </div>
  <div *ngIf="temple.id == 3">
    <div class="modal-body">
      <p translate>
        Demeter increase the production of your wine farms and farms. You can thanks to the furies, destroying farms, wine farms and reserves grape and food of your opponents.
      </p>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-end">
        <strong translate>Fury</strong>
      </div>
      <div>
        <span translate class="fw-bold" *ngIf="user.getPropertyNb('fury') <= 1">Fury owned</span>
        <span translate class="fw-bold" *ngIf="user.getPropertyNb('fury') > 1">Furies owned</span>
        <span translate class="fw-bold">:</span>
        {{ user.getPropertyNb('fury') | number:'': this.translate.currentLang  }}
      </div>
      <div class="clearfix"></div>
      
      <div *ngIf="furyCostMissing().length > 0" class="fw-bold text-danger">
        <span translate>Missing resources:</span>
        <span *ngFor="let res of furyCostMissing()">
          <id-to-ress [ress_id]="res"></id-to-ress>
        </span>
      </div>
      
      <div class="clearfix"></div>
      
      <div>
        <strong translate>Cost:</strong>
        <span *ngFor="let resource of furyCost | keyvalue">
          {{ Number(resource.value) | number:'': this.translate.currentLang }}	
          <id-to-ress [ress_id]="resource.key"></id-to-ress>
        </span>
      </div>
      <div class="input-group">
        <input type="number" [(ngModel)]="furyNb" 
               class="form-control" placeholder="0" 
               step="1" [attr.min]="0">
        <span (click)="furyBuy(furyNb)" 
              class="input-group-text btn btn-success" role=button
              translate>Buy</span>
      </div>
    </div>
  </div>
  <!-- Ares -->
  <div *ngIf="temple.id == 4">
    <div class="modal-body">
      <p translate>
        When you attack, Ares watch over your men strengthening their ardor. It will also allow you to hire his terrible spartans.
      </p>
    </div>
    <div class="modal-footer" *ngIf="user.hasTemples()">
      <strong translate>Revenge of Ares</strong>
      <div translate>
        You are allowed to attack an enemy a second time. Works even in war but the second attack does not come into play in the score.
      </div>
      
      <div class="text-danger fw-bold" *ngIf="temple.error == 1" translate>
        Power validated
      </div>
            
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 360}">
        <strong translate>Cost:</strong>
        360 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      {{ preUseList.length }}
      <select class="form-select"
              *ngIf="user.getPropertyNb('ambrosia') >= 360 &&
                     preUseList.length > 0"
              [(ngModel)]="id">
        <option value="0" translate>Choose an enemy city</option>
        <option *ngFor="let info of preUseList"
                value="{{info.membre_id}}">{{info.username}}</option>
      </select>
      
      <button class="btn btn-success" translate
              (click)="powerUse(1, id)"
              *ngIf="preUseList.length > 0 && user.getPropertyNb('ambrosia') >= 360">
        Validate
      </button>
    </div>
  </div>
  <!-- Athena -->
  <div *ngIf="temple.id == 5">
    <div class="modal-body">
      <p translate>
        Athena increases by 15% the defensive strength of your troops and your defensive buildings and reduce by 20% the cost of enrollment and the consumption of your infantry.
      </p>
    </div>
    <div class="modal-footer" *ngIf="user.hasTemples()">
      <strong id="ProtectiveGoddessDesc"
              translate>Protective goddess</strong>
      
      <div translate>
        Athena temporarily increases the defense of units in your city by 25%.
      </div>
      <div class="text-danger fw-bold" *ngIf="temple.error == 1" translate>
        Power validated
      </div>
      <div *ngIf="user.getPropertyNb('protective_goddess') > 0">
        <strong translate>End:</strong> 
        {{user.getPropertyNb('protective_goddess')*1000| date:'dd/MM, HH:mm'}}
      </div>
      
      <table class="table" aria-describedby="ProtectiveGoddessDesc">
        <tr>
          <th scope="row" [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 12}">
            12 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
            <span translate>For 30 minutes</span>
          </th>
          <td class="text-end">
            <button *ngIf="user.getPropertyNb('ambrosia') >= 12"
                    class="btn btn-primary"
                    (click)="powerUse(2, 1)" translate>
              Enable
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row" [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 20}">
            20 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
            <span translate>For 60 minutes</span>
          </th>
          <td class="text-end">
            <button *ngIf="user.getPropertyNb('ambrosia') >= 20"
                    class="btn btn-primary"
                    (click)="powerUse(2, 2)" translate>
              Enable
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Artemis -->
  <div *ngIf="temple.id == 6">
    <div class="modal-body">
      <p translate>
        Artemis surveys the wood and helps the loggers in their task. It also will lend you his ferocious Amazons go to the battle.
      </p>
    </div>
    <div class="modal-footer" *ngIf="user.hasTemples()">
      <strong translate>Hunt of Artemis</strong>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1 && temple.power == 3" 
           translate>
        Artemis heard your call
      </div>
  
      <div *ngIf="user.getPropertyNb('hunt_artemis') > 0">
        <span translate>End:</span> 
        {{user.getPropertyNb('hunt_artemis')*1000| date:'dd/MM, HH:mm'}}
      </div>
  
      <br/>
      <div translate>
        Looting is increased by 5 to 15% for 2 hours.
      </div>
  
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 4}">
        <strong translate>Cost:</strong>
        4 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      
      <br/>
      <button *ngIf="user.getPropertyNb('ambrosia') >= 4"
              class="btn btn-success"
              (click)="powerUse(3, 0)"
              translate>
        Enable
      </button>
    </div>
    <div class="modal-footer" *ngIf="user.hasTemples()">
      <strong translate>Forest Help</strong>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1 && temple.power == 4" 
           translate>
        Artemis heard your call
      </div>
      
      <div *ngIf="user.getPropertyNb('forest_help') > 0">
        <span translate>End:</span>  
        {{user.getPropertyNb('forest_help')*1000| date:'dd/MM, HH:mm'}}
      </div>
      
      <br/>
      <div translate>
        Your city can not be attacked for 20 min thanks to the immense forest that covers the city.
      </div>
      
      <div *ngIf="{'text-danger': user.getPropertyNb('ambrosia') < 200}">
        <strong translate>Cost:</strong>
        200 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      
      <button *ngIf="user.getPropertyNb('ambrosia') >= 200"
              class="btn btn-success"
              (click)="powerUse(4, 0)"
              translate>
        Enable
      </button>
    </div>
  </div>
  
  <!-- Hephaestus -->
  <div *ngIf="temple.id == 7">
    <div class="modal-body">
      <p translate>
        Hephaestus increases the return on your money hype workshops and automata defend the gates of your city.
      </p>
    </div>
    <div class="modal-footer" *ngIf="user.hasTemples()">
      <strong translate>Black-smith</strong>
      
      <div translate>
        Hephaestus improves the defensive power of the automatons by 200% for 2 hours.
      </div>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1 && temple.power == 7" 
           translate>
        Hephaestus heard your call
      </div>
      
      <div *ngIf="user.getPropertyNb('black_smith') > 0">
        <span translate>End:</span> 
        {{user.getPropertyNb('black_smith')*1000| date:'dd/MM, HH:mm'}}
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 1}">
        <strong translate>Cost:</strong>
        1 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      <button class="btn btn-success" translate 
              (click)="powerUse(7, 0)"
              *ngIf="user.getPropertyNb('ambrosia') >= 1">
        Enable
      </button>
    </div>
    
    <div class="modal-footer" *ngIf="user.hasTemples()">
      <strong translate>Volcano</strong>
      <div translate>
        The lava falls on the enemies preventing them from building buildings for 20 min.
      </div>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1 && temple.power == 8" 
           translate>
        Hephaestus heard your call
      </div>
      <div class="alert alert-danger center" *ngIf="temple.error == 2 && temple.power == 8" 
           translate>
        This player does not exist
      </div>
      <div class="alert alert-danger center" *ngIf="temple.error == 3 && temple.power == 8" 
           translate>
        You can't use this power on this player
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 180}">
        <strong translate>Cost:</strong>
        180 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      <input type="text" class="form-control" aria-label="Player" 
             placeholder="{{'Player'|translate}}" [(ngModel)]="idToUser"
              *ngIf="user.getPropertyNb('ambrosia') >= 180">
      <button class="btn btn-success" (click)="powerUseTarget(8)"
              *ngIf="user.getPropertyNb('ambrosia') >= 180" translate>
        Enable
      </button>
    </div>
  </div>
  
  <!-- Dionysus -->
  <div *ngIf="temple.id == 8">
    <div class="modal-body">
      <p translate>
        Dionysus increases the efficiency of your pressing workshops, they will produce more wine to drink your troops. Centaurs seeing that you support, will join you.
      </p>
    </div>
    <div class="modal-footer" *ngIf="user.hasTemples()">
      <strong translate>Wine festival</strong>
      
      <div *ngIf="user.getPropertyNb('wine_festival') > 0">
        <span translate>End:</span> 
        {{user.getPropertyNb('wine_festival')*1000| date:'dd/MM, HH:mm'}}
      </div>
      
      <div class="alert alert-success"
           *ngIf="temple.error == 1 && temple.power == 5"
           translate>
        Dionysus heard your call
      </div>
      
      <br/>
      <div translate>
        Dionysus increases grape production by 60% for 6 hours.
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 80}">
        <strong translate>Cost:</strong>
        80 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      <button class="btn btn-success" translate 
              (click)="powerUse(5, 0)"
              *ngIf="user.getPropertyNb('ambrosia') >= 80">
        Enable
      </button>
    </div>
    <div class="modal-footer" *ngIf="user.hasTemples()">
      <strong translate>Wine appeal</strong>
      
      <br/>
      <div translate>
        Dionysus offers 500 satyrs to help you destroy your enemies.
      </div>
      
      <div class="alert alert-success center"
           *ngIf="temple.error == 1 && temple.power == 6"
           translate>
        Dionysus heard your call
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 120}">
        <strong translate>Cost:</strong>
        120 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      
      <br/><br/>
      <button class="btn btn-success" translate 
              (click)="powerUse(6, 0)"
              *ngIf="user.getPropertyNb('ambrosia') >= 120">
        Enable
      </button>
    </div>
  </div>
  
  <!-- Zeus -->
  <div *ngIf="temple.id == 9">
    <div class="modal-body">
      <p translate>
        Zeus does lightning strike your enemies with your wishes, burning down buildings. It will also allow you to hire his terrible myrmidons.
      </p>
    </div>
    
    <div class="modal-footer container">
      <div class="col-12 text-end">
        <strong translate>Lightning</strong>
      </div>
      <div>
        <span translate class="fw-bold" *ngIf="user.getPropertyNb('lightning') <= 1">Lightning owned</span>
        <span translate class="fw-bold" *ngIf="user.getPropertyNb('lightning') > 1">Lightnings owned</span>
        <span translate class="fw-bold">:</span>
        {{ user.getPropertyNb('lightning') | number:'': this.translate.currentLang  }}
      </div>
      
      <div *ngIf="lightningCostMissing().length > 0" class="fw-bold text-danger">
        <span translate>Missing resources:</span>
        <span *ngFor="let res of lightningCostMissing()">
          <id-to-ress [ress_id]="res"></id-to-ress>
        </span>
      </div>
      
      <div>
        <strong translate>Cost:</strong>
        <span *ngFor="let resource of lightningCost | keyvalue">
          {{ Number(resource.value) | number:'': this.translate.currentLang }}	
          <id-to-ress [ress_id]="resource.key"></id-to-ress>
        </span>
      </div>
      <div class="input-group">
        <input type="number" [(ngModel)]="lightningNb" 
               class="form-control" placeholder="0" 
               step="1" [attr.min]="0">
        <span (click)="lightningBuy(lightningNb)" 
              class="input-group-text btn btn-success" role=button
              translate>Buy</span>
      </div>
    
    </div>
    <div class="modal-footer">
      <div class="col-12 text-end">
        <strong translate>Son of Zeus</strong>
      </div>
      <div class="col-12 text-end" translate>
        You receive 1000 units at random.
      </div>
      <div class="text-danger" translate>
        These units must be housed in adapted housing.
      </div>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1" 
           translate>
        Zeus heard your call
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 200}">
        <strong translate>Cost:</strong>
        200 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      
      <button class="btn btn-success" translate 
              (click)="powerUse(9, 0)"
              *ngIf="user.getPropertyNb('ambrosia') >= 200">
        Enable
      </button>
    </div>
    
    <div class="modal-footer">
      <strong translate>Lord of Lightning</strong>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1" 
           translate>
        Zeus heard your call
      </div>
      <div class="alert alert-danger center" *ngIf="temple.error == 2" 
           translate>
        This player does not exist
      </div>
      <div class="alert alert-danger center" *ngIf="temple.error == 3" 
           translate>
        You can't use this power on this player
      </div>
      
      <br/>
      <div translate>
        Heavy black clouds invade the targeted enemy city which can no longer engage units
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 200}">
        <strong translate>Cost:</strong>
        200 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
        <span translate>For 15 minutes</span>
      </div>
      
      <div class="col-xs-12">
        <input type="text" class="form-control" aria-label="Player" 
               placeholder="{{'Player'|translate}}" [(ngModel)]="idToUser">
      </div>
      <div class="clearfix"></div>
      
      <br/>
      <button class="btn btn-success" translate 
              (click)="powerUse(10, 0)"
              *ngIf="user.getPropertyNb('ambrosia') >= 200">
        Enable
      </button>
    </div>
    
    <div class="modal-footer">
      <strong translate>Strength</strong>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1" 
           translate>
        Zeus heard your call
      </div>
      
      <div *ngIf="user.getPropertyNb('strength') > 0">
        <span translate>End:</span>
        {{user.getPropertyNb('strength')*1000| date:'dd/MM, HH:mm'}}
      </div>
      
      <br/>
      <div translate>
        Infantry units gain 25% attack power for 1 hour.
      </div>
      
      <table class="table" aria-describedby="ProtectiveGoddessDesc">
        <tr>
          <th scope="row" [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 16}">
            12 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
            <span translate>For 30 minutes</span>
          </th>
          <td class="text-end">
            <button *ngIf="user.getPropertyNb('ambrosia') >= 16"
                    class="btn btn-primary"
                    (click)="powerUse(11, 1)" translate>
              Enable
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row" [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 30}">
            20 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
            <span translate>For 60 minutes</span>
          </th>
          <td class="text-end">
            <button *ngIf="user.getPropertyNb('ambrosia') >= 30"
                    class="btn btn-primary"
                    (click)="powerUse(11, 2)" translate>
              Enable
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <!-- Hades -->
  <div *ngIf="temple.id == 10">
    <div class="modal-body">
      <p translate>
        Hades will increase the production of your mines and quarries. It could also lend its invisibility helmet for you to visit the cities of friends and enemies. During your terrible battles, the souls of your men come back to fight for you.
      </p>
    </div>
    <div class="modal-footer">
      <strong translate>Peste</strong>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1" 
           translate>
        Poseidon heard your call
      </div>
      <div class="alert alert-danger center" *ngIf="temple.error == 2" 
           translate>
        This player does not exist
      </div>
      <div class="alert alert-danger center" *ngIf="temple.error == 3" 
           translate>
        You can't use this power on this player
      </div>
      
      <br/>
      <div translate>
        Hades launches an epidemic on the enemy city causing the immediate death of 5 to 15% of his army.
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 400}">
        <strong translate>Cost:</strong>
        400 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      
      <div class="col-xs-12">
        <input type="text" class="form-control" aria-label="Player" 
               placeholder="{{'Player'|translate}}" [(ngModel)]="idToUser">
      </div>
      <div class="clearfix"></div>
      
      <br/>
      <button class="btn btn-success" translate 
              (click)="powerUseTarget(12)"
              *ngIf="user.getPropertyNb('ambrosia') >= 400 && idToUser != ''">
        Enable
      </button>
    </div>
    
    <div class="modal-footer">
      <strong translate>Ereb's Favor</strong>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1" 
           translate>
        Hades heard your call
      </div>
      
      <div *ngIf="user.getPropertyNb('ereb_favor') > 0">
        <span translate>End:</span> 
        {{user.getPropertyNb('ereb_favor')*1000| date:'dd/MM, HH:mm'}}
      </div>
      
      <br/>
      <div translate>
        Hades returns 5 to 10% of your dead units in battle.
      </div>
      
      <table class="table" aria-describedby="ProtectiveGoddessDesc">
        <tr>
          <th scope="row" [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 24}">
            12 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
            <span translate>For 30 minutes</span>
          </th>
          <td class="text-end">
            <button *ngIf="user.getPropertyNb('ambrosia') >= 24"
                    class="btn btn-primary"
                    (click)="powerUse(13, 1)" translate>
              Enable
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row" [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 40}">
            20 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
            <span translate>For 60 minutes</span>
          </th>
          <td class="text-end">
            <button *ngIf="user.getPropertyNb('ambrosia') >= 40"
                    class="btn btn-primary"
                    (click)="powerUse(13, 2)" translate>
              Enable
            </button>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="modal-footer">
      <strong translate>Treasure from beyond grave</strong>
      
      <div class="alert alert-success center" *ngIf="temple.error == 1" 
           translate>
        Hades heard your call
      </div>
      
      <br/>
      <div translate>
        Hades gives you marble and stone to defeat your enemies.
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 40}">
        <strong translate>Cost:</strong>
        40 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      <button class="btn btn-primary" 
              (click)="powerUse(14, 1)"
              *ngIf="user.getPropertyNb('ambrosia') >= 80">
        <span translate>Get</span> 
        {{'40000'| number:'': this.translate.currentLang }}
        <id-to-ress [ress_id]="'stone'"></id-to-ress>
      </button>
      <button class="btn btn-success" 
              (click)="powerUse(14, 2)"
              *ngIf="user.getPropertyNb('ambrosia') >= 40">
        <span translate>Get</span> 
        400
        <id-to-ress [ress_id]="'marble'"></id-to-ress>
      </button>
    </div>
  </div>
  <!-- Poseidon -->
  <div *ngIf="temple.id == 11">
    <div class="modal-body">
      <p class="text-justify" translate>
        With Poseidon, your cavalry units cost less. It will also build a wall around your city to repel enemies. The defense of your wall increases with your field. As the god of the oceans will increase the production of your wells.
      </p>
    </div>
    <div class="modal-footer">
      <div class="text-center">
        <strong id="WallDesc" translate>Poseidon's wall's defense</strong>
        <strong translate>:</strong>
        {{ wallDefense }}
        <br/>
        <div *ngIf="user.getPropertyNb('poseidon_wall') == 1" 
             class="fw-bold text-danger"
             translate>The Poseidon wall protects your city.</div>
        
        <table class="table" aria-describedby="WallDesc"
               *ngIf="user.getPropertyNb('poseidon_wall') == 0">
          <tr>
            <th scope="row">
              <span [ngClass]="{'text-danger': user.getPropertyNb('water') < user.info.datas.poseidon_wall.water}">
                {{user.info.datas.poseidon_wall.water| number:'': this.translate.currentLang }}
                <id-to-ress [ress_id]="'water'"></id-to-ress>
              </span>
              <span [ngClass]="{'text-danger': user.getPropertyNb('marble') < user.info.datas.poseidon_wall.marble}">
                {{user.info.datas.poseidon_wall.marble| number:'': this.translate.currentLang }}
                <id-to-ress [ress_id]="'marble'"></id-to-ress>
              </span>
              <span [ngClass]="{'text-danger': user.getPropertyNb('gold') < user.info.datas.poseidon_wall.gold}">
                {{user.info.datas.poseidon_wall.gold| number:'': this.translate.currentLang }}
                <id-to-ress [ress_id]="'gold'"></id-to-ress>
              </span>
            </th>
            <td>
              <button class="btn btn-primary" (click)="wallErect()"
                      translate>Build the wall</button>
            </td>
          </tr>
          <tr>
            <td translate>Or</td><td></td>
          </tr>
          <tr>
            <th scope="row"
                [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 160}">
              160 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
            </th>
            <td>
              <button class="btn btn-primary" (click)="powerUse(15, 0)"
                      translate>Build the wall</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <strong translate>Wrath of Poseidon</strong>
      <div translate>
        The wall gains 20% defensive power for 2h, 200 Cyclops join you to resist the invader.
      </div>
      
      <div *ngIf="user.getPropertyNb('offspring_oceans') > 0">
        <span translate>End:</span> 
        {{user.getPropertyNb('offspring_oceans')*1000| date:'dd/MM, HH:mm'}}
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 150}">
        <strong translate>Cost:</strong>
        150 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
        
        <div *ngIf="user.getPropertyNb('poseidon_wall') == 0">
          <button class="btn btn-success" translate
                  (click)="powerUse(16, 0)"
                  *ngIf="user.getPropertyNb('ambrosia') >= 150">
            Enable
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <strong translate>Offspring of the Oceans</strong>
      <div translate>
        Poseidon shakes the earth and blocks the resources production of an enemy for 2 hours.
      </div>
      
      <div [ngClass]="{'text-danger': user.getPropertyNb('ambrosia') < 100}">
        <strong translate>Cost:</strong>
        100 <id-to-ress [ress_id]="'ambrosia'"></id-to-ress>
      </div>
      
      <input type="text" class="form-control" aria-label="Player" 
             placeholder="{{'Player'|translate}}" [(ngModel)]="idToUser"
             *ngIf="user.getPropertyNb('ambrosia') >= 100">
      <button class="btn btn-success" translate
              (click)="powerUseTarget(17)"
              *ngIf="user.getPropertyNb('ambrosia') >= 100">
        Send
      </button>
      
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
  </div>
</div>
