<div class="modal-content">
  <div class="modal-header">
    <h5 *ngIf="temple == 0" translate>Which temple do you want to change?</h5>
    <h5 *ngIf="temple == 1" translate>{{'Replace the Hermes Temple'|translate}}</h5>
    <h5 *ngIf="temple == 2" translate>{{'Replace the Apollo Temple'|translate}}</h5>
    <h5 *ngIf="temple == 3" translate>{{'Replace the Demeter Temple'|translate}}</h5>
    <h5 *ngIf="temple == 4" translate>{{'Replace the Ares Temple'|translate}}</h5>
    <h5 *ngIf="temple == 5" translate>{{'Replace the Athena Temple'|translate}}</h5>
    <h5 *ngIf="temple == 6" translate>{{'Replace the Artemis Temple'|translate}}</h5>
    <h5 *ngIf="temple == 7" translate>{{'Replace the Hephaestus Temple'|translate}}</h5>
    <h5 *ngIf="temple == 8" translate>{{'Replace the Dionysus Temple'|translate}}</h5>
    <h5 *ngIf="temple == 9" translate>{{'Replace the Zeus Temple'|translate}}</h5>
    <h5 *ngIf="temple == 10" translate>{{'Replace the Hades Temple'|translate}}</h5>
    <h5 *ngIf="temple == 11" translate>{{'Replace the Poseidon Temple'|translate}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
    
  </div>
  <div class="modal-header no-padding-left no-padding-right">
    <div class="container-fluid">
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 1}"
           *ngIf="user.getPropertyNb('hermes') == 1"
           (click)="selectTemples(1)"
           title="{{'Hermes' | translate}}">
        <app-ew-icon name="hermes"></app-ew-icon>
      </div>
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 2}"
           *ngIf="user.getPropertyNb('apollo') == 1"
           (click)="selectTemples(2)"
           title="{{'Apollo' | translate}}">
        <app-ew-icon name="apollo"></app-ew-icon>
      </div>
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 3}"
           *ngIf="user.getPropertyNb('demeter') == 1"
           (click)="selectTemples(3)"
           title="{{'Demeter' | translate}}">
        <app-ew-icon name="demeter"></app-ew-icon>
      </div>
      
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 4}"
           *ngIf="user.getPropertyNb('ares') == 1"
           (click)="selectTemples(4)"
             title="{{'Ares' | translate}}">
        <app-ew-icon name="ares"></app-ew-icon>
      </div>
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 5}"
           *ngIf="user.getPropertyNb('athena') == 1"
           (click)="selectTemples(5)"
             title="{{'Athena' | translate}}">
        <app-ew-icon name="athena"></app-ew-icon>
      </div>
      
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 6}"
           *ngIf="user.getPropertyNb('artemis') == 1"
           (click)="selectTemples(6)"
           title="{{'Artemis' | translate}}">
        <app-ew-icon name="artemis"></app-ew-icon>
      </div>
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 8}"
           *ngIf="user.getPropertyNb('dionysus') == 1"
           (click)="selectTemples(8)"
           title="{{'Dionysus' | translate}}">
        <app-ew-icon name="dionysus"></app-ew-icon>
      </div>
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 7}"
           *ngIf="user.getPropertyNb('hephaestus') == 1"
           (click)="selectTemples(7)"
           title="{{'Hephaestus' | translate}}">
        <app-ew-icon name="hephaestus"></app-ew-icon>
      </div>
      
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 9}"
           *ngIf="user.getPropertyNb('zeus') == 1"
           (click)="selectTemples(9)"
           title="{{'Zeus' | translate}}">
        <app-ew-icon name="zeus"></app-ew-icon>
      </div>
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 10}"
           *ngIf="user.getPropertyNb('hades') == 1"
           (click)="selectTemples(10)"
           title="{{'Hades' | translate}}">
        <app-ew-icon name="hades"></app-ew-icon>
      </div>
      <div class="frame frame-25" role="button"
           [ngClass]="{'grey': temple > 0 && temple != 11}"
           *ngIf="user.getPropertyNb('poseidon') == 1"
           (click)="selectTemples(11)"
           title="{{'Poseidon' | translate}}">
        <app-ew-icon name="poseidon"></app-ew-icon>
      </div>
    </div>
  </div>
  
  <div class="modal-body" *ngIf="temple > 0">
    <strong translate>Price</strong><strong translate>:</strong>
    <span *ngFor="let res of getPrice()">
      <span [ngClass]="{'text-danger': user.getPropertyNb(res.resource) < res.quantity}">
        {{ res.quantity | number:'': this.translate.currentLang }}
      </span>
      <app-id-to-ress [ress_id]=res.resource></app-id-to-ress>
    </span>
  </div>
  
  <div class="modal-body">
    <div class="row text-center text-danger" *ngIf="temple > 0" translate>
      You have to wait 90 days between each modification of the temples of the same level
    </div>
    <div>
      <div *ngIf="temple == 0"
           class="text-center text-danger" translate>
        Click on one of the temples to select it
      </div>
      <!-- Firt temple -->
      <div *ngIf="temple == 2 || temple == 3">
        <strong translate>Hermes</strong>
        <ul>
          <li translate>In the Agora, when you redeem your batches, you get 97.5% instead of 80%</li>
          <li translate>Until the level 6, you can store 50% more Drachmas in your treasure</li>
          <li translate>From the level 6, treasure your treasure taxes are reduced by 20%</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(1)" translate>Build</button>
        </div>
      </div>
      <div *ngIf="temple == 1 || temple == 3">
        <strong translate>Apollo</strong>
        <ul>
          <li translate>Free and safe spying</li>
          <li translate>Your units are 10% more efficients during sanctuaries attacks</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(2)" translate>Build</button>
        </div>
      </div>
      <div *ngIf="temple == 1 || temple == 2">
        <strong translate>Demeter</strong>
        <ul>
          <li translate>+30% food production</li>
          <li translate>+30% grapes production</li>
          <li translate>The fury can destroy farms and growers and reserves of grapes and food of your opponents.</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(3)" translate>Build</button>
        </div>
      </div>
      
      <!-- Second temple -->
      <div *ngIf="temple == 5">
        <strong translate>Ares</strong>
        <ul>
          <li translate>+15% offensive power</li>
          <li>{{'New unity: { unit }'| translate: { unit: 'Spartan' | translate } }}</li>
          <li translate>You are allowed to attack an enemy a second time. Works even in war but the second attack does not come into play in the score.</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(4)" translate>Build</button>
        </div>
      </div>
      <div *ngIf="temple == 4">
        <strong translate>Athena</strong>
        <ul>
          <li translate>+15% defensive power</li>
          <li translate>-20% infanterie cost</li>
          <li translate>-20% infanterie consumption</li>
          <li translate>Athena temporarily increases the defense of units in your city by 25%.</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(5)" translate>Build</button>
        </div>
      </div>
      
      <!-- Third temple -->
      <div *ngIf="temple == 7 || temple == 8">
        <strong translate>Artemis</strong>
        <ul>
          <li translate>+30% wood production</li>
          <li translate>{{'New unity: { unit }'| translate: { unit: 'Amazons' | translate } }}</li>
          <li translate>Looting is increased by 5 to 15% for 2 hours.</li>
          <li translate>Your city can not be attacked for 20 min thanks to the immense forest that covers the city.</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(6)" translate>Build</button>
        </div>
      </div>
      <div *ngIf="temple == 6 || temple == 8">
        <strong translate>Hephaestus</strong>
        <ul>
          <li translate>+30% Drachmas production</li>
          <li translate>{{'New unity: { unit }'| translate: { unit: 'Automatons' | translate } }}</li>
          <li translate>Hephaestus improves the defensive power of the automatons by 200% for 2 hours.</li>
          <li translate>The lava falls on the enemies preventing them from building buildings for 20 min.</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(7)" translate>Build</button>
        </div>
      </div>
      <div *ngIf="temple == 6 || temple == 7">
        <strong translate>Dionysus</strong>
        <ul>
          <li translate>+30% wine production</li>
          <li translate>{{'New unity: { unit }'| translate: { unit: 'Centaurs' | translate } }}</li>
          <li translate>Dionysus increases grape production by 60% for 6 hours.</li>
          <li translate>Dionysus offers 500 satyrs to help you destroy your enemies.</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(8)" translate>Build</button>
        </div>
      </div>
      
      <!-- Fourth temple -->
      <div *ngIf="temple == 10 || temple == 11">
        <strong translate>Zeus</strong>
        <ul>
          <li translate>You will be able to send lightning of Zeus to destroy buildings of your Enemies.</li>
          <li translate>{{'New unity: { unit }'| translate: { unit: 'Myrmidons' | translate } }}</li>
          <li translate>You receive 1000 units at random.</li>
          <li translate>Heavy black clouds invade the targeted enemy city which can no longer engage units</li>
          <li translate>Infantry units gain 25% attack power for 1 hour.</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(9)" translate>Build</button>
        </div>
      </div>
      <div *ngIf="temple == 9 || temple == 11">
        <strong translate>Hades</strong>
        <ul>
          <li translate>+30% gold production</li>
          <li translate>+30% iron production</li>
          <li translate>+30% marble production</li>
          <li translate>+30% stone production</li>
          <li translate>{{'New unity: { unit }'| translate: { unit: 'Tormented souls' | translate } }}</li>
          <li translate>Hades launches an epidemic on the enemy city causing the immediate death of 5 to 15% of his army.</li>
          <li translate>Hades returns 5 to 10% of your dead human and temple units in battle.</li>
          <li translate>Hades gives you marble and stone to defeat your enemies.</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(10)" translate>Build</button>
        </div>
      </div>
      <div *ngIf="temple == 9 || temple == 10">
        <strong translate>Poseidon</strong>
        <ul>
          <li translate>+30% water production</li>
          <li translate>-40% cavalry cost</li>
          <li translate>-40% cavalry consumption</li>
          <li translate>Possibility of building Poseidon wall to defend your city.</li>
          <li translate>Poseidon rebuilt your wall to protect your city.</li>
          <li translate>Poseidon shakes the earth and blocks the resources production of an enemy for 2 hours.</li>
          <li translate>The wall gains 20% defensive power for 2h, 200 Cyclops join you to resist the invader.</li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                  *ngIf="templeChangeError == 0"
                  (click)="templeChange(11)" translate>Build</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-body" *ngIf="templeChangeHistory.length > 0">
    <strong id="historyDesc" translate>History</strong>
    <table class="table table-striped table-middle"
           aria-labelledby="historyDesc">
      <thead>
        <tr>
          <th scope="col" translate>Date</th>
          <th scope="col" translate>Old temple</th>
          <th scope="col" translate>New temple</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let temple of templeChangeHistory">
          <td>{{temple.date*1000| date:'dd/MM, HH:mm'}}</td>
          <td>
            <span [ngSwitch]="temple.temple_old">
              <span *ngSwitchCase="1" translate>Temple of Apollo</span>
              <span *ngSwitchCase="2" translate>Temple of Demeter</span>
              <span *ngSwitchCase="3" translate>Temple of Hermes</span>
              <span *ngSwitchCase="4" translate>Temple of Ares</span>
              <span *ngSwitchCase="5" translate>Temple of Athena</span>
              <span *ngSwitchCase="6" translate>Temple of Artemis</span>
              <span *ngSwitchCase="7" translate>Temple of Dionysus</span>
              <span *ngSwitchCase="8" translate>Temple of Hephaestus</span>
              <span *ngSwitchCase="9" translate>Temple of Zeus</span>
              <span *ngSwitchCase="10" translate>Temple of Hades</span>
              <span *ngSwitchCase="11" translate>Temple of Poseidon</span>
            </span>
          </td>
          <td>
            <span [ngSwitch]="temple.temple_new">
              <span *ngSwitchCase="1" translate>Temple of Apollo</span>
              <span *ngSwitchCase="2" translate>Temple of Demeter</span>
              <span *ngSwitchCase="3" translate>Temple of Hermes</span>
              <span *ngSwitchCase="4" translate>Temple of Ares</span>
              <span *ngSwitchCase="5" translate>Temple of Athena</span>
              <span *ngSwitchCase="6" translate>Temple of Artemis</span>
              <span *ngSwitchCase="7" translate>Temple of Dionysus</span>
              <span *ngSwitchCase="8" translate>Temple of Hephaestus</span>
              <span *ngSwitchCase="9" translate>Temple of Zeus</span>
              <span *ngSwitchCase="10" translate>Temple of Hades</span>
              <span *ngSwitchCase="11" translate>Temple of Poseidon</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
  </div>
</div>
