<div class="modal-content">
  <div class="modal-header">
    <h5 *ngIf="temple == 0" translate>Choose your second temple</h5>
    <h5 *ngIf="temple == 4" translate>Ares</h5>
    <h5 *ngIf="temple == 5" translate>Athena</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
  </div>
  <div class="modal-header">
    <ew-icon name="ares" role="button"
             [ngClass]="{'grey': temple > 0 && temple != 4}"
             title="{{'Build a new temple' | translate}}"
             (click)="setTemple(4)"></ew-icon>
    <ew-icon name="athena" role="button"
             [ngClass]="{'grey': temple > 0 && temple != 5}"
             title="{{'Build a new temple' | translate}}"
             (click)="setTemple(5)"></ew-icon>
  </div>
  <div class="modal-body">
    <strong translate>Price</strong><strong translate>:</strong>
    
    <span *ngFor="let res of price">
      <span [ngClass]="{'text-danger': user.getPropertyNb(res.resource) < res.quantity}">
        {{ res.quantity | number:'': this.translate.currentLang }}
      </span>
      <id-to-ress [ress_id]=res.resource></id-to-ress>
    </span>
  </div>
  <div class="modal-body">
    <div *ngIf="user.getLevel() < 6"
         class="alert alert-danger" translate>
      Available at level 6
    </div>
    <div *ngIf="user.getLevel() >= 6 && temple == 0"
         class="text-center text-danger" translate>
      Click on one of the temples to select it
    </div>
    <div *ngIf="temple > 0">
      <strong translate>New powers</strong>
      <ul *ngIf="temple == 4">
        <li translate>+15% offensive power</li>
        <li>{{'New unity: { unit }'| translate: { unit: 'Spartan' | translate } }}</li>
      </ul>
      <ul *ngIf="temple == 5">
        <li translate>+15% defensive power</li>
        <li translate>-20% infanterie cost</li>
        <li translate>-20% infanterie consumption</li>
      </ul>
      <strong translate>With four temples</strong>
      <ul *ngIf="temple == 4">
        <li translate>You are allowed to attack an enemy a second time. Works even in war but the second attack does not come into play in the score.</li>
      </ul>
      <ul *ngIf="temple == 5">
        <li translate>Athena temporarily increases the defense of units in your city by 25%.</li>
      </ul>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal" translate>Close</button>
    <button *ngIf="temple > 0 && canBuild()"
            type="button" class="btn btn-primary"
            data-bs-dismiss="modal" (click)="build()"
            translate>Build</button>
  </div>
</div>
