<div class="modal-content">
  <div class="modal-header">
    <h5 *ngIf="temple == 1" translate>Hermes</h5>
    <h5 *ngIf="temple == 2" translate>Apollo</h5>
    <h5 *ngIf="temple == 3" translate>Demeter</h5>
    <h5 *ngIf="temple == 4" translate>Ares</h5>
    <h5 *ngIf="temple == 5" translate>Athena</h5>
    <h5 *ngIf="temple == 6" translate>Artemis</h5>
    <h5 *ngIf="temple == 7" translate>Hephaestus</h5>
    <h5 *ngIf="temple == 8" translate>Dionysus</h5>
    <h5 *ngIf="temple == 9" translate>Zeus</h5>
    <h5 *ngIf="temple == 10" translate>Hades</h5>
    <h5 *ngIf="temple == 11" translate>Poseidon</h5>
  </div>
  
  <div class="modal-body" *ngIf="temple == 1">
    TODO
  </div>
  <div class="modal-body" *ngIf="temple == 2">
    <p translate>
      You can spy on your enemies with the oracle of the Apollo's temple.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 3">
    <p translate>
      Demeter increase the production of your wine farms and farms. You can thanks to the furies, destroying farms, wine farms and reserves grape and food of your opponents.
    </p>
  </div>
  
  <div class="modal-footer">
  </div>
</div>
