<div class="modal-content">
  <div class="modal-header">
    <h5 *ngIf="temple == 1" translate>Hermes</h5>
    <h5 *ngIf="temple == 2" translate>Apollo</h5>
    <h5 *ngIf="temple == 3" translate>Demeter</h5>
    <h5 *ngIf="temple == 4" translate>Ares</h5>
    <h5 *ngIf="temple == 5" translate>Athena</h5>
    <h5 *ngIf="temple == 6" translate>Artemis</h5>
    <h5 *ngIf="temple == 7" translate>Hephaestus</h5>
    <h5 *ngIf="temple == 8" translate>Dionysus</h5>
    <h5 *ngIf="temple == 9" translate>Zeus</h5>
    <h5 *ngIf="temple == 10" translate>Hades</h5>
    <h5 *ngIf="temple == 11" translate>Poseidon</h5>
  </div>
  
  <div class="modal-body" *ngIf="temple == 1">
    TODO
  </div>
  <div class="modal-body" *ngIf="temple == 2">
    <p translate>
      You can spy on your enemies with the oracle of the Apollo's temple.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 3">
    <p translate>
      Demeter increase the production of your wine farms and farms. You can thanks to the furies, destroying farms, wine farms and reserves grape and food of your opponents.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 4">
    <p translate>
      When you attack, Ares watch over your men strengthening their ardor. It will also allow you to hire his terrible spartans.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 5">
    <p translate>
      Athena increases by 15% the defensive strength of your troops and your defensive buildings and reduce by 20% the cost of enrollment and the consumption of your infantry.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 6">
    <p translate>
      Artemis surveys the wood and helps the loggers in their task. It also will lend you his ferocious Amazons go to the battle.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 7">
    <p translate>
      Hephaestus increases the return on your money hype workshops and automata defend the gates of your city.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 8">
    <p translate>
      Dionysus increases the efficiency of your pressing workshops, they will produce more wine to drink your troops. Centaurs seeing that you support, will join you.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 9">
    <p translate>
      Zeus does lightning strike your enemies with your wishes, burning down buildings. It will also allow you to hire his terrible myrmidons.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 10">
    <p translate>
      Hades will increase the production of your mines and quarries. It could also lend its invisibility helmet for you to visit the cities of friends and enemies. During your terrible battles, the souls of your men come back to fight for you.
    </p>
  </div>
  <div class="modal-body" *ngIf="temple == 11">
    <p translate>
      With Poseidon, your cavalry units cost less. It will also build a wall around your city to repel enemies. The defense of your wall increases with your field. As the god of the oceans will increase the production of your wells.
    </p>
  </div>
  
  <div class="modal-footer">
  </div>
</div>
