<div class="modal-content">
  <div class="modal-header" *ngIf="info.treasureMode == 0">
    <h5 class="modal-title" id="treasureDesc" translate>Treasure</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
    <br/>
  </div>
  <div class="modal-header" *ngIf="info.treasureMode == 1">
    <h5 class="modal-title" id="treasureHistoryDesc" translate>Treasure history</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" 
            aria-label="Close"></button>
    <br/>
  </div>
  
  <div class="modal-body container-fluid" *ngIf="info.treasureMode == 0">
    <table class="table" aria-describedby="treasureDesc">
      <thead>
        <td class="text-center" colspan="3">
          <strong translate>Current funds:</strong>
          <span *ngIf="user.getLevel() > 5">{{ user.getPropertyNb('treasure') | number:'': this.translate.currentLang }}</span>
          <span (click)="setTreasure(2000000-user.getPropertyNb('treasure'))" role="button"
                *ngIf="user.getLevel() == 5">{{ user.getPropertyNb('treasure') | number:'': this.translate.currentLang }}/{{ 2000000 | number:'': this.translate.currentLang }}</span>
          <span (click)="setTreasure((user.getLevel()+1)*200000-user.getPropertyNb('treasure'))" role="button"
                *ngIf="user.getLevel() < 5">{{ user.getPropertyNb('treasure') | number:'': this.translate.currentLang }}/{{ (user.getLevel()+1)*200000 | number:'': this.translate.currentLang }}</span>
          <id-to-ress [ress_id]="'drachma'"></id-to-ress>
        </td>
      </thead>
      <tbody>
        <tr>
          <th scope="row" translate>Amount</th>
          <td colspan="2">
            <input type="number" required="required" min="0"
                   class="form-control" placeholder="0" name="amount"
                   [(ngModel)]="info.amount" (keydown.enter)="treasureAction()">
          </td>
        </tr>
        <tr>
          <th scope="row" translate>Action</th>
          <td> 
            <input type="radio" [checked]="true" 
                   value="deposit" name="mod"
                   [(ngModel)]="deposit">
            <span translate>Depose</span>
          </td>
          <td> 
            <input type="radio" value="pull" name="mod"
                   [(ngModel)]="deposit">
            <span translate>Pull</span>
          </td>
        </tr>
        <tr *ngIf="user.getLevel() > 5 && deposit == 'pull'">
          <th scope="row" translate>Computation</th>
          <td>
            <input type="radio" id="computation" [checked]="true"
                   value="2" [(ngModel)]="computation" name="computation"> 
            <span translate>Relative</span>
          </td>
          <td> 
            <input type="radio" value="3" 
                   [(ngModel)]="computation" name="computation"> 
            <span translate>Absolute</span>
          </td>
        </tr>
        <tr *ngIf="user.getLevel() > 5 && deposit == 'pull'">
          <th scope="row" translate>Tax:</th>
          <td colspan="2">
            <span *ngIf="user.getPropertyNb('bonus_treasure') == 0">
              {{15-0.5*user.getLevel() | number:'': this.translate.currentLang }}%
              (<a class="nolink" ui-sref="favors" 
                 href="/favors">
                0% taxes?
              </a>)
            </span>
            <span *ngIf="user.getPropertyNb('bonus_treasure') > 0">
              0%
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <button type="button" class="btn btn-success"
                    (click)="treasureAction()"  translate>
              Validate
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="text-center fw-bold">
      <span role="button" (click)="setTreasureMode(1)">
        <ic-icon [icon]="treasureChest"></ic-icon>&nbsp;<span translate>Last mouvements</span>
      </span>
    </div>
  </div>
  
  <div class="modal-body container-fluid" *ngIf="info.treasureMode == 1">
    <table class="table" aria-describedby="treasureHistoryDesc">
      <thead>
        <tr>
          <th scope="col" translate>Deposits</th>
          <th scope="col" translate>Withdrawals</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of treasureHistory">
          <td>
            <span *ngIf="key.deposit.amount > 0">
              {{key.deposit.amount| number:'': this.translate.currentLang}} 
              <id-to-ress [ress_id]="'drachma'"></id-to-ress>
              {{key.deposit.date*1000 | date:'d/M, HH:mm'}}
            </span>
          </td>
          <td>
            <span *ngIf="key.pull.amount > 0">
              {{key.pull.amount| number:'': this.translate.currentLang}} 
              <id-to-ress [ress_id]="'drachma'"></id-to-ress>
              {{key.pull.date*1000 | date:'d/M, HH:mm'}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div class="text-center fw-bold">
      <span role="button" (click)="setTreasureMode(0)">
        <ic-icon [icon]="treasureChest"></ic-icon>&nbsp;<span translate>Return to the treasure</span>
      </span>
    </div>
  </div>
  
  
  <div class="modal-footer" translate>
    The treasure will allow you to shelter your wealth, however this service is not without constraints. To level 5 it will be limited from level 6 you will not limit but you will pay a fee for you to retrieve your drachmas. The absolute calculation allows you to get exactly the amount you want to remove. During a relative withdrawal you have to deduct taxes from the amount you withdraw.
  </div>
</div>
